[2015-11-25 20:40] Akuukis opened #1 "Lbry CLI: Deletion unsuccessful but looks like succeeded."
Here is what I did and what happened. Note that first time adding wonderfullife I set download compensation at 0.1 LBC/MB, but second time left default 0.5 LBC/MB.

And I also suspect that here we see another bug that by deleting one duplicate progress is lost from all duplicates. Or, the first download at 0.1 LBC/MB didn't started at all but showed wrong progress. IMO it would be better than inst

[2015-12-05 21:54] teran-mckinney opened #3 "Build error on FreeBSD"
[code]

I think I've had that with and without `--with-incompatible-bdb`. I am running two jobs as well, but not sure if that's causing the problem.

[2015-12-05 21:55] teran-mckinney commented on #3
Sorry, wrong repository.

lbryio/lbrycrd/issues/1

[2015-12-05 21:55] #3 closed

[2015-12-06 19:42] teran-mckinney commented on #1
I haven't looked into the code on this, but it seems like there's a database and the files are tracked generally by the same name. Were the files the same? They should be saved to ./ if you are fetching.

If encrypted, it makes a new extension so it's slightly different.

[2015-12-06 20:32] Akuukis commented on #1
@teran-mckinney ,

it was the same file I wanted to download but not sure if there were 1 or 2 seperate files downloading.

[2015-12-06 21:27] jimmykiselak commented on #1
This is happening because the metadata is currently only stored in the database once for each unique file, and if that file is downloaded more than once and one of the downloads is removed, the metadata gets deleted for all of them.

[2016-01-16 06:18] jimmykiselak commented on #1
This is fixed by https://github.com/lbryio/lbry/commit/2ddeca2976a0acaae6ba1795988ec10484ccb300

[2016-02-18 18:52] jackrobison opened #13 "lbrynet.core.Error.ConnectionClosedBeforeResponseError during file download"
Rarely, you can get the above error after starting to download a stream. Below is the output from lbrynet-daemon:

`[2016-02-18 18:07:02.204730] Search for lbry_file didn't return anything`

`[2016-02-18 18:07:02.208180] Start stream: f832cc8acd62c3155af751673d9dfa952c4116dbd42c4a3dbca4b56d65641123ad8852851ecf77bfe78f5d5a1662ec5f`

`Downloading f832cc8acd62c3155af751673d9dfa952c4116dbd42c4a3dbca4b

[2016-03-03 12:32] whitslack opened #16 "exceptions.TypeError: 'NoneType' object has no attribute '__getitem__'"
This occurred while leaving the lbrynet-console idle.

[code]

This is commit f5b556c6cbbc26e3489b4b91df580fc0ede97684.

[2016-03-04 13:38] whitslack opened #19 "exceptions.ValueError: could not convert string to float"
This occurred while lbrynet-console was idle. (I think Python's logging infrastructure failed to spit out the exception cleanly due to some embedded rubbish, but you can probably still make sense of it if you squint.)

`Unable to format event {'log_namespace': u'log_legacy', 'log_time': 1457076355.002242, 'log_system': 'KademliaProtocol (UDP)', 'log_level': <LogLevel=critical>, 'system': 'Kademlia

[2016-03-08 20:57] whitslack commented on #19
Got another one of them, this time on commit b4c528f6b58439c2bcd942ba1bae1df70946f7bd:

`Unable to format event {'log_namespace': u'log_legacy', 'log_time': 1457452807.730342, 'log_system': 'KademliaProtocol (UDP)', 'log_level': <LogLevel=critical>, 'system': 'KademliaProtocol (UDP)', 'isError': 1, 'failure': <twisted.python.failure.Failure <type 'exceptions.ValueError'>>, 'time': 1457452807.73034

[2016-03-12 07:06] whitslack opened #20 "exceptions.ValueError: invalid literal for int() with base 10"
This error was reported while `lbrynet-console` b4c528f6b58439c2bcd942ba1bae1df70946f7bd was idle:

[code]

[2016-03-15 23:16] #1 closed

[2016-03-28 15:29] whitslack commented on #16
This happened again at commit a882bdb08c26145b4fb322f6e195090fdf57c645.

[code]

[2016-03-30 17:07] whitslack opened #25 ""Catching up to the blockchain" stalls after first progress report"
At commit 2670279b0d6f94bf25ef34fb654d18c2b3578033.

[code]

[2016-04-04 04:00] whitslack commented on #16
Still happens at commit 2670279b0d6f94bf25ef34fb654d18c2b3578033.

[code]

[2016-04-06 19:24] whitslack commented on #25
At commit 2670279b0d6f94bf25ef34fb654d18c2b3578033.

Perhaps this is a clue. I had an unhandled error (Issue #16), and after exiting and restarting `lbrynet-console`, I ran into this issue again.

[code]

[2016-04-08 19:33] jackrobison commented on #25
Was this fixed by deleting blockchain_headers in the lbryum directory?

[2016-04-08 20:09] whitslack commented on #25
That did work last time. This time I just kept killing and restarting `lbrynet-console` to catch it up.

I just did it again:

[code]

[2016-05-06 22:38] jackrobison opened #30 "not able to change download directory to external HDD"

[2016-06-23 15:20] jobevers opened #45 "On linux, the lbry executable doesn't get added to the path"
https://lbry.slack.com/archives/general/p1466660360000311

[2016-06-23 15:23] jobevers opened #46 "On linux, after installation, the process gets launched as root"

[2016-07-05 04:10] starrychloe opened #52 "Firefox does not understand lbry:// links on Ubuntu"
After installing version lbrynet_0.3.1_amd64.deb and launching from the launcher, Firefox comes up with a list of videos. When I click 'Watch' it presents this dialog. See screenshot.

https://ipfs.pics/QmbtrxmNqBnAvr7ZeGRSZpoci45YEayT5bVPj4e6wbMT3z

![lbry-firefox.png](https://ipfs.pics/ipfs/QmbtrxmNqBnAvr7ZeGRSZpoci45YEayT5bVPj4e6wbMT3z)

Ubuntu 14.04.4 LTS

[2016-07-05 04:25] starrychloe opened #53 "LBRY is not working to stream files"
I clicked a link and launched LBRY, but it only opened this web page and is stuck for the longest time.

https://ipfs.pics/QmaRNDdCS8nwuFYS427zS8FHEhY9fKG6oR45gDmi8X8h3K
![lbry-disaster](https://ipfs.pics/ipfs/QmaRNDdCS8nwuFYS427zS8FHEhY9fKG6oR45gDmi8X8h3K)

https://ipfs.pics/QmWFt5rK45RvJnyjhQsJRJBek9MQAofkjnkmF34baa3RXt
![lbry-what](https://ipfs.pics/ipfs/QmWFt5rK45RvJnyjhQsJRJBek9MQAofkjnkmF34b

[2016-07-05 04:27] starrychloe opened #54 "LBRY search is not working"
The Wonderful Life movie is not being found. It was working 2 weeks ago with version 0.2.5.

https://ipfs.pics/QmUoBzo2FBnWmoChGFPzghDVLeKk4DTq6VCBa7qebfjp6G

Version 0.3.1.

[2016-07-05 04:33] starrychloe opened #55 "LBRY Keeps Asking For A Claim Code"
Everytime I launch LBRY or go to settings then return back, it is always asking for my claim code. I entered a code to get the new download link, then when it popped up asking to enter the code again, it said the code has already been used. So now it keeps asking for the claim code and always opens to localhost:5279/?claim   .

Ubuntu 14.04.4 LTS

[2016-07-05 04:40] starrychloe opened #56 "Download links do absolutely nothing"
This is the JS console log. Ubuntu 14.04.4 LTS.

[code]

Firefox 47.0
Ubuntu 14.04.4 LTS

[2016-07-05 05:12] jackrobison commented on #54
I just haven't published it to the new blockchain yet, will do soon.

[2016-07-05 05:13] jackrobison commented on #53
what was your balance?

[2016-07-05 05:15] jackrobison commented on #52
'ok' isn't clickable?

[2016-07-05 11:06] viktorbengtsson opened #57 "After OS X installation of lbry.app, error message "IOError: [Errno 2] No such file or directory: '/Users/[username]/Library/Application Support/lbrycrd/lbrycrd.conf'""
The problem is fixed by:
1. Creating the directory lbrycrd
2. Creating the file lbrycrd.conf by running "echo -e "rpcuser=lbryrpc\nrpcpassword=$(env LC_CTYPE=C LC_ALL=C tr -dc A-Za-z0-9 < /dev/urandom | head -c 16 | xargs)" > ~/Library/Application\ Support/lbrycrd/lbrycrd.conf"

This should be part of the initial run of the app after installation.

[2016-07-05 15:29] starrychloe commented on #53
What's a balance and how do I check it?

[2016-07-05 15:34] starrychloe commented on #52
According to the screenshot, it doesn't appear to be. This should be automatic for the install anyways. I chose an application and I selected /usr/bin/firefox. That didn't work and just popped up the dialog again. Eventually I was able to select LBRY and I remembered the choice.

[2016-07-05 16:28] starrychloe opened #58 "lbrynet-gui doesn't work on Ubuntu 14"
This is the error it gives in the console. It was installed by double clicking the `lbrynet_0.3.1_amd64.deb` file.

[code]

[2016-07-05 16:34] starrychloe commented on #53
Notice it doesn't even work for 'what', which I assume is free.

[2016-07-05 16:37] starrychloe commented on #53
Here is a log from starting the daemon. It gives several warnings.

[code]

[2016-07-05 16:41] starrychloe commented on #53
Here is the log from when I reloaded the page http://localhost://5279/?watch=what . It just repeats that it's looking for the file and can't find it, until I killed it.

[code]

[2016-07-05 19:08] ELM4Ever opened #59 "Purchase not deducted on locked wallets - but media allowed to be downloaded"
OS:  Linux Ubuntu 16.04 LTS

If the wallet is encrypted and locked, provided a high enough balance in the wallet, requesting a media within LBRY will download its content, but the fees are not deducted.  If LBRY is stopped after the download - there is no memory of the outstanding transaction(s).   If the wallet is eventually unlocked (for mining, for example), again, the outstanding transaction i

[2016-07-05 20:59] starrychloe opened #61 "lbrynet-console fails to start"
Ubuntu 14, LBRY 0.3.1

[code]

[2016-07-05 23:30] starrychloe opened #62 "Cannot access LBRY from another computer on the same network"
When accessing http://192.168.16.106:5279/ from a different computer, it will say

[code]

Need a way to bind to an IP address instead of just localhost.

Ubuntu 14, LBRY 0.3.1

[2016-07-06 04:01] eshriek opened #63 "lbrynet_0.3.1_amd64.deb does not install (Ubuntu 16.04)"
Double clicking does not launch lbry installer. Ubuntu software launches with white screen only.

Using terminal: dpkg -i lbrynet_0.3.1_amd64.deb //fails with "dpkg: error: requested operation requires superuser privilege"

sudo dpkg -i lbrynet_0.3.1_amd64.deb  installs but localhost:5279 hangs with "There was a problem checking for updates on github..." in chrome and ff.

Guessing deb should not

[2016-07-06 22:29] eshriek commented on #63
I set up Ubuntu 16.04 as a VM, updated, then tried the following:

$sudo apt-get install libgmp3-dev build-essential python2.7 python2.7-dev python-pip
$git clone https://github.com/lbryio/lbry.git
$cd lbry
$sudo python setup.py install
$lbrynet-daemon
Starting lbrynet-daemon from command line
To view activity, view the log file here: /home/lbry/.lbrynet/lbrynet.log
Web UI is available at http://l

[2016-07-08 02:31] bmoconno commented on #57
I think you got autocorrected to "lbrycard" when talking about creating the directory and file, it's a good typo though... because you need a Library Card to check anything out at the local Library.

[2016-07-08 06:54] viktorbengtsson commented on #57
Thanks. Fixed tyope

[2016-07-08 16:26] lyoshenka commented on #63
@eshriek can you please try the latest build (0.3.5) and see if you experience the same issue. make sure you uninstall (apt-get purge) any previous lbry or lbrynet installs, or just start from a clean vm.

thanks.

[2016-07-08 16:30] lyoshenka commented on #45
Fixed in master

[2016-07-08 16:30] #45 closed

[2016-07-08 16:31] lyoshenka commented on #25
closing because I believe its fixed. please reopen if this still happens in the latest version (0.3.5 or higher)

[2016-07-08 16:31] #25 closed

[2016-07-08 16:35] lyoshenka commented on #62
I believe this is intentional. LBRY is not meant to be shared across the network, it's meant to be used locally.

However, this is a good feature request. I'll file it in our feature tracking system.

[2016-07-08 16:35] #62 closed

[2016-07-08 16:36] lyoshenka commented on #16
i believe this is fixed

[2016-07-08 16:36] #16 closed

[2016-07-09 01:41] eshriek commented on #63
No problems at all with 0.3.5 install from deb file. Thanks! Looking forward to more updates.

[2016-07-09 01:41] #63 closed

[2016-07-10 06:01] ELM4Ever commented on #59
Any update?   I see this a major impediment for the future media providers - free downloads...

[2016-07-10 16:14] Fillerix99 commented on #59
@ELM4Ever Forwarded to dev team

[2016-07-10 18:09] kimihiro64 commented on #59
Tracking this through the code, it looks like once the queued payments are removed to be sent over to rpc sendmany, we lose all record of the transaction. If any of the payments fail, like on RPC_WALLET_UNLOCK_NEEDED, we throw that error, but as I far as I can see, there's no way we handle a failed payment or retry. Is the solution to keep all queued payments stored on client after they've been se

[2016-07-10 19:31] sonatagreen commented on #59
Does this only download the encrypted data, or does it also unlock the decryption key? If the latter, there's something wrong on the seller side, not just the client.

[2016-07-10 20:00] jackrobison commented on #59
@sonatagreen the decryption key is stored in the stream descriptor blob, which the host doesn't necessarily provide. So nothing is going wrong on the seller side.

This is a bug, in that the program shouldn't let you download something without paying. However, it will be a more complex solution down the road that gets this locked down to the point where editing some code (or stumbling on a bug lik

[2016-07-10 23:56] jobevers commented on #57
Thanks!  This should be fixed with: https://github.com/lbryio/lbry/commit/6d7608d85123c7c0a8c5cfa81c0dad307774ff5b

Please let us know if its still an issue.

[2016-07-10 23:56] #57 closed

[2016-07-14 20:19] Fillerix99 commented on #58
@starrychloe: about your problem with the gui not showing up, install the python-tk package from apt-get like this `sudo apt-get install python-tk`

[2016-07-17 14:33] theunrealtok opened #77 "lbrycrd-cli Info still says "BTC""
error message:
getwalletinfo
Returns an object containing various wallet state info.

Result:
{
  "walletversion": xxxxx,     (numeric) the wallet version
  "balance": xxxxxxx,         (numeric) the total confirmed balance of the wallet in BTC
  "unconfirmed_balance": xxx, (numeric) the total unconfirmed balance of the wallet in BTC
  "immature_balance": xxxxxx, (numeric) the total immature balanc

[2016-07-17 22:23] sonatagreen opened #80 "lbrynet-daemon imports lbryum unnecessarily"
Using lbrynet-daemon at all requires that lbryum be available, even for commands like `lbrynet-daemon --wallet=lbrycrd` or `lbrynet-daemon --help`. This is annoying and counterintuitive.

[2016-07-18 02:03] jobevers opened #82 "Alpha testers have executables that might be earlier in the path"
A user on slack who was an alpha tester had an executable at `/usr/local/bin/lbrynet-daemon`
which was taking precedence over the newer version.

https://lbry.slack.com/archives/tech/p1468805299000607

[2016-07-18 02:52] RdeWilde commented on #82
Build from source vs debian package. Uninstall using pip.

[2016-07-18 13:22] lyoshenka commented on #82
i think @RdeWilde may be right. debian package always puts that binary in /usr/share/python/lbrynet. he must have compiled from source.

[2016-07-18 15:07] jobevers opened #83 "Consolidate wallet configuration into same folder as LBRY config"
Its confusing to users to have a folder for LBRY configuration, lbrycrd configuration and lbryum configuration.  We could consolidate all of them into one.

[2016-07-18 15:17] jsophrin commented on #83
A script that just makes a backup of the wallet files wherever they are and have it located int he settings area of the lbry, so that other people avoid this situation.

Apart form FAQ, new users at least testers and engineer advanced user folks that are not familiar with the structure of the application and its supporting files may need a more detailed visualized overview of where components are

[2016-07-18 15:54] jobevers opened #84 "lbrycrd directory needs to exist before making lbrycrd.conf"
User on slack reported:

[code]

[2016-07-18 21:21] jobevers opened #88 "Check if xdg-open exists before calling"
Not all systems have xdg-open:
https://github.com/lbryio/lbry/blob/master/packaging/ubuntu/lbry#L62

[2016-07-18 21:50] jobevers opened #89 "Set up a ppa for the debian package"
Getting it up on a ppa will allow us to install dependencies and to also allow for updating though the package manager.

[2016-07-19 14:25] 0x0482 opened #90 "weird issue on localhost:5279 (No Such Resource File not found)"
Hello.
I am experiencing a weird issue on a lot of computers while running lbry.
There is a massage displayed on the screen saying ("No Such Resource
File not found").
I have tried everything to fix this problem, and nothing is working. I am probably missing something.

[2016-07-19 17:29] jobevers opened #91 "Prefer virtualenv over system install"
Instructions for installing LBRY from source should include how to setup a virtualenv and suggest doing that instead of mucking around with system level packages.

[2016-07-19 17:57] 0x0482 commented on #90
Problem was fixed after I got a new IP and registered again. Now a new problem - after running the command "lbrycrd-cli listaccounts" It says that the server isn't running which is not correct as I'm connected..

[2016-07-19 20:41] kimihiro64 commented on #90
This issue was fixed today. The new version does not use lbrycrd-cli, it uses lbryum, so use lbrynet-cli. Although I don't think it supports accounts (they are likely to be deprecated even in bitcoind and lbrycrd soon).

[2016-07-19 21:04] 0x0482 commented on #90
What Jonas suggested is the solution to this problem, If anyone needs help with understanding how the model works, just type lbrynet-cli help. Don't forget it's the commands here takes JSON only.
lbrynet-cli located in the following path: `/usr/share/python/lbrynet'bin'lbrynet-cli`

[2016-07-19 21:04] #90 closed

[2016-07-20 08:50] 0x0482 opened #93 "Invalid Invitation code from a correct code"
Looks like there is a problem happening to a lot of people in the last 2 days that they are receiving an invitation code on the email and when trying to activate it shows this error message: "You've entered an invalid code, or one that's already been claimed. Please check your code and try again".
I have no idea why this is happening.. If anyone can explain a little bit about the invitation system

[2016-07-20 15:48] jobevers opened #96 "bumpversion should use annotated tags"
when bumping the version, use annotated tags and then push using `git push --follow-tags`

[2016-07-25 21:49] jobevers opened #103 "'Network' object has no attribute 'get_catchup_progress'"
Might just be I have a borked copy of the code...

[code]

[2016-08-07 20:17] jspicer15 opened #112 "Issue Streaming and Downloading Movie that I Published"
I published a video earlier (quite large around 960 MB) and I have been trying to watch it from my files. It said that it successfully published and shows up under my files. However when I click on "Watch" I get a black screen that says Download. After I click on that, Firefox stops responding for several minutes. It will then bring me to a blank screen with millions of lines of random text, I ass

[2016-08-26 23:03] jimmykiselak opened #138 "wallet should not try to send txouts with an amount of 0"
https://github.com/lbryio/lbry/blob/master/lbrynet/core/LBRYWallet.py#L283

lbrycrdd will soon reject txouts with an amount less than 1. This block of code should only run if the amount is greater than 0 to avoid ever inadvertently creating an invalid txout.

[2016-08-27 06:50] jackrobison commented on #138
https://github.com/lbryio/lbry/pull/142/files

[2016-08-30 20:23] kaykurokawa opened #147 "Txid alone is not sufficient to resolve claims"
Txid and nOut is required to actually resolve claims. Mutiple claimtrie transactions can share the same txid so the software will fail.

This is not causing problems now because there are no transactions with multiple claimtrie txs in it. However, they are easy enough to create, and there are good reasons for doing so.

[2016-08-31 19:56] kaykurokawa commented on #77
I'm closing this and moving it to https://github.com/lbryio/lbrycrd/issues

[2016-08-31 19:56] #77 closed

[2016-08-31 23:43] kaykurokawa commented on #112
what's the format of the video file?

[2016-09-02 21:14] dnpotter opened #150 "Content not viewable on Mac with v0.4.2"
Mac OS X 15.6.0

0.4.2 installs and runs ok but no content will stream or download.  Tried lbry://what and a number of other videos and images.  Have 100 credits available.  Tried rebooting but problem persists.

[2016-09-03 04:17] abueide opened #151 "Installing on Arch Linux"
Are there any directions to install on arch linux? I tried following command line instructions for ubuntu, but I just kinda hoped i had the correct dependencies installed and I ended up getting [this](https://gist.github.com/abueide/46d6b84f75adbbf6d2e004fac1b57cb5).

Install instructions should be added for arch linux if anyone figures it out.

[2016-09-03 16:42] kauffj commented on #151
If you wanted to work with one of our devs on this, we'd be happy to
tip/compensate for your help here! Can chat in real time in our Slack:
https://slack.lbry.io - join #dev.

On Sat, Sep 3, 2016 at 12:17 AM, Andrew Bueide <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio

[2016-09-03 20:42] hpierce1102 commented on #151
I got it working - but had to change some dependencies and get a newer version of setuptools to do it. [Here's the fork with the changes.](https://github.com/hpierce1102/lbry)

I'll submit a PR if there's interest, but I realize bastardizing the dependencies like this might not fly.

[2016-09-03 22:39] kaykurokawa commented on #151
This install instruction seems to be out of date for ubuntu, https://github.com/lbryio/lbry/blob/master/INSTALL.md

its missing some dependencies that's present in https://github.com/lbryio/lbry/blob/master/packaging/ubuntu/ubuntu_package_setup.sh

[2016-09-03 22:49] nickodell commented on #151
@kaykurokawa Not sure that's a bug. Looks like that script builds a .deb, so it would need stuff that Ubuntu users don't need for normal use.

[2016-09-04 06:56] abueide commented on #151
Thanks @hpierce1102 I'll try it tomorrow. I was starting to be tempted to use the buggy beta windows version on wine to make it even more buggy lol.

[2016-09-04 19:05] kauffj commented on #151
@hpierce1102 can you open your changes as a pull request? and/or can @lyoshenka or @jimmykiselak look at this and make required changes?

[2016-09-04 19:45] abueide commented on #151
@hpierce1102 what do you do after you run the setup.py? it seems to have run successfully but idk what to do now

[2016-09-04 19:53] kauffj commented on #151
If `setup.py` runs successfully, I think you can run `lbrynet-daemon` directly. Not sure where it ends up when you do a manual compile.

Sincerely,

- least capable person participating in this thread

[2016-09-04 19:56] abueide commented on #151
@kauffj nice, it works thank you. Also thanks @hpierce1102

[2016-09-06 17:12] #138 closed

[2016-09-06 17:12] #19 closed

[2016-09-06 17:12] #20 closed

[2016-10-01 07:20] ELM4Ever opened #179 "LBRY Wallets not encrypted - !!!"
After doing some investigation, I figured out that the LBRY GUI uses LBRYUM to generate its initial wallet (lbryio/lbryum), which is a kind of a clone of Electrum.  In addition, LBRY maintains three Electrum-LBRY-servers (lbryum1.lbry.io, lbryum2.lbry.io, lbryum3.lbry.io) to provide quick responses to newcomers in the LBRY ecosphere - all is good there!

Where it is not good, is to create those El

[2016-10-01 07:30] tombrandi2 commented on #179
We are still in beta, but as we are getting closer to a "stable" release i'll talk with the team to get this working aswell! Thanks for noticing!// Slack mod Fillerino

[2016-10-01 07:37] ELM4Ever commented on #179
Thanks for the prompt response tombrandi2:

Depending on who is talking about LBRY, it is in Alpha for some, Beta for others.  Regardless, this is why I provided my comment on Github and Slack (and nowhere else).

However, this is major... travel back to 2010 with loss of wallet founds...

I wouldn't be so nervous if the LBRY team had addressed my other comment dating back to July 5th (issue #59),

[2016-10-05 04:03] tzarebczan opened #181 "estimated fees for content"
Currently, the estimated fees don't look like they take into account media size when potential downloaders attempt to access files on LBRY.  I recently uploaded something 1.5GB in size and charged 5LBC, but when a friend downloaded it, it ended up charging him ~12LBC because of the .005 LBC per MB fee.  The content creator, when uploading, should see what these fees will be before hand, so they ca

[2016-10-12 15:11] jobevers commented on #181
Bandwidth fees will very soon be dynamic, allowing hosts to change their pricing.  The price for data should drop.

For reference 0.005 LBC / MB = $.40 / GB.  Amazon EC2 charges less then $.09 / GB (https://aws.amazon.com/ec2/pricing/on-demand/)

We will be working on improving our estimates and incorporating the current data prices.  Thanks for the feedback!

[2016-10-12 15:11] #181 closed

[2016-10-12 15:16] jobevers commented on #151
Getting unqlite working on all the different platforms has been a pain. We're not using unqlite for anything special so we're going to replace it in the near future with sqlite.  In the meantime, arch users should look at what @hpierce1102 did and use unqlite 0.4.0.

I'm going to close this.  Once the migration to sqlite has happened, we can look into what it would take to package up something for

[2016-10-12 15:16] #151 closed

[2016-10-12 15:29] jobevers commented on #179
@ELM4Ever thanks for the feedback. This is a feature that needs to be added. Balancing security with a good user experience is always difficult so we'll need to look at how to surface encryption to the user.  Having to type in a password each time a user wants to publish or download content creates friction in the process and is probably not something many users want.

I'll let you know when work

[2016-10-12 15:32] jobevers commented on #150
@dnpotter sorry for the late response - we've made a bunch of changes in the past month and are  currently up to v0.6.3.  Do you have the same issues on the new version?

[2016-10-12 15:33] #91 closed

[2016-10-12 15:34] jobevers commented on #52
Closing this as its old; please re-open if it still persists on the most recent version (0.6.3)

[2016-10-12 15:34] #52 closed

[2016-10-12 15:34] #13 closed

[2016-10-12 15:34] #30 closed

[2016-10-12 15:35] jobevers commented on #53
Closing this as its old; please re-open if it still persists on the most recent version.

[2016-10-12 15:35] #53 closed

[2016-10-12 15:35] jobevers commented on #54
Closing this as its old; please re-open if it still persists on the most recent version (0.6.3)

[2016-10-12 15:35] #54 closed

[2016-10-12 15:35] jobevers commented on #55
Closing this as its old; please re-open if it still persists on the most recent version (0.6.3)

[2016-10-12 15:35] #55 closed

[2016-10-12 15:35] jobevers commented on #56
Closing this as its old; please re-open if it still persists on the most recent version (0.6.3)

[2016-10-12 15:35] #56 closed

[2016-10-12 15:36] jobevers commented on #58
Closing this as its old; please re-open if it still persists on the most recent version (0.6.3)

[2016-10-12 15:36] #58 closed

[2016-10-12 15:36] jobevers commented on #61
Closing this as its old; please re-open if it still persists on the most recent version (0.6.3)

[2016-10-12 15:36] #61 closed

[2016-10-12 15:38] #82 closed

[2016-10-12 15:39] #83 closed

[2016-10-12 15:39] #84 closed

[2016-10-12 15:40] jobevers commented on #93
Closing this as its old; please re-open if it still persists on the most recent version

[2016-10-12 15:40] #93 closed

[2016-10-12 15:40] #103 closed

[2016-10-12 15:41] jobevers commented on #112
Closing this as its old; please re-open if it still persists on the most recent version

[2016-10-12 15:41] #112 closed

[2016-10-12 15:41] #147 closed

[2016-10-17 18:30] jackrobison opened #190 "publish fails in an un-obvious way when given an invalid file"
functionName: jsonrpc_publish
		asciTime: 2016-10-17 18:06:28,026
		fileName: Daemon.py
		levelNo: 20
		lineNo: 2008
		message: {u'file_path': None, u'bid': 50, u'name': u'football', u'metadata': {u'description': u'Enjoy!', u'license': u'Creative Commons Attribution 4.0 International', u'author': u'Cataclysmic Gaming', u'title': u'Epic Football Challenges!', u'language': u'en', u'license_url': u'h

[2016-10-17 23:40] jobevers opened #192 "Change internet check to not use google.com"
The connected to the internet check fails if run behind a firewall that blocks google.com. For example - in china.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/198587529699250/198586282187242)

[2016-10-18 01:18] jobevers opened #194 "My Files page loops on the loading animation"
When a user doesn't have any downloaded files, the loading animation loops for a long time, perhaps forever.

![image](https://cloud.githubusercontent.com/assets/2380127/19461060/d4e4fcbc-94a6-11e6-995c-680bc36b6879.png)

[2016-10-18 20:14] jobevers commented on #192
➤ Job Evers-Meltzer commented:
Testing unito sync

[2016-10-18 20:19] jobevers commented on #192
Testing unito sync the other way

[2016-10-18 23:41] jobevers opened #196 "Test Creating a new task"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/198587529699250/198591086895854)

[2016-10-18 23:45] jobevers commented on #192
Testing unito sync again again

[2016-10-18 23:54] #196 closed

[2016-10-18 23:56] jobevers commented on #96
moved into asana

[2016-10-18 23:56] #96 closed

[2016-10-18 23:57] jobevers commented on #89
moved to asana

[2016-10-18 23:57] #89 closed

[2016-10-19 01:09] kauffj commented on #89
Got excited for approximately 3 seconds

On Oct 18, 2016 7:57 PM, "Job Evers‐Meltzer" <notifications@github.com>
wrote:

[2016-10-19 17:32] jobevers commented on #194
Looking at the network tab, its sending a request every second:

`{"jsonrpc":"2.0","method":"get_lbry_files","params":[{}],"id":0}`

And getting back the response:

`{"id": null, "result": false, "error": null}`

[2016-10-20 04:51] #192 closed

[2016-10-20 04:52] #190 closed

[2016-10-20 17:59] jobevers opened #199 "LBRY does not work on MacOs Sierra"
Unfortunately the app depends on pyobjc which doesn't yet support Sierra.  When pyobj is updated, we'll update our dependencies.

[2016-10-25 23:26] #194 closed

[2016-10-25 23:27] jobevers opened #208 "Movies can be re-downloaded"
Multiple users are reporting that they end up with duplicate downloaded files.

[code]

etc...

[2016-10-25 23:31] jobevers opened #209 "On publish page, fee can be unselected"
When my mouse is in the Fee area of Publish tab, if I click FEE, and input my amount, if i click away out of that box in a line parallel to the No Fee radio button, far to the right, it will select No Fee again

[2016-10-26 16:49] kaykurokawa commented on #179
Work in progress on https://github.com/lbryio/lbry/pull/212

[2016-10-27 20:33] jobevers opened #214 "Unconfirmed transactions give "Invalid Date""
![image](https://cloud.githubusercontent.com/assets/2380127/19784242/a3658c86-9c5a-11e6-8dc2-399135d075e3.png)

Instead of Invalid Date, better would be "Unconfirmed" or something of the like

[2016-10-30 19:01] jobevers opened #219 "conf_settings['last_version'] can be None"
[code]

[2016-10-30 20:19] jobevers commented on #219
https://github.com/lbryio/lbry/commit/f03a15d503fa023c967717aa83a1a997afd286f2

[2016-10-30 20:19] #219 closed

[2016-10-31 14:51] jobevers opened #222 "Downloading to 'undefined'"
For some folks, the download directory is not being set:
https://lbry.slack.com/archives/general/p1477876776007081

Probably an issue with the new settings / configuration

[2016-10-31 15:25] #150 closed

[2016-10-31 15:26] jobevers commented on #80
It looks like we'll be moving to lbryum being more and more of a dependency.  Closing this unless that changes.

[2016-10-31 15:26] #80 closed

[2016-10-31 16:27] jobevers opened #223 "Error message on CLI is not useful"
For example:

https://lbry.slack.com/archives/help/p1477775707003254

It should instead give back a message saying what the arguments should look like.

[2016-10-31 16:46] jobevers opened #224 "Name claimed with 0.01 credits is reporting it is claimed for 0 credits"
Reporting a claim of 0 credits:

![image](https://cloud.githubusercontent.com/assets/2380127/19862703/70bfc7c6-9f5f-11e6-8e71-6fa65571380a.png)

But its actually 0.01:

![image](https://cloud.githubusercontent.com/assets/2380127/19862728/8b0ac69e-9f5f-11e6-867a-0dcc3e759a38.png)

[2016-10-31 16:56] jobevers opened #225 "When taking over an existing claim users aren't informed how long it will take"
See this conversations https://lbry.slack.com/archives/help/p1477932538003331

The ~1 week delay should be communicated.

[2016-10-31 21:06] kaykurokawa opened #227 "Publishing will fail when trying to claim over a name that has invalid metadata"
Publishing will fail when trying to claim over a name that has invalid metadata (ie, some custom claims made directly through lbryum).

[2016-10-31 23:24] kaykurokawa commented on #227
Closing as I actually misdiagnosed the issue. Claims were broken for any name that had a previously owned claim (invalid metadata or not)
https://github.com/lbryio/lbry/pull/229

[2016-10-31 23:24] #227 closed

[2016-11-02 00:04] tzarebczan opened #235 "wallet enhancement - grouping transactions/metadata"
Someone made a good comment a while ago on Slack regarding the wallet.  End users probably won't want to see every single transaction that happens over the course of a single download.  Right now, that's exactly what we see, usually a hosting fees associated with the content fees - sometimes like 5 transactions happen for a single download.  Maybe it would be a good idea to group those transaction

[2016-11-02 13:05] jobevers opened #237 "On OSX, on shutdown, the goodbye notification shows up twice"
The goodbye notification shows up twice before the application quits

[2016-11-02 13:22] kauffj commented on #235
:+1: this is a good idea!

[2016-11-02 17:33] jobevers opened #239 "Lighthouse calls are taking 30 seconds"
The last column is the amount of time taken for the call.  They are all >25 seconds.

![image](https://cloud.githubusercontent.com/assets/2380127/19939842/8fd29496-a0f8-11e6-8ad3-755656fa3061.png)

[2016-11-02 19:11] jobevers opened #240 "UI Version is null on `version` command"
[code]

[2016-11-02 20:24] jackrobison opened #241 "analytics error"
[code]

[2016-11-04 17:20] jobevers opened #244 "Front-end should warn when invalid characters are used"
The front-end says that `testunicode` is but I was asking for `test_unicode`:

![image](https://cloud.githubusercontent.com/assets/2380127/20015296/eeef56c6-a288-11e6-8077-8acd1d223962.png)

Instead, it should warn that `_` is not a valid character for a lbry name.

[2016-11-04 17:28] kauffj commented on #244
Even better it should just not allow and/or remove invalid characters after
they are typed, ideally with some feedback to the user

On Fri, Nov 4, 2016 at 1:20 PM, Job Evers‐Meltzer <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2016-11-05 03:31] bitspill opened #248 "Balance stuck at 0"
Despite numerous confirmations lbrynet sees the account as having 0 balance running 0.7.5

[code]

[2016-11-07 15:38] kaykurokawa commented on #248
Would you mind sending us your log file located at ~/.lbrynet/lbrynet.log to kay@lbry.io ?
My suspicion is that the balance is stuck as reserved for some reason.

[2016-11-07 16:07] kaykurokawa opened #250 "If lbryum wallet fails to connect , lbry fails silently"
If lbryum wallet fails to connect to a lbryum server (port 50001 being blocked behind a firewall , server is down, etc..) , lbry will take a while to start up, and than start up silently ignoring the fact that the wallet is not loaded properly.

[2016-11-07 16:30] bitspill commented on #248
Recent log sent

[2016-11-07 16:38] bitspill commented on #248
Is #250 relevant here perhaps

~/.lbrynet/lbryum.log is 0 bytes on my system, could that be taken to assume lbryum is failing to start properly?

Although, then I would expect get_transaction_history and get_latest_blockhash to fail but they're both correct.

[2016-11-07 16:45] kaykurokawa commented on #250
Logs will appear as below

2016-11-07 10:45:54,450 INFO     lbrynet.lbrynet_daemon.ExchangeRateManager:137: Starting exchange rate manager
2016-11-07 10:45:55,109 INFO     lbrynet.lbrynet_daemon.UIManager:80: Checking for updates for UI branch: master
2016-11-07 10:45:55,501 INFO     lbrynet.lbrynet_daemon.UIManager:100: UI is up to date
2016-11-07 10:45:55,686 INFO     lbrynet.lbrynet_daemon.Daem

[2016-11-07 16:53] kaykurokawa commented on #248
No, it looks like your wallet is connected loading fine.
Have you made any publishes ? Amounts used for publishing are not included in balance
You can check this by running "lbrynet-cli get_name_claims"

You can also install and run lbryum directly https://github.com/lbryio/lbryum without lbry , which should give you the correct balance.

[2016-11-07 16:56] bitspill commented on #248
I have not published anything yet.

I deleted my old installation, cloned master as of 0.7.5, generated a bunch of addresses by clicking the button in ?wallet page, sent coins from Polo, waited.

`user@Anastasia ~ # lbrynet-cli get_name_claims
[]`

[2016-11-09 14:17] #237 closed

[2016-11-09 19:16] jobevers opened #254 "When pausing a download, progress drops to zero"
When attempting to pause a download, the progress drops to zero:

![image](https://zippy.gfycat.com/SilverUnripeImago.gif)

[2016-11-09 19:46] jobevers opened #255 "When restarting LBRY after an incomplete download, the download starts over"
I started downloading Bellflower, stopped lbry, started it back up again and went to My Files.  The downloading started back from zero.  Looking through the logs, its not re-downloading the blobs it already has, but it does seem that we should be able to let the user know that they have already downloaded 12% of a file more easily.

[2016-11-10 19:28] jobevers opened #261 "Can't download theinternetsownboy"
Riley just published theinternetsownboy and I can see the metadata, but am not able to download the file.

It should be up on reflector, need to investigate why its not.

[2016-11-11 07:29] bitspill commented on #248
Installing lbryum as a standalone app, it does correctly interact with the wallet including showing the balance and sending coins.

Updated lbrynet again, still 0 balance
[code]
Responded to email with further information.

[2016-11-11 10:16] alexliebowitz commented on #214
Solved on the front end side with this PR: https://github.com/lbryio/lbry-web-ui/pull/79

[2016-11-11 16:06] jobevers opened #265 "lbrynet-daemon / lbrynet-cli isn't closing all connections on 5279"
I ran into some issues getting lbrynet-daemon to start, it was getting stuck waiting to see if there
was already an existing daemon running.

Turns out that  I have a bunch of stuff still going on on 5279, probably connections that hadn't been completely closed yet:

[code]

[2016-11-11 16:09] jobevers commented on #265
Nevermind; I had a zombie lbrynet running. I thought I had killed it, but it hadn't fully died.  Had to `kill -9` it.

[2016-11-11 16:09] #265 closed

[2016-11-16 20:17] jobevers commented on #261
reflector issues have been fixed

[2016-11-16 20:17] #261 closed

[2016-11-16 20:19] jobevers opened #275 "Unknown publisher when installing on windows"

[2016-11-16 20:44] jackrobison opened #277 "pywintypes import error on windows"
![screen shot 2016-11-16 at 3 41 26 pm](https://cloud.githubusercontent.com/assets/11979920/20364952/3769141c-ac13-11e6-9371-7e11e2543108.png)

[2016-11-16 21:04] jobevers commented on #275
![image](https://cloud.githubusercontent.com/assets/2380127/20365800/f00d8364-ac0d-11e6-9bbb-7e6b6980da78.png)

[2016-11-17 18:39] digidan commented on #199
same, and based on the message above it doesn't look like this will be resolved soon.

[2016-11-17 18:45] #277 closed

[2016-11-17 19:24] jobevers opened #280 "CPU Usage is high while downloading content"
![image](https://cloud.githubusercontent.com/assets/2380127/20404098/0f6c54a4-acc9-11e6-865f-7157e777b68c.png)

[2016-11-22 16:36] kaykurokawa opened #284 "on startup, try_upnp takes a long time if on a non upnp enabled network"
try_upnp function in Session will take a long time (over a minute) during startup before failing and continuing to startup

[2016-11-28 03:51] hrdwdmrbl opened #288 "Could not find suitable distribution for Requirement.parse('lbryum')"
[code]

[2016-11-28 04:18] hrdwdmrbl opened #289 "lbrycrdd vs lbrynet-daemon"
I'm very confused about the difference? This post especially seems to conflate the two https://lbry.io/faq/how-to-run-lbry-with-lbrycrdd

[2016-11-28 18:44] kaykurokawa commented on #288
You have to install lbryum
https://github.com/lbryio/lbryum

Seems like this doc https://github.com/lbryio/lbry/blob/master/INSTALL.md is missing that part of the instruction.

[2016-11-28 18:59] jobevers commented on #288
I just changed the instructions in INSTALL.md to include `pip install -r requirements.txt` which will automatically install lbryum from github.

[2016-11-28 19:28] hrdwdmrbl commented on #288
That's likely it, thanks

[2016-11-28 19:28] #288 closed

[2016-11-28 22:04] kaykurokawa commented on #289
lbrycrdd is a full node for the lbry cryptocurrency network
lbrynet-daemon is an interface to the lbry cryptocurrency network, and contains the lbry Distributed hash table network

Closing this as this is not an issue related to the software, but if you have any more questions join our slack at lbry.slack.com or email me at kay@lbry.io

[2016-11-28 22:04] #289 closed

[2016-11-28 22:19] jobevers commented on #248
@bitspill is this still a problem?

[2016-11-29 05:35] bitspill commented on #248
Unfortunately, yes.

[code]

[2016-11-29 15:14] jobevers commented on #248
@kaykurokawa can you look at this?  This seems like a high priority bug.

[2016-11-30 00:04] tzarebczan opened #293 "Migrating downloaded content to new PC (and or wallet)"
Have a couple questions regarding being able to migrate content that was paid for and downloaded from one PC to another, while keeping the ability to be a seeder in the network (and of course continue to receive micropayments.

1) What files and or folders need to be copied over from one PC to another for Downloads and Publications? What are the steps involved, and does this include moving the wal

[2016-12-01 20:45] kaykurokawa commented on #293
I think someone can answer 3/4/5 better but for the other questions:

1.
You need to move folders ~/.lbrynet and ~/.lbryum , the ~/.lbryum folder contains the wallet file

2.
You need the wallet to download blobs, but after finishing the download, they are not dependent on each other. When you refer to the size of your wallet, are you referring to the contents of ~/.lbryum/wallets ?

6.
Unfortunat

[2016-12-02 16:59] kaykurokawa opened #305 "An error occurred while starting a lbry file: 'NoneType' object has no attribute '__getitem__'"
Getting multiples of these error messages on startup :

ERROR    lbrynet.lbryfilemanager.EncryptedFileManager:85: An error occurred while starting a lbry file: 'NoneType' object has no attribute '__getitem__'

[2016-12-02 20:21] bitspill commented on #248
Not sure which commit fixed it but I can now see my balance after updating today.

[code]

[2016-12-02 20:21] #248 closed

[2016-12-02 20:24] jobevers commented on #248
thanks for the followup

On Fri, Dec 2, 2016 at 2:21 PM, bitspill <notifications@github.com> wrote:

[2016-12-05 14:16] seemqueues opened #307 "Error (Image of Error)"
![image](https://cloud.githubusercontent.com/assets/24168780/20888127/208fae72-bac3-11e6-9090-aa3ac16909b4.png)

I tried publishing a file and I get this error.  Not sure what this means.  Thanks.

[2016-12-05 14:22] seemqueues commented on #307
I also get this error when I click on the link _My Wallet_.

[2016-12-05 14:42] kaykurokawa commented on #307
are you running the latest 0.7.8 release ( https://github.com/lbryio/lbry/releases )? what OS are you on?

[2016-12-05 17:42] tzarebczan commented on #293
Thanks for the replies.  Yes, for #2 I was referring to the default_wallet file (2MB in size).

[2016-12-05 17:50] tzarebczan opened #309 "My Files - "Loading...""
Fresh wallet, latest build (0.7.8) no files downloaded - when I go into My files, (both Downloaded and Published), I just see "Loading ... " with a animated ellipsis.  I would expect it to come back and say something along the lines of "You have no files, go to discover" for the Downloaded page, and "You have no published content, go to Publish..." for Published.

[2016-12-05 19:19] tzarebczan commented on #293
When I copied over old blob files and wallet to new install,I get the below.  Files don't show under My Files.  My blobs/files were a bit corrupted (they kept redownloading them - @jobevers aware of the issue and has my files/wallet) so that could be by.

2016-12-05 14:12:11,197 INFO     lbrynet.core.RateLimiter:72: Starting <lbrynet.core.RateLimiter.RateLimiter object at 0x0448BA30>
2016-12-05 14

[2016-12-06 15:59] kaykurokawa commented on #305
Error originates here :

https://github.com/lbryio/lbry/blob/master/lbrynet/lbryfilemanager/EncryptedFileDownloader.py#L48

self.wallet.get_claim_metadata_for_sd_hash(self.sd_hash) is returning None for some sd hashes

[2016-12-06 16:27] kaykurokawa commented on #305
Discussion with Jack: EncryptedFiledDownloader should ideally be decoupled from wallet class , status of claims should not be relevant to decision making of this class.

[2016-12-15 19:46] kaykurokawa opened #341 "Race condition in lbrynet wallet balance"
We currently "reserve points" to perform normal transactions (to pay key fees, or to do normal send), but we don't do the same when making claim transactions. Thus we could be using credits that are already reserved for making claim transactions.

Further more there is a race condition caused by the fact that wallet balance is updated asynchronously in lbryum wallet after making a transaction (it

[2016-12-16 03:16] tzarebczan opened #343 "publish error notifyFinish"
2016-12-15 21:58:27,759 ERROR    lbrynet.lbrynet_daemon.auth.server:164: Failed to render API response: Request.finish called on a request after its connection was lost; use Request.notifyFinish to keep track of this.
RuntimeError: Request.finish called on a request after its connection was lost; use Request.notifyFinish to keep track of this.
2016-12-15 21:58:27,760 ERROR    lbrynet.lbrynet_daemo

[2016-12-16 03:26] tzarebczan commented on #343
UnknownNameError: Name jiggytom is unknown
2016-12-15 21:52:38,857 WARNING  lbrynet.core.Wallet:354: Got an error looking up a name: name is not claimed
2016-12-15 21:52:38,858 ERROR    lbrynet.lbrynet_daemon.Daemon:164: Failed to resolve name: Name jiggytom is unknown
UnknownNameError: Name jiggytom is unknown
2016-12-15 21:55:21,253 INFO     lbrynet.lbrynet_daemon.Daemon:1928: Got new wallet add

[2016-12-16 03:31] jobevers commented on #343
@tzarebczan - I think you copied your data folder recently from one machine to different one; unfortunately there was a schema changed that happened with one of the internal databases recently.  I fear that maybe manually copying some stuff meant that the migration didn't happen and you have an old database.

As a TODO for us - the schema version should live in the database itself to prevent this.

[2016-12-16 03:35] tzarebczan commented on #343
Ah okay.  Yea I didn't clear that out... I will.

On Dec 15, 2016 10:31 PM, "Job Evers‐Meltzer" <notifications@github.com>
wrote:

[2016-12-16 03:46] tzarebczan commented on #343
Your file has been published to LBRY at the address lbry://jiggytom!
You will now be taken to your My Files page, where your newly published file will be listed. The file will take a few minutes to appear for other LBRY users; until then it will be listed as "pending."

[2016-12-16 04:44] tzarebczan opened #344 "reveal error - from publshed file."
We're sorry that LBRY has encountered an error. This has been reported and we will investigate the problem.
API connection string: http://localhost:5279/lbryapi
Method: reveal
Parameters: [{"path":"C:\\Users\\xxxxxx\\Downloads\\xxxxx.zip"}]
Error code:
Error message:
Error data:

[2016-12-16 04:46] tzarebczan commented on #344
2016-12-15 23:44:08,946 ERROR    lbrynet.lbrynet_daemon.auth.server:164: API Failure: [Error 2] The system cannot find the file specified
Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\twisted\python\threadpool.py", line 246, in inContext
  File "C:\Python27\lib\site-packages\twisted\python\threadpool.py", line 262, in <lambda>
  File "C:\Python27\lib\site-packages\twiste

[2016-12-16 06:12] tzarebczan opened #346 "wallet in use error during publish?"
tried publishing something else, got a popup about "get_new_address" error - this is in the log. Just had transferred some LBC into the wallet.
2016-12-16 01:07:21,651 ERROR    lbrynet.lbrynet_daemon.auth.server:164: API Failure: [Error 32] The process cannot access the file because it is being used by another process
Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\twisted

[2016-12-16 06:16] tzarebczan commented on #346
I then retried it, and published something to lbry://five...it says published, took me to My Published screen, but had the name of the file that's already on five, and not my file.  The file shown was Bread (and art film) - with 0% downloaded.

Hmm.

Here it should have told me about the naming claiming system.  Or it should have mentioned it when I tried to outbid (may not know it's not mine yet?

[2016-12-16 18:42] tzarebczan commented on #343
And now the file is gone from published, see this in log:
2016-12-16 13:41:32,743 INFO     lbrynet.lbrynet_daemon.Daemon:2479: Resolving stream info for lbry://jiggytom
2016-12-16 13:41:33,164 WARNING  lbrynet.core.Wallet:354: Got an error looking up a name: name is not claimed
2016-12-16 13:41:34,181 INFO     lbrynet.lbrynet_daemon.Daemon:2479: Resolving stream info for lbry://jiggytom
2016-12-16

[2016-12-18 16:59] tzarebczan commented on #343
I eventually republished and it's back in My Files>Published.

[2016-12-19 18:30] kaykurokawa commented on #343
Related issue https://github.com/lbryio/lbry-web-ui/issues/110

[2016-12-19 19:56] kaykurokawa commented on #214
Closing as this seems solved

[2016-12-19 19:56] #214 closed

[2016-12-19 21:30] jackrobison opened #355 "BlobAvailability sample size bug"
[code]

[2016-12-19 22:43] #355 closed

[2016-12-29 00:30] #222 closed

[2016-12-29 00:30] #224 closed

[2016-12-29 00:30] #241 closed

[2016-12-29 00:30] #244 closed

[2016-12-29 00:37] #239 closed

[2017-01-03 02:36] tzarebczan commented on #344
This is still an issue @jobevers

Happens in My Files, after you click the ellipses and go to "reveal file" . On windows, just tried in 0.7.12rc3

[2017-01-03 02:36] tzarebczan opened #377 "couldn't open blob"
See this in the latest version ( 0.7.12rc3)
2017-01-02 21:32:19,611 INFO     lbrynet.lbrynet_daemon.Daemon:308: Started lbrynet-daemon
2017-01-02 21:32:20,089 ERROR    lbrynet.reflector.client.blob:374: Error reflecting blob e650f05acad5c3e86254bd0cd3f642b6c4baaf2cd9e6b8358a2a64eed08ddbb1daf398c9f33521ef335398df5ddc7efc: Couldn't open that blob for some reason. blob_hash: e650f05acad5c3e86254bd0cd

[2017-01-03 02:39] tzarebczan opened #378 "can't download items from front page"
I've been putting off reporting this, but a while ago I tried to download:
S&M Lawn Care (stuck at 14%)
It's a Disaster (stuck at 0%)
Cinema Six (stuck at 18%)

When I restart and do pause/resume, it seems to start but then nothing happens.  This has been the same result over the last couple of version (3 weeks or so)

[2017-01-04 22:50] tzarebczan opened #385 "properly handle downloading two files with the same name"
I know there was a discussion that this would be very difficult, but what about a simple check in the download directory vs the filename being downloaded to warn the user that a file with that name already exists and if they want to continue.  This might prevent someone paying for content twice, but can continue if they are sure that the content is different.

[2017-01-04 22:58] tzarebczan commented on #378
Eventually I was able to get "It's a Disaster" to download...

[2017-01-06 16:49] kaykurokawa commented on #250
https://github.com/lbryio/lbry/commit/a5c25ff8873e1e6f5dc875d3f9670276245d9ee6

This patch forces lbrynet to not open if lbryum fails to connect to network

[2017-01-06 16:49] #250 closed

[2017-01-07 19:47] tzarebczan opened #389 "couldn't open blob, timeout ""
2 issues:
1) Couldn't open that blob for some reason.
2) Timeout getting blob for cost est for lbry://thecountofmontecristobkup, using only key fee

2017-01-07 14:44:52,197 ERROR    lbrynet.reflector.client.blob:374: Error reflecting blob 6e0bf18049de97f40771a52efcd40f227870421e7770cd57705f8a65149b85c55d09c130e246a08d389199ec55e5a312: Couldn't open that blob for some reason. blob_hash: 6e0bf18049d

[2017-01-07 20:08] tzarebczan opened #391 "can't download lbry://artrimed"
user from slack upload, said it is not showing up in his "My Published".

2017-01-07 15:07:15,075 INFO     lbrynet.lbrynet_daemon.Downloader:93: Download lbry://artrimed status changed to downloading_metadata
2017-01-07 15:07:16,403 INFO     lbrynet.core.client.BlobRequester:395: Offered rate 0.000000/mb accepted by 67.205.154.20
2017-01-07 15:07:16,404 INFO     lbrynet.core.client.BlobRequester:4

[2017-01-07 22:01] tzarebczan opened #392 "indication of content availability to network sharing"
etoque made a good point recently on slack - we need some type of indication that the files we download are being shared and made available to the network.  We wouldn't know unless someone downloads it and we get a micropayment (then it's still hard to know which file was shared).  Is there a way to check if the blobs are being shared properly?

[2017-01-09 16:36] jobevers commented on #392
An unsatisfying temporary solution  - you can check if port 3333 is open: http://www.canyouseeme.org/

If its not, you aren't able to share.

[2017-01-09 16:48] tzarebczan commented on #392
Sure that's a temp work around, but this was more intended for people who
will be downloading content with the purpose of sharing it. I know we are
in beta, but I get blob errors from time to time and I assume this means
something is wrong with the blobs and they won't be shared when someone
goes to download the file. Can't we have some type of verification of the
blobs against the content that wa

[2017-01-10 16:10] pmfrulez opened #398 "explorer"
explorer stuck again can someone check that

[2017-01-10 17:22] pmfrulez commented on #398
http://prntscr.com/dtwens

[2017-01-10 17:33] pmfrulez commented on #398
for a while I notice that new transactions on my address does not see on explorer probably on other addresses too..the last time I informed jiggytom about that ....Network in GH/s,Difficulty,total Coin Supply and LBC/BTC price (can u change price to poloniex value ?) is regularly refreshes...

[2017-01-10 18:07] lyoshenka commented on #398
@pmfrulez i think Job's comment was meant for me

explorer looks fine right now. here's what i'm seeing:

![](http://i.imgur.com/iGnmfhW.png)

[2017-01-10 18:11] lyoshenka commented on #398
The explorer app we're using is a bit slow to update sometimes. If you want the most up-to-date information on your balance, you should use the [lbryum wallet](https://github.com/lbryio/lbryum) and import your addresses into it. It will get updates a lot faster than explorer.

[2017-01-10 18:13] #398 closed

[2017-01-10 18:41] pmfrulez commented on #398
lating of 2-3 days  for correct balance is not normal I think @lyoshenka still incorect balance on explorer

[2017-01-11 16:54] jobevers opened #400 "Error when stopping a file"
When trying to stop a file:

[code]

Its probably worth noting that the original filename was `target-file` (without an extension)

[2017-01-11 17:09] jobevers opened #401 "Error after changing status"
[code]

There is a chance that this is due to some code change I made recently on my branch that aren't on master - but I'm busy debugging another bug and wanted to make sure I recorded this one.

[2017-01-11 17:58] jobevers commented on #401
Yep, totally my fault.

[2017-01-11 17:58] #401 closed

[2017-01-16 09:59] Ambros94 opened #411 "no_such_table during init (OSX 10.12.2)"
I compiled both versions v0.8.0rc0 and v0.7.12 on on OSX 10.12.2 (Sierra) following INSTALL.md instructions. I'm using python virtual environment any python 2.7.

This is the error i receive when I run  `lbrynet-daemon --log-to-console`

[code]

[2017-01-16 20:06] tzarebczan opened #414 "claim unknown"
when going to publish and after typing in a claim name, it used to tell you if it was available or not.  Now I am having trouble seeing that and can't publish (nothing happens when I click publish) .  I do get this:
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36"
2017-01-16 15:03:34,653 INFO     lbrynet.lbrynet_daemon.Daemon:2592:

[2017-01-16 20:12] kaykurokawa commented on #414
What release is this? 8.0?

[2017-01-16 22:23] kaykurokawa opened #415 "Lbrynet generates too many addresses,"
Lbrynet generates too many addresses, making start up slow

Should use lbryum's payment request feature, so it can reuse unused addresses.

Also need to check if "generous_host" setting will make lbrynet generate new addresses, when it shoudln't be because blob fee is zero.

[2017-01-16 22:43] kaykurokawa opened #416 "Publish command through the cli never exits"
When publishing (command "publish") through lbrynet-cli, the command never finishes (just hangs), regardless of whether publishing succeeds (you can see the name claimed, and the published file under my files), or threw some kind of exception (not enough funds for example).

[2017-01-17 13:30] jobevers commented on #411
Do you get this error if you reset the LBRY folder: `mv ~/Library/Application Support/LBRY ~/LBRY_backup` and then retry?

[2017-01-17 16:59] kaykurokawa commented on #416
There seems to be two separate issues :
Publishing command seems to hang

If there is any unhanded exception raised in any of the daemon commands,  nothing is sent to lbrynet-cli and thus lbrynet-cli will wait forever for a response it will never get

[2017-01-17 19:45] kaykurokawa commented on #416
1) was due to reflector being down
Closing this to start two new issues, one for the fact that the daemon swallows exceptions without giving feedback to cli, and another for the fact that publishing hangs forever if reflector is down

[2017-01-17 19:45] #416 closed

[2017-01-17 19:49] kaykurokawa opened #418 "Unhandled exceptions in daemon commands don't return results"
If there is an unhandled exception thrown while processing a daemon command that was requested through lbrynet-cli , lbrynet-cli will hang forever.

There should probably be a function wrapper for all daemon commands that will catch exceptions and return them to the cli.

┆Attachments: <a href="https:&#x2F;&#x2F;app.asana.com&#x2F;app&#x2F;asana&#x2F;-&#x2F;download_asset?asset_id&#x3D;24862064063

[2017-01-17 19:52] kaykurokawa opened #419 "Publishing will hang forever if reflector is down"
If reflector is down, publishing will hang forever in _check_if_reflector_has_stream() function in reupload.py :  https://github.com/lbryio/lbry/blob/master/lbrynet/reflector/reupload.py#L8

[2017-01-18 02:13] jobevers opened #422 "Error while publishing"
[code]

[2017-01-18 03:45] tzarebczan commented on #414
Sorry for the late reply, yes 8.0 RC0

[2017-01-18 04:18] jobevers commented on #422
Fixed

[2017-01-18 04:18] #422 closed

[2017-01-18 17:03] Ambros94 commented on #411
I've tried with the 7.x.x version and It was still there, but it works with the last version (v0.8.0rc2-2-g91d673a).

[2017-01-18 17:03] #411 closed

[2017-01-18 18:50] janellebradleyZ8p opened #425 "missing lbry-daemon"
~/Downloads$ lbry --help
running lbrynet-daemon...
/usr/bin/lbry: line 31: /usr/share/python/lbrynet/bin/lbrynet-daemon: No such file or directory

installed from .deb package

Ubuntu 14.04

[2017-01-18 19:05] janellebradleyZ8p opened #426 "aborted while runnign lbrycrdd binaries"
lbrycrdd: main.cpp:2387: bool ConnectBlock(const CBlock&, CValidationState&, CBlockIndex*, CCoinsViewCache&, CClaimTrieCache&, bool): Assertion `hashPrevBlock == trieCache.getBestBlock()' failed.

[2017-01-18 19:06] tzarebczan commented on #425
Many files were recently moved but the package doesn't have the new path.
 try this: /opt/venvs/lbrynet/bin/lbrynet-daemon

On Jan 18, 2017 1:50 PM, "janellebradleyZ8p" <notifications@github.com>
wrote:

[2017-01-18 20:12] #426 closed

[2017-01-18 20:19] janellebradleyZ8p commented on #425
thanks, there is lbrynet-daemon indeed but, it is exiting anyway.

This is how it looks over VNC

 /opt/venvs/lbrynet/bin/lbrynet-daemon
Starting lbrynet-daemon from command line
To view activity, view the log file here: /home/userpwfzutpfzlsicr/.lbrynet/lbrynet.log
Web UI is available at http://localhost:5279
JSONRPC API is available at http://localhost:5279/lbryapi
To quit press ctrl-c or call '

[2017-01-20 16:18] jobevers opened #429 "Error in DHT"
[code]

[2017-01-20 16:19] jobevers commented on #425
Try `/opt/venvs/lbrynet/bin/lbrynet-daemon --no-launch` if you don't have a gui.

[2017-01-21 02:31] kaykurokawa opened #432 "DHT Hash Announcer is not annoucing some blobs if it has a lot of blobs"
There is a hash_reannounce_time set to 1 hour in DHTHashSupplier , which determines how often hashes are reannounced.

If a server takes more than 1 hour to announce all of its  blobs, than  there is going to be a constant back log of un- reannounced blobs that piles up. This means that some blobs will never be announced.

The fix would be to make  hash reannounce time dynamic , based on how large

[2017-01-21 02:35] kaykurokawa commented on #432
each blob takes less than 1 second to announce, somewhere  around .2 to .7 seconds

[2017-01-21 05:10] jobevers commented on #432
The hashes are placed into a queue though which is processed first-in first-out, so it seems that it should get through all of them.  Maybe not in a timely fashion, but should get through.

[2017-01-21 19:22] kaykurokawa commented on #432
I think you are right, it should announce eventually,
Its still a problem though because the queue will keep getting bigger without being cleared causing a memory leak.

[2017-01-23 06:52] jobevers commented on #432
Threw together https://github.com/lbryio/lbry/pull/435 the help investigate this issue

[2017-01-23 20:04] lyoshenka opened #436 "dht contact bug"
[code]

[2017-01-23 23:31] kaykurokawa opened #437 "Old lbrynets may have excessively large wallets"
Old Lbrynets without this patch https://github.com/lbryio/lbry/pull/427 ( v8.0rc2 and below would not have this patch ) would generate a large amount of addresses in its wallet if running for a long time and receiving lots of download requests.  Having large amount of addresses slows down startup by a considerable amount and takes up unnecessary space. To fix this without losing any credits that y

[2017-01-23 23:58] kaykurokawa commented on #415
temporary fixed with https://github.com/lbryio/lbry/pull/427

[2017-01-23 23:58] #415 closed

[2017-01-25 15:32] jackrobison commented on #437
It's worth noting that any active claims/supports in an old wallet will not transfer to a new one with this process. I don't think there's really a clean way to move those over, however they can be abandoned and made again.

[2017-01-25 15:33] tzarebczan commented on #437
This definitely needs to be a feature of the claim management system, not
very user friendly now.

On Jan 25, 2017 10:32 AM, "Jack Robison" <notifications@github.com> wrote:

[2017-01-25 19:35] kaykurokawa commented on #437
There is no easy way to do this, but there is a rather complicated way to do so through Lbryum using the "update" command in the console ( https://github.com/lbryio/lbryum/blob/master/lib/commands.py#L947 )

The "update" command allows you to specify an optional "claim_addr" argument, which is where the new updated claim gets sent to. Thus, you can run the update command on your old wallet and obt

[2017-01-26 16:25] #199 closed

[2017-01-26 16:25] #378 closed

[2017-01-26 17:39] #425 closed

[2017-01-26 17:39] jobevers opened #443 "Two copies of a file are listed in `get_lbry_files`"
[code]

[2017-01-26 17:49] jobevers opened #444 "Get a UI error on the referral page"
`Uncaught ReferenceError: failureReason is not defined`

![image](https://cloud.githubusercontent.com/assets/2380127/22343325/58186186-e3bd-11e6-8e95-aa99249c0ed0.png)

[2017-01-27 18:37] kaykurokawa opened #447 "ConnectionManager issues"
This is a list of ConnectionManager issues. ConnectionManager is a class that establishes connection between peers in order to download files from them. This is a work in progress list.

1.  ~~We need unit test for Connecion Manager. There needs to tests written to test for cases where the ConnectionManager connects to some non responsive or misbehaving peers. We know from observation that it is s

[2017-01-29 05:49] jobevers opened #449 "Block too deep to generate proof"
[code]

[2017-01-29 18:58] #88 closed

[2017-02-01 21:45] #449 closed

[2017-02-05 06:38] sueofil56 opened #462 "Wrong wallet"
I was suppose to enter my litecoin wallet but I entered my Bitcoin wallet instead. Using the soChain I can see the transaction was successful but labelled my Bitcoin wallet as LTC. When I checked the transaction in my Bitcoin wallet the payment cannot be found. I was paid through the wrong wallet I typed so can there be a solution to transfer the funds still as litecoin to my litecoin wallet?

[2017-02-05 15:37] kauffj commented on #462
Sorry to hear about your trouble, but I suspect you've made a mistake posting this here.

This project is neither Bitcoin nor Litecoin. I'm going to close this ticket.

[2017-02-05 15:37] #462 closed

[2017-02-08 21:36] jackrobison opened #468 "AttributeError: 'Config' object has no attribute 'SLACK_WEBHOOK'"

[2017-02-09 01:39] jackrobison opened #470 "file_delete does not remove data from stream_info_manager"
because EncryptedFileManager.get_count_for_stream doesn't return an int, it returns [(int,)]

https://github.com/lbryio/lbry/blob/d053db8dfd345f12989de50de0731084652d0062/lbrynet/lbrynet_daemon/Daemon.py#L824-L824

The stream info being in the EncryptedFileMetadataManager (after deleting the blobs) causes the reflector client to try sending blobs that it doesn't have (a cause of failed uploads).

[2017-02-09 02:04] #470 closed

[2017-02-09 03:45] jackrobison opened #473 "Wallet.claim_name fails to update claims"
Bug is here: https://github.com/lbryio/lbry/blob/b03e7e14f32c5e5652df26235fbaac9cf7b737fb/lbrynet/core/Wallet.py#L661

dict.update doesn't return the updated dict, so Publish is returned a value of None here: https://github.com/lbryio/lbry/blob/b03e7e14f32c5e5652df26235fbaac9cf7b737fb/lbrynet/lbrynet_daemon/Publisher.py#L147

[2017-02-09 05:13] jackrobison commented on #468
https://github.com/lbryio/lbry/pull/472

[2017-02-09 05:13] #468 closed

[2017-02-09 15:31] #473 closed

[2017-02-11 14:56] jobevers opened #478 "File Manager error"
Seeing lots of errors:
`An error occurred while starting a lbry file: 'NoneType' object has no attribute '__getitem__'`

Logged in EncryptedFileManager:89

[2017-02-11 15:33] jobevers opened #479 "UnknownNameError"
Lots of `UnknownNameErrors` show up in the logs.

[2017-02-11 15:43] jobevers opened #480 ""Failed to render API Response" has no traceback"
Seeing lots of messages logged from here, but without a traceback. https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/auth/server.py#L331

Makes it hard to debug what might have gone wrong.

[2017-02-11 19:01] jobevers opened #481 "DHT raises EWOULDBLOCK"
Seeing a lot of socket.errors from the DHT in the logs

[2017-02-13 18:57] kaykurokawa commented on #478
This is the same as https://github.com/lbryio/lbry/issues/305 I believe

[2017-02-14 02:08] #432 closed

[2017-02-15 15:24] jobevers opened #487 "nofifyFinish doesn't cancel deferred"
[code]

[2017-02-15 16:49] jobevers commented on #481
Moved to warnings here: https://github.com/lbryio/lbry/pull/382

Coming up with a more substantial fix is not a priority -closing.

[2017-02-15 16:49] #481 closed

[2017-02-16 20:41] kaykurokawa commented on #447
https://github.com/lbryio/lbry/pull/458  fixes 1)

[2017-02-16 22:05] jobevers opened #490 "Problem checking updates on github"
![image](https://cloud.githubusercontent.com/assets/2380127/23043395/bd4fa956-f461-11e6-974b-278b292025de.png)

[2017-02-17 16:53] kaykurokawa opened #491 "Confusing behavior in get_lbry_file_by_uri()"
This problem was introduced in https://github.com/lbryio/lbry/pull/485

Let's say you have two files (A and B) associated with two different claims for the same name "test". File A is currently associated with the winning claim. You call get_lbry_file_by_uri() and you get file A. Someone overtakes name "test" with some random file that you have not downloaded. You call get_lbry_file_by_uri() and y

[2017-02-17 17:09] jackrobison commented on #491
Work in progress: https://github.com/lbryio/lbry/pull/492

We can get rid of the name resolution in the file manager altogether - it was only necessary to populate the metadata, which is stored in the new db. In addition, the db tracks the state of the associated claim (whether it be active but not winning, active and winning, pending, abandoned or updated over).

Will do - I think the json return

[2017-02-21 18:54] kaykurokawa opened #496 "daemon.waiting_on logic is incorrect"
Daemon has a waiting_on variable : https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/Daemon.py#L259

The variable prevents downloading the same name twice by storing downloaded names in a dict. However this does not account for the fact that a name can be updated, and the user could be downloading a completely different file.

This also does not account for the case where a user de

[2017-02-21 19:19] #487 closed

[2017-02-22 17:42] kaykurokawa opened #498 "Running trial tests broken on Ubuntu 16.04 after electron update"
run_tests.sh script no longer works on Ubuntu 16.04 after the electron update which uses Twisted 16.6.
Trial thinks that "tests" is some other random module instead of the one in our lbrynet folder.

Renaming our tests folder to some other name such as lbrynet_tests fixes this problem. Probably there is some better way to force trial to use our tests folder.

[2017-02-22 21:52] jobevers commented on #498
You might have a different `tests` module installed in your python path.
In a python terminal, do:

[code]

[2017-02-23 01:55] lyoshenka commented on #498
​At one point, Job told me to run tests with `PYTHONPATH=. trial tests`.
Does that changed anything?​

On Wed, Feb 22, 2017 at 4:52 PM, Job Evers‐Meltzer <notifications@github.com

[2017-02-24 16:11] kaykurokawa commented on #498
It was our lighthouse tests , I think it installs the tests folder as module "tests"
https://github.com/lbryio/lighthouse/blob/master/setup.py

[2017-02-24 18:39] jobevers commented on #498
Ah. This line https://github.com/lbryio/lighthouse/blob/master/setup.py#L19
should probably be `packages=find_packages('lighthouse')`

[2017-02-24 19:43] kaykurokawa commented on #498
This worked for me:

packages=find_packages(base_dir,exclude=['tests'])

We should probably do the same for setup.py in lbrynet

[2017-02-28 19:45] kaykurokawa opened #502 "Exchange Rate Manager issues"
Max key fee is specified in USD, this means that if exchange rate conversion does not work (bittrex/coinbase/google finance is down) , you can't download anything even if its fees are specified in LBC since we always tries to convert max key fee to LBC before downloading. Max key fees should be specified in LBC.

Google finance does not return exact USDBTC exchange values since it seems to round o

[2017-02-28 20:23] kaykurokawa commented on #498
Closing as proper pull requests has been made

[2017-02-28 20:23] #498 closed

[2017-02-28 20:24] kaykurokawa commented on #447
https://github.com/lbryio/lbry/pull/497 fixes 5)

[2017-03-01 19:33] kaykurokawa opened #504 "StandaloneBlobDownloader needs to timeout and clean itself up"
I noticed that when trying to download a name associated with a sd_hash that does not exist in the network, it leaves behind a perpetually running ConnectionManager that is trying to download the sd_hash which it will never find. ( Try running "lbrynet-cli get name=10mb")

I think from lbrynet.core.StreamDescriptor.download_sd_blob which calls lbrynet.core.client.StandaloneBlobDownloader needs to

[2017-03-01 21:13] kaykurokawa commented on #504
The proper place for the timeout would be in the DownloadManager class,
as it is used both by GetStream (used to download full files), and StandaloneBlobDownloader.

This means that we should replace the timeout mechanism currently present in GetStream.

[2017-03-02 13:36] lyoshenka commented on #502
oops

[2017-03-03 18:20] kaykurokawa opened #506 "Lbryum should be launched as a seperate process"
Currently lbryum is launched in a separate thread and in lbrynet, but this is not good as crashes in lbrynet can cause unexpected behavior in lbryum (possible to lose addresses thus credits).

Lbryum needs to be launched as a seperate process and daemon needs to make rpc calls to it.

[2017-03-03 20:34] alexliebowitz commented on #309
This bug ended up being in the UI layer, and has been fixed since. Thanks!

[2017-03-03 20:34] #309 closed

[2017-03-06 20:07] kaykurokawa opened #509 "API issues"
Consistency issues in the API should be written here :

Formatting
claim_show - nout of claims are returned as "n", wherer "nout" is used elsewhere. Needs fix from lbryum call.

Remove
upload_log - deprecated, should be removed

log - deprecated, should be removed

get_nametrie - not useful, should be removed

get_mean_availability - not useful, should be removed

reveal - not used in electron

op

[2017-03-06 22:30] kaykurokawa opened #511 "Connection manager unit test fails"
test_parallel_connection() on connection manager unit test fails occasionally in a random manner : https://github.com/lbryio/lbry/blob/master/tests/unit/core/client/test_ConnectionManager.py#L192

[2017-03-07 23:26] kaykurokawa opened #515 "jsonrpc_get does not properly handle updated names when detecing if it already has file or not"
It currently is not able download a name that has been updated because it thinks it already has the file

[2017-03-07 23:29] kaykurokawa commented on #491
Closing as fixed in https://github.com/lbryio/lbry/pull/512

[2017-03-07 23:29] #491 closed

[2017-03-09 16:11] kaykurokawa opened #521 "Need consistent handling of lbry credits as either Decimal or string encoded Decimal"
Representation of lbry credits in lbrynet is sometimes handled as float or returned as float in Daemon API.

This is wrong as we need exact decimal amount to avoid floating point errors.

[2017-03-13 17:17] kaykurokawa opened #527 "test_double_download fails occasionally"
test_double_download under test_misc fails occasionally, likely due to some race condition. Below is the error log. I believe the problem happens due to _delete_blobs_marked_for_deletion() is called in manage() when db_conn may be closed already.

[ERROR]

Traceback (most recent call last):

  File "/home/travis/build/lbryio/lbry/lbrynet/core/BlobManager.py", line 200, in delete_from_db

    d = s

[2017-03-16 00:24] nikooo777 opened #529 "Issues when publishing and reflecting a file"
## The Issue

### Steps to reproduce
1. open up a new ec2 instance with ubuntu (i didn't try any other distro or env)
2. install the dependencies and compile lbry following the guide here https://github.com/lbryio/lbry/blob/master/INSTALL.md
3. create a Downloads directory in your home dir to avoid a bug from happening (Grin is on it already)
4. place a video file anywhere (ie in /tmp/testfile.mp4

[2017-03-16 06:52] l2dy opened #530 "socket.error: [Errno 1] Operation not permitted"
## The Issue

### Steps to reproduce
1. Start `lbrynet-daemon --verbose` from Terminal

### Expected behaviour
Starts up safely.

### Actual behaviour
Following error reoccurs
[code]

## System Configuration

[code]

## Anything Else

## Screenshots

[2017-03-16 19:39] lyoshenka commented on #529
There were two issues here:

1. UDP port 4444 was closed in AWS firewall, so no one could connect to download this file
2. Reflector did not get the blobs. I'm working on this.

Closing this issue in the meantime. Thanks @nikooo777

[2017-03-16 19:39] #529 closed

[2017-03-16 19:43] lyoshenka commented on #530
Thanks for submitting this. Could you check a few things please:

1 - Are you connected to the internet?
2 - Is anything else running on any of the following ports:
  - 4444 udp
  - 3333 tcp
  - 5279 tcp

[2017-03-16 19:43] lyoshenka commented on #509
@kaykurokawa how much of this is done?

[2017-03-16 19:44] #444 closed

[2017-03-16 19:44] lyoshenka commented on #436
@kaykurokawa is this fixed?

[2017-03-16 19:46] #223 closed

[2017-03-16 19:46] #240 closed

[2017-03-16 22:53] l2dy commented on #530
1. Yes.
2. No.
3. I enabled firewall and that might be the cause.

I've downloaded rc5 and it crashed with
[code]
reocuuring and
[code]

[2017-03-17 00:02] Boruch-Baum opened #533 "Fails GET requests"
I just now downloaded the daemon, successfully curl'ed a "resolve_name" request and a "wallet_new_address" request, but can't get GET requests working.

### Steps to reproduce
1.  ./lbrynet-daemon &>./lbrynet-daemon.log &
2.  curl 'http://localhost:5279/lbryapi' --data '{"method":"get","params":{"name":"what"} }'

### Expected behaviour
Exit code 0, mp4 file appearing in my /home/---/Downloads fol

[2017-03-17 00:18] kaykurokawa commented on #527
Example of build failing here: https://travis-ci.org/lbryio/lbry/builds/209860687

[2017-03-17 05:18] theredcomputer opened #535 "TypeError: 'unicode' object does not support item assignment"
## The Issue
Unable to publish file because of TypeError

### Steps to reproduce
1. Attempt to publish a file

### Expected behaviour
The file should be published to the network.

### Actual behaviour
Console output when running publish command:

[code]

## System Configuration
- LBRY Daemon version:
[code]

[2017-03-17 10:51] alpo opened #536 "Cannot install following INSTALL.md on Ubuntu 14.04.5, ARMv7, Python 2.7.6/2.7.11"
## The Issue

### Steps to reproduce
Follow steps in INSTALL.md

### Expected behaviour
The application installed

### Actual behaviour

After `pip install -U -r requirements.txt`

[code]

After `pip install -U pyparsing && pip install -U -r requirements.txt` installation was finished apparently successfully, but `lbrynet-daemon` doesn't work, the loading log is attached.

[startup.log.txt](https:

[2017-03-17 14:22] alpo opened #537 "KeyError: 'getpubkyes'"
## The Issue

### Steps to reproduce
1. Issue command `curl 'http://localhost:5279/lbryapi' --data '{"method": "wallet_public_key", "params":{"wallet":"STRING RETURNED BY wallet_new_address"}}'`

### Expected behaviour
Something reasonable without errors.

### Actual behaviour
[code]

Daemon log:
[code]

## System Configuration

- LBRY Daemon version: [
  {
    "lbrynet_update_available": false,

[2017-03-17 14:23] ShakharDasgupta opened #538 "Unpredictable Changes in Wallet Credits"
## The Issue
Wallet Credits are changing in unpredictable ways.
### Steps to reproduce
1. Receive credits from [https://lbry.io/quickstart/credits](url)
2. Check credits using `curl 'http://localhost:5279/lbryapi' --data '{"method":"wallet_balance"}'`
3. Publish something.
4. Check credits again.
5. Download "It's a Disaster".
6. Check credits again.

### Actual behaviour
1. Had 50 credits in the

[2017-03-17 15:40] JasperWallace opened #539 "Downloads fail if no $HOME/Downloads dir"
## The Issue

Downloads fail if the ~/Downloads dir does not exist.

### Steps to reproduce
1. run lbry under a new user with an empty homedir
2. try to download something
3:

`2017-03-17 14:55:38,869 INFO     lbrynet.lbrynet_daemon.Downloader:176: Downloading lbry://what (d51692) --> /home/lbry/Downloads/LBRY100.mp4
2017-03-17 14:55:38,870 ERROR    lbrynet.lbryfile.client.EncryptedFileDownloader:

[2017-03-17 16:57] kauffj commented on #537
I lol'ed at "something reasonable without errors".

We'll get this one patched up, thanks!

[2017-03-17 17:01] kaykurokawa commented on #539
i can confirm that the Download folder does not get created by lbrynet

[2017-03-17 19:13] kaykurokawa commented on #537
I'll fix this

[2017-03-17 19:30] lyoshenka commented on #530
I fixed the second error in rc6. Can you give that a try please?

[2017-03-17 20:47] kaykurokawa commented on #537
Fixed in https://github.com/lbryio/lbry/pull/540

[2017-03-17 22:37] #537 closed

[2017-03-17 22:40] lyoshenka commented on #536
I fixed this bug in the most recent version. Please try installing again.

That said, we don't test on ARM processors, so if you encounter ARM-specific bugs, we'll do our best but we may not be able to help much.

[2017-03-17 22:40] #536 closed

[2017-03-18 00:45] l2dy commented on #530
I've confirmed that it's the firewall causing `socket.error`. Please handle this gracefully.

This error still reoccurs for a few times but it didn't crash anymore.
[code]

[2017-03-18 00:58] l2dy commented on #530
Also I get this upon exiting (Ctrl+C) with firewall off.

[code]

[2017-03-18 13:41] lyoshenka commented on #530
@l2dy what firewall settings did you have that caused the `socket.error`? it would help us reproduce the issue and make sure we have it fixed.

[2017-03-18 14:04] l2dy commented on #530
In two situations (both blocking incoming connections for lbrynet-daemon):

1. Turn on Firewall when lbrynet-daemon is running.
2. Start lbrynet-daemon when firewall is on.

Note that there's some delay until error occurs.

[2017-03-19 14:39] rasheedmoore opened #541 "Unable to fetch content"
## The Issue

https://hastebin.com/ofopihiqut.coffeescript

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

'{"method":"version"}'
[
  {
    "build": "release",
    "ip": "72.203.69.62",
    "lbrynet_update_available": false,
    "lbrynet_version": "0.9.1",
    "lbryum_version": "2.7.13"

[2017-03-19 14:51] kauffj opened #543 "lbrynet-cli prints a literal \n rather than newlines"
## The Issue
Output via lbrynet-cli is misformatted, particularly with newlines.

### Steps to reproduce
1. Run ./lbrynet-cli publish

### Expected behaviour
A nicely formatted error notifying me I am missing parameters.

### Actual behaviour
A jumbled mess of an error notifying me I am missing parameters, including "\n" being printed rather than rendered as a newline.

[2017-03-20 15:41] kaykurokawa commented on #539
Fixing this to create the Downloads folder if it doesn't exist

[2017-03-20 15:41] lyoshenka opened #544 "twisted.internet.error.ReactorNotRunning: Can't stop reactor that isn't running"
When killing the daemon using Ctrl-C (or possibly pressing Ctrl-C twice before it dies):

[code]

[2017-03-20 15:43] lyoshenka commented on #530
I broke out the ReactorNotRunning: #544

We'll have the daemon check the ports its binding so it knows they are available and there are no firewall issues.

[2017-03-20 15:53] kaykurokawa commented on #539
https://github.com/lbryio/lbry/pull/545

[2017-03-20 17:43] kaykurokawa commented on #543
fixed in https://github.com/lbryio/lbry/pull/546

[2017-03-20 17:44] #509 closed

[2017-03-20 19:29] #543 closed

[2017-03-20 21:21] lyoshenka opened #547 "Proof of Purchase"
## Stories

- As a _downloader_, I want to avoid paying multiple times for the same thing, or paying for something I do not receive.
- As a _publisher_, I want to enforce key payments by downloaders.
- As a _host_, I want to enforce the data rates that downloaders agreed to pay me.
- As _LBRY Inc._, I want to reward users who have consumed certain content.
- As an _advertiser_, I want to subsidize

[2017-03-20 22:47] mlncn commented on #436
I'm getting this also (over and over and over again, heh).  It was using as much CPU as it could grab and a substantial chunk of RAM too (and i have 16 gigs).

I had installed per the https://lbry.io/quickstart/install instructions for Linux.

Started the lbrynet-daemon and it had been running since, with not deleterious effects that i was aware of.

I had suspended the computer and changed locati

[2017-03-20 22:51] mlncn commented on #436
It was running at full resource hog mode for about an hour before i ctrl+Cd it.  There was one other set of error messages i got (showing much more occasionally than the constant of the error lyoshenka already reported) that is not reported yet, "lbrynet.dht.protocol:262: Can't send data to dht: EWOULDBLOCK".  For those who want the full flavor, here's a slice of the errors it kept spitting out:

[2017-03-20 22:57] mlncn commented on #436
Killing the daemon gave the "Can't stop reactor that isn't running" error message mentioned in #544, among other output, but i doubt any of that output is relevant to this issue.  Let me know if you want it though!

[2017-03-21 00:19] aaronfrary commented on #533
I had a very similar issue: same steps to produce, same timeout message, but a few minutes later the download restarts in the background and completes successfully. I've attached my logs for the session; hope this is helpful.

#### System Configuration
built against master at commit c1a5806
[code]
[lbrynet-daemon.log.txt](https://github.com/lbryio/lbry/files/856752/lbrynet-daemon.log.txt)

[2017-03-21 16:32] lyoshenka opened #548 "Error in jsonrpc_stream_cost_estimate()"
[code]

[2017-03-21 17:15] kaykurokawa commented on #548
This means that lbryum failed to get a response from lbryum-sever within the timeout of 30 seconds. Can happen on any command that requires lbryum-server.

Should be caught and logged properly so we can keen track of the frequency of these errors.

[2017-03-21 17:28] kaykurokawa opened #549 "Daemon multiple start tries not working properly"
DaemonControl.py has a procedure to try starting DaemonServer multiple times if it fails the initial time.

https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/DaemonControl.py#L125

However, it does not seem to work because DaemonServer is not cleaned up before it is started again, and also because DaemonServer will call sys.exit(1) when it detects that the lbry api port is being us

[2017-03-21 20:07] jackrobison commented on #535
You experimenting with lbryschema? If so, it isn't supported yet - and publish will autofill this field.

There's a few parameters you've got that are automatically filled in or have the wrong type, try

[code]

[2017-03-21 20:07] #535 closed

[2017-03-21 20:31] lyoshenka commented on #436
@jimmykiselak any idea what this is, before we dig deeper?

[2017-03-21 21:32] jackrobison commented on #533
I'll look into this, it appears to only be happening on linux.

These can be set as environmental variables - pick the values you want to override from [conf.py](https://github.com/lbryio/lbry/blob/master/lbrynet/conf.py#L141), prefix with `LBRY_`, and export with the desired values.

[2017-03-21 21:57] jackrobison commented on #538
4 - This sounds like improper queueing of payments/not handling unconfirmed claims and balances properly, will look into it

5 - This is a dht bug that happens only on linux, will look into it

[2017-03-21 21:58] jackrobison commented on #541
https://github.com/lbryio/lbry/issues/547

[2017-03-21 21:58] #541 closed

[2017-03-21 22:23] lyoshenka commented on #541
@rasheedmoore thanks for reporting this. we're closing this because we're consolidating several tickets into one. #547 has the root cause of the bug.

[2017-03-21 22:36] Boruch-Baum commented on #533
Thanks

[2017-03-22 00:22] nikooo777 opened #551 "readding key to pending claims runs infinitely"
## The Issue
Sometimes when uploading new content, the daemon fails to detect when  the name has been claimed (when the block hits i suppose).
At this point it will just keep on printing the following (example):
[code]
the example was run on block 145686 but the claim was successfully hit on block 145676 according to the slack bot.

### Steps to reproduce
1. Upload a file
2. wait for it to hit a b

[2017-03-22 01:16] nikooo777 opened #552 "Failure in publishing due to transaction rejected"
## The Issue
While publishing 10 files concurrently I stumbled twice into this possible _bug_

Basically there isn't much info about it, but the publication would fail with the following error:
[code]

as seen on the daemon
[code]

### Steps to reproduce
1. publish more file concurrently (?)
2. wait for it

### Expected behaviour
The claim should be taken and the content announced to the DHT (i gu

[2017-03-22 01:39] nikooo777 opened #553 "addContact unhandled error"
## The Issue
If you leave the daemon running for a while and you have published content you'll likely incur in this exception
[code]

The log is flooded with this. Jack knows about the issue but I'm putting it here for reference
### Steps to reproduce
While I don't have a reliable way of reproducing this, following the 2 points here **could** produce it
1. possibly publish content
2. wait a while

[2017-03-22 01:41] jimmykiselak commented on #436
@lyoshenka nope, haven't seen that before.

[2017-03-22 01:46] nikooo777 commented on #553
pardon, this seems to be a duplicate of #436
feel free to close if so

[2017-03-22 14:23] lyoshenka commented on #553
Yep.

[2017-03-22 14:23] #553 closed

[2017-03-22 16:49] kaykurokawa commented on #548
fixed in https://github.com/lbryio/lbryum/pull/82

[2017-03-22 18:02] kaykurokawa commented on #549
fixed in https://github.com/lbryio/lbry/pull/554

[2017-03-22 18:49] kaykurokawa opened #555 "toggle_lbry_file_running() doesn't seed files / API command file_seed should be renamed"
There seems to be some assumption in the Daemon that EncryptedFileManager function toggle_lbry_file_running() will seed files, but it actually doesn't seem to do that. https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/Daemon.py#L1565

toggle_lbry_file_running() calls

cryptstream/client/CryptStreamDownloader.py , toggle_running() which calls start(), and _start()
	- _start will cal

[2017-03-22 18:56] kaykurokawa opened #556 "Daemon _check_pending_claims() is broken/unnecessary"
The Daemon keeps track of pending claims, so that when a claim is confirmed, it can start seeding the file.
https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/Daemon.py#L390

This seems unnecessary, since the state of a claim is irrelevant to whether a file should be seeded or not. Futhermore, file seeding appears broken https://github.com/lbryio/lbry/issues/555

[2017-03-22 22:51] nikooo777 commented on #552
while uploading 35 videos tonight 3 of them failed for this same reason. I did try to re-run the script for these 3 videos and they eventually worked just fine.

Since I did not change any parameter I would say it's something that breaks in the daemon.

[2017-03-23 07:32] academikuser opened #558 "osx sierra install from source -- Twisted dependency"
pip install --editable .

returns:

     No matching distribution found for Twisted (from lbrynet==0.9.2rc1)

[2017-03-23 09:43] alicebob opened #559 "nsfw=false is added as nsfw=true"
## The Issue

### Steps to reproduce
1. Add a file with:
`$ ./lbrynet-cli publish name="rfc2616" title="RFC2616" description="Hypertext Transfer Protocol -- HTTP/1.1" author="The Internet Society" language="english" file_path=./rfc2616.txt nsfw=false bid=1 license=unknown`

### Expected behaviour
It should not be marked as 'nsfw'

### Actual behaviour
In `claim_list_mine` it now shows:
[code]
(not

[2017-03-23 15:10] #539 closed

[2017-03-23 15:11] #549 closed

[2017-03-23 15:18] jackrobison commented on #558
try `pip install -r requirements.txt` first

[2017-03-23 15:46] kaykurokawa commented on #559
Can confirm that boolean is not processed properly here:
https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/DaemonCLI.py#L96

Not sure we need that guess_type function, should just use json.loads( ) I think?

[2017-03-23 17:50] kauffj commented on #558
@jackrobison can you update INSTALL.md accordingly?

[2017-03-23 21:41] lyoshenka commented on #559
json.loads() can deal with things like `0.9.1`. we could do

[code]

but then we run the risk of malformed json just being treated as a string

[2017-03-23 21:44] lyoshenka commented on #559
I fixed it in https://github.com/lbryio/lbry/commit/8fa2524e540554662ee10935a2b2b225f656eed3

[2017-03-23 21:44] #559 closed

[2017-03-23 21:45] lyoshenka commented on #559
But I'm open to using `json.loads()` somehow if you have a suggestion. I'd prefer json.loads to guess_type

[2017-03-23 22:45] alicebob commented on #559
Thanks!

[2017-03-23 22:45] kaykurokawa commented on #556
fixed in https://github.com/lbryio/lbry/issues/561

[2017-03-23 22:45] #556 closed

[2017-03-23 22:48] kaykurokawa commented on #555
API command file_seed uses toggle_lbry_file_running(), which starts or stops a download.

Thus, file_seed should be renamed to something like file_set_start or something

[2017-03-23 23:01] kauffj commented on #559
Thank you for a textbook report @alicebob! If you want a tip, DM kauffj on our Slack.

[2017-03-24 00:41] lyoshenka opened #563 "Repeated connection error in logs"
The following error is being repeated over and over in the logs. I don't know how it got into this state, but it should stop trying after some time (or use an exponential backoff?)

[code]

[2017-03-24 15:36] kaykurokawa commented on #563
what claim does ikrfUcUdJ3E.mp4 belong to?

[2017-03-24 16:31] kaykurokawa commented on #551
fixed in https://github.com/lbryio/lbry/pull/561

[2017-03-24 16:31] #551 closed

[2017-03-24 16:32] kaykurokawa commented on #443
Closing as get_lbry_files has been refactored and deprecated

[2017-03-24 16:32] #443 closed

[2017-03-24 18:32] lyoshenka commented on #563
`ucberkeley-ikrfUcUdJ3E`

[2017-03-25 02:05] spiritbrother opened #566 "publish failed and get failed"
when i tryna publish with this code
`curl 'http://localhost:5279/lbryapi' --data '{"method":"publish", "params": {
  "name": "electricsheep",
  "file_path": "\\home\kauffj\\Desktop\\electric-sheep.mp4",
  "bid": 1,
  "metadata":  {
    "description": "Some interesting content",
    "title": "My interesting content",
    "author": "Video shot by me@example.com",
    "language": "en",
    "license":

[2017-03-25 23:42] #566 closed

[2017-03-26 06:02] benyomin commented on #558
pip install -r requirements.txt
Collecting git+https://github.com/lbryio/lbryum.git (from -r requirements.txt (line 13))
  Cloning https://github.com/lbryio/lbryum.git to /private/var/folders/wb/cfz8yrnd3gs8570lx2l291sh0000gn/T/pip-DU6iEQ-build
Collecting Twisted==16.6.0 (from -r requirements.txt (line 1))
  Downloading Twisted-16.6.0.tar.bz2 (3.0MB)
    100% |████████████████████████████████| 3.0

[2017-03-26 10:30] lestravo opened #567 "500 error https://lbry.io/quickstart/github/callback?code="
## 500 error https://lbry.io/quickstart/github/callback?code=

500 Error after login with github

## Screenshots

![image](https://cloud.githubusercontent.com/assets/10636132/24330517/bc5f2e50-11ed-11e7-8953-6e0cb63a27ac.png)
![image](https://cloud.githubusercontent.com/assets/10636132/24330563/a58ae830-11ee-11e7-982e-72d44c62b12a.png)

[2017-03-26 12:45] lyoshenka commented on #567
@lestravo thanks for reporting the issue. I believe I fixed it. Please give it another try, and reopen if its still happening.

[2017-03-26 12:45] #567 closed

[2017-03-27 19:25] kaykurokawa commented on #555
fixed in https://github.com/lbryio/lbry/issues/556

[2017-03-27 19:25] #555 closed

[2017-03-28 15:17] kaykurokawa commented on #527
test_last_blob_retrieval also fails occasionally , like for related reason. Error below:

Traceback (most recent call last):

  File "/home/travis/build/lbryio/lbry/venv/local/lib/python2.7/site-packages/twisted/enterprise/adbapi.py", line 474, in _runInteraction

    conn.rollback()

  File "/home/travis/build/lbryio/lbry/venv/local/lib/python2.7/site-packages/twisted/enterprise/adbapi.py", line

[2017-03-28 18:30] kaykurokawa commented on #490
i think this has been fixed

[2017-03-28 18:30] #490 closed

[2017-03-29 02:10] smalltock commented on #558
I can confirm this ^^^

Here's my log.  You can view it with fancy colors (more readable) with `curl https://paste.pound-python.org/raw/akS8TdfLERZMZujvpibo/`, but also here's the plain text:

    smalltock@gentock > ~ > cd ~/prog/git

    smalltock@gentock > ~/prog/git > git clone --depth 1 https://github.com/lbryio/lbry
    Cloning into 'lbry'...
    remote: Counting objects: 250, done.
    remo

[2017-03-29 02:39] idle-zealot opened #574 "Downloads are not XDG_DOWNLOAD_DIR compliant"
## The Issue

### Steps to reproduce
1. Change the default download location on your system by setting the environment variable "XDG_DOWNLOAD_DIR" to something other than "~/Downloads"
2. Download any file through lbry, for example, by running `curl 'http://localhost:5279/lbryapi' --data '{"method":"get","params":{"name":"what"} }'`

### Expected behaviour
The file should be downloaded to the dire

[2017-03-29 12:29] lyoshenka opened #575 "I continue to check the "Help make LBRY better by contributing diagnostic data about my usage." button but it becomes unchecked ."

[2017-03-29 13:34] flungo commented on #574
Should be simple enough to pick up on the envuronment variable, just need to change https://github.com/lbryio/lbry/blob/master/lbrynet/conf.py#L60 to:

[code]

**However**, this does take into consideration the `~/.config/user-dirs.dirs` which should also be respected. Additionally, consideration should be taken if `XDG_DOWNLOAD_DIR` is not an absolute path.

I think doing this properly, would req

[2017-03-29 16:50] hdost commented on #59
Is this still a bug?

[2017-03-29 17:12] lyoshenka commented on #574
Thanks for the detailed report and extra info. I didn't even know `XDG_DOWNLOAD_DIR` was a thing, and I've been using linux for a long time. We'll get this fixed in the next few weeks.

[2017-03-29 17:26] kaykurokawa commented on #447
https://github.com/lbryio/lbry/pull/565 fixes 3

[2017-03-29 18:59] kauffj commented on #574
If you're in our Slack, do DM me (@kauffj) or Grin (@grin). We always tip
for great contributions like this!

On Wed, Mar 29, 2017 at 1:12 PM, Alex Grin <notifications@github.com> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-03-29 20:02] kaykurokawa commented on #552
basically due to known race condition in wallet https://github.com/lbryio/lbry/issues/341
requires https://github.com/lbryio/lbry/issues/506 to be fixed

[2017-03-30 06:57] techtonik opened #577 "make cli respond to help if deamon is not running"
With LBRY 0.9.1 running client is not very --help ful.
[code]

[2017-03-30 07:02] techtonik opened #578 "Move build code for lbrynet-daemon from lbry-app to this repo"
I see that it is Python project, but I don't see the code that compiles Python scripts into .exe Where is it?

[2017-03-30 08:23] alx commented on #533
Same warning about dht here on linux :  `WARNING  lbrynet.dht.protocol:262: Can't send data to dht: EWOULDBLOCK`

[code]

[2017-03-30 14:36] lyoshenka commented on #577
I think this is a legit request. The issue is that lbrynet-cli is a very thin wrapper around curl, and has almost no logic of its own. But we can add at least have it respond to `--version` with something useful.

[2017-03-30 15:15] lyoshenka commented on #578
This is in the lbry-app repo. Right now the exe is built at the same time as the lbry-app release. We should move that code into this repo.

See https://github.com/lbryio/lbry-app/blob/master/daemon/build.ps1

[2017-03-31 09:49] techtonik commented on #578
Maybe close the issue when the code is moved here?

[2017-04-01 05:36] tikolai opened #584 "Linux Prerequisite Command Problem"
## The Issue

Linux Prerequisites guide produces and error when installing dependencies with "python-pip" command.

### Steps to reproduce
1. open Linux terminal
2. run command "sudo apt-get install libgmp3-dev build-essential python2.7 python2.7-dev "
3.run command  "python-pip git python-virtualenv libssl-dev libffi-dev"

### Expected behaviour
Each command should download, extract, and install

[2017-04-01 09:19] smalltock commented on #558
I should clarify, I'm on Gentoo linux, not on OSX Sierra.

[2017-04-02 08:17] Getron opened #585 "A Javascript error occured in the main process"
## The Issue

### Steps to reproduce
1. just start the App in KDE Manjaro rolling release 17
2. then close the app
3. the error apear after 2-3 seconds on screen

### Expected behaviour
App should close normally, without any error apearint

### Actual behaviour
After closing the App in Manjaro KDE 17.0 Stable Rolling release, this error apear:

A Javascript error occured in the main process

Uncau

[2017-04-02 13:50] kauffj commented on #585
Thanks for reporting! This sounds like it is an issue with the app, rather than the daemon itself, so I moved it here:

https://github.com/lbryio/lbry-app/issues/30

I'm marking this one as closed. Thanks!

[2017-04-02 13:50] #585 closed

[2017-04-04 19:44] lyoshenka opened #588 "Error resolving name that's an integer (thanks, dynamic typing)"
Run this: `lbrynet-cli resolve_name name=1`

Get this error:

[code]

[2017-04-05 22:23] lyoshenka commented on #547
Quick update - we're working on a solution for proof-of-purchase. So far we've found that there are several simple but wrong answers here. We have some ideas for a proper fix, but that will take us some time. We'll update this issues as we make progress.

[2017-04-05 22:29] lyoshenka opened #589 "PKG Installer for mac"
Suggestion from Jacob: convert app into pkg installer using this:

`sudo pkgbuild --install-location /Applications --component /Volumes/LBRY\ 0.9.1/LBRY.app LBRY.pkg`

[2017-04-05 22:33] lyoshenka commented on #584
@tikolai i think you misunderstood the instructions. that was all supposed to be part of one `apt-get install` command. It should look like this:

[code]

I'll fix the instructions to put that all on one line, so it's clearer. Thanks for taking the time to report this.

[2017-04-05 22:34] lyoshenka commented on #584
Fixed in https://github.com/lbryio/lbry/commit/7a798616d61cca54d20c0570cb8d7489654e0492

[2017-04-05 22:34] #584 closed

[2017-04-06 00:25] kaykurokawa opened #590 "Inefficiencies in publisher"
https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/Publisher.py#L45

load_file_attributes() calls wallet.get_claimid() which is a lbryum sever call , but it could just fill in claim id from the output of make_claim() function

[2017-04-06 13:15] lyoshenka commented on #544
@kaykurokawa ill tackle this one

[2017-04-06 13:17] lyoshenka opened #591 "In franklin, running check_name_availability.php a second time causes timeouts for every name"
1. Run check_name_availability.php. It should work fine the first time (though it takes hours)
2. Run check_name_availability.php again. Every name times out with
[code]

[2017-04-06 13:18] lyoshenka commented on #591
I suspect DHT issues

[2017-04-06 17:25] kaykurokawa commented on #590
fixed in https://github.com/lbryio/lbry/pull/592

[2017-04-06 20:09] #436 closed

[2017-04-08 15:15] mortie opened #595 "Maybe have the daemon print status a bit more frequently when loading the wallet?"
Hi, lbry seems great. I'm currently going through the quickstart guide on https://lbry.io/quickstart, and figured I'd provide some feedback.

I downloaded the daemon, and started it, and it printed some information. It then printed this line:

    2017-04-08 17:04:21,214 INFO     lbrynet.core.Wallet:930: Local Height: 52895, remote height: 155129, behind: 102234

and then nothing, for multiple min

[2017-04-08 15:28] mortie opened #596 "Qucikstart: Need funds to upload content to get funds?"
sorry, I misunderstood something. There doesn't seem to be a way to delete issues.

[2017-04-08 15:32] #596 closed

[2017-04-08 16:57] finer9 commented on #596
Also we'd be happy to send you some LBC to test with ... just DM finer9 in slack.lbry.io

[2017-04-08 21:40] #590 closed

[2017-04-08 22:52] kaykurokawa opened #597 "list of issues with Channels update"
list of issues introduced with channles update found by lbry in a box integration testing. All tested with current master as of 4/8/17 6:30 pm (below commits are the last commit on the repo)

lbry https://github.com/lbryio/lbry/commit/c0ccfe204640ed362b2e1501fa621ecea73bcc64
lbryum https://github.com/lbryio/lbryum/commit/5c423c99ea696fe366d4dbe18d0c1b7d1b3f9a8c
lbryum-server https://github.com/lbr

[2017-04-09 10:37] dindinw opened #598 "lbrynet-cli wallet_public_key not work"
## The Issue
 lbrynet-cli wallet_public_key not work
### Steps to reproduce
[code]
but curl is ok with a correct json payload
[code]

### Expected behaviour

### Actual behaviour

## System Configuration

  "lbrynet_version": "0.9.2rc9",
  "lbryum_version": "2.7.13",
  "os_release": "4.8.0-46-generic",
  "os_system": "Linux",
  "platform": "Linux-4.8.0-46-generic-x86_64-with-Ubuntu-16.04-xenial",

[2017-04-09 11:11] dindinw opened #599 "https://lbry.io/faq/how-do-i-check-my-lbc-address out-of-date"
[code]

[2017-04-09 14:50] dindinw commented on #598
The api actually works but the help/document need to be improved to be easily understood the correct input is
[code]

[2017-04-09 14:50] #598 closed

[2017-04-09 15:00] criptonauta opened #600 "Install error"
## The Issue
Error during lbrynet installation
### Steps to reproduce
1. Downloaded zip
2. Run daemon
3. Error

### Expected behaviour
Tell us what should happen
Conclude installation
### Actual behaviour
Tell us what happens instead
2017-04-09 10:44:33,571 INFO     lbrynet.lbrynet_daemon.Daemon:300: Started lbrynet-daemon
2017-04-09 10:44:33,572 INFO     lbrynet.lbrynet_daemon.Daemon:301: 0 blobs

[2017-04-09 21:25] jackrobison commented on #597
Fixes 2-6: https://github.com/lbryio/lbry/pull/601

[2017-04-10 16:07] lyoshenka commented on #595
@mortie thanks for the feedback. it's supposed to print the status more frequently, so this does sound like a bug. what OS are you on, and what version of the app are you using?

[2017-04-10 16:20] lyoshenka commented on #599
Fixed, thanks.

[2017-04-10 16:20] #599 closed

[2017-04-10 16:54] kaykurokawa commented on #597
2.  is not fixed , this is the raised exception

Traceback (most recent call last):
File "/app/lib/python2.7/site-packages/twisted/internet/defer.py", line 1299, in _inlineCallbacks
esult = g.send(result)
File "/app/lib/python2.7/site-packages/lbrynet/core/Wallet.py", line 496, in _handle_claim_result
raise Exception(results['error'])
Exception: Proof was invalid

3. is fixed

4. is not fixed
{u'c

[2017-04-11 17:37] kaykurokawa commented on #597
Reran tests from master as of 4/2017 1:37

1. is fixed via https://github.com/lbryio/lbryum/pull/91

2. is not fixed in some cases, seems to not be consistent though. Sometimes it will return None other times will throw

Traceback (most recent call last):
  File "/app/lib/python2.7/site-packages/twisted/internet/defer.py", line 1299, in _inlineCallbacks
    result = g.send(result)
  File "/app/lib

[2017-04-11 19:34] kaykurokawa commented on #597
It seems #2 is related to the handling of proof when the claimtrie is in a fresh state (no claims in it) so does not seem to be a major issue

[2017-04-12 18:05] jackrobison commented on #597
@kaykurokawa

`claim_show` returning false when nothing is found: https://github.com/lbryio/lbry/commit/31b5026570398daf2e24336af96837b6cc8853ca

`resolve` doc update: https://github.com/lbryio/lbry/commit/10dcc429f3008d096fc9ecccff2336d6d2d38759

[2017-04-12 18:05] #597 closed

[2017-04-14 16:29] lyoshenka opened #609 "BaseException: expected string or buffer"
While running Franklin on the 40 EA homepage names, got this error on `lbry://@CryptoverseLBRY:1/cryptoverse-246`

[code]

[2017-04-14 16:33] lyoshenka commented on #578
@techtonik this is mostly done in https://github.com/lbryio/lbry/tree/build . will merge it in soon.

[2017-04-14 17:14] lyoshenka commented on #480
pretty sure this is fixed

[2017-04-14 17:14] #480 closed

[2017-04-14 17:15] #479 closed

[2017-04-14 17:15] lyoshenka commented on #418
Fixed

[2017-04-14 17:15] #418 closed

[2017-04-14 17:16] lyoshenka commented on #414
Does this still happen in v0.10.0?

[2017-04-14 17:16] lyoshenka commented on #389
Does this still happen in v0.10.0?

[2017-04-14 17:17] lyoshenka commented on #344
Does this still happen in v0.10.0?

[2017-04-14 17:20] lyoshenka opened #610 "Franklin error: 'NoneType' object has no attribute '__getitem__'"
Hard-to-reproduce error from franklin. This doesn't happen when you just get the one name, but it happens when you get a bunch of names in a row.

[code]

Daemon log:

[code]

[2017-04-14 20:04] kaykurokawa commented on #341
first part is fixed, second part is a new issue

[2017-04-14 20:04] #341 closed

[2017-04-14 20:04] kaykurokawa opened #611 "Balance Issues"
We have an issue in how wallet balance is updated. We use point reservation to reserve lbry credits that need to be sent, and schedule all the payments at once. Here is how balance is updated:

a) payment is scheduled, point reservation is updated
b) payment is sent to lbryum, point reservation is cancelled, lbryum does not update its balance until it receives the transaction from lbryum server. A

[2017-04-14 22:51] Snarkly opened #612 "Publishing error"
I tried to publish a video of whales but I get an error message. I added all the information about the video and when I hit publish I get this error in this screenshot I took for you. Also I clicked on the OK button but nothing happens when you click on OK.  ![lbry5](https://cloud.githubusercontent.com/assets/8492776/25058006/537de754-2143-11e7-8135-363d77481567.jpg)

[2017-04-15 04:40] criptonauta commented on #600
![image](https://cloud.githubusercontent.com/assets/6478038/25060804/29be5288-2174-11e7-9177-5766ed095929.png)
 Still no success

[2017-04-15 22:51] eyalroz opened #613 "Build fails during pip install phase"
I just cloned and tried to build lbry on my Linux Mint 18.1 (up-to-date), as per the instructions in your README.md

## The Issue

The build fails during the `pip install --editable .`  phase.

### Steps to reproduce
1. clone revision e8bccec71c7424bf06d057904e4722d2d734fa3f
2. build as per the instructions in README.md
3. watch it fail

### Expected behaviour
The `pip install` should conclude suc

[2017-04-17 12:57] kauffj commented on #612
Hi @Snarkly! This issue is simply because you do not have any credits in your wallet.

However, definitely poor user experience to come up as such. This is fixed in an upcoming release.

[2017-04-17 12:57] #612 closed

[2017-04-17 13:44] lyoshenka commented on #613
@eyalroz what version of `python` and `pip` are you using?

[2017-04-17 17:09] kaykurokawa commented on #609
I can't reproduce this

[2017-04-17 18:10] kaykurokawa commented on #600
I think windows command line does not handle single quotes like they are in bash , I think replacing them with double quotes might work?

[2017-04-17 20:17] eyalroz commented on #613
Oh, sorry. I'm using Linux Mint 18.1, with:
[code]

[2017-04-17 21:29] kaykurokawa commented on #609
This is a problem with @epicentertv:1/epicenter-172 it looks like

[2017-04-17 21:53] lyoshenka commented on #613
Weird. From my quick googling, it looks like some kind of python 2/3 version mismatch. Take a look at these:

https://github.com/skoczen/will/issues/148
https://teamtreehouse.com/community/why-cant-i-install-wsgiref-in-python-virtual-environment

Any chance that applies to you somehow?

[2017-04-18 01:00] kaykurokawa commented on #609
fixed in lbryum server https://github.com/lbryio/lbryum-server/pull/21

[2017-04-18 16:56] kaykurokawa commented on #610
happens due to non decodeable claims when calling stream_cost_estimate. fixed in https://github.com/lbryio/lbry/pull/614

[2017-04-18 18:26] jackrobison commented on #609
Merged https://github.com/lbryio/lbryum-server/pull/21

[2017-04-18 18:26] #609 closed

[2017-04-19 19:59] PetSte opened #617 "Content + search settings keep resetting"
## The Issue

Everytime I close and restart LBRY the boxes on 'content'  (NSFW) and 'search' need to be manually checked again in 'settings'.

### Steps to reproduce
1. Check the boxes
2. Close LBRY
3. Open LBRY and see them unchecked again

### Expected behaviour
Tell us what should happen

LBRY should remember my preferences.

### Actual behaviour
Tell us what happens instead

It doesn't remembe

[2017-04-19 20:09] kauffj commented on #617
@alexliebowitz is going to check this out, thanks for reporting!

[2017-04-20 01:53] #610 closed

[2017-04-23 11:33] eyalroz commented on #613
I have no idea. I'm not much of a pythonista... and actually, now I'm getting different errors. I'm closing this for now.

[2017-04-23 11:33] #613 closed

[2017-04-25 14:14] scarint opened #622 "Daemon uses large amounts of bandwidth"
## The Issue

### Steps to reproduce
1. Launch LBRY client
2.
3.

### Expected behaviour
Catch up with blockchain, load different screens in client; using bandwidth only when loading

### Actual behaviour
Catches up with blockchain, constant use of 1.5mbps upload (maximum of my connection) for over a day.

Resource monitor shows lbry-daemon using the majority of the bandwidth. Downloads also incre

[2017-04-25 15:40] lyoshenka opened #623 "Calling `get` on a channel returns the wrong error"
## The Issue

Calling `get` on a channel returns a "Failed to resolve" error, when it should instead say that channels are not `get`able.

## Steps to Reproduce

1. Run the daemon
2. `lbrynet-cli get @lbry`

[2017-04-25 15:48] jackrobison commented on #622
I'm working on this, it's happening in the DHT and blob announcer.

[2017-04-25 15:57] kaykurokawa commented on #623
What should it do?
The behavior of get is to throw an exception if the uri does not exist.
We could throw a more informative exception here , and the docstring should mention what happens on 'no-gettable' uri's.

[2017-04-25 16:09] scarint commented on #622
If there's anything I can do to get you more data on it, let me know. I'd be happy to help.

[2017-04-25 17:02] kaykurokawa commented on #622
Have you downloaded or published any files?
If so, the daemon is serving them to other clients over the network which will use your upload bandwidth.

[2017-04-25 17:17] scarint commented on #622
Yes, I have published and downloaded.  That makes sense, but I never expected LBRY to be that bandwidth intensive yet...is there a way to limit the upload speed?  I can't check because I can only connect remotely at the moment, and LBRY uses all my upload...

[2017-04-25 17:49] lyoshenka opened #624 "BaseException: local variable 'claim_id' referenced before assignment"
## Franklin

[code]

## Daemon
[code]

## Version

[code]

[2017-04-25 18:11] kauffj commented on #622
There is an ability to limit the rates on the Settings page of the app.

On Tue, Apr 25, 2017 at 1:17 PM, scarint <notifications@github.com> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-04-25 18:12] kauffj commented on #622
(If you're using the daemon directly, I believe the command is settings_set)

On Tue, Apr 25, 2017 at 2:11 PM, Jeremy Kauffman <jeremy@lbry.io> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-04-25 18:23] kauffj commented on #623
If the daemon uses exceptions as the proper way of responding to API calls, then maybe there should be two classes and/or a way of signalling the difference between two distinct cases:

- Exceptions that should be bundled and passed to the user as an error as a proper response for this call
- Exceptions that indicate unexpected behavior, assertions/checks that should never fail, etc.

[2017-04-25 18:54] kaykurokawa commented on #624
I see the problem , its lbryum server related will have fix soon

[2017-04-26 02:36] scarint commented on #622
Changing the upload setting to 0.5Mb/s or 0.25Mb/s appears to have no effect; LBRY still pushes bandwidth for all its worth.

I can throw up some QOS/prioritization on my firewall; is there a set of ports I could limit?

[2017-04-26 03:01] kauffj commented on #622
@jackrobison knows about this and is actively working on it. We'll have a fix out soon.

[2017-04-26 03:01] kauffj commented on #622
@jackrobison knows about this and is actively working on it. We'll have a fix out soon.

[2017-04-26 03:11] scarint commented on #622
Sounds good; I'll keep running it when I can and try to break it some more.

[2017-04-26 16:51] lyoshenka opened #625 "Block catchup shows negative blocks behind and 0 remote height"
Sorry, don't know how to reproduce this. Happened on `lbry` master (cc14ac4a46e3c17b380b8740c1a0553f50bf3bfa)

[code]

[2017-04-26 17:43] lyoshenka opened #626 "Exception when stopping daemon with Ctrl-C"
### Steps to Reproduce:

- start daemon
- wait for the message `Using lbryum wallet`
- press `Ctrl-C`

### Sample Error Message

[code]

[2017-04-26 17:43] lyoshenka commented on #626
I'm guessing this happens if you kill the daemon at just the wrong moment.

[2017-04-26 17:51] lyoshenka commented on #626
More info: happens if you press ctrl+C right after this message: `lbrynet.lbrynet_daemon.Daemon:560: Using lbryum wallet`

[2017-04-26 18:01] kaykurokawa commented on #624
fixed in https://github.com/lbryio/lbryum-server/pull/25

[2017-04-26 18:06] #548 closed

[2017-04-28 03:26] gapracoolz opened #628 "Claimed Reward But There's No Transaction into balance"
I have claim reward but no transaction to my balance
![dont get reward](https://cloud.githubusercontent.com/assets/16890609/25513121/09737baa-2bfd-11e7-8618-7b9e1acd4053.png)
![dont get reward 1](https://cloud.githubusercontent.com/assets/16890609/25513134/19e47c1e-2bfd-11e7-810f-8787eb4ac978.png)
![console error](https://cloud.githubusercontent.com/assets/16890609/25513143/23d822ac-2bfd-11e7-8193

[2017-04-28 03:36] finer9 commented on #628
version 10.0rc6
Windows 7 64-bit

I think the http 400 bad request is significant here?

[2017-04-28 03:36] finer9 commented on #628
Slack user @gapracoolz

[2017-04-28 22:39] lyoshenka commented on #628
Moved to https://github.com/lbryio/lbry-app/issues/102

[2017-04-28 22:39] #628 closed

[2017-05-01 20:44] kaykurokawa opened #630 "List of API Issues/ Suggestion for changes"
Here we will list/discuss API issues, and suggestions for changes for the lbrynet daemon.

1. Lbry credit amounts should be represented as decimal encoded strings instead of floats to avoid round off error.

2. Better formatting of "resolve" function: If we're going to have `resolve` return different signatures based on claim type, we probably ought to have a top-level field indicating the claim t

[2017-05-02 21:00] kauffj commented on #630
String and not Decimal?

https://docs.python.org/2/library/decimal.html

[2017-05-03 04:02] gapracoolz opened #632 "LBRY daemon in Avast Premium is malware.gen"
I get warning from my avast premium that lbry-daemon is malware.gen...is this false warning or what??...
lbry version 10.0.rc6
windows 7 32 bit
avast premier

[2017-05-03 16:44] kauffj commented on #632
We are properly signing the binary currently, right?

On Wed, May 3, 2017 at 10:09 AM, Jack Robison <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-05-04 04:26] kaykurokawa commented on #630
yes meant to say "string encoded decimal, using Decimal class" not "decimal encoded strings"

[2017-05-04 15:12] sprig commented on #589
Please do not convert to a pkg installer! Those are disgusting and terrible!

[2017-05-04 15:21] sprig opened #633 "Incorrect balance shown, and transactions do not succeed despite report"
## The Issue

After sending some funds the balance displayed is funky

### Steps to reproduce
[code]

### Expected behaviour
1. I would expect the transaction to report failure or to succeed
2. I would expect the wallet to display correct amount at all times.

## System Configuration

On archlinux:
[code]

[2017-05-04 22:14] lyoshenka commented on #589
Thanks for the feedback. Do you have specific reasons for why dmg is better than pkg?

[2017-05-05 00:46] nikooo777 opened #634 "Exception when listing channels after claiming one"
## The Issue
If a channel has just been claimed and the command channel_list_mine is called, the daemon throws an exception
### Steps to reproduce
1. ./lbrynet-cli channel_new channel_name=@YTTest amount=1
2. issue `./lbrynet-cli channel_list_mine` multiple times

### Expected behaviour
empty array until the channel is claimed [or queued (?)] and then an array of channels

### Actual behaviour
Emp

[2017-05-05 18:37] sprig commented on #589
A dmg is standalone. You mount it, copy the .app and run it. A pkg typically requests superuser permissions and you do not know what it does ahead of time. It is always more suspicious and unless there are specific reasons why I must use the software or understand why it needs the extra permissions, I would be hesitant to grant them.

[2017-05-05 18:38] sprig commented on #589
Plus, the vast majority of software for OSX is installable via dmg rather than pkg.

[2017-05-07 05:22] dindinw opened #635 "ERROR: 'Manager' object has no attribute ...."
## The Issue
`Manager' object has no attribute 'send_credits_sent'` error, when I try to send some LBC to my address.

### Steps to reproduce
[code]
## System Configuration

- LBRY Daemon version:
[code]
- LBRY CLI:
[code]

[2017-05-08 13:26] lyoshenka commented on #589
Those are good points. @jackrobison thoughts? (he's our resident mac expert)

[2017-05-11 16:55] finer9 opened #637 "Pressing play sometimes hangs"
## The Issue
Tried to play a random video. Sits on the "awkward" loading screen indefinitely
### Steps to reproduce
1. Pick a random video you dont already have
2. Click play
3.  Possibly be on Windows

### Expected behaviour
15-20 sec pause followed by streaming

### Actual behaviour
load screen hangs indefinitely yet file is downloading in Downloads
If you return to the specific file page after

[2017-05-12 10:19] sleepdefic1t commented on #589
@sprig does have a good point.

What may be a bit more "Mac-Friendly" would be to have a daemon app.
It could run in the background via a status bar application, even launch the GUI from there.

[2017-05-12 10:29] sleepdefic1t commented on #558
openssl installed for you guys?

[2017-05-12 15:22] kaykurokawa opened #638 "Catch all exception in API call resolve needs to be fixed"
Catching all exceptions here is not good.

https://github.com/lbryio/lbry/blob/master/lbrynet/lbrynet_daemon/Daemon.py#L1489

[2017-05-12 17:11] finer9 opened #639 "Update hangs on Windows"
## The Issue

### Steps to reproduce
1. Click Update on the suggested update pop
2.
3.

### Expected behaviour
Downloading to 100% followed by install and restart of app

### Actual behaviour
Sits at 'Downloading  update 100%' as per screenshot

## System Configuration

The version info is not appearing on my app in Help or Settings

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation I

[2017-05-12 18:28] raycar5 opened #640 "LBC not withdrown by calling get on the daemon"
## The Issue
Money not withdrawn from account when getting content from daemon

### Steps to reproduce
1. Call get on the daemon with an uri as the argument
2. File gets downloaded
3. Money is not withdrawn from the account

### Expected behaviour
Money is transferred to the content creator when you download the content

### Actual behaviour
Money is not transferred to the content creator when you

[2017-05-13 15:55] academikuser commented on #558
using the same version of the source

    $ which openssl
    /usr/local/bin/openssl
~/Downloads/lbrynet/lbry $ pip install -r requirements.txt
Collecting git+https://github.com/lbryio/lbryum.git (from -r requirements.txt (line 13))
  Cloning https://github.com/lbryio/lbryum.git to /private/var/folders/wb/cfz8yrnd3gs8570lx2l291sh0000gn/T/pip-kJk3h5-build
Collecting Twisted==16.6.0 (from -r require

[2017-05-13 15:55] #558 closed

[2017-05-15 02:02] shuryukan opened #642 ""failed to get version from git" daemon first run"
![image](https://cloud.githubusercontent.com/assets/9072357/26040213/102813ea-391b-11e7-8c39-21ba59778714.png)

Just want to know what is happening, since I cannot enter commands after this displays. This is after running daemon for the first time to set up the API. The next thing I need to do is verify that the daemon is running correctly, but I can't type anything. Is it just a matter of waiting

[2017-05-17 13:43] lyoshenka commented on #642
@shuryukan what version of the daemon are you using? run `lbrynet-daemon.exe --version` and paste the results here

[2017-05-17 19:21] shuryukan commented on #642
![image](https://cloud.githubusercontent.com/assets/9072357/26171890/709c4442-3b3e-11e7-8643-8ca86709d9f3.png)

[2017-05-18 21:55] lyoshenka commented on #642
Hmm. I thought I fixed this issue before v0.10.2, but maybe it was just after...

Can you try [the latest version](https://github.com/lbryio/lbry/releases/tag/v0.10.3rc3) and let me know if you're still getting that error?

Either way, this warning should not impact the usability of the daemon. But I appreciate that you took the time to open this issue :smile:

[2017-05-18 21:55] #642 closed

[2017-05-18 21:56] lyoshenka commented on #642
Please reopen if you're still seeing that message.

[2017-05-18 22:22] shuryukan commented on #642
Still seeing this with nothing happening
![image](https://cloud.githubusercontent.com/assets/9072357/26225747/ad49271a-3c20-11e7-9c63-dc3da3081ea4.png)

and here's the version log
![image](https://cloud.githubusercontent.com/assets/9072357/26225769/ca3853dc-3c20-11e7-8e3a-c786a84f9e35.png)

[2017-05-21 14:28] kauffj opened #644 "claim_show can return incorrect claim if name and outpoint are provided"
(**Only number 1 exists, number 2 is fixed.**)

A few issues with `claim_show`:

1) `claim_show` requires name, which it then ignores if txid/nout or claim_id is provided. Example:

`./lbrynet-cli claim_show name=foo txid=e43ff68bb91df13df57b87e6a43c70f5c584e88feacf75789308b9c02ad2657b nout=0`

This returns a claim for name "chillin" (which is correct for the outpoint), but should not be returned

[2017-05-22 08:18] simonstead opened #645 "`get` api method doesn't download to correct location."
## The Issue
Issue downloading files to configurable location

### Steps to reproduce
1. Perform one of the following:
`$ curl 'http://localhost:5279/lbryapi' --data '{"method":"get","params":{"uri":"princess-bubblegum", "download_directory":"~/Downloads/LBRY_TEST"}}'`
`$ curl 'http://localhost:5279/lbryapi' --data '{"method":"get","params":{"uri":"princess-bubblegum", "download_directory":"/Users

[2017-05-23 14:48] lyoshenka opened #646 "Error publishing empty file"
## Request

[code]

## Error

[code]

[2017-05-23 17:46] kaykurokawa commented on #644
https://github.com/lbryio/lbry/pull/647 fixes 2,

For 1, do you need it to filter by multiple arguments? (for example by both name and claim ID)
Or should it only allow you to filter by one thing only , to be less confusing, (throw exception if you specify both name and claim id)

[2017-05-23 18:34] kauffj commented on #644
I think it should be possible to filter by name and claim_id. When both are provided, you are essentially saying find a claim with this id iff it has this name. An example use case would be spee.ch, where it will support URLs like spee.ch/name/claimId.

[2017-05-23 20:47] kaykurokawa commented on #645
Can confirm that download_directory argument has no effect.

I think this option should be removed as it complicates the code, and download directory can be changed via settings_set command.

[2017-05-23 21:33] kauffj commented on #645
That'd be fine with me.

On Tue, May 23, 2017 at 4:47 PM, Umpei Kay Kurokawa <
notifications@github.com> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-05-24 00:38] dirtybits opened #648 "Miscommunication in "Published" section of UI"
## The Issue

Miscommunication in the "Publishes" tab in the "Downloads and Purchases section"

### Steps to reproduce
1. Click on "Downloads and Purchases" tab
2. Click on "Published"

### Expected behaviour
Should say something along the lines of, ""You haven't published anything to LBRY yet. Go publish your first work of art!"

### Actual behaviour
"You haven't downloaded anything from LBRY yet

[2017-05-24 01:03] kauffj commented on #648
Thanks for reporting this. This is fixed [here](https://github.com/lbryio/lbry-app/commit/8ac2bcd6389e691d6dc11802b0cae1293d7653b7).

Please report future cosmetic/UI issues to the [lbry-app](https://github.com/lbryio/lbry-app) repo rather than this one.

[2017-05-24 01:03] #648 closed

[2017-05-25 14:23] iateadonut opened #649 "can 'resolve' but not 'get'"
I can 'resolve' but cannot 'get' a url.

'get' returns a timeout.

### Steps to reproduce
$ lbrynet-cli resolve uri=what
{
  "claim": {
    "address": "bMavvzXG2XT5GRK4kgQCFop1B5XvHRJPye",
    "amount": "1",
...

$ lbrynet-cli get uri=what
{
  "error": "Timeout"
}

### Expected behaviour
I should download the uri.

### Actual behaviour
I get a timeout message

## System Configuration

$ lbrynet-cl

[2017-05-25 14:27] kauffj commented on #649
@jackrobison and/or @lyoshenka this is likely a network issue since many others are able to fetch this URI, but I wonder if we could build a tool or add some code to the daemon that debugs/detects network issues.

[2017-05-25 16:03] iateadonut commented on #649
this is in the error log:

2017-05-26 01:00:00,380 ERROR    lbryum.interface:115: Failed to connect to (2, 1, 6, '', ('54.174.5.255', 50001))
Traceback (most recent call last):
  File "site-packages/lbryum/interface.py", line 110, in get_simple_socket
  File "socket.py", line 228, in meth
error: [Errno 111] Connection refused

This is an amazon server.  Is this one of your servers?  I wonder if th

[2017-05-25 16:20] kauffj commented on #649
@lyoshenka @iateadonut looked into this further and thought that we may have a security group rule blocking IPs from certain countries. I don't think we do, but can you confirm? He's interested in helping debug this, you can contact him on Slack under the same name.

[2017-05-25 23:29] nikooo777 commented on #634
This issue has been fixed I believe, am I correct?

[2017-05-26 16:21] kaykurokawa commented on #646
Should probably place a check in publishing to not allow you to publish an empty file

[2017-05-26 16:36] kauffj commented on #646
The UI should prevent this and the daemon should error clearly, IMO. Needs
changes in both places.

On Fri, May 26, 2017 at 12:21 PM, Umpei Kay Kurokawa <
notifications@github.com> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-05-29 12:20] snodnipper commented on #538
I had the same issue running the [docker container](https://hub.docker.com/r/flungo/lbry.io/).

Furthermore, I had an access token issue when trying to send credits.

![lbry](https://cloud.githubusercontent.com/assets/576719/26549546/79e620a4-4471-11e7-9efc-42ef04e0117c.png)

[2017-05-29 17:15] kaykurokawa commented on #635
Ran into the same problem , this was due to there being a folder "analytics" under lbrynet that got replaced by analytics.py . If you installed a version from source that had the "analytics" folder using python setup.py install,  this folder will not get purged from your build unless you clean it up by running: ''sudo python setup.py clean --all'

and then running 'sudo python setup.py install' sh

[2017-05-29 18:50] kaykurokawa commented on #634
Yes, this has been fixed, it was lbryum server problem

[2017-05-29 18:50] #634 closed

[2017-05-29 18:57] kaykurokawa commented on #646
https://github.com/lbryio/lbry/pull/653 will prevent publish in the daemon

[2017-05-29 20:00] kauffj commented on #635
@kaykurokawa so is there an outstanding issue here?

[2017-05-29 20:04] finer9 commented on #639
There are also now other variants of this including 'click update and it does nothing' - and also on Linux

[2017-05-29 20:07] kauffj commented on #639
This was definitely broken in 0.11. I believe it is fixed in 0.11.3 or
later. You can verify whether this is fixed or not by running 0.11.3 and
seeing if it upgrades to 0.11.5 correctly.

On Mon, May 29, 2017 at 4:04 PM, Josh Finer <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.c

[2017-05-29 20:18] finer9 opened #654 "Purchasing content on Win results in a 'currency' error"
## The Issue
Anything that is not free causes an error / no result

### Steps to reproduce
1. Buy content on current win version - maybe only happens on lbry://one and lbry://four
2.
3.

### Expected behaviour
lbc subtracts, content plays

### Actual behaviour

App crashes and requires closing X

2017-05-29 13:33:23,069 INFO     lbrynet.lbrynet_daemon.Downloader:103: Download lbry://one status cha

[2017-05-29 20:21] finer9 opened #655 "Content availability function sucks"
## The Issue
The availability function seems unstable

### Steps to reproduce
1. Browse around, click to sub page and see if content avail/not
2. Sometimes even when it says unavail it is really avail
3.

### Expected behaviour
Says if content really is avail / not

### Actual behaviour
Randomly chooses a state ;)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installa

[2017-05-29 20:21] kauffj commented on #655
I'm tempted to drop this from the UI at all, since a lot of content that shows unavailable is actually there. It is already being skipped on all video plays.

[2017-05-29 20:57] kauffj commented on #654
Can you provide a LBRY daemon version? We think this is an old copy of the daemon.

[2017-05-29 20:59] finer9 commented on #654
wouldnt my daemon be updated by installing .11.5?

[2017-05-29 21:00] tzarebczan commented on #654
I'm on daemon 0.10.3 (app .11.5) on Windows and it's happening as well.

[2017-05-29 21:04] finer9 commented on #654
About
Your copy of LBRY is up to date.

daemon (lbrynet)	0.10.3
wallet (lbryum)	2.7.22
interface	0.11.5
Platform	Windows (Windows-10-10.0.10586)
Installation ID	5mutGKfgM1MuLLXc78833ebM1MDwRGnXZSt3m6kMpeXXbsPcqMYHAyPWor8ygEfv22

[2017-05-29 21:12] kaykurokawa commented on #654
Whats the lbryschema version ?
Run  lbrynet-cli version to get it

[2017-05-29 21:16] tzarebczan commented on #654
C:\Program Files (x86)\LBRY\resources\app\dist>lbrynet-cli version
{
  "build": "release",
  "ip": "47.20.145.202",
  "lbrynet_version": "0.10.3",
  "lbryschema_version": "0.0.4",
  "lbryum_version": "2.7.22",
  "os_release": "10",
  "os_system": "Windows",
  "platform": "Windows-10-10.0.14393",
  "processor": "Intel64 Family 6 Model 60 Stepping 3, GenuineIntel",
  "python_version": "2.7.13"
}

[2017-05-29 21:22] finer9 commented on #654
I too have 0.0.4

On Mon, May 29, 2017 at 5:16 PM, Thomas Zarebczan <notifications@github.com>
wrote:

--
Josh Finer
COO/LBRY

[2017-05-29 21:41] kaykurokawa commented on #654
all the version number looks fine..

[2017-05-29 21:45] tzarebczan commented on #654
Not having the issue on Linux, looks like it's related to Windows at this point. Don't have Mac to test.

[2017-05-29 23:07] tzarebczan commented on #655
It's nice to have that feature, just has to be more robust and accurate. Would be awesome if it knew how many hosts were available, general location, whether original host available, etc.

[2017-05-30 01:08] kaykurokawa commented on #654
My best guess is that its having problems updating on windows, and is somehow using code from and older version of lbrynet or possibly lbryschema. Will try this out tomorrow.

[2017-05-30 01:19] kaykurokawa commented on #635
if this fixes the problem for @dindinw , we can close it as there isn't any solution for this other than to tell people to run the clean command.

[2017-05-30 01:54] tzarebczan commented on #208
@jackrobison I hear this may be fixed in the latest version... Let's close it if so. I haven't tested, but I know it was an issue plaguing many users recently too.

[2017-05-30 04:28] finer9 commented on #654
Seems to happen on any paid content, disregard my previous note about lbry://one:five - it was coincidental

[2017-05-30 21:17] kaykurokawa commented on #654
It was determining that clearing the data folder fixes this problem.
I believe it has something to do with the wallet cache that was added recently.

[2017-05-30 21:23] tzarebczan commented on #654
I'll send my contents later tonight.

Do we expect this to be an issue going forward, and if so, can anything be cleaned up by the installer? Might be easier to answer once we understand the root cause.

[2017-05-31 13:16] kauffj opened #660 "lbry://None in log file warnings/errors"
_From @tzarebczan on May 31, 2017 0:49_

## The Issue

### Steps to reproduce
1. Run LBRY
2. Check Log
3. See that lbry://None reflector fails, but then a claim is found supposedly.

### Expected behaviour
None is not a claim, should not be referenced

### Actual behaviour
warnings/errors regarding None

## System Configuration

- LBRY Daemon version:
- LBRY App version: 0.11.6
- LBRY Installation

[2017-05-31 13:20] kauffj commented on #660
There may also be an app API call that is improper, but the app isn't requesting lbry://None. I believe that's an error related to type coercion somewhere in this repo.

[2017-05-31 15:09] charlie-c commented on #589
*adding Slack discussion on this with @lyoshenka*

charlie-c [9:52 AM]
1. Do you really *want* a pkg installer rather than dmg? If so, what do you hope to gain?
2. Do you want the pkg installer to do the same thing as is currently done (App with embedded lbrynet-daemon), or do you want lbrynet-daemon handled more like a *real* daemon, i.e. separate from the app and managed by launchd (I presume on

[2017-05-31 15:32] sprig commented on #589
I would like to add something;

It is correct that to add a system level daemon would require a pkg.
However, I *think* that most often OSX computers are not used as headless
servers but rather as workstations, and as such are usually logged in to a
user almost all the time that they are working. Now, if the lbry daemon
were to live in the taskbar (where apps like e.g. dropbox, google drive
live w

[2017-05-31 16:04] sleepdefic1t commented on #589
It's dropping to a shell..
But I just posted this for macOs

[lbryBuilder](https://github.com/sleepdefic1t/lbryBuilder)

It's basically two scripts.

One to do the cloning and setup.
It prompts to launch the daemon from its venv in a new terminal window.

Another to run an instance of the daemon from its venv.

Not sure if this would help, but it seems at least semi-relevant.

[2017-05-31 16:56] kauffj opened #661 "file_list errors on invalid string index check"
_From @tzarebczan on May 26, 2017 5:0_

## The Issue
`file_list` fails with:
2017-05-30 20:42:15,138 ERROR lbrynet.lbrynet_daemon.auth.server:346: Failed to process file_list: string indices must be integers
Traceback (most recent call last):
File "site-packages\twisted\internet\defer.py", line 1299, in _inlineCallbacks
File "site-packages\lbrynet\core\Wallet.py", line 770, in _handle_claim_result

[2017-05-31 16:56] kauffj commented on #661
_From @maximumplank on May 26, 2017 5:2_

I'm having this same issue. Uploaded some content on an old version of the 0.10 browser, before I began having problems with the client. Now content that I've published is not showing up in the 'published' tab.

[2017-05-31 16:56] kauffj commented on #661
Will look into this.

@tzarebczan did it sit at loading forever or eventually come back? `file_list` has some big performance issues atm, especially with large numbers of downloads/publishes (we're working on it).

[2017-05-31 16:56] kauffj commented on #661
_From @tzarebczan on May 26, 2017 13:29_

Never came back for me. It was reported by kevdev and others on slack too.

[2017-05-31 16:56] kauffj commented on #661
_From @maximumplank on May 26, 2017 13:31_

Same here, published tab just shows "looks like you havent published
anything yet!" Or something like that.

On May 26, 2017 6:29 AM, "Thomas Zarebczan" <notifications@github.com>
wrote:

[2017-05-31 16:56] kauffj commented on #661
Sitting at "loading" forever vs. coming back with "looks like you haven't
published anything" are possibly two different issues, but will be looking
into it either way.

On Fri, May 26, 2017 at 9:31 AM, maximumplank <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like

[2017-05-31 16:56] kauffj commented on #661
_From @tzarebczan on May 26, 2017 13:38_

Yup, sounds like different issues. Thanks Jeremy!

[2017-05-31 16:56] kauffj commented on #661
_From @maximumplank on May 26, 2017 13:42_

Sorry, must have misunderstood Thomas' issue. I'll file a new one.

On May 26, 2017 6:38 AM, "Thomas Zarebczan" <notifications@github.com>
wrote:

Yup, sounds like different issues. Thanks Jeremy!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/lbryio/lbry-app/issues/139#issuecomment-30

[2017-05-31 16:56] kauffj commented on #661
_From @maximumplank on May 27, 2017 1:10_

filed https://github.com/lbryio/lbry-app/issues/146 for the "looks like you haven't published anything" issue

[2017-05-31 16:56] kauffj commented on #661
_From @tzarebczan on May 29, 2017 20:15_

Also noticed today on a VM that the Downloaded page showed lbry://undefined in the downloaded page.  It's not a real claim..so probably related to this issue of the Downloaded page not showing.

[2017-05-31 16:56] kauffj commented on #661
_From @finer9 on May 30, 2017 0:32_

On 0.11.5 my Downloads/Publishes never resolves, it just says Loading...I suspect maybe this wouldnt happen on a fresh install

[2017-05-31 16:56] kauffj commented on #661
_From @tzarebczan on May 31, 2017 0:44_

I did notice this today in my logs, not sure if its related:
2017-05-30 20:42:15,138 ERROR    lbrynet.lbrynet_daemon.auth.server:346: Failed to process file_list: string indices must be integers
Traceback (most recent call last):
  File "site-packages\twisted\internet\defer.py", line 1299, in _inlineCallbacks
  File "site-packages\lbrynet\core\Wallet.py", l

[2017-05-31 16:56] kauffj commented on #661
@finer9 does it actually never return or does it just return after a long time?

@tzarebczan that sounds like the root cause of the issue. Moving this to the daemon.

[2017-05-31 17:08] finer9 commented on #661
I literally left it overnight so it never returned.  But it worked fine
after deleting that metadata cache stuff jack/kay were working on recently

On Wed, May 31, 2017 at 12:56 PM, Jeremy Kauffman <notifications@github.com>
wrote:

--
Josh Finer
COO/LBRY

[2017-05-31 18:04] kauffj commented on #589
Given that all Mac usage will be consumer usage (as @sprig said). It sounds like the only downside of DMG is losing out on management via `launchd`.

Is there anyone out there interested in taking the pro-PKG side of this argument?

[2017-05-31 22:30] lyoshenka commented on #544
I believe @jackrobison fixed this

[2017-05-31 22:30] #544 closed

[2017-06-01 04:16] finer9 commented on #655
So are we dropping this @kauffj ?  Let's do it

[2017-06-01 18:27] lyoshenka commented on #591
@kaykurokawa did you fix this? i seem to remember you working on this

[2017-06-01 18:27] #595 closed

[2017-06-01 18:28] lyoshenka commented on #600
Closing due to inactivity.

[2017-06-01 18:28] #600 closed

[2017-06-01 18:31] #635 closed

[2017-06-01 18:32] lyoshenka commented on #638
Fixed in #656

[2017-06-01 18:32] #638 closed

[2017-06-01 18:34] lyoshenka commented on #649
I dont believe we're blocking anything based on location. I do know our lbryum server has issues sometimes, and @jackrobison is gonna be working on fixes for it.

@iateadonut the daemon should have several lbryum servers in its list, and should try to connect to other servers if the first one fails. are you seeing that in the logs? does the daemon still work for you despite this error?

[2017-06-01 19:34] lyoshenka commented on #575
Fixed

[2017-06-01 19:34] #575 closed

[2017-06-01 19:34] lyoshenka commented on #577
@jackrobison do your recent CLI changes fix this?

[2017-06-01 19:35] #578 closed

[2017-06-01 20:14] #478 closed

[2017-06-01 20:15] lyoshenka commented on #209
Migrated to https://github.com/lbryio/lbry-app/issues/179

[2017-06-01 20:15] #209 closed

[2017-06-01 20:17] lyoshenka commented on #254
Migrated to https://github.com/lbryio/lbry-app/issues/180

[2017-06-01 20:17] #254 closed

[2017-06-01 20:17] lyoshenka commented on #617
I believe this is fixed.

[2017-06-01 20:17] #617 closed

[2017-06-01 20:18] lyoshenka commented on #637
@finer9 this should be in the lbry-app repo. Moving it there: https://github.com/lbryio/lbry-app/issues/181

[2017-06-01 20:18] #637 closed

[2017-06-01 21:17] caseyparker commented on #655
The thing sucks _right now_. It's still a reference implementation, give us all some time.

[2017-06-01 21:57] tzarebczan opened #662 "Deleting file issue in Windows, permissions changed"
re-opening under lbry-app.

[2017-06-01 22:13] #662 closed

[2017-06-01 23:23] #307 closed

[2017-06-01 23:24] lyoshenka commented on #377
Does this still happen in the latest version? https://github.com/lbryio/lbry/releases

[2017-06-01 23:25] lyoshenka commented on #343
@tzarebczan has this happened recently? I suspect it's fixed

[2017-06-01 23:25] lyoshenka commented on #346
@tzarebczan has this happened recently?

[2017-06-01 23:26] lyoshenka commented on #392
This is a good idea. Marking as feature request and closing for now.

[2017-06-01 23:26] #392 closed

[2017-06-01 23:27] lyoshenka commented on #419
@kaykurokawa @jackrobison is this fixed?

[2017-06-01 23:28] tzarebczan commented on #346
Nope, that's an old issue. Let's close for now.

[2017-06-01 23:28] #346 closed

[2017-06-01 23:29] lyoshenka commented on #414
Closing due to inactivity.

[2017-06-01 23:29] #414 closed

[2017-06-01 23:29] tzarebczan commented on #343
Nope, let's close for now.

[2017-06-01 23:29] #343 closed

[2017-06-01 23:30] lyoshenka commented on #622
@jackrobison any updates on this?

[2017-06-01 23:30] #624 closed

[2017-06-01 23:30] tzarebczan commented on #377
Yes it does, but I may have some really old blobs in there after testing for a couple months. Is it worth looking into?

[2017-06-02 04:23] iateadonut commented on #649
The daemon runs well.

The error in the logs that I posted happens when I execute a 'get' command.

Looking at the telnet response, it seems that the server is actively blocking my ip address.

[2017-06-02 05:50] animex opened #663 "Feature: API: Total Seeds"
## The Feature
It would be great if there was some way to query the lbry daemon for the number of active seeders on a given file.

### Expected behaviour
Should return the number of seeders available for a given file.

### Bonus Points
Make the # of Seeds Visible in the LBRY App.

[2017-06-02 07:59] techtonik commented on #577
@lyoshenka `-h` works now to display help. Slow to react, but works.

`--version` doesn't work.
[code]

[2017-06-02 09:31] lyoshenka commented on #663
This is already possible with `peer_list`, but it works on individual blobs, not on files.

[2017-06-02 09:31] #663 closed

[2017-06-02 09:33] lyoshenka opened #665 "Dead man's switch"
Goal: to protect against a private key being lost or a LBRY millionaire dying without leaving the keys for their heirs.

Solution: after X time of inactivity, credits may be transferred to another designated address.

Timeline: this won't happen for a while

[2017-06-02 09:33] #665 closed

[2017-06-02 09:41] lyoshenka opened #666 "Issues with using the same app account on multiple devices"
From `@anatzum` in slack #feedback

https://lbry.slack.com/archives/C544Q2RFS/p1495272158342646

[2017-06-02 14:00] kauffj commented on #377
low priority

On Thu, Jun 1, 2017 at 7:30 PM, Thomas Zarebczan <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-06-05 17:08] kauffj opened #671 "file_delete with no outpoint deletes ALL files"
_From @6ea86b96 on June 4, 2017 16:46_

`lbry.file_delete({}, delete_target_file: true })` will delete all files (downloaded and published). Bug or feature?

_Copied from original issue: lbryio/lbry-app#193_

[2017-06-05 17:09] kauffj commented on #671
Agreed with @6ea86b96 on this, `file_delete` with no parameters should not delete everything. Perhaps with an additional parameter like `delete_all` this would be fine.

[2017-06-05 17:59] kaykurokawa commented on #671
There is a delete_all flag (-a), but it doesn't work , nor is it described properly in docstrings .

Also delete_target_file flag (-f) states "delete only from downloads, do not delete blobs" , However the behavior is that blobs are always deleted, and setting delete_target_file flag will delete from the downloads folder.

[2017-06-05 20:44] kaykurokawa commented on #671
fixes here : https://github.com/lbryio/lbry/pull/672

[2017-06-06 21:49] kaykurokawa opened #673 "InsufficientFundsError gets swallowed when calling get"
When calling get API command for a stream with key fee more than available, InsufficentFundsError is encountered but not returned, causing the CLI or JSONRPC command to hang until it time outs.

2017-06-06 17:45:00,886 CRITICAL twisted:154:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/twisted/internet/defer.py", line 1297, in _inlineCallbacks
    result = resul

[2017-06-08 16:58] jackrobison opened #675 "test_double_download throws an error, but not always"
<img width="1320" alt="screen shot 2017-06-08 at 12 57 34 pm" src="https://user-images.githubusercontent.com/11979920/26940844-35ade846-4c4a-11e7-8414-05304ce2374f.png">
<img width="1239" alt="screen shot 2017-06-08 at 12 57 28 pm" src="https://user-images.githubusercontent.com/11979920/26940848-39ef14fc-4c4a-11e7-947c-f79d28cef981.png">

[2017-06-08 17:03] kaykurokawa commented on #675
same issue as here: https://github.com/lbryio/lbry/issues/527

[2017-06-08 19:14] lyoshenka commented on #563
I'm not sure if this is still happening (and it wasnt a major issue anyway), so I'm gonna close it.

[2017-06-08 19:14] #563 closed

[2017-06-08 19:16] lyoshenka commented on #552
@jackrobison i think this is fixed by the work you've been doing, right? if so, please close this issue. if not, leave comment about what's left to do.

[2017-06-08 19:17] lyoshenka commented on #255
@jackrobison do you know if this is still an issue?

[2017-06-08 19:18] #293 closed

[2017-06-08 19:19] tzarebczan commented on #661
@kauffj any updates on this one?

[2017-06-08 19:19] nikooo777 commented on #552
We sort of bypassed the issue by spending from different addresses, however i believe that if you try to publish by spending from the same address multiple times, then it will be rejected again.

Not so sure tho, it's still a bit too technical for me. Jack will know better

[2017-06-08 19:20] lyoshenka commented on #225
Moved to https://github.com/lbryio/lbry-app/issues/212

[2017-06-08 19:20] #225 closed

[2017-06-08 19:27] lyoshenka commented on #577
we'll add that in

[2017-06-08 19:27] #577 closed

[2017-06-08 19:29] #280 closed

[2017-06-08 19:30] #437 closed

[2017-06-08 19:32] lyoshenka commented on #389
No update, so I'm assuming this is fixed.

[2017-06-08 19:32] #389 closed

[2017-06-08 19:32] lyoshenka commented on #344
No update, so I'm assuming its fixed. This should also most likely be handled in the UI.

[2017-06-08 19:32] #344 closed

[2017-06-08 21:35] kauffj commented on #661
This is one for @jackrobison.

[2017-06-09 01:27] ptc4cash opened #678 "This is the most complicated wallet iv'e ever had to sync"
Anyone please explain, this app is working fine and says syncing complete with daemon then just unexpected errors,???

What am i doing wrong

![wtf](https://user-images.githubusercontent.com/17118352/26957149-553f9a44-4d06-11e7-8d6d-7dd6eadc246a.png)

[2017-06-09 01:31] tzarebczan commented on #678
1) check firewall settings.. Did it prompt you to allow the daemon?

2) try reinstalling, could clear up some files

3) check lbrynet.log for clues

4) why are you blaming this on the wallet/app, when no one has the same issue as you?

[2017-06-09 01:33] tzarebczan commented on #678
https://github.com/lbryio/lbry-app/releases for the latest version.

[2017-06-09 01:40] ptc4cash commented on #678
Because i have done it five different ways and nothing works, i also did sudo commands in bash and installed threw linux still same issue it wont connect to daemon, when installing the windows version it prompted me to allow it threw firewall i selected yes and still nothing..

No need to get touchy, i am simply asking a question, it seems like a lot of people are having problems syncing this wall

[2017-06-09 01:45] finer9 commented on #678
Could you provide some version info for the daemon and app please?

On Thu, Jun 8, 2017 at 9:40 PM, ptc4cash <notifications@github.com> wrote:

--
Josh Finer
COO/LBRY

[2017-06-09 01:46] finer9 commented on #678
And the reason it is more complicated is because it isnt just a wallet, it
is an app with a lot going on.  You could just run the lbrycrdd portion if
you wanted pure wallet functionality.

On Thu, Jun 8, 2017 at 9:45 PM, Josh Finer <josh@lbry.io> wrote:

--
Josh Finer
COO/LBRY

[2017-06-09 01:47] ptc4cash commented on #678
Its not even creating a log file, i did try running the lbrycrdd and still the same issue occurring  :( i am using the newest versions

[2017-06-09 01:52] ptc4cash commented on #678
Ohhh my lord i got it, Thanks tzarebczan, i know you hating but those steps helped lol cheers.

[2017-06-09 01:58] tzarebczan commented on #678
No problemo, we are always here to help. Sorry for being rude on #4, it was a long day haha. Please close this if you are sure it's good on your end.

[2017-06-09 02:44] #678 closed

[2017-06-09 14:09] finer9 opened #679 ""The Daemon Has Shut Down Unexpectedly""
## The Issue
Startup stops on the 'Daemon has shut down unexpectedly" splash screen

### Steps to reproduce
1. Start LBRY app
2.
3.

Windows 10 64 bit latest version of app

## Anything Else

## Screenshots

[2017-06-09 14:15] lyoshenka commented on #679
Does this happen every single time?

[2017-06-09 14:17] tzarebczan commented on #679
Does reinstalling help? Maybe some temp files are cleaned up?

[2017-06-09 18:41] jackrobison commented on #675
fixed in https://github.com/lbryio/lbry/pull/682

[2017-06-09 18:41] #675 closed

[2017-06-09 18:42] jackrobison commented on #527
fixed in https://github.com/lbryio/lbry/pull/682

[2017-06-09 18:42] #527 closed

[2017-06-10 23:56] nikooo777 opened #683 "fetching certificate - lacking cache"
## The Issue
When calling claim_list_mine, and perhaps other methods too, if there are several claims sharing a certificate, the daemon will try to fetch such certificate for as many times as it's been used.
This takes a HUGE amount of time for big channels.
### Steps to reproduce
1. publish 2000 videos with one certificate
2. call claim_list mine
3. observe the daemon

### Expected behaviour
The

[2017-06-11 18:03] AyiSoli opened #684 "Newly published content requires a restart of the LBRY app to show up in the system."
## The Issue

Whenever I upload some new content, it does not show up immediately. Even on confirmation, it does not appear on the  "PUBLISHED" tab. I have to restart LBRY to find my uploaded content on the Published tab.

### Steps to reproduce
1. Create new content: Click on PUBLISH -> Select the files.
2. Select the price, access, licence , and also set the URL
3. Upload it.
4. Ideally it shoul

[2017-06-11 18:09] AyiSoli opened #685 "Extra characters in the OSX App [Cosmetic changes]"
## The Issue

In Settings page, below "LANGUAGE" and above "SHARE DIAGNOSTIC DATA", few extra characters appear.

### Steps to reproduce
1. Open LBRY.
2. Click on SETTINGS icon.
3. Scroll down
4. "*/}" appears .

![screen shot 2017-06-11 at 11 36 09 pm](https://user-images.githubusercontent.com/29357634/27013294-0019c8c8-4eff-11e7-8dc3-89b656d42d81.png)

daemon (lbrynet)	0.11.0rc3
wallet (lbryum)

[2017-06-11 18:11] tzarebczan commented on #685
https://github.com/lbryio/lbry-app/issues/220 it will be fixed in the next version. Please mark as closed.

Also, please be sure to check the lbry-app repo issues before posting.

[2017-06-11 18:18] AyiSoli commented on #685
lbryio/lbry-app#220

**Linked issue, closed**

[2017-06-11 18:18] #685 closed

[2017-06-11 18:21] AyiSoli commented on #684
Not sure if this issue belongs in lbry or lbry-app

[2017-06-11 18:24] tzarebczan commented on #684
Lbry app might be a better place. We try to keep lbry to daemon issues. If you aren't sure, lbry would be the default.

This one does sound like an app issue

[2017-06-11 18:36] AyiSoli commented on #684
[lbry-app-#227](https://github.com/lbryio/lbry-app/issues/227)

[2017-06-11 18:36] #684 closed

[2017-06-12 13:37] lyoshenka commented on #683
@jackrobison how long would it take to add caching here too

[2017-06-12 15:22] jackrobison commented on #683
I'll check it out - it shouldn't require any network requests.

@nikooo777 is the certificate claim in that wallet too, or just the certificate key?

[2017-06-12 19:11] jackrobison opened #689 "Reflector server gets stuck on blob that failed to upload"
`2017-06-12 15:04:22,205 INFO     lbrynet.reflector.client.client:134: Reflector needs 515 blobs for lbry://itsadisaster-sd`

`2017-06-12 15:04:22,279 WARNING  lbrynet.reflector.client.client:251: Reflector failed to receive blob a712911372dcab62 for lbry://itsadisaster-sd`

[2017-06-12 19:54] jackrobison commented on #689
This appears to have been fixed by 0.12, the server having the error was on 0.10

[2017-06-12 19:54] #689 closed

[2017-06-12 22:48] tzarebczan commented on #661
@jackrobison any idea what this is? It may be similar to this issue:
https://github.com/lbryio/lbry-app/issues/174

I still see the below in my logs and I'm not able to go into Downloads/Publishes section - just hangs on "loading..." - can't tell if its related to this error or not.  I believe @finer9 has the same issue with "loading..." but he cleared his up by deleted a bunch of files in lbrynet

[2017-06-13 17:07] kauffj opened #691 "Resolving a channel should return "channel_claim_count" or similar, not number of pages"
Run `./lbrynet-cli resolve @kauffj`. Receive:
[code]

Rather than give the number of pages, just give the number of items.

[2017-06-14 08:53] chriswanaka commented on #179
Hi

[2017-06-14 12:54] lyoshenka commented on #661
@jackrobison happens reliably when downloading `lbry://casually-successful`

[code]

[2017-06-14 12:56] lyoshenka opened #692 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xcc in position 62: ordinal not in range(128)"
@jackrobison happens reliably when downloading `lbry://casually-successful`

[code]

[2017-06-14 14:12] kauffj commented on #654
This is fixed, aside from "Publishing..." hanging on app side, I believe.

[2017-06-14 14:12] #654 closed

[2017-06-14 19:15] #673 closed

[2017-06-14 20:04] jackrobison commented on #692
The serialized claim value:
`080110011a8c03080112c402080410011a7243617375616c6c79204578706c61696e65643a20486f7720746f204d616b6520612053ccb6ccb7ccb675ccb6ccb7ccb663ccb6ccb7ccb663ccb6ccb7ccb665ccb6ccb7ccb673ccb6ccb7ccb673ccb6ccb7ccb666ccb6ccb7ccb675ccb6ccb7ccb66c20596f7554756265204368616e6e656c223d49206d6179206861766520737769746368656420746865206368617261637465727320696e207468617420656d61696c20696e7

[2017-06-14 20:24] #671 closed

[2017-06-14 20:40] kaykurokawa opened #693 "Functional tests fail occasionally"
https://travis-ci.org/lbryio/lbry/builds/242981624?utm_source=github_status&utm_medium=notification

![screenshot from 2017-06-14 16-39-15](https://user-images.githubusercontent.com/7075051/27153617-26e49672-5120-11e7-985d-710637df01fc.png)

![screenshot from 2017-06-14 16-39-31](https://user-images.githubusercontent.com/7075051/27153628-2f0d09ce-5120-11e7-8294-9e070ff75e47.png)

Related issue:
ht

[2017-06-14 20:44] kaykurokawa commented on #693
I still think this is because BlobManager's stop() function doesn't properly handle shutting down the manage() loop and closing the database properly

[2017-06-14 21:05] kauffj commented on #692
Well, we should support unicode in metadata at a minimum.

@reillysmith you may want to republish `lbry://casually-successful` in the interim.

Here's the video on YouTube: [https://www.youtube.com/watch?v=nhEn-qW9HEc](https://www.youtube.com/watch?v=nhEn-qW9HEc)

[2017-06-14 21:21] jackrobison commented on #692
Looks like a perfect place to use HTTP status code 732

[2017-06-15 03:01] sleepdefic1t commented on #589
@kauffj

I can't really think of one.
Apple is very sandboxed.
I forget what part of their docs, but I remember seeing they discourage having executables that easy to access unless it's absolutely necessary.
A guest account making calls to the daemon from outside the users desktop, for example.

If the primary goal is just to have it run as a standalone.
That's not too difficult.

I've actually ki

[2017-06-15 06:48] CjMapope commented on #639
I just tested this in a fresh Win10 x64 VM, confirm 0.11.7 would NOT upgrade, i get a bit farther then Josh (i get the pop-up), but then it closes and nothing happens, i am prompted again to upgrade upon opening the app :/
![upgrade](https://user-images.githubusercontent.com/12862793/27168715-2c7973c0-5164-11e7-9218-a7b9ff3a0f09.PNG)

sending the log to grin to look at

[2017-06-15 06:57] tzarebczan commented on #639
We are aware and this was fixed in a later 0.11 RC. Easiet best is to download the latest version from github.. Should work going forward. https://github.com/lbryio/lbry-app/releases

[2017-06-15 07:01] liuxun1977 opened #695 "The transaction_list API for lbry"
I need to get the transaction record through the API, using the transaction_list command, not receiving the address, any other methods?

command:
./lbrynet-cli transaction_list

result:
[
  {
    "confirmations": 6797,
    "date": "2017-06-02 15:43",
    "label": "",
    "timestamp": 1496389394,
    "txid": "95001809afccede23ebc80df7f04d14fce96d4005e225471050201500ee2e2dd",
    "value": 14.99
  }

[2017-06-15 12:35] lyoshenka commented on #639
@kauffj said it was fixed in 0.11.3, but @CjMapope tried 0.11.7 and it's still not fixed. Are you saying it was fixed for real in a later release? If so, can you please confirm that that's true and then close this issue?

[2017-06-15 14:21] kauffj commented on #639
It was fixed in a later release. 2 separate bugs, one affecting all systems, one only Windows.

[2017-06-15 14:21] #639 closed

[2017-06-15 14:35] kauffj commented on #695
Call `transaction_show` with the txid.

[2017-06-15 14:35] #695 closed

[2017-06-15 14:38] kauffj commented on #589
@sleepdefic1t I'd be very interested in status bar support for `lbry-app`, but my inclination would be to make this part of the app itself rather than a standalone. Either way, sounds interesting and please share the code! And if you're not in the #dev channel in our [Slack](https://slack.lbry.io), you should join!

[2017-06-15 17:47] kaykurokawa commented on #692
Are you sure this is happening when calling get?

I didn't encounter this errors while doing a 'get' on lbry://casually-successful

However, this occurs when I do a file_delete on lbry://casually-successful ,

[2017-06-15 17:49] tzarebczan commented on #692
This happens after downloading the video I believe, or trying to (through the app). Then when you go back in, you can't even click on play, everything frozen.

[2017-06-15 20:00] kaykurokawa commented on #692
@tzarebczan can you post the log of what happens here?

[2017-06-15 20:16] kaykurokawa commented on #692
This fixes the error for me but not sure if it will for others : https://github.com/lbryio/lbry/pull/697

[2017-06-15 20:18] kaykurokawa commented on #693
Looking at BlobManager, it seems like it does not even need a looping manage() function.

When deleting blobs, BlobManager queues them up for deletion, and then the manage() loops looks in the queue and deletes it. I don't think we need to queue up blobs for deletion, we can just delete them.

[2017-06-15 23:24] kauffj opened #700 "LBC deducted, download timed out. Files never re-download"
_From @tzarebczan on June 1, 2017 4:25_

## The Issue
In two instances (lbry://one and lbry://swampwitch) I was deducted LBC from my wallet even though the content never downloaded (time out). for lbry://five, this does not happen.  Even after restarting LBRY, the files show at 0KB in download and the application does not try to redownload. The claim shows "Open" dialog.  Log shows:
2017-06-01 00:

[2017-06-15 23:24] kauffj commented on #700
_From @tzarebczan on June 1, 2017 11:35_

Files finished downloading overnight but still don't think users should be charged before the download starts getting bytes.

[2017-06-16 00:07] kauffj opened #701 "Update download freezes when switching WiFi networks."
_From @sh4k4zulu on June 12, 2017 21:9_

## Switching WiFi networks halfway through update causes the download to freeze.

### Steps to reproduce
1. Update LBRY w/update release.
2. Switch WiFi networks.

### Expected behaviour
It should just pick up where it left off when back in WiFi zone.

### Actual behaviour
It just freezes.

## System Configuration
This issue is I think universal. Not a prio

[2017-06-16 00:45] liuxun1977 commented on #695
./lbrynet-cli transaction_show txid=eeb23af0ff0c0d1e0ae413960ca84206e7eb225c0377f28ad9206222b53eca66
{
  "complete": true,
  "hex": "010000000187d12f8ce0cd229eec3823a97a169c3f20ba31af26d4e3975edf4f20566d4a1a010000006b483045022100cdfd7990a4d7363fc5c13d46dc83be31ccfbe53499a5a9b10e54ab5f4e41be610220652fc5e3b7bb8a4bc626efcd7db220d8fa1c99c4ee2b6a31aedac1b03a6364d9012103c9f29f0d7e0fd134c2d950e979bd545ad

[2017-06-16 03:20] liuxun1977 opened #702 "The transaction_show API for lbry"
**./lbrynet-cli transaction_show** txid=eeb23af0ff0c0d1e0ae413960ca84206e7eb225c0377f28ad9206222b53eca66
{
"complete": true,
"hex": "010000000187d12f8ce0cd229eec3823a97a169c3f20ba31af26d4e3975edf4f20566d4a1a010000006b483045022100cdfd7990a4d7363fc5c13d46dc83be31ccfbe53499a5a9b10e54ab5f4e41be610220652fc5e3b7bb8a4bc626efcd7db220d8fa1c99c4ee2b6a31aedac1b03a6364d9012103c9f29f0d7e0fd134c2d950e979bd545ad

[2017-06-16 04:27] tzarebczan commented on #692
``2017-06-13 19:01:54,282 INFO     lbrynet.lbrynet_daemon.DaemonControl:92: Starting lbrynet-daemon from command line
2017-06-13 19:01:59,525 INFO     lbrynet.lbrynet_daemon.DaemonServer:64: Using non-authenticated API
2017-06-13 19:01:59,546 INFO     lbrynet.lbrynet_daemon.Daemon:254: Starting lbrynet-daemon
2017-06-13 19:01:59,569 INFO     lbrynet.lbrynet_daemon.ExchangeRateManager:174: Starting

[2017-06-16 04:30] tzarebczan commented on #692
in app (not sure if this was the first time around, or when it already became unresponsive:
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
/C:/Program%20Files/LBRY/resources/app/dist/show?uri=lbry://@CasuallyExplained/casually-successful:1 Uncaught (in promise)
Object
code
:
-32500
data
:
Object
message
:
"'ascii' codec can't decode byte 0xcc in position

[2017-06-16 04:33] tzarebczan commented on #692
Also getting it here:
Error)
jsonrpc.call @ jsonrpc.js:73
lbry.call @ lbry.js:120
(anonymous) @ lbry.js:466
lbry.file_list @ lbry.js:450
(anonymous) @ file_info.js:57
(anonymous) @ index.js:11
dispatch @ applyMiddleware.js:45
(anonymous) @ app.js:230
(anonymous) @ index.js:11
onDaemonReady @ main.js:85
init @ main.js:96
(anonymous) @ main.js:102
__webpack_require__ @ bootstrap fa6bf96…:19
(anonymo

[2017-06-16 17:27] kaykurokawa opened #703 "blob_list API command lacks proper docstring"
API command blob_list  needs a proper docstring, so it can be run through CLI

[2017-06-16 17:43] kaykurokawa commented on #702
According to the docstring this function should be returning a parsed JSON formatted transaction, so this looks like a bug.

[2017-06-16 17:52] liuxun1977 commented on #702
I'd like to see the address in the transaction record. Is there any way?

[2017-06-16 17:56] liuxun1977 commented on #702
I'd like to see the address in the transaction record. Is there any way? @kaykurokawa

[2017-06-16 18:11] kaykurokawa commented on #702
You can use lbrycrd's decoderawtransaction command for now

./lbrycrd-cli decoderawtransaction

010000000187d12f8ce0cd229eec3823a97a169c3f20ba31af26d4e3975edf4f20566d4a1a010000006b483045022100cdfd7990a4d7363fc5c13d46dc83be31ccfbe53499a5a9b10e54ab5f4e41be610220652fc5e3b7bb8a4bc626efcd7db220d8fa1c99c4ee2b6a31aedac1b03a6364d9012103c9f29f0d7e0fd134c2d950e979bd545add50faf9f85ec574fe0058fd6a24f347ffffff

[2017-06-16 18:18] liuxun1977 commented on #702
/ lbrycrd-cli can be called by API? @kaykurokawa

[2017-06-16 18:20] liuxun1977 commented on #702
I need to query the transaction record in the Java project. @kaykurokawa

[2017-06-16 18:23] kaykurokawa commented on #702
You need to download lbrycrd https://github.com/lbryio/lbrycrd to use lbrycrd-cli
Another option is downloading lbryum and running the "deserialize" command in console https://github.com/lbryio/lbryum

[2017-06-16 18:28] liuxun1977 commented on #702
Do these two methods provide an API? @kaykurokawa

[2017-06-18 04:03] kimihiro64 opened #706 "Library downloaded/published will not load after upgrading from legacy"
I upgraded from lbry 0.6.9 or so to latest 0.12.0, when going to downloads/publishes, it just sits on Loading... forever. I can see it running through lbry URLs for things I've download/published in the past in the console. Here are some potentially useful console warnings/errors, betting it's the last one:

2017-06-17 22:29:12,812 WARNING  lbrynet.core.sqlite_helpers:14: database was locked. reru

[2017-06-18 04:07] kimihiro64 opened #707 "Can't release old claim"
Awhile back, I had an overturned claim with a substantial amount of LBC in it, but because of a bug at the time, I was unable to release that particular claim. And now I've forgotten how to look up and release that claim to see if it's been fixed. Pointers on listing and releasing existing claims with daemon commands? Reporting as an issue in case it's still bugged.

About
Your copy of LBRY is up

[2017-06-18 04:13] tzarebczan commented on #707
Please join us on slack to ask questions like these instead of opening issues. Here is a YouTube tutorial on how to abandon. The commands are in the api guide too. We will be making this possible with the GUI in the future.

https://youtu.be/l1eqoE9xNsg

[2017-06-18 04:18] tzarebczan commented on #706
It's a known issue, we have it logged under here https://github.com/lbryio/lbry/issues/661

[2017-06-18 04:21] tzarebczan commented on #661
Another user (https://github.com/lbryio/lbry/issues/706) reporting same issue of not being able to show downloads and published (stuck on loading) . That was the orignal subject of the ticket that was reopened here. Not sure if its intent was lost due to the said file list error.

[2017-06-18 04:34] kimihiro64 commented on #707
satan@satan-Aspire-V5-591G:~/Downloads/LBRY Daemon$ ./lbrynet-cli claim_list_mine
WARNING:lbrynet.conf:Ignoring invalid conf file setting: wallet_type
WARNING:lbrynet.conf:Ignoring invalid conf file setting: requested_first_run_credits
WARNING:lbrynet.conf:Ignoring invalid conf file setting: start_lbrycrdd
[]

Now I can't even get the claim id >.>

[2017-06-18 04:39] tzarebczan commented on #707
Are you running the daemon? Are you on the old wallet type, i.e wallet.dat as opposed to default_wallet? When is your orignal install from? Might need help from @jack here, but give him some time as it's the weekend.

[2017-06-18 04:48] kimihiro64 commented on #707
Original install was one of the first alpha clients. But the claim issue must've happened somewhere around 0.6 or 0.5, I /think/ the transaction happened on the newer lbryum wallet.

[2017-06-18 07:02] kimihiro64 commented on #707
Address that holds the claim: https://explorer.lbry.io/#!/address/bPLRZUG7Kodc4aqeAkcF2gJL1WGDFRepKj

Transaction ID: https://explorer.lbry.io/#!/transaction/5ecc82698582e10e2f0f6346c5aabafe26d24d5aebd529daf31e13256355b2a1

Claim ID: c0de6d96466986e5a1b6d3c1c52c6712d1f12049

But when I try to abandon, says claim not found. Likewise claim_list_mine returns empty. That address is in my wallet though

[2017-06-18 18:48] kimihiro64 commented on #707
It looks like the bug is caused by the fact that the claim was stored incorrectly. When I filter get_name_claims to only look for address bPLRZUG7Kodc4aqeAkcF2gJL1WGDFRepKj, it has no txos or txis returned from self.get_addr_io(addr).

[2017-06-18 19:01] kimihiro64 commented on #707
self.txo.get(tx_hash, {}) for tx_hash 5ecc82698582e10e2f0f6346c5aabafe26d24d5aebd529daf31e13256355b2a1 returns only {u'bTxsfS8mucMEGmZVHcequTp861XnaEbtit': [[0, 947200, False]]}. In other words, the actual address with the claim amount bPLRZUG7Kodc4aqeAkcF2gJL1WGDFRepKj was not listed as an address, even though its own history is tied to that tx_hash. It would seem my 1510 literally fell off the b

[2017-06-19 00:52] dskvr opened #708 "Enable wallet encryption"
#179 was opened and then addressed some time later in #212 which was then closed because it would require refactoring. I cannot find any evidence that this is being worked on.

It's a matter of history that an unencrypted wallet is asking for trouble. Steps to using hot wallets:
- Download wallet
- Encrypt Wallet with high entropy
- Don't forget to encrypt wallet

It would be my opinion, that havi

[2017-06-19 00:57] tzarebczan commented on #708
Take a look at https://github.com/lbryio/lbry/pull/631 for most recent update.

Adding encryption adds a layer of inconvenience to the users, which needs to be dealt with carefully so as not to disrupt the UX.

We've recommended creating a separate wallet (generated, zipped and password protected) for storing large amounts of LBC.

We also were recently integrated to Coinomi, which should be comin

[2017-06-19 01:15] dskvr commented on #708
As someone who has a day job that consists of standing between marketers who want to destroy UX and backend devs who do everything they can to make it difficult, I empathize

However, anything that deals with storing and/or transmitting cryptocurrency is essentially a bank. This argument is not much different from saying that password strength requirements are an encumbrance to conversion rates, a

[2017-06-19 04:51] tzarebczan commented on #708
I'll share your concerns with the team, in the case they don't read this.

Coinomi with LBC is available for Android right now and from what we hear, ios and desktop projects are around the corner.

[2017-06-19 07:43] filipnyquist commented on #708
And it's being worked on aswell :)

[2017-06-19 10:25] kimvuchannel opened #709 "-6: Insufficient funds"
Please help me
https://uphinhnhanh.com/image/LJ4vf

[2017-06-19 11:23] tzarebczan commented on #709
Looks like you have 0 in your wallet.

Please stop opening an issue here for your errors. Please use #help channel on slack first, and he will ask you to open a github issue if required.

[2017-06-19 11:23] tzarebczan commented on #709
If you have a really old install, it's recommend to start with a new wallet

[2017-06-19 12:13] tzarebczan commented on #709
Looks like our hot wallet is kicked, please give us some time to replenish.

[2017-06-19 12:14] tzarebczan commented on #707
Did @wallermadev help you out? Can we close this?

[2017-06-19 12:53] tzarebczan opened #710 "Daemon start fails if port is already bound"
## The Issue
If there are other services running on the typical daemon port (and possibly on 3333/4444), the daemon will fail to load.
### Steps to reproduce
1. Run claymore miner
2. Run lbry.
3. Receieve error

### Expected behaviour
Port should be incrementally revised until a free one is found. User should be made aware of any non default ports. (I.e if it's the daemon port, the api call will b

[2017-06-19 13:44] #709 closed

[2017-06-19 18:21] kaykurokawa commented on #702
Yes they are both JSON RPC interfaces
fixed in https://github.com/lbryio/lbryum/pull/114

[2017-06-19 21:59] kaykurokawa commented on #708
I set up a description for password interface for anyone that wants to work on this https://github.com/lbryio/lbry/pull/712

[2017-06-20 00:27] kimihiro64 commented on #707
No, not fully resolved. I'm not really sure how to solve this honestly. I can try and fake the output to get it to try and recognize it was my claim, but not sure if the rest of the clients will accept that as a valid transaction.

[2017-06-20 00:51] nikooo777 opened #713 "wrong formatting for amount in resolve"
## The Issue
the output of the resolve method is not properly formatted/parsed when it comes to amounts.

### Steps to reproduce
1. run lbrynet-daemon
2. execute `./lbrynet-cli resolve sl-mER9f5zfk-Y`
3. observe the first certificate object

### Expected behaviour
amount should equal to 0.01 and be a string (probably)

### Actual behaviour
amount shows as 1000000

## System Configuration

[code]

[2017-06-20 00:59] nikooo777 opened #714 "claim_new_support improperly implemented"
## The Issue
The CLI does not properly wrap the method `claim_new_support` and doesn't  work

### Steps to reproduce
1. run lbrynet-daemon
2. `./lbrynet-cli claim_new_support lakelugano 211014137e729fe2c12a393698cd9355b419d220 1` (to add 1 LBC in support of lbry://lakelugano)

### Expected behaviour
1 lbc should go in support

### Actual behaviour
fails as follow:
[code]

## System Configuration

[2017-06-20 01:50] billbitt opened #715 "passing a bad URI to 'resolve' returns a result rather than an error"
## The Issue
When using ajax to make a 'resolve' request to the daemon, I am passing a bad URI.  Instead of receiving an error which would trigger my ajax call's .catch(), I get a result that is interpreted as a success and triggers the .then() case.

### Steps to reproduce
1. run daemon v0.13.1-windows
2. make a resolve request with curl passing a bad uri. example:
`$ curl 'http://localhost:5279/

[2017-06-20 02:00] kimihiro64 commented on #707
I hacked the code many, many times to force it to submit the abandon claim with (I hope) valid attributes, but it came back with this:

{
"reason": "error: The transaction was rejected by network rules.(16: mandatory-script-verify-flag-failed (Script failed an OP_EQUALVERIFY operation))\n[0100000001a1b2556325131ef3da29d5eb5a4dd226febaaac546630f2f0ee182856982cc5e000000006b483045022100fd09a5c9f6d753

[2017-06-20 02:08] billbitt commented on #715
I confirmed with Jack.  The actual behavior is the expected behavior.  The request is meant to be able to handle multiple URI's and respond with result/error for each.

[2017-06-20 02:08] #715 closed

[2017-06-20 02:16] billbitt opened #716 "Daemon hangs after timeout on get request"
## The Issue
After making a 'get' request that times out, when the daemon reaches the end of the timeout it hangs without responding to the curl request.

### Steps to reproduce
1. open the daemon
2. use curl to perform a 'get' request on a url that will time out. Example:
`$ curl 'http://localhost:5279/lbryapi' --data '{"method":"get","params":{"uri":
"fucksiacoin"}}'`
3. wait for the deamon to t

[2017-06-20 02:42] billbitt commented on #716
follow up... if you do a new curl request after the hang, the result is as follows:

second curl request:
`$ curl 'http://localhost:5279/lbryapi' --data '{"method":"get","params":{"uri":
"fucksiacoin"}}'
{
  "id": null,
  "jsonrpc": "2.0",
  "result": null
}`

new output in daemon:
`2017-06-19 19:39:26,036 INFO     lbrynet.core.Wallet:809: Resolving fucksiacoin`
`2017-06-19 19:39:26,503 INFO     l

[2017-06-20 14:51] kaykurokawa commented on #714
fixed https://github.com/lbryio/lbry/pull/717

[2017-06-20 17:27] kaykurokawa commented on #716
Can confirm that if get timeouts before it downloads a sd blob, the daemon will hang.

[2017-06-20 19:50] lyoshenka opened #719 "send_amount_to_address does not send transaction immediately, does not return txid"
`send_amount_to_address` queues the transaction, but it should send the transaction immediately and return the txid. I had a situation where I started the daemon and called `send_amount_to_address`. The cli said "true". Then I shut down the daemon. Turns out the transaction was not actually sent.

Bare minimum fix: have `send_amount_to_address` say something like "Payment queued", so at least you

[2017-06-20 21:06] lyoshenka opened #720 "RuntimeError: dictionary changed size during iteration"
I ran a script to send ~150 claims to an address. Here's the script:

[code]

After a few dozen claims were sent, I got the following error. The daemon froze and had to be killed.

[code]

[2017-06-21 17:04] lyoshenka opened #721 "Re-think max_key_fee"
There's a `max_key_fee` config in the daemon that prevents you from downloading anything over that fee. It's set to 25 USD by default. I think this needs to be changed somehow.

Option 1: remove it completely. the app already confirms before spending

Option 2: remove the default, or set it very high. Then if you want to actually enforce a limit, you can set it yourself.

Option 3: leave it as is

[2017-06-21 17:24] lyoshenka opened #722 "Write jsonrpc and cli tests"
Write tests for every single jsonrpc and cli command. Then write a test that fails if any jsonrpc or cli command does not a have a test for it, so we dont forget to write tests in the future.

[2017-06-21 17:29] kaykurokawa commented on #721
Note that max_key_fee is adjustable via API command settings_set.
I think the UI should just provide an interface to change max_key_fee.
The default could be set higher I suppose, but we should keep max_key_fee so that the daemon itself has some basic protection against it.

[2017-06-21 17:50] lyoshenka opened #723 ""Nothing to download" is a terrible error message"
If you try to `get` a name that doesn't resolve correctly, the daemon returns an error that says "Nothing to download". Please improve this. Here's one idea: `"Could not download " + name " because " + reason`

A good error message should tell me (a user who doesn't know *anything* about lbry) what went wrong and how to fix it.

Further reading: https://www.usertesting.com/blog/2015/09/23/what-hap

[2017-06-21 18:57] kauffj commented on #721
I support this remaining, being exposed in app UI, and defaulting to some
reasonable value like ~$50.

On Wed, Jun 21, 2017 at 1:29 PM, Umpei Kay Kurokawa <
notifications@github.com> wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-06-21 23:01] miketrimmel opened #726 "Error while running: pip install -U -r requirements.txt"
Collecting wsgiref==0.1.2 (from -r requirements.txt (line 31))
  Using cached wsgiref-0.1.2.zip
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/dt/15hq2jbn0l3c1xnqyg3xxhrh0000gn/T/pip-build-mk0x1u2k/wsgiref/setup.py", line 5, in <module>
        import ez_setup
      File "

[2017-06-21 23:37] zestyr commented on #726
You need to use Python 2.7, `lbry` doesn't support Python 3

[2017-06-22 02:56] #714 closed

[2017-06-22 03:14] jackrobison commented on #702
fixed in https://github.com/lbryio/lbryum/pull/114

[2017-06-22 03:14] #702 closed

[2017-06-22 07:51] miketrimmel commented on #726
Ok, thanks.

[2017-06-22 07:51] #726 closed

[2017-06-22 20:28] lyoshenka opened #728 "Uncaught Exception ENOENT"
Reported by user

![error](https://user-images.githubusercontent.com/362784/27454412-d5e80508-5767-11e7-854a-ed4fc3d4cfc7.jpg)

[2017-06-22 20:32] tzarebczan commented on #728
That's the same issue we had before where the daemon is deleted by windows for some reason. We could not reproduce. It happened to me when my pc shut down on me once.

User needs to reinstall latest version and the problem is fixed.

[2017-06-22 20:52] billbitt commented on #713
I got the same issue:
`
$ curl 'http://localhost:5279/lbryapi' --data '{"method":"resolve","params":{"uri":"deer"}}'
{
  "id": null,
  "jsonrpc": "2.0",
  "result": {
    "deer": {
      "claim": {
        "address": "xxxxx",
        "amount": "0.1",
        "claim_id": "fba48bba5daef3824848d962af8d65429935c4f6",
        "claim_sequence": 1,
        "decoded_claim": true,
        "depth": 11481,

[2017-06-23 13:59] kauffj opened #729 "max_key_fee setting is either bugged or incorrectly documented"
See: https://github.com/lbryio/lbry-app/pull/278

This is blocking an otherwise ready app PR.

[2017-06-23 17:26] #693 closed

[2017-06-25 00:37] kimihiro64 commented on #707
Was able to successfully abandon the transaction. Part of the bug was that the output address did not get stored in the 'txo' section of the wallet (I fixed this manually). The other part was that the nOut for this claim is 1, when lbry assumes nOut of 0 for claims. In this case nOut = 0 was the transaction fee, so I had to allow it in the code to use 0 in order to pass the sanity checks, and then

[2017-06-25 00:37] #707 closed

[2017-06-25 21:32] billbitt commented on #716
same thing is happening when getting the claim for `boni#8315fa0b7a3ba2b7806a4411214b0bf5bfc31677`

[2017-06-26 17:24] tzarebczan commented on #692
@kaykurokawa is this related and will be fixed in the next release too?  https://github.com/lbryio/lbry/issues/661

This is what I see in my log - I hope this has something to do with my Downloads/Published items not showing on Windows install. Other users have reported similar issues.

017-06-26 13:21:33,012 ERROR    lbrynet.lbrynet_daemon.auth.server:346: Failed to process file_list: 'ascii' cod

[2017-06-26 20:28] #728 closed

[2017-06-26 21:45] finer9 commented on #679
Thought this log had some interesting errors and info - the user receives this error message

[lbrynet (3).log.txt](https://github.com/lbryio/lbry/files/1103576/lbrynet.3.log.txt)

[2017-06-26 21:59] kaykurokawa opened #734 "Blob Encryption bottleneck"
It was reported that Blob Encryption was a bottleneck for publishing large files. For encryption we use Pycrypto which provides python interfaces for encryption algorithms written in C.

Quick improvements can likely be made by improving the lbrynet python code that calls Pycrypto by following some basic optimization tips https://wiki.python.org/moin/PythonSpeed/PerformanceTips.
This class is resp

[2017-06-26 22:01] tzarebczan commented on #679
@finer9 that one was related to this port issue: https://github.com/lbryio/lbry/issues/710

The one you saw, which I've seen before as well, is related to the daemon_settings.yml file. If deleted, it starts to work.  I think I can reproduce this on my brother in law's PC if needed.

[2017-06-26 22:02] tzarebczan commented on #710
Here is a log of the issue occurring: https://github.com/lbryio/lbry/files/1103576/lbrynet.3.log.txt

[2017-06-27 00:35] finer9 commented on #734
Thanks I sent to wolf0

[2017-06-27 02:10] liuxun1977 opened #735 "I generated a lot of lbry addresses"
I generated a lot of lbry addresses,The wallet starts slowly and the wallet receives no trade．why?

[2017-06-27 04:02] sleepdefic1t commented on #633
[code]

[2017-06-27 04:09] tzarebczan commented on #735
Please see https://github.com/lbryio/lbry/issues/437

[2017-06-27 04:18] liuxun1977 commented on #735
I need these addresses. I can't delete them

[2017-06-27 17:12] kaykurokawa commented on #703
fixed https://github.com/lbryio/lbry/commit/4c1a2b7e72a4a8c3d7b339479c1d4f6fae208c43

[2017-06-27 17:12] #703 closed

[2017-06-27 17:25] #721 closed

[2017-06-27 18:01] billbitt opened #737 "Error: Rejected by Network Rules (18: bad-txns-inputs-spent)"
## The Issue
When publishing a file, the transaction is rejected and I receive the following error message `error: The transaction was rejected by network rules.(18: bad-txns-inputs-spent)`

Possible reasoning: This issue is occurring on spee.ch, which publishes many claims and updates from the same wallet address.  So far this seems to only happen on the spee.ch daemon.  I cannot reproduce locall

[2017-06-27 18:02] billbitt commented on #737
This issue may be related to: https://github.com/lbryio/lbry/issues/552

[2017-06-27 18:03] billbitt commented on #737
UPDATE: after the issue was recurring for about 12 hours, it seems to have fixed itself.  Spee.ch is now publishing without receiving the error.

[2017-06-27 18:05] finer9 commented on #737
Because the unconfirmed transactions became confirmed?

On Jun 27, 2017 2:03 PM, "Bill Bittner" <notifications@github.com> wrote:

[2017-06-27 18:11] billbitt commented on #737
@finer9 I had to delete that update because it actually looks like it isn't fixed.  I'm doing some more testing to figure out why that one publish went through when others are getting rejected.

[2017-06-27 18:19] billbitt commented on #737
ADDITIONAL INFORMATION:
The above error only occurs when publishing a new claim.  If spee.ch is used to publish an image to a name that it has previously published to, the deamon recognizes this and makes an update to the previous claim rather than publishing a new claim.  In this case, the daemon successfully updates the claim and returns the transaction information.

For example:  `duckling#7070

[2017-06-27 20:46] tzarebczan commented on #735
That's the only fix we have right now. It's cumbersome because if you uploaded content, it needs to be re-uploaded and/or reclaimed. Is this your case, where you have many uploaded files?

[2017-06-28 05:14] liuxun1977 commented on #735
I don't need to upload a file. I need to assign a lbry address to each user for the filling @tzarebczan

[2017-06-28 16:09] akinwale commented on #734
It would help if I could get some test code for the publish process which I can use to benchmark and identify possible speed improvements.

[2017-06-28 17:01] billbitt commented on #737
@tzarebczan I was able to circumvent/fix the issue by removing my wallet and creating a new one.

[2017-06-28 17:13] kimvuchannel opened #738 "First Publish Claim Error"
i have error
http://sv1.upsieutoc.com/2017/06/29/haizzz.jpg
but i don't receive 10 credit :( my account only max 28 credit. Help me

[2017-06-28 18:15] tzarebczan commented on #738
Before posting issues in Github, please check with us on Slack (slack.lbry.io) so we can help you figure it out. I am closing this for now, please see below and let us know on Slack if you have any other issues.

It sounds like you may have claimed some LBC for your channel or published item. To get this back, you need to follow:
https://www.youtube.com/watch?v=l1eqoE9xNsg

API for reference: http

[2017-06-28 18:16] tzarebczan commented on #735
What is it exactly you are working through?

[2017-06-28 19:26] kaykurokawa commented on #734
You could either look at the functional tests https://github.com/lbryio/lbry/blob/master/tests/functional/test_misc.py#L395 which sets up the minimum classes required to test upload/download

Or look at lbry-in-a-box https://github.com/lbryio/lbry-in-a-box which uses docker to setup everything required to run lbry in a single machine, more specifically, look at the integration testing we run on lb

[2017-06-28 21:59] kauffj opened #739 "Include channel claim_id for channel based URI resolutions"
`resolve` on a channel based URL does not include the `claim_id` for the channel. This means that one cannot build a permanent URL based on the return values of a non-permanent URL. E.g.

[code]

The permanent URL for `lbry://@IGNonLBRY/linked-ep6` is `@IGNonLBRY#82433028490fb130238ad6cdd59d48bdb64b7d79/linked-ep6`, but since the channel claim id is not included, this URI cannot be built from the

[2017-06-28 22:04] tzarebczan commented on #739
Isn't it right at the top in the cerficate section? Third item.

[2017-06-28 22:12] kauffj commented on #739
Bah, so it is, how did I mess up checking that? What prompted this is that it does not appear to be available in the fileList action inside of the app, but I'll have to dig more.

[2017-06-28 22:12] #739 closed

[2017-06-29 06:08] #738 closed

[2017-06-29 06:46] liuxun1977 commented on #735
A transaction LBC currency website, like https://www.poloniex.com/ @tzarebczan

[2017-06-29 07:20] fcbrandon opened #740 "Feature request: Need a way to report NSFW content"
Found a video that is NSFW, but is not marked so, and there is no way in the UX to report is as NSFW - current reporting only allows for rights infringement.

Video in question -> lbry://@oscopelabs/thelovewitch-trailer.

I currently don't have the NSFW box checked, but this is the only thing I see, so I'm just guessing it isn't marked as such.

It's not super NSFW, but borderline PG-13/R for almo

[2017-06-29 11:58] tzarebczan commented on #740
Right now, NSFW flag is control by the person publishing the file. No one but the uploader can change this setting for that particular claim.

On the 6/22 call, something similar to this was discussed, but the question is how to do it correctly in a decentralized way.

[2017-06-29 15:13] kaykurokawa commented on #735
i suggest you used lbrycrd which handles large numbers of addresses https://github.com/lbryio/lbrycrd without problems.

[2017-06-29 19:17] kaykurokawa commented on #719
I think its important to remove the  payment queueing feature in the Wallet as it is causing a host of issues.

As you said, payments will get dropped on shutdown which is a huge issue. Only way to fully solve this is writing queued payments to disk immediately.

Another issue is https://github.com/lbryio/lbry-app/issues/117 , since lbryum Wallet is the only module that can tell you whether you ha

[2017-06-29 23:35] tzarebczan commented on #692
console:
index.html#/show?uri=lbry://@CasuallyExplained/casually-successful:1 Uncaught (in promise)
Object
code
:
-32500
data
:
Object
message
:
"'ascii' codec can't decode byte 0xcc in position 41: ordinal not in range(128)"
__proto__
:
Object

2017-06-29 19:27:47,904 INFO     lbrynet.core.client.ConnectionManager:38: Connection Manager 8d20e99a127c90c7b67641fefbe23609346058ab55ed878c4f3b66555c12

[2017-06-30 04:34] tzarebczan opened #742 "Daemon connection refused or timed out"
## The Issue
Several users are reporting connection issue, gui gets stuck on green blockchain screen.  One occurrence referenced a large wallet, but unlikely to be caused by that. It's a warning message at 1k. The cut off is at 15K. There was also another user in #735 which sounds like a very similar issue.

Connection either gets refused or times out.
![img_20170629_202154](https://user-images.gi

[2017-06-30 04:42] fcbrandon commented on #740
What about the mechanism that's used to blacklist content that infringes copyright? Seems like that could be used as well.

[2017-06-30 13:02] #735 closed

[2017-06-30 13:15] #723 closed

[2017-06-30 13:25] lyoshenka commented on #700
Duplicate of https://github.com/lbryio/lbry/issues/547

[2017-06-30 13:25] #700 closed

[2017-06-30 13:34] #574 closed

[2017-06-30 13:35] #646 closed

[2017-06-30 13:40] #645 closed

[2017-06-30 13:44] lyoshenka commented on #622
@jackrobison still waiting for an update

[2017-06-30 13:46] lyoshenka commented on #589
We're gonna stick with a DMG installer. Thanks @sprig and @charlie-c for convincing us.

[2017-06-30 13:46] #589 closed

[2017-06-30 13:47] tzarebczan commented on #740
Right now that has to be done manually (with human intervention) via the report process. Also not a trial task to do in a decentralized way via app.

[2017-06-30 13:50] lyoshenka commented on #533
Can you please try again in the latest version (https://github.com/lbryio/lbry/releases/latest)? I believe this is fixed.

[2017-06-30 13:51] lyoshenka commented on #530
Moved the issue to https://github.com/lbryio/lbry/issues/710

[2017-06-30 13:51] #530 closed

[2017-06-30 13:52] lyoshenka commented on #515
https://github.com/lbryio/lbry/issues/630

[2017-06-30 13:53] lyoshenka commented on #521
https://github.com/lbryio/lbry/issues/630

[2017-06-30 13:53] #521 closed

[2017-06-30 16:23] lyoshenka commented on #275
Fixed with code signing

[2017-06-30 16:23] #275 closed

[2017-06-30 16:24] lyoshenka commented on #208
@tzarebczan can you please test this to verify that its fixed

[2017-06-30 16:25] lyoshenka commented on #179
Conversation has moved to #708, closing this

[2017-06-30 16:25] #179 closed

[2017-06-30 16:31] tzarebczan commented on #437
The correct location of the commands.py is :https://github.com/lbryio/lbryum/blob/master/lbryum/commands.py

[2017-06-30 17:38] kauffj commented on #742
@tzarebczan "daemon connection refused or timed out" is a catch all message display when the daemon cannot be connected to. On it's own, it's difficult to investigate from this message alone.

Instead, when a user reports this issue, we need to get their lbrynet.log file and use those details to figure out specifically why the daemon is not starting in that particular instance.

In this case, the

[2017-06-30 17:38] #742 closed

[2017-06-30 17:41] kauffj opened #744 "Community Tagging"
Supporting tagging (or categories) is fairly straightforward if we allow the publisher full control, but the ideal solution for tagging is one that allows community consensus. That is, there is some sort of consensus or voting mechanism that does not give the publisher full control over the tags applied to their content.

Community-based tagging would also solve issues surrounding adult content be