[2018-01-26 18:28] jackrobison opened #1596 "Support modifiers on /<name>"
A `/<name>` uri does not support modifiers, so multiple claims within a channel can't be handled currently if the uri includes the channel name. These claims can only be accessed with uris like `lbry://<name>#<claim_id>`.

Another option would be to support full `<name>[modifier]` parsing down a `/` separated path instead of only extending it one level. Certificate claims can themselves be signed,

[2018-01-26 20:18] kauffj opened #1084 "Improve behavior when unable to connect to lbryum-server"
When unable to connect to `lbryum-server`, the daemon will currently fail with a trace similar to the following:

[code]

There are several issues with this:
1. It's poor UX to wait a full two minutes and then simply die. `status` should instead report it is unable to connect, and can report this sooner than 2 full minutes.
1. Since the daemon doesn't report it's inability to start in a formal way

[2018-01-27 00:45] kauffj commented on #1056
@eukreign if electrum has switched to MIT, I suspect there is no issue here.

[2018-01-28 04:19] KamilPiekutowski commented on #930
It appears that dictionary {u"download_directory":" u"max_key_fee=zzz"") is being passed to settings_set
in Deamon.py.
It can be seen in kwargs below.
        yield self._update_settings(kwargs)

Any ideas why would max_key_fee="zzz" be assigned to download_directory before it gets here?
I also looked at the buffer and it is already in there.

[2018-01-28 04:54] KamilPiekutowski commented on #895
self.get_blobs_for_stream_hash does not get executed
although it is assigned to a callback here:
        d.addCallback(self.get_blobs_for_stream_hash)

[2018-01-29 06:14] ordex commented on #859
@lyoshenka Are planning to be fully compatible with other DHT libraries? If not, the first point is probably not really needed, while the others all sound meaningful.

This said, shortening the `rpcID` and refactoring the `headerArgs` could probably go in now, but I'd wait before considering the rest as they may introduce more inconsistencies in our DHT.

OTOH, since #1007 is going to break BC, we

[2018-01-29 06:15] ordex commented on #859
Speaking about DHTv2: is there any plan to port the DHT to a different language? I have seen that Go is becoming popular among the team, but I am not sure what's the plan going forward.

[2018-01-29 14:53] lyoshenka opened #1087 "windows build is failing on appveyor"
[code]

[2018-01-29 15:08] ordex commented on #984
Hi, even though the error is now hidden (in the 'debug' log level) it is yet not fixed. I get the warning consistently while running lbrynet-daemon. Shouldn't this be fixed?

[2018-01-29 15:09] tzarebczan commented on #984
[code]

[2018-01-29 15:12] lyoshenka opened #1088 "add unit tests to storage class (db refactor)"
related: #1020

tests for:
- ClaimStorage
- more File tests
- invalid cases (storing invalid stream hash, invalid blobs, etc)

[2018-01-29 15:13] lyoshenka opened #1089 "post-review work for #1020"
#1020

[2018-01-29 15:20] lyoshenka opened #1090 "Refactor abandon claim based on comments in previous issue"
related: #768

[2018-01-29 15:32] lyoshenka opened #1091 "Document LBRY peer protocol"

[2018-01-29 15:32] lyoshenka opened #1092 "Document reflector protocol"

[2018-01-29 18:43] #1077 closed

[2018-01-30 03:49] tzarebczan commented on #1027
Was not able to reproduce - downloaded that blob correctly from the same host from 2 different machines:

`2018-01-29 21:39:20,150 INFO     lbrynet.core.client.BlobRequester:563: Blob 85edf7f242ef1f89 has been successfully downloaded from 18.216.44.108:3333`

`2018-01-29 22:43:26,496 INFO     lbrynet.core.client.BlobRequester:563: Blob 85edf7f242ef1f89 has been successfully downloaded from 18.216.

[2018-01-30 03:50] tzarebczan commented on #1083
Was not able to reproduce, see findings here: https://github.com/lbryio/lbry/issues/1027#issuecomment-361468615

[2018-01-30 03:50] #1083 closed

[2018-01-30 10:02] ordex opened #1093 "connection to known DHT nodes attempted only once"
A DHT node attempts to connect to the configured `known DHT nodes` during DHT startup, however, if something fails the node won't try to reconnect again.

This leads to the node printing something like this:
`2018-01-30 17:20:23,350 WARNING  lbrynet.dht.node:596: This node doesnt know any other nodes`
and won't resolve by itself - it needs a restart.

This behaviour should be changed so that the n

[2018-01-30 10:44] akinwale opened #1094 "Implement SSL for daemon JSON RPC"
There needs to be a way to enable the daemon's JSON RPC server accept requests securely, with a configuration option to enable or disable SSL. The daemon can generate a self-signed certificate upon first run when SSL is enabled and use the certificate to handle requests securely.

[2018-01-30 16:43] lyoshenka commented on #1027
lets close for now. reopen if it happens again.

[2018-01-31 01:43] tzarebczan commented on #1093
Great find @ordex !

[2018-02-01 14:08] lyoshenka commented on #859
It's ok if we're not compatible with other libraries, but I'd like us to be compatible with other languages (like Go), which generally requires being more consistent with our return types. If we sometimes return a string, and sometimes an int, and  sometimes None, that's annoying to handle in strongly-typed languages.

We are indeed working on a Go implementation of the DHT. Are you interested in

[2018-02-01 16:05] eukreign commented on #768
Done in lbryio/lbryum#198

[2018-02-02 22:05] tzarebczan opened #1098 "claim_list_mine should return results ordered consistently (by height?)"
## The Issue
Recently noticed an issue where newly published items were showing up out of order on my published list. Checked with the app team and they take the result of claim_list_mine and reverse it to display on the page. This means that claim_list_mine isn't returning the results in a consistent manner.

My claim_list_mine output is below. It's returning heights in this order:  307153, 31445

[2018-02-02 22:08] kauffj commented on #1098
@jackrobison good first issue?

[2018-02-02 22:50] tzarebczan commented on #1045
@lyoshenka I'm putting this on the user wish list because it causes UX friction in a few different scenariois, see below. It also may be related to: https://github.com/lbryio/lbry/issues/855

1) When creating a channel or publishing, some users may enter a value that's equal to their wallet balance and the result is https://github.com/lbryio/lbry-app/issues/874

2) When trying to send an amount th

[2018-02-02 23:16] tzarebczan commented on #1062
Just confirmed that indeed the amount stays at the original bid and the effective amount will the updated amount. Not sure if that's intentional or not. I don't see why we would ever want to know the original bid amount. The effective amount would then just be amount + supports where amount is the latest claim bid.

[2018-02-04 01:03] GWBasic commented on #626
I might have a fix in my branch at: https://github.com/lbryio/lbry/compare/master...GWBasic:626_ExceptionWhenShuttingDownAtStartup?expand=1

Is there any way to run unit tests or some kind of automated tests before I make a pull request?

[2018-02-05 03:36] hackrush01 commented on #1078
This can be determined easily in the daemon, but this should really be taken care on the lbryum side as it has inbuilt support for handling the realted issue.
Closing.

[2018-02-05 03:36] #1078 closed

[2018-02-05 03:40] hackrush01 commented on #1079
Only 0 bid value will be checked in the daemon, which is checked in lbryum, but checking for that in daemon saves the whole process of a lot of calls, and creating streams etc.
Closing

[2018-02-05 03:40] #1079 closed

[2018-02-05 14:04] jackrobison commented on #1087
This error isn't happening any more, but the build is still failing (appveyor raised our limit from 1gb to 10): https://ci.appveyor.com/project/LBRY/lbry/build/1.0.3339#L1418

[2018-02-05 20:26] lyoshenka opened #1102 "Improve error message when you try to send an amount that you have, but you don't have enough to pay the fee"
Related: #1045, lbryio/lbry-app#903

[2018-02-05 23:14] rickbatka commented on #930
@KamilPiekutowski I think I'm going to take this on, if that's OK with you!

[2018-02-06 00:10] KamilPiekutowski commented on #930
@rickbatka  sure not a problem. I hope I was helpful a little.

[2018-02-06 14:13] #1093 closed

[2018-02-06 15:46] lyoshenka commented on #854
Next step: figure out if Websockets is the right solution to this

[2018-02-06 15:47] lyoshenka commented on #854
Related: http://wamp-proto.org/

[2018-02-06 16:01] lyoshenka commented on #1045
steps:
- [] make a lbryum command which takes an amount, creates a transaction, and figure out how big it is. then return estimateFeeForSize(tx_size)
- [] for a publish, add in claim info into the above command
- [] make lbrynet command that does these
- [] write tests
- [] pr review

[2018-02-06 16:07] lyoshenka commented on #909
jack will work on this soon

[2018-02-06 16:19] jackrobison opened #1595 "Make claims smaller"
Explore options to make claims smaller.

Develop a proposal

[2018-02-06 16:20] lyoshenka commented on #803
steps:
- [ ] figure out db structure for storing payment info (connect claim_outpoint of payment to stream_hash of file)
- [ ] write migration
- [ ] add functions to save/retrieve payment info to Storage class
- [ ] add check for this in Downloader class
- [ ] add payment info to transaction_list and file_list
- [ ] figure out the correct model for storing deleted blobs. do you delete all the info

[2018-02-06 17:04] kauffj commented on #854
@lyoshenka I think this possibly conflates two different issues. We don't need sockets or the ability for the daemon to push data to apps to solve this (though this is a great idea!).

Currently, existing apps _already_ regularly poll `get` and `file_list` to determine state. This change is simply to have `get` and `publish` return immediately, with some kind of field indicating their status ("pen

[2018-02-06 23:26] rickbatka commented on #930
Yeah @KamilPiekutowski I just took a look and it does look like the code in Daemon.py is operating correctly; the dictionary is already broken when it gets there like you said.

I traced it back as far as I could and found that the JSON that hits the server.py _render method is broken:
[code]
I don't know yet exactly where things are going wrong, but the JSON is bad before it gets to server.py - i

[2018-02-06 23:35] rickbatka commented on #930
Never mind, I found it - it is on the cli side. Looks like a docopt change will fix that part. I think I can handle it from here.

[2018-02-06 23:37] KamilPiekutowski commented on #930
Let me know, if you need my help.

[2018-02-07 14:53] kauffj opened #1103 "Command "help" should return a sorted (and newlined?) list"
When calling `help`, the commands listed are in a seemingly random order:

[code]

At a minimum, these should be sorted. I would also consider just putting a new line after each command, or other ways to display them.

[2018-02-07 17:56] rickbatka commented on #930
@kauffj See my PR above. A few notes and follow-up questions:

1. I disabled positional arguments altogether for settings_set - I agree that it didn't make sense for it to work that way. Besides updating the documentation in docs/cli.md, and putting a note in the changelog, is there anything else I need to do before making a breaking change to the CLI like this?
1. In implementing your second requ

[2018-02-08 14:38] lyoshenka commented on #1103
I dropped the list of commands from help. If you want to see the commands, run `lbrynet-cli commands` (its mentioned in the help too).

[2018-02-08 14:38] #1103 closed

[2018-02-08 19:37] tzarebczan opened #1105 "Exclude blocked content from official LBRY nodes"
## The Issue
To go along with https://github.com/lbryio/lbry-app/issues/565, the daemon should abide by the blacklist (https://api.lbry.io/file/list_blocked) and take the necessary actions when an outpoint is found on an official LBRY node.

We should discuss what this actually means - does it stop announcement of the content, is the content purged?

## System Configuration

- LBRY Daemon version:

[2018-02-08 19:41] kauffj commented on #1103
@lyoshenka why does commands exist separately? Why not just have `help` list them?

[2018-02-08 19:55] kauffj commented on #930
@lyoshenka can we get @rickbatka some guidance on this?

[2018-02-08 19:57] lbrydocs opened #1106 "Improve install instructions"
I am working on documentation for installs of the main pieces of the LBRY system. I use the following environment for testing:

Lubuntu 16.04.3 LTS - Ubuntu derived, takes half the disk space due to graphics diet.
apt update/apt upgrade so it's current.
tmux - share screens and log activity to text file, so I can watch a developer do an install.

When I run the install for lbry it builds smoothly,

[2018-02-09 00:05] tzarebczan opened #1107 "Claiming with exact amount in wallet produces confusing result"
## The Issue
This issue is related to https://github.com/lbryio/lbry/issues/855 and https://github.com/lbryio/lbry/issues/1045, but wanted to log it separately as the daemon is returning a confusing message - `Claimed a new channel` and then  `'success': False`.  On the app side, the channel is created but then a different error occurs when you try publishing because the channel does not exist. Wi

[2018-02-09 01:21] tzarebczan commented on #980
@MSFTserver just saw this while reviewing issues. If you can get this to reproduce consistently, please file an issue in the spee.ch repository.

[2018-02-09 01:27] tzarebczan commented on #626
@GWBasic looks like someone submitted a PR for this already: https://github.com/lbryio/lbry/pull/1095

Best way to test the fix would be to follow the reproduction steps noted in the original issue. I'm not sure any unit tests would catch this.

[2018-02-09 02:13] #1080 closed

[2018-02-09 02:13] #1081 closed

[2018-02-09 15:03] #1088 closed

[2018-02-09 17:13] #1037 closed

[2018-02-09 17:17] #930 closed

[2018-02-09 20:34] lyoshenka commented on #1103
Because when you call `help`, you want to read the stuff there. If you get
a giant list of commands at the bottom, you'll have to scroll all the way
up to the top to see the original help text.

On Thu, Feb 8, 2018 at 2:52 PM, Jeremy Kauffman <notifications@github.com>
wrote:

[2018-02-09 21:03] kauffj commented on #626
@lyoshenka can you please give @GWBasic some guidance for this? Andrew is working on this issue as protocol engineer candidate.

[2018-02-10 03:45] hackrush01 opened #1109 "Calling `settings_set` writes invalid config in the daemon_settings.yml"
`daemon_settings.yml` before and after passing a valid setting(happens for any setting, either valid or invalid)
Specifically `lbryum_servers` field is overwritten in the python's list format instead of colon separated
[code]

[2018-02-10 20:34] IGassmann commented on #1087
The error was happening due to policy changes from AppVeyor aimed to prevent abuses. Fortunately, the error isn't happening anymore.

[2018-02-10 20:34] #1087 closed

[2018-02-12 14:16] jackrobison commented on #827
Fixed in https://github.com/lbryio/lbry/pull/1025

[2018-02-12 14:16] #827 closed

[2018-02-12 21:40] #623 closed

[2018-02-12 21:43] lyoshenka commented on #895
fixed by https://github.com/lbryio/lbry/pull/1100

[2018-02-12 22:03] kauffj opened #1111 "Play nicer with Python 3"
If a user attempts to install lbry via Python 3, it fails in ways that are not obvious of the root cause.

1. INSTALL.md should indicate Python 2.x is required.
2. Possibly change the setup process to involve running a setup script rather than going directly to pip, so that that script can warn you you're on the wrong version.

[2018-02-12 23:00] andrefisch opened #1112 "Installation From Source Issue"
## The Issue

When I install the code from source I follow all the steps (using pip2) and all of the commands execute without problems until I run the command "lbrynet-daemon". When I do I get the following output.

Traceback (most recent call last):
  File "/usr/local/bin/lbrynet-daemon", line 11, in <module>
    load_entry_point('lbrynet', 'console_scripts', 'lbrynet-daemon')()
  File "/usr/loca

[2018-02-12 23:14] tzarebczan commented on #1112
Was this on a fresh

[2018-02-12 23:15] tzarebczan commented on #1112
Was this on a fresh install or did you possibly have some of the dependent objects already installed? I found this https://stackoverflow.com/questions/47197083/python-pip-error-just-after-fresh-install on stackoverflow, mind giving it a try?

[2018-02-12 23:55] kauffj commented on #1112
@andrefisch can you please post the full command line output, including the steps before this? If this wasn't done in a virtual environment, please make sure to do that.

[2018-02-13 04:43] andrefisch commented on #1112
following the instructions in the link provided by tzarebczan solved the problem

[2018-02-13 04:48] KamilPiekutowski commented on #1070
Can we open a discussion on how to tackle this one?
It looks very exciting.

[2018-02-13 12:36] tzarebczan opened #1113 "Add ability to lock wallet for security/seeding purposes"
@tzarebczan commented on [Tue Jan 16 2018](https://github.com/lbryio/lbryum/issues/197)

Currently, the wallet encryption process works as follows: Once the wallet is encrypted, it must be unlocked when the LBRY app is started.  Once it is unlocked, the wallet is a usable state where transactions can be created (publishing, sending, tipping, etc).

As a user, I may want to run the lbry in the back

[2018-02-13 15:24] #1089 closed

[2018-02-13 15:25] #1112 closed

[2018-02-13 15:38] lyoshenka opened #1114 "Release daemon v19"

[2018-02-13 20:55] jackrobison commented on #1020
https://github.com/lbryio/lbry/pull/1025 refactors the stream and file creation process and storage in the database to do this. It does not significantly change the confusing inheritance of the lbry file classes, however it does remove redundancy of many associated functions (which are now in `lbrynet.core.StreamDescriptor`). The lbry file classes should be further refactored later and shouldn't r

[2018-02-13 21:34] #1020 closed

[2018-02-14 00:43] KamilPiekutowski commented on #1109
I got this if you don't mind.

[2018-02-15 01:52] Jeremy1026 opened #1116 "claim_list response in no particular order"
## When using the claim_list API method the results return in no particular order.

### Steps to reproduce
1. Launch daemon
2. Enter command `claim_list one`

### Expected behaviour
The resulting output should be returned in an order, perhaps `claim_sequence` or `height` descending.

### Actual behaviour
The resulting output is returned in no discernible order.

## System Configuration
[code]

[2018-02-16 15:15] tzarebczan opened #1117 "V19 - ConnectionManager spam invalid streams / cleanup of streams fails"
## The Issue
After upgrading to v19 RC35, connection manager keeps trying to recover invalid streams:

[code]

### Expected behaviour
Fail to start once, notify user

### Actual behaviour
Spams over and over

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-02-18 06:35] hackrush01 commented on #1082
Review #1108

[2018-02-19 20:23] tzarebczan commented on #1073
@jackrobison I don't see any messages about blob manager/blob counts in the latest RC, was this removed on purpose?

[2018-02-19 21:08] tzarebczan opened #1118 "Standardized numeric error codes"
## The Issue
Numeric error codes were discussed sometime back on Slack and more recently here: https://github.com/lbryio/lbry-app/issues/1025#issuecomment-366457165

The next steps would be to:
1) use error codes in all new exceptions/errors
2) build a list of all places where error codes can be introduced.
3) communicate with error codes via documentation
4) communicate changes to app team

Slack

[2018-02-19 22:03] kauffj commented on #1118
@jackrobison @eukreign This one seems very easy to get started; we simply need to determine the signature pattern. It's not necessary to add codes to all errors to complete this ticket, but determining the pattern would at least allow them to be added for all future errors and a few key errors as necessary.

If the design is simple/obvious enough, then I suspect even the app team will PR error cod

[2018-02-19 22:04] kauffj commented on #1118
Plus, then @eukreign could add a test to prevent new exceptions without codes :grin:

[2018-02-20 05:20] eukreign opened #1119 "CHANGELOG check on travis should not require ruby"
@eukreign commented on [Tue Feb 13 2018](https://github.com/lbryio/lbryum/issues/224)

We need a simpler/faster way to do the CHANGELOG checks when doing the travis builds. Currently travis has to download and install ruby and packages just to check the changelog, which takes significant time and produces a lot of log output.

[2018-02-20 16:21] eukreign commented on #880
from @hackrush01 on slack: https://medium.com/@boxed/moving-a-large-and-old-codebase-to-python3-33a5a13f8c99

[2018-02-20 18:02] eukreign opened #1120 "instructional video on setting up and doing test driven development on lbry (protocol dev)"
Makes sense to do this after lbryum is merged into lbry and further improvements to lbrytest.

[2018-02-20 20:34] tzarebczan commented on #768
I'm going to re-open this since I've run into a possible edge case. The claim in question is found in the tx here: https://explorer.lbry.io/tx/7992634f28066c38a89b6e44ae81db23eceed663180bd2bd2604c6c7db351a10

[code]
Claim info:
[code]
I was able to abandon this: https://explorer.lbry.io/tx/3568224321ecda70349e81aa4a5daca9b0d102b70eacc66860ee13e7c364b4ff which had even a lower LBC

[2018-02-20 21:31] kauffj commented on #1119
A decent number of repositories in a variety of languages could use this functionality, so it'd be nice if there was a language-agnostic way of providing this.

Isn't one alternative simply to keep the check happening in Ruby but do it somewhere other than the build server? I'm not actually sure how the check works currently, but it should be possible to have a git pre-commit hook happen some plac

[2018-02-20 21:49] tzarebczan commented on #893
Not sure exactly in which version this behavior changed, but now the result is a 500 api error on the publish call and the daemon returns the follow when you try to publish before the channel confirms:

[code]
API return:
[code]

[2018-02-21 15:36] lyoshenka commented on #956
duplicate of lbryio/lbryum-server#49

[2018-02-21 15:36] #956 closed

[2018-02-21 15:58] lyoshenka opened #1121 "Improve daemon startup speed"
- Figure out what happens during daemon startup
- Make slow parts of startup faster
- Avoid blocking on as many things as possible

[2018-02-21 16:06] lyoshenka opened #1122 "Create accurate timer for daemon startup"
bonus: output elapsed time in json so we can include it in tests

[2018-02-21 20:48] btzr-io opened #1123 "Deprecation warning (API)"
## The Issue
I don't get any warnings for deprecated commands usign the api.
( Also api docs are outdated )

### Steps to reproduce
1. Just call a deprecated command (`send_amount_to_address`)
See example: https://github.com/lbryio/lbry/issues/1123#issuecomment-367565815

### Expected behaviour

https://github.com/lbryio/lbry/issues/1123#issuecomment-367573379

It should provide / show a deprecati

[2018-02-21 21:31] jackrobison opened #1124 "Stream terminator blob is in the wrong position for streams made with rc35"
Example sd blob:

[code]

[2018-02-21 21:58] kauffj commented on #1123
@hackrush01 are you working on this? It is really embarrassing to me to continue to have this happen to valuable contributors.

@btzr-io for whatever reason, the CLI docs are always up to date, so I recommend using those instead.

[2018-02-21 22:01] kauffj commented on #1123
Also @btzr-io I hope this means you're back! You'd love some of the design work @seanyesmunt and Nicolas have been working on.

[2018-02-21 22:23] #1124 closed

[2018-02-22 01:12] hackrush01 commented on #1123
@kauffj Yes this is what I'm currently working on.
@btzr-io can you please test and let me know whether the same command, when
called from cli, gives the deprecated command warning?

Kind Regards
Amit Tulshyan

On Feb 22, 2018 3:29 AM, "Jeremy Kauffman" <notifications@github.com> wrote:

@hackrush01 <https://github.com/hackrush01> are you working on this? It is
really embarrassing to me to continu

[2018-02-22 04:43] btzr-io commented on #1123
@hackrush01 Tested latest version v0.19.0rc36

#### LBRY-CLI
Shows a deprecation error :+1:
[code]
#### LBRY-API
The command works but there is no warning :confused:
[code]

[2018-02-22 04:46] btzr-io commented on #1123
I can confirm this is working with the `lbry-cli`, I'm still not sure if the `api` should do the same ?

[2018-02-22 05:39] hackrush01 commented on #1123
Thanks. I think the behavior should be consistent across the API and CLI. I
probe into the issue.

Kind Regards
Amit Tulshyan

On Feb 22, 2018 10:17 AM, "Baltazar Gomez" <notifications@github.com> wrote:

[2018-02-22 15:34] tzarebczan commented on #895
Reopening- https://github.com/lbryio/lbry/pull/1100#issuecomment-367078951

[2018-02-22 15:41] jackrobison commented on #895
fixed in https://github.com/lbryio/lbry/pull/1126

[2018-02-22 15:50] #895 closed

[2018-02-22 16:14] lyoshenka commented on #854
Thought about this some. I think there are times when we want it to return right away, and there are times when we want it to return when its done. I think the latter is more common, so we should add a `--return-immediately` flag.

[2018-02-22 17:05] jackrobison commented on #768
@eukreign decoding the failing raw transaction shows that it is indeed dust:

[code]

[2018-02-22 19:12] #748 closed

[2018-02-22 20:19] lyoshenka commented on #1117
i believe  this is fixed

[2018-02-22 20:21] lyoshenka commented on #984
good point

[2018-02-22 20:25] lyoshenka commented on #1106
Here's a lbry.service file that would work:

[code]

[2018-02-22 20:28] lyoshenka commented on #1109
that file is created when you edit settings. you can create it yourself.

[2018-02-22 20:30] tzarebczan commented on #1109
@hackrush01 did https://github.com/lbryio/lbry/pull/1104 possibly fi x this?

[2018-02-22 20:33] KamilPiekutowski commented on #1109
@hackrush01 should I still look into this?

[2018-02-22 20:33] tzarebczan commented on #1117
I'm not sure if @jackrobison tried to fix this particular issue, but he did attempt to clean up invalid streams in RC37. When I ran it, I got the below. He said he's looking into it.

[code]

[2018-02-22 20:34] lyoshenka commented on #1116
duplicate of #1098

[2018-02-22 20:37] tzarebczan commented on #1116
@lyoshenka 1098 is for claim_list_mine and this is for claim_list. Not sure if the underlying code is the same or not.

[2018-02-22 20:39] Jeremy1026 commented on #1116
Fixing one can be used to fix the other, but not a 100% overlap. If this is going to be labeled a duplicate of #1098, #1098 could probably stand to be updated to reflect claims_list in addition to claims_list_mine.

[2018-02-22 20:39] tzarebczan commented on #1109
@KamilPiekutowski can you see if this still happens on 0.19 RC37 using his example. You should be able to create that file from scratch with his settings and see if it still messes up the sever list.

[2018-02-22 21:43] jackrobison commented on #1061
The db refactor should not affect the speed of publishing substantially. The lag seen here is on the lbryum client <-> server level.

[2018-02-22 21:46] #1082 closed

[2018-02-23 22:11] lyoshenka commented on #626
sorry for the slow response. run `PYTHONPATH=. trial lbrynet.tests` to run the tests. you may need to install a few packages to get it to run. check the `script` section of `.travis.yml`

[2018-02-24 21:07] tzarebczan opened #1127 "V19 file_list issues when uploading/downloading"
## The Issue
Ran across a few issues (and questions) while testing file_list changes in V19 which I mentioned in Slack. One of the goals of these recent changes, as I understood it, was to disassociate file information from claim information as much as possible. Below are some scenarios where I noticed either unexpected/incorrect results. Claim information would change after daemon restart (and re

[2018-02-26 15:46] tzarebczan opened #1129 "UNIQUE constraint failed: blob.blob_hash when running get, download fails"
## The Issue
Not sure exactly what scenario this happens in yet, but I ran into it 2/3 times while testing the v19. The initial get fails, but it works after re-running it a 2nd time. The scenario below happened after the claim was edited, but not sure if that has something to do with it or not.

[code]

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens i

[2018-02-26 17:30] lyoshenka opened #1130 "Versioning for documentation to match daemon version"
Right now the docs correspond to what's on `master`. We need docs for each daemon release so developers can see what's available in the version they are using.

https://github.com/jimporter/mike may be helpful.

[2018-02-26 17:50] hackrush01 commented on #1109
@tzarebczan #1104 did not fix this.
@KamilPiekutowski The problem still persists, you're most welcome to look into it. It is most likely that the file `lbrynet/conf.py` is just dumping the data in python's dict format, whereas the data in `daemon_settings.yml` needs to be in yml(maybe json?)  format.

[2018-02-27 19:06] #984 closed

[2018-02-27 19:12] #1111 closed

[2018-02-28 01:00] jackrobison opened #1594 "Include the source in the hash used for generating signatures"
We'd also add a `certificateId` field to the stream descriptor format (this would go along with bringing it into lbryschema)

Currently the hash of the concatenated claim address, serialized value without a signature, and certificate claim id is what gets signed. If the `Source.source` is included in this hash and the `certificateId` is added to the lbry stream descriptor format, it will be possib

[2018-02-28 15:15] lyoshenka opened #1131 "Merge or close #835 (improper use of floats)"
https://github.com/lbryio/lbry/pull/835

[2018-02-28 15:16] tzarebczan commented on #1127
With Jack's latest changes, Publish scenarios 1 and 2 are slightly more correct. Scenario 1 gets an updated outpoint and scenario 2 produces a single file with an updated outpoint. The problem now is that after doing a resolve (after confirmation) and restarting the daemon, the outpoints go back to the original claims.

[2018-03-01 13:45] tzarebczan commented on #1127
Went through a few iterations with Jack, but the code still has trouble in most of the cases after an updated claim is resolved and the daemon is restarted.

[2018-03-02 22:40] eukreign commented on #1061
@kauffj @billbitt @lyoshenka We've determined the culprit to be `channel_list()` function. The solution for `spee.ch` is to pass the `channel_id` instead of `channel_name`, thereby bypassing this branch in the conditional:

https://github.com/lbryio/lbry/blob/7862ee67153214c29079028c35fae706dd5621e2/lbrynet/daemon/Daemon.py#L2079-L2089

[2018-03-03 04:02] #1114 closed

[2018-03-05 15:06] kauffj commented on #1061
@billbitt please change and deploy this today so we can verify it a positive effect.

[2018-03-05 16:05] tzarebczan commented on #1127
These issues are now resolved in v0.19 release. The claims are properly updated when edited on both the publisher and downloader sides. Claims no longer break after resolve + daemon restart also.

[2018-03-05 17:14] #1127 closed

[2018-03-05 19:33] jackrobison commented on #944
Fixed in 0.19.0

When a publisher updates their claim the stream and associated metadata update with it - they start with one file and end with one file. When someone who downloaded the previous claim sees the new update they also update the associated metadata, so long as it does not change the stream. An update with a new stream must be downloaded as a second file.

[2018-03-05 19:33] #944 closed

[2018-03-05 23:19] #762 closed

[2018-03-06 14:58] lyoshenka opened #1133 "Support HTTP sources"
Changes to the issue by @hackrush01
First refer to [the comment below](https://github.com/lbryio/lbry/issues/1133#issuecomment-400011940) for details
- [ ] add relevant fields to lbryschema to support this
- [ ] Addition of HTTPDownloader interface in the daemon, refer to document for details of the methods provided
- [ ] Implementation of the Interface
- [ ] Changes to db(still not worked out)

O

[2018-03-06 15:10] lyoshenka opened #1134 "Refactor errors"
- determine the pattern for all daemon errors
- differentiate between internal errors and user errors
- update all errors to use this pattern
- all user errors should have string constants in addition to messages

[2018-03-06 15:13] lyoshenka commented on #855
For now the app should handle this error in a custom way. We are planning to overhaul errors soon (issue )

[2018-03-06 15:14] #855 closed

[2018-03-06 15:33] lyoshenka opened #1135 "improve anonymous publish speed"

[2018-03-07 11:42] hackrush01 commented on #1107
PR #1137 fixes this.
Also claiming with very tiny amount (0.00000001) seems to be fixed in v19.
[code]
Snippet of txn list
[code]

[2018-03-08 18:05] IGassmann commented on #811
Daemon is not signed under the last release (v0.19.0) tested.

[2018-03-09 19:51] lyoshenka opened #1140 "Dont let file starting block daemon startup"

[2018-03-11 14:48] hackrush01 commented on #1121
There will probably a lot to do within the 3 broken down issues. I'm not sure. But this should serve as a general outline on what has to done.

[2018-03-12 00:07] tzarebczan opened #1141 "cryptonator.com exchange rate warnings in logs"
## The Issue
The cryptonator market feed fails with this warning which spams the log regularly. If the other main feeds are working, do we care if this one fails? Calling the api directly seems to work, so not sure if its failing sometimes or always.
[code]

https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/ExchangeRateManager.py#L159

https://github.com/lbryio/lbry/blob/master/lbrynet/dae

[2018-03-12 18:36] tzarebczan opened #1142 "Cannot update channel claims larger than wallet balance"
## The Issue
In solving https://github.com/lbryio/lbry/issues/748, we added the ability to use an existing bid amount for a claim bid, but we also need to perform the same logic on the channel update side as well. Currently, if you create another channel with the same name as an existing one, it will update the channel claim. In the future, the app may also allow the ability to edit channels, so t

[2018-03-12 18:56] tzarebczan opened #1143 "Add --sort option to file_list"
## The Issue
I've noticed previously that my Downloads items don't show in the correct order - not sure exactly what causes them to get out of sync in file_list. The question is - should file_list have a field which has the download date (or a better name?) for a particular file? There doesn't seem to be any information currently available which would help with sorting a user's downloads.

## Jere

[2018-03-12 20:17] #1107 closed

[2018-03-12 21:47] hackrush01 commented on #1142
Fixed here #1137.

[2018-03-12 21:47] #1142 closed

[2018-03-12 21:55] tzarebczan commented on #1142
My bad, didn't realize you fixed it already. Had it on my notes :)

[2018-03-12 21:57] hackrush01 commented on #1142
This got merged today, after you opened the issue I guess :-)

Amit Tulshyan,
Software Engineering Intern,
LBRY, Inc

On Mar 13, 2018 3:25 AM, "Thomas Zarebczan" <notifications@github.com>
wrote:

[2018-03-13 01:34] tzarebczan commented on #1117
This was fixed in RC1/RC2 (which have startup issues), but still broken in 0.19.0. Jack will be releasing an updated daemon with the fix for "InterfaceError: Error binding parameter 0 - probably unsupported type."

[2018-03-13 02:24] tzarebczan commented on #995
This is still happening to files like lbry://vareprver which only a few blobs are hosted correctly.

[2018-03-13 14:11] hackrush01 opened #1144 "Redownload blockchain_headers if blocks to sync are large"
This is the original issue: lbryio/lbryum#175
This will now be handled from the daemon side. Probably on top of `txlbryum` branch. Some changes will also be required in lbryum-server.

[2018-03-13 15:08] lyoshenka opened #1145 "fix directory issues in 0.19"
@tzarebczan says:

After the db upgrade, all files go to a default downloads directory.  This causes a few issues: 1) when you go to your claim and try to play the file, it won't be able to find it and then re-creates it in the default directory (even though downloads directory is set to something else) 2) any pending/incomplete downloads you had will restart into the old directory.

You'd only be

[2018-03-13 15:08] #1061 closed

[2018-03-13 15:21] lyoshenka commented on #1024
i believe https://github.com/lbryio/lbry-app/issues/842 can be closed when this is closed too

[2018-03-13 19:25] tzarebczan opened #1146 "Get max usable balance for claim updates only"
## The Issue
We should only be running the function at https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L1855 / https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L2040 for claim updates, but currently, it's running for all claims which slows down the publishing process, especially on large wallets. Per discussion with @hackrush01, he mentioned we don't know if

[2018-03-14 22:06] IGassmann opened #1147 "Run the daemon without internet"
Currently, if the user runs the app without internet connection the app crashes because the daemon doesn't start if there's no internet connection.

The daemon should be able to run without internet and wait until the internet connection is established.

[2018-03-16 01:30] tzarebczan opened #1149 "Files that previously started do not time out, no indication they started to download"
## The Issue
Spoke to @jackrobison about this briefly. If you download a file and it's only able to get the SD blob, subsequent downloads result in a "already have this file" notification but no indication that the file is redownloading. It also never times out after this step.

### Steps to reproduce
1. Download a file that isn't complete (i.e lbry://worst-console-ever-3-rerez#3166260af028248b059

[2018-03-16 01:38] tzarebczan opened #1150 "stream_availability command tries to download blobs and errors out"
## The Issue
When running stream_availability on a uri, it tries to download the blobs from each host and errors out.

lbrynet-cli stream_availability lbry://lock-on-flaming-cliffs-2-guns-only#0202f733bae03b6d598b7b337f5122981b13c995

[code]

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuratio

[2018-03-18 17:15] tzarebczan opened #1151 "file startup significantly slower in RCs post 0.19.0"
## The Issue
Post 0.19.0 release candidates result in an extremely slow file startup process. A PC with 500 files went from 7 seconds to 7 minutes.

## System Configuration

- LBRY Daemon version: 0.19.1RCx
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-19 01:15] tzarebczan commented on #1146
Fixed in https://github.com/lbryio/lbry/pull/1148

[2018-03-19 01:15] #1146 closed

[2018-03-19 01:16] tzarebczan commented on #1145
Fixed in: https://github.com/lbryio/lbry/commit/e94d10d3eb04c5c78fdfb31711a08ce0ab2a326e

[2018-03-19 01:16] #1145 closed

[2018-03-19 21:24] tzarebczan commented on #1117
Closing, PC which had stream cleanup issues is now working great on RC7.

[2018-03-19 21:24] #1117 closed

[2018-03-20 17:59] eukreign opened #1152 "Refactoring lbry Wallet to use Twisted"
This is further tracked in pull request https://github.com/lbryio/lbry/pull/1155

[2018-03-20 23:59] goodthebest opened #1153 "Build issue"
I'm trying build from git repo

I've first run `./prebuild.sh`
then
running `./build` is giving errors

![image](https://user-images.githubusercontent.com/1715740/37688949-dbbe3018-2cbb-11e8-8e76-fba87abff9f8.png)

It's asking for `setuptools` ?
Could anyone guide how to compile or build it?

[2018-03-21 00:01] tzarebczan commented on #1153
Woohoo, we have someone trying this for the first time!

We'll get the notes updated with anything we missed.

Try Sudo apt-get install python-setuptools

[2018-03-21 00:19] goodthebest commented on #1153
Well **build** worked. However running `./lbrynet-daemon`

![image](https://user-images.githubusercontent.com/1715740/37689532-f1472a9a-2cbe-11e8-8aa6-90cef9e3f89d.png)

[2018-03-21 00:25] tzarebczan commented on #1153
Try the suggestion here to uninstall and reinstall pyopenssl - you may have had an incompatible version installed: https://stackoverflow.com/questions/43267157/python-attributeerror-module-object-has-no-attribute-ssl-st-init/43267158

[2018-03-21 12:23] lyoshenka commented on #1153
@goodthebest have you tried the steps in https://github.com/lbryio/lbry/blob/master/INSTALL.md

[2018-03-21 16:18] lyoshenka commented on #1151
fixed

[2018-03-21 16:18] #1151 closed

[2018-03-21 16:46] tzarebczan commented on #1027
Just happened to me now when downloading lbry://thebadsamaritanmustdie  on 0.19.1

[code]

[2018-03-22 18:56] billbitt opened #1154 "daemon becomes unresponsive after server timeout"
## The Issue

My daemon stalls and becomes unresponsive if a new channel request is made to it after it has had a request time out.

After the daemon hung, it would not respond to any curl requests, including balance check, version check, etc.

### Steps to reproduce
1. run lbrnet
2. wait for the following warning to occur: `2018-03-22 08:56:58,066 WARNING  lbrynet.daemon.auth.server:228: error pr

[2018-03-22 20:55] kauffj commented on #958
This still isn't done. I understand it might not be feasible to do in a performant way in the near future, but we'd still eventually like a data field that is the shortest possible permanent URL.

[2018-03-22 21:33] tzarebczan commented on #958
@kauffj we do have a FULL permanent URL that was added as part of https://github.com/lbryio/lbry/pull/1063, this ticket was just never closed out. I now see the ticket specified the "shortest" URL - we should probably discuss how to determine this.

[2018-03-23 14:30] kauffj commented on #958
It was closed, I re-opened it :D

If this ticket is now too noisy, feel free to kill this one and re-open a cleaner / straightforward version.

[2018-03-23 17:20] tzarebczan commented on #1153
Going to close this because it looks like the install docs were not followed.

[2018-03-23 17:20] #1153 closed

[2018-03-25 17:42] btzr-io commented on #744
See: https://github.com/lbryio/lighthouse/issues/49#issuecomment-375987417

[2018-03-26 03:06] #1152 closed

[2018-03-26 12:32] tzarebczan opened #1156 "stream_availability command fails to run"
## The Issue
Somewhere after 0.19.0, the stream availability command now fails to run.

[code]

Previous to this, it would cause these errors in the log: https://github.com/lbryio/lbry/issues/1150

### Steps to reproduce
1. Run lbrynet-cli stream_availability lbry://lock-on-flaming-cliffs-2-guns-only
2. Notice error

### Expected behaviour
Return results

### Actual behaviour
fails to run

## Syst

[2018-03-26 13:43] tzarebczan commented on #1131
@hackrush01 are you still working on this?

[2018-03-26 14:22] hackrush01 commented on #1156
Closed from #1157

[2018-03-26 14:22] #1156 closed

[2018-03-27 02:36] eukreign opened #1158 "Use Write-Replace Pattern to Prevent Wallet Corruption"
Saving the wallet by writing directly to the original wallet file can lead to a corrupt file in case there is a crash event (in lbry or the operating system) where the entire file does not get written completely.

A good strategy around this problem is something called the "Write-Replace" pattern whereby you always write to a temporary file first and then move the temporary file over the original

[2018-03-27 05:56] hackrush01 commented on #1158
Yes, this seems like a good step.

Amit Tulshyan,
Software Engineering Intern,
LBRY, Inc

On Tue, Mar 27, 2018, 8:06 AM Lex Berezhny <notifications@github.com> wrote:

[2018-03-27 14:20] #1135 closed

[2018-03-27 23:17] seanyesmunt opened #1159 "Standardize claim name naming."
Currently, there are discrepancies between with the naming of the "claim name".

When calling `file_list` this name is returned as `claim_name`
When calling `claim_list_xxx` it is returned as `name`

This should be standardized as just `name`, to avoid confusion.

[2018-03-29 15:24] tzarebczan opened #1160 "Add unit tests for all commands and args"
## The Issue
Per discussion with Jack, it would be beneficial to have unit tests which run all the commands and possible arguments in order to ensure that future changes don't break API/CLI functionality.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-30 17:34] tzarebczan commented on #1045
Now that https://github.com/lbryio/lbryum/pull/234 was implemented, we need to take this into account when calculating fees.

I think it would make a lot of sense to work on this ASAP since the fees for claim txs has gone up considerably. Right now there are lots of edge cases where errors don't return properly if a user's balance doesn't cover the fee.

We also need to figure out how/when to run

[2018-04-04 00:29] lyoshenka commented on #1045
This is lower priority than improving availability and performance. Once those two are in a good place we'll look at this.

[2018-04-04 14:12] tzarebczan opened #1163 "DHT RC releases - blob announcer brings daemon to a crawl"
## The Issue
@jackrobison is aware of this issue, but filing for awareness. The DHT announcer changes have bogged down the daemon to the point where it's responses are really slow or don't return at all.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-05 18:24] tzarebczan opened #1165 "Allow update of claims even if they don't exist in file_list"
## The Issue
If you try to update a claim that hasn't been downloaded (doesn't exist in file_list), you'll see the below error and won't be able to update. As a workaround, the file needs to be downloaded first.

Edit: What it actually does is create a new claim with the same name, which causes a bigger problem for future updates because now there are 2 of the same claim names and it doesn't know

[2018-04-17 14:12] lyoshenka commented on #1024
@tzarebczan I have not been able to reproduce this. Can you please give it a try when you have some time and let me know if you can get this to happen?

[2018-04-17 17:39] lyoshenka commented on #991
@eukreign will your lbryum work or victor's lbryumx work fix this? should I make a new label for "will be fixed by txlbryum/lbryumx changes" so we can check all these issues after your code is merged?

[2018-04-17 17:40] #1021 closed

[2018-04-18 14:37] tzarebczan commented on #1024
Per our convo, here's an example on 0.19.1:
[code]

[2018-04-19 15:03] robvsmith opened #1168 "edit: closing"
edit: closing

[2018-04-19 15:57] lyoshenka commented on #1091
Issue moved to [lbryio/lbry.tech #21](https://github.com/lbryio/lbry.tech/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-19 15:57] #1091 closed

[2018-04-19 15:58] lyoshenka commented on #1092
Issue moved to [lbryio/lbry.tech #22](https://github.com/lbryio/lbry.tech/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-19 15:58] #1092 closed

[2018-04-19 16:02] #1168 closed

[2018-04-19 17:46] lyoshenka commented on #1024
To repro: `lbrynet-cli resolve mindblown#02da15270141483a76a7b8372d69653b735fb0b9` or `lbrynet-cli resolve xzxzx#34`

[2018-04-23 14:49] tzarebczan opened #1170 "Add ability to send tips along with claim when using claim_send_to_address"
## The Issue
Currently, when using https://lbryio.github.io/lbry/cli/#claim_send_to_address to send a claim from one wallet to another, it doesn't send any received tips on the particular claim. So the claim ends up in a new wallet, but the tips (supports) stay in the original wallet. There should be an option to send the tips along with the claim when using this command.

The most common scenario

[2018-04-23 19:45] #909 closed

[2018-04-26 00:39] kafene commented on #1143
Hello LBRYians, I'm working on implementing this feature.

For sorting files by date, the LBRY app seems to simply rely on the incoming order of files in [the fileList component](https://github.com/lbryio/lbry-app/blob/master/src/renderer/component/fileList/view.jsx) which is their order of insertion into the "file" table.

Any thoughts on whether the date a file was added should be stored in lbry

[2018-04-26 14:24] tzarebczan opened #1171 "Feature request: monitor the size of blobfolder and downloaded files"
@LavRadis commented on [Thu Mar 15 2018](https://github.com/lbryio/lbry-app/issues/1108)

## The Issue
It would be good to have a size of the blobfiles folder and downloaded files somewhere in the app so the users could monitor for potential problems.
I've experienced an issue that made me aware of the need to keep an eye on those sizes.

### Steps to reproduce
1. I can not reproduce it, but I'm s

[2018-04-26 15:08] kauffj commented on #1143
@jackrobison example 1 of ∞ why every table should have `created_at` and `updated_at`.

[2018-04-27 19:45] tzarebczan opened #1172 "Download stops after first blob, payment sent, restarts in stopped status"
## The Issue
This has happened to me twice (update, now 3 times!) now, not sure how to reproduce it consistently.

[code]
Nothing happens after the last blob is requested. When restarting daemon, the file is in stopped status so it doensn't  ever complete downloading. Running a file_set_status start on the sd_hash it finishes.

[code]

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell u

[2018-04-27 19:59] shyba opened #1173 "Add pagination support on electrum protocol client for claimtrie commands"
After #1155 gets merged we should add support for pagination on the electrum client. For instance, there are channels with lots of signatures and we don't need them all at once. This reduces a lot the response time and size of those types of requests.

To be applied on those commands (I will edit as we find other endpoints with big responses):
* `blockchain.claimtrie.getclaimssignedby`
* `blockcha

[2018-04-30 14:24] tzarebczan opened #1176 "LBRY Default Download Directory"
@Invariant-Change commented on [Mon Apr 30 2018](https://github.com/lbryio/lbry-app/issues/1416)

The default download director would be better if it was `\Downloads\LBRY\`

This would help keep files in order and help prevent **accidental deletion** of seeded content.

![image](https://user-images.githubusercontent.com/29914179/39426255-7e62eb6c-4cc2-11e8-807b-4c1453c29602.png)

---

@tzarebczan

[2018-04-30 14:25] tzarebczan commented on #1176
If we did want to proceed with this, we'd need to determine if someone already has downloads at the current location, and if so, we wouldn't want to change the directory.

[2018-04-30 14:27] kauffj commented on #1176
@tzarebczan should be able to change the value only for new/future installs.

[2018-05-01 13:56] eukreign opened #1178 "New Wallet: Bitcoin"
Try connecting LBRY's new wallet to a bitcoin electrumx server. It might already work. Relevant implementation for this is here: https://github.com/lbryio/lbry/blob/lbryum-refactor/lbrynet/wallet/coins/bitcoin.py

See how LBC type ledger connects to lbryum and do the same with the BTC ledger and coin.

Goal of this issue is to see if it already works and if not to make it work or figure out what n

[2018-05-01 13:59] eukreign opened #1179 "New Wallet: Single Key Accounts"
Support for using a single private key and one address for receiving coins and for making change.

This needs a custom version of the Account class that skips the hierarchical key generation and just always returns the same address for all get methods: https://github.com/lbryio/lbry/blob/lbryum-refactor/lbrynet/wallet/account.py

[2018-05-01 14:34] jackrobison commented on #1163
@tzarebczan this should be fixed by https://github.com/lbryio/lbry/commit/b4b1f1a2c14b88020a694f2ea4f6b5ffdaf9ffc5

[2018-05-01 14:34] #1163 closed

[2018-05-01 14:36] jackrobison commented on #1144
fixed in https://github.com/lbryio/lbry/pull/1177

[2018-05-01 14:47] jackrobison opened #1180 "Contacts are added to the DHT routing table improperly"
Contacts are added regardless of if the responding node id is what was expected (as well as regardless of if the node is responding to one of our queries). Contacts should be added to the routing table only after they reply to one of our queries.

https://github.com/lbryio/lbry/blob/master/lbrynet/dht/protocol.py#L121

This is complicated by how a node bootstrap-joins the network (it makes up node

[2018-05-01 15:02] lyoshenka opened #1181 "Add config option to enable bootstrap node behavior"

[2018-05-01 15:03] lyoshenka opened #1182 "Investigate memory leak issue"

[2018-05-01 15:15] lyoshenka opened #1183 "fix appveyor"

[2018-05-01 15:15] lyoshenka opened #1184 "fix appveyor"

[2018-05-01 15:16] #1184 closed

[2018-05-01 15:28] lyoshenka opened #1185 "Investigate whether network connection issues are causing download failures (and whether thats affecting failure rate)"
If the daemon is not able to download content, calls to `get` should error.

[2018-05-01 17:37] kauffj commented on #1185
Level 1 is that the `connection_status` value returned by the `status` command update.

Level 2 is for the daemon to be able to issue calls to the clients, rather than clients only polling the daemon. I could only find #854 as documenting this.

But if `status` updates and an application can say "call me when the output of `status` changes", then we have the functionality we need app side.

Even w

[2018-05-01 22:45] tzarebczan commented on #864
Closing this, it's not happening anymore and think it was an app issue to begin with.

[2018-05-01 22:45] #864 closed

[2018-05-01 22:48] tzarebczan commented on #803
@lyoshenka thinking about this again - do we really want to store this information in a db vs on the blockchain (i.e. some special type of support)?  If someone loses their LBRY database file, they wouldn't be able to reference back their incoming payments.

What's the best solution going forward that would help with Proof of Purchase?

[2018-05-02 15:54] tzarebczan opened #1186 "Add pagination to transaction_list"
## The Issue
As LBRY usage grows, so will users' transaction history. Currently, when calling https://lbryio.github.io/lbry/cli/#transaction_list, the entire list of transactions is returned. This is inefficient, especially on mobile applications where responsiveness is important.

We should follow pagination standards from other areas. The same logic will eventually apply to other CLI commands.

[2018-05-02 15:59] kauffj commented on #1186
@tzarebczan is this inefficient because there is actually such a large amount of data, or because there are operations that happen on every transaction before returned that are expensive?

[2018-05-02 16:54] tzarebczan commented on #877
Going to reopen, a user recently ran into this on his Mac. He had the download directory set in daemon_settings.yml
[code]

[2018-05-02 17:08] lyoshenka commented on #893
For the record, you can work around this by publishing the channel claim, then using `--channel_id` param when publishing content claims into the channel. Spee.ch is already doing this. The app should start doing it (@seanyesmunt).

The real solution for this will be to fix tx malleability.

[2018-05-02 20:03] jackrobison commented on #1183
https://github.com/lbryio/lbry/commit/f42733ecba38cb5d0b9d23a0f4869b125ed0e8b3

[2018-05-02 20:03] #1183 closed

[2018-05-02 20:04] #1144 closed

[2018-05-03 18:13] tzarebczan opened #1187 "Degraded responsiveness of daemon while downloading content"
## The Issue
While the daemon is downloading content, the overall responsiveness degrades. This can be clearly seen when trying to download a few pieces of content via the LBRY app. Once these downloads have started, it takes a while to bring up new claims because the resolve calls are slower. Caching could be employed on the app side, but nevertheless, daemon responsiveness is degraded.

### Step

[2018-05-03 18:27] tzarebczan commented on #1154
This has not occurred since spee.ch was updated to an RC version of the daemon running https://github.com/lbryio/lbryum/commit/4cdf108070e5be8fcd323454ea127a9d04025579 / https://github.com/lbryio/lbryum/commit/f2eaebae5a590f5501838b4635d773aeb5eea01f

Closing for now, will continue to monitor with @billbitt

[2018-05-03 18:27] #1154 closed

[2018-05-03 18:40] tzarebczan opened #1188 "Prevent publishing claims with channel_name if not confirmed"
## The Issue
Based on the findings in https://github.com/lbryio/lbryum-server/issues/53#issuecomment-386394083, we should disallow publishing via the channel_name parameter if the channel name is not confirmed in a block. The documentation should also be updated to reflect this and to recommend using channel_id instead.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY In

[2018-05-05 16:02] nikooo777 opened #1192 "UTXOs remain stuck unconfirmed"
## The Issue

when using wallet_prefill_addresses and waiting for utxo to confirm (checking the result of utxo_list where all entries must have height !=0) the height isn't updated after a block is mined.

### Steps to reproduce
1. use `wallet_prefill_addresses` to refill addresses
2. use `utxo_list` to wait for the transactions to confirm
3. repeat until at least one entry is stuck on
[code]
for

[2018-05-05 16:43] nikooo777 opened #1193 "File manager takes an extremely long time to start"
## The Issue

AS ytsync publisher
I WANT TO start lbrynet-daemon as fast as possible
SO THAT I can publish my videos rapidly

This is currently not possible after several channels have been published because the file manager takes longer and longer to start.

### Steps to reproduce
1. Publish 10k videos
2. start lbrynet
3. ...
4. get a coffee
5. ...
6. There we go

### Expected behaviour
lbrynet s

[2018-05-07 11:45] nikooo777 commented on #1193
the problem gets exponentially worse as more files are added (13 minutes startup now):
[code]
[code]

[2018-05-08 13:51] tzarebczan commented on #1186
@kauffj don't know the answer to that, maybe @eukreign / @jackrobison can chime in on what happens in the background when calling the tx list.

[2018-05-09 15:39] tzarebczan opened #1196 "db migration fails from 0.18x to 0.20rc9"
## The Issue
When trying to run 0.20rc9 after running 0.18/0.18.2, the db migrator fails. We may have old returning users who are still on 0.18.x and will need to upgrade directly to 0.20. If upgrading to 0.19.x in between the two, it works fine. But if you try to run 0.19.1 after attempting 0.20rc9, it fails with the same error.

[code]
### Steps to reproduce
1. Run 0.18.2 daemon
2. Kill daemon,

[2018-05-09 17:38] tzarebczan opened #1197 "Ensure get request matches previous resolve request (possible race condition)"
## The Issue
Question posed on team slack: How can one guarantee that `get --uri=foo` is purchasing the same claim that was returned by `resolve --uri=foo` moments prior? Is the best practice to actually only call `get` with an outpoint? Because even with claim_id the price could change in between requests.

`get` needs to support some kind of parameter that says to perform the purchase only if it

[2018-05-09 23:32] tzarebczan commented on #1129
I'm seeing this sporadically on multiple machines, possibly a race condition somewhere.

[2018-05-11 14:48] tzarebczan opened #1198 "Validate segment/analytics working as expected after treq PR"
## The Issue
Test segment/metabase data collection after https://github.com/lbryio/lbry/pull/1191

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-05-11 19:09] tzarebczan opened #1199 "Add ability to cancel get (download) request"
## The Issue
Currently there is no easy way to stop a download once it has started. If you try to delete the file once get started, it can take over a minute for the response. If the file doesn't start properly (happened to me once), I was able to delete it but then the get request hung. Cancelling the request should ensure the file is deleted form file_list and from the harddisk.

It looks like g

[2018-05-13 07:27] kryptine opened #1200 "Can't publish without LBC money"
## The Issue

I want to upload content to LBRY without LBC anonymously, but I can't

### Steps to reproduce
1. Try to publish a file
2. Note that the minimum bidding value is 0.1 LBC
3. Reducing it to 0 LBC doesn't work

### Expected behaviour
I know that LBC is needed to bid a location for the content, but I should be able to let the network pick a random location for me
### Actual behaviour
Ther

[2018-05-14 18:53] tzarebczan opened #1615 "incorrect amount in transaction_list"
Tx: https://explorer.lbry.io/tx/e6849ad06d417d795138d7fc2a3b3c4c9e43ac8be4c128235c46d5022081e7a8

Amount should be 0.0000042 and fee of 0.0001172
[code]

[2018-05-14 21:02] tzarebczan commented on #832
@KamilPiekutowski just going through some old issues and noticed this one. Looks like https://github.com/lbryio/lbryschema/pull/26 was caught up in other changes. Did you want to work on the lbryschema changes required for https://github.com/lbryio/lbry/pull/835 ?

[2018-05-14 21:05] tzarebczan commented on #804
https://github.com/lbryio/lbryum/issues/158 already logged for effective amount issue and the formatting problem doesn't seem to exist anymore (also fixed at some point).

[2018-05-14 21:05] #804 closed

[2018-05-14 21:14] KamilPiekutowski commented on #832
I don't think they were happy with my solution.
I got a very little feedback, so if this is fixed, no reason
for me to work on it.

Thanks for asking.

On Mon, May 14, 2018 at 4:02 PM, Thomas Zarebczan <notifications@github.com>
wrote:

[2018-05-14 21:34] KamilPiekutowski commented on #832
The only solution I was able to come up with was using 3rd party python
module that would generate duration of mp4.
However duration would only be added to newly uploaded videos with blry
version that supports  The videos that were uploaded with older lbry would
not support duration
unless we make lbry reload the claim info.

I think you guys did not want that solution.
I am not exactly sure how w

[2018-05-14 23:14] tzarebczan opened #1202 "Expected a request for an address, but did not receive one"
## The Issue
Seeing the below when running .20rc9 on a clean install.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-05-15 14:08] kauffj opened #1203 "Investigate exporting API documentation to Swagger format"
(This ticket is possibly under- or incorrectly specified since I don't know very much about Swagger.)

lbry.tech will need to display the API documentation for lbry, lbrycrd, and potentially other projects like lighthouse.

Having all repositories that provide an API export their API signatures in a shared, open format will allow lbry.tech to display all APIs in a similar fashion.

[2018-05-15 14:14] #1180 closed

[2018-05-15 15:03] hackrush01 commented on #1203
Next Steps
 - [ ] Check what the output format for the documentation should be
 - [ ] Assess the difficulty for changing the current one

[2018-05-15 15:23] lyoshenka opened #1204 "release next v0.20 RC"
- [x] (5) add a few more tests (will have PR today, but wont be ready to merge)
- [ ] (2) update old tests
- [x] (2) organize commits and commit them to a branch that's ready to merge to master
- [x] (1) run orchestr8 tests on new branch

[2018-05-15 15:34] jackrobison opened #1205 "DHT nodes should re-store values they find to the nearest peer without the value"
### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [ ] Unit tests are written and passing
- [ ] Tests on devices/browsers listed in the issue have passed
- [ ] QA performed & issues resolved
- [ ] Refactoring completed
- [ ] Any configuration or build cha

[2018-05-15 15:43] lyoshenka opened #1206 "Run the latest version of everything (lbryum, lbryumx) and see which parts of get/publish/resolve (and multiresolve) are still slow"
- [ ] (5) test server
- [ ] (5) test client

Also benchmark existing performance so we can put a number on how much lbryumx and/or lbryum improves performance:

- test with lbryum-server before caching hack
- test with lbryum-server after caching hack
- test with lbryumx

make a distinction between server response and final client response

[2018-05-15 16:43] shyba opened #1590 "spv server: Add address to supports response"
Related to: https://github.com/lbryio/lbrycrd/issues/92

Changes:
1. keep track of supports address
2. modify the JSON response, include address on supports listing

(2) requires changing the client and could potentially make old clients incompatible. So, the very first step is getting an agreement on what will be the new response format and how to handle old clients.

[2018-05-15 23:39] tzarebczan opened #1207 "daemon_settings lbryum_servers setting being corrupted"
## The Issue
This may only happen in windows, haven't tested on other OSes yet. If you have a custom lbryum_servers: config in your daemon_settings.yml such as:

[code]

And then go into app settings to change any persistent settings, i.e. max key fee, the file is then saved as (notice missing curley braces and syntax):
[code]

When restarting the daemon, you get:
[code]

The correct syntax would

[2018-05-16 16:29] tau3 commented on #1098
@tzarebczan there is a fix, but an advise is required.

[2018-05-17 06:15] hackrush01 commented on #1207
@tzarebczan is this issue the same as #1109? If yes we should close on or the other.

[2018-05-17 14:09] tzarebczan commented on #1207
@hackrush01 ah thanks, now I recall this but didn't realize it was very similar. Might still be different on Windows, so I'll add my notes to your ticket. Thanks!

[2018-05-17 14:09] #1207 closed

[2018-05-17 20:59] jackrobison commented on #1205
This is blocked by the `findValue` response not including the `age` or `originalPublisherID` fields (which are in the node datastore). Adding these fields will be a non backwards compatible change, and possibly should coincide with the introduction of a network version field.

[2018-05-20 01:39] tiger5226 opened #1210 "Daemon Error: 'claim' when using stream_availability on invalid URI"
Received the following error when checking stream availability for the claim `d48338daa499cbffdc389924f5ce464fcc00e8a2`.

[code]

This was using 20rc9

[2018-05-22 00:29] ex0dus-0x commented on #1051
Any tips on where code is for wallet and database file generation?

[2018-05-22 13:33] tzarebczan commented on #1051
@ex0dus-0x welcome to the LBRY repo!

The wallet file path is set here: https://github.com/lbryio/lbry/blob/b3bf193188b1874748f42711dd512e4bac504c08/lbrynet/conf.py#L271

The data dir (which contains the lbrynet.sqlite file), is set here: https://github.com/lbryio/lbry/blob/b3bf193188b1874748f42711dd512e4bac504c08/lbrynet/conf.py#L261

[2018-05-23 03:37] tzarebczan commented on #1210
@tiger5226 what was the claim URI? Stream availability takes the uri, not claim id. When I looked up that claim_id, I get unknown. The error could definitely be better if you did pass an invalid uri / claimid

[2018-05-23 03:54] tiger5226 commented on #1210
`No-Patrick#d48338daa499cbffdc389924f5ce464fcc00e8a2`

[2018-05-23 16:44] lyoshenka opened #1212 "Look up blobs using HTTP in parallel with DHT lookup"
Add a config setting called blob_server_domains. It will be a list of domains that will be checked for blobs during download. When the daemon is trying to download blobs, it should try to get them from each domain in the list (using http://DOMAIN/HASH), while also using the DHT at the same time. The daemon should use whichever source succeeds first, and cancel the other downloads.

[2018-05-25 00:08] tiger5226 commented on #1203
As a reference, just in case it is useful, swagger documentation is used for chainquery [here](https://github.com/lbryio/chainquery/blob/master/swagger/chainquery.yaml). It is not complete yet but might be helpful.

Also it can be done really easily now with the [open api designer](https://openapi.design/)

[2018-05-25 00:13] tiger5226 opened #1214 "peer_list API changed in V20 - Dependencies?"
API change for v20

https://github.com/lbryio/lbry/pull/966

I have made the adjustment for lbry.go [here](https://github.com/lbryio/lbry.go/blob/apiserver/jsonrpc/daemon.go#L234)

However, has anyone reviewed where else the `peer_list` API is used? The change in returned parameters could cause issues for applications using this API.

[2018-05-25 00:13] lyoshenka commented on #1203
My understanding was that Swagger does not support JSONRPC, only REST. Is that true? Maybe that's not true anymore?

[2018-05-25 00:30] tiger5226 commented on #1203
https://github.com/OAI/OpenAPI-Specification/issues/801
Looks like it didn't get into 3.0 spec.

[2018-05-25 00:57] lyoshenka commented on #1203
I saw that. It’s over a year old. Have you seen anything newer?

On Thu, May 24, 2018 at 8:30 PM tiger5226 <notifications@github.com> wrote:

[2018-05-25 01:28] DaniNz opened #1215 "Played a nsfw video by accident and I can't cancel download"
## The Issue
I'm new to the app and I was clicking around, then  I clicked by accident on a nsfw video and there is no way to cancel the download.
I tried to go back(clicked the back button) but the download continued and the video was saved on my pc. Which I didn't want anymore.

### Steps to reproduce
1. click on a video
2. try to stop the download/resume download or cancel the download

### Exp

[2018-05-25 01:32] tzarebczan commented on #1215
@DaniNz thanks for filing! Please consider searching through github issues prior to creating new issues, or check with us on https://chat.lbry.io if you are unsure. Sometimes the terminology may not be the same so finding matches can be hit or miss.

A similar issue is already logged under: https://github.com/lbryio/lbry/issues/1199 (I'll update the title so it mentions downloads)

[2018-05-25 01:32] #1215 closed

[2018-05-25 12:43] tiger5226 commented on #1203
No I could not find anything on the status of that. There was communication where people said they hacked it in, but I didn't think we would want follow suite there.

[2018-05-25 14:55] lyoshenka commented on #1203
bitshares is having the same issue: https://github.com/bitshares/bitshares-core/issues/792

[2018-05-26 16:48] eukreign commented on #880
Going to re-open this to keep attention on it. Having it closed might discourage someone from trying.

Several of the other lbry libraries are already Python 3, so porting lbrynet to Python 3 isn't as far fetched.

[2018-05-29 14:22] lyoshenka opened #1219 "New Wallet: Performance Test Cases"
Test cases for wallet:

- [ ] speed of least_used_address on a large wallet (over 9K addresses with 5 txns per address and 1000 txns on a single address)
- [ ] spend a large UTXO and make sure the app doesn't show a negative balance
- [ ] given a name and 9000 claims, have i claimed this name
- [ ] list and verify 9000 claim signatures
- [ ] resolve all homepage urls at once

[2018-05-29 14:25] eukreign opened #1220 "New Wallet: Support Daemon APIs"
Wallet supports 100% of existing daemon APIs.

[2018-05-29 14:26] eukreign opened #1221 "New Wallet: SPV"
Add Simplified Payment Verification to new wallet.

[2018-05-29 14:28] eukreign opened #1222 "New Wallet: Lock of Pending Addresses"
locking of addresses being used in transaction until the tx is written to block chain

[2018-05-29 14:28] eukreign opened #1223 "New Wallet: Channels Support"

[2018-05-29 14:29] eukreign opened #1224 "New Wallet: Migrate Old Wallet to New Wallet"

[2018-05-29 14:30] #1203 closed

[2018-05-29 14:33] #1182 closed

[2018-05-29 14:33] lyoshenka commented on #1182
@nikooo777 please reopen if this is still happening

[2018-05-29 14:50] tzarebczan commented on #1214
@tiger5226 I don't think we are using this anywhere else as it's been quite unreliable. We used to have an availability function in the app, but that was removed until the functionality is more consistent.

Going to close this for now...

[2018-05-29 14:50] #1214 closed

[2018-05-29 14:58] tzarebczan commented on #1192
@nikooo777 were you able to find a workaround for this or is it still a big blocker for YouTube sync?

[2018-05-29 14:58] tzarebczan commented on #1192
@eukreign might be another to add to your list for "things to check with new wallet" :)

[2018-05-29 16:31] tzarebczan commented on #1219
Another test case, but not necessarily performance related: make sure lbryum can reconnect to lbryumx after network disconnect.

I just ran into the below (Victor looking at it as well) after my computer came back from sleep a few days later (without having an internet connection in between there somewhere too). Even on reboot it does the below (connected to victor.lbry.tech).

[code]

[2018-05-30 01:47] tzarebczan opened #1225 "Allow sorting of claim related functions"
## The Issue
Per discussion in https://github.com/lbryio/lbry/pull/1216#issuecomment-392835700,
we should enable the ability to pass a sort parameter to claim related functions in order to control the sorting method.

The original issue, which was addressed to provide a consistent sort by default for claim_list/claim_list_mine, can be found here: https://github.com/lbryio/lbry/issues/1098

file_li

[2018-05-30 04:03] #1143 closed

[2018-05-30 13:05] tzarebczan commented on #1098
Completed in https://github.com/lbryio/lbry/pull/1216, opened https://github.com/lbryio/lbry/issues/1225

[2018-05-30 21:20] jackrobison opened #1227 "sort parameter to file_list should be split up into two parameters"
The `sort` parameter is being parsed for a comma separated ordering argument (ascending or descending). This should be split into an argument of its own - `sort_order` - since this breaks the existing pattern of arguments. Additionally, the `sort` parameter could have a better name (like `sort_by`) since it sorts by a given field.

[2018-05-30 21:24] jackrobison opened #1228 "Add `added_at` and `claim_updated_at` columns to the file_list output"
`added_at` would represent the time the file was added to the database.

`claim_updated_at` will be added by fixing #2086, which will add the associated Claim object to each file, and the Claim object has a `timestamp` field.

After adding these fields to the database they'd be added as filters to the `file_x` api calls as well.

steps:
- [ ] write migration to add `added_at` column to the sqlite

[2018-05-31 01:59] kafene commented on #1227
The current implementation allows multiple sorts so each one is done as a separate pass, so the list can be sorted by one thing, then another, not unlike using SQL `ORDER BY foo DESC, bar ASC`

A more concrete example:

    $ lbrynet-cli file_list --sort=channel_name --sort=points_paid,desc

You'll get the list sorted by `points_paid`, largest values first, and each set of items with the same cost

[2018-05-31 14:45] tzarebczan opened #1229 "DHT port fails to bind if conflict exists on peer port"
## The Issue
If the peer_port is already bound or has conflicts, the dht_node_port is never mapped via upnp even though it is configured. This happened to me because I manually map my peer_port (3333) on my router, but ended up changing my dht port for testing. After starting the daemon, I realized that the dht port was never attempted to be mapped and did not appear in my UPNP tables.

[code]

Co

[2018-05-31 22:32] tzarebczan commented on #1172
Happened to me again:
[code]

No timeout, sitting in stopped = true, completed =false

Upon shutting down the daemon, did get this:
[code]

[2018-06-01 16:01] tzarebczan commented on #811
https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Win-Code-Signing

[2018-06-01 18:45] jjdevbiz commented on #1224
+1

[2018-06-01 20:58] tiger5226 commented on #803
There is no restriction on where a Support is paid to in LBRYcrd. You could pay it to yourself, the claim_address, the fee_address or any address you want. Paying for content can easily be a support paid to the fee_address of the metadata. At that point the transaction is eternally linked to the claim_id.  So if someone loses their db files this can easily be parsed again.

I think we can generali

[2018-06-04 13:51] tzarebczan opened #1231 "Certificate not written to wallet file on import (until wallet tx)"
## The Issue
When a channel claim is imported to another wallet, the wallet does not write the claim certificate until there's some transaction to the wallet (incoming or outgoing). If you close the daemon and restart, the channel will no longer show in channel_list.

### Steps to reproduce
1. Send a channel from one install to another
2. After importing, run channel_list_mine - confirmed there
3.

[2018-06-04 15:55] kauffj commented on #1231
This seems like a pretty large bug.

[2018-06-04 15:56] tzarebczan opened #1232 "Imported channel missing tags in channel_list"
## The Issue
If you import a certificate into a wallet, it shows up in channel_list but there are missing tags which prevent it from being used in the LBRY app.

Missing on imported cert:
1)  "can_sign": true (I can sign with it, so it should be there and true right?)
2)  "category": "claim" (LBRY app looks for this, show "imported"?)
3)  "confirmations": 7629 (Not a big deal, but should be consis

[2018-06-05 04:38] tzarebczan commented on #794
Another example:
[code]

[2018-06-06 03:44] Invariant-Change commented on #437
In situations like this, 2 addition **CLI commands** would be useful:

`claim_list_mine_simple` Only displays the url and amount(s).
`claim_abandon_all`: Abandon all claims.

Ultimately, this would be perfect within the application UI in a **claim management** section, which is something I'm discussing with @shaunthornburgh who is an API developer.

[2018-06-06 17:39] kauffj opened #1234 "Do whatever is necessary to get triggers on for real"
1. Whatever bugs remain
2. Actually enabling cron job

[2018-06-08 00:33] nikooo777 opened #1235 "Failure to upgrade old version of lbrynet"
## The Issue

I started windows and I very rarely do that so I had a very old version of LBRY.
I tried upgrading and besides having to deactivate the antivirus, i'm failing to start lbrynet.

### Steps to reproduce
1. Be on a very old version.
2. Upgrade
3. start lbrynet manually

### Expected behaviour
it starts and migrates the db/configs

### Actual behaviour
[code]

## System Configuration

my

[2018-06-08 01:54] shyba commented on #1235
Reproduced. Its fixed by removing `reflector_servers` and `known_dht_nodes`

[2018-06-08 14:32] tzarebczan commented on #1196
Confirmed this is still happening when upgrading to RC11.

@jackrobison , the issue @nikooo777 saw on the youtube sync server might be different because he said upgrading to 19.x before trying 0.20 doesn't fix the problem.

[2018-06-08 18:46] kauffj opened #1237 "Improve communicability of release notes"
I :heart: the thoroughness of [https://github.com/lbryio/lbry/releases/tag/v0.20.0rc13](https://github.com/lbryio/lbry/releases/tag/v0.20.0rc13) and read every item.

But a lot of people won't. Things to consider:

- Putting more important items towards the top.
- Including a 1-3 sentence description/summary ("This release contains significant improvements to the DHT, in areas of functionality, te

[2018-06-10 17:44] tzarebczan opened #1239 "Support channel updates, do not allow updates which invalidate signature"
## The Issue
Currently, if you create a new channel via the LBRY app UI or run the channel_new for a channel that already exists, it will update the channel but create a new public/private key which invalidates old publishes on the previous channel. We should prevent this from happening and instead support claim updates.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY I

[2018-06-11 02:06] martinvahi opened #1240 "New Users can't Publish Anything Without Paying"
I do not really know the lbry system, but according to
what I have read from the

https://lbry.io/faq
(archival copy: https://archive.is/iOLJS )

users, who do not want to monetize their content,
are banned from publishing their videos, unless they
pay for or earn LBRY specific cryptocoins to pay
for the deposit of the "LBRY_domain/claim".  A solution
to that issue might be that there might be som

[2018-06-11 03:01] martinvahi opened #1241 "LBRY Protocol Inherits LBRY coin Crypto Related Flaws"
The HTTP has been decoupled from all payment methods.
That allowed the HTTP to be used with different currencies
and also without paying anything at all. This decoupling
has allowed different "business models" for infrastructure
development. An Estonian example:

http://sange.fi/~ozone/Tigerleap.pdf

In the case of the HTTP people were able to
pool money together, buy the hardware, install
the sof

[2018-06-11 03:32] kcseb commented on #1240
You do realise, you don't have to spend a dime from your pocket to upload content, right?
We have the rewards system for a reason. Users verify their account (totally free and easy) and earn FREE LBC to publish their content.

It couldn't be easier.

[2018-06-11 05:10] Invariant-Change commented on #1240
Hi @martinvahi

Users, who do not want to monetize their content are **NOT** banned. You can set any price to charge for your content or set it as free as seen in the screenshot below.

[![image](https://user-images.githubusercontent.com/29914179/41213091-3f30b26e-6d86-11e8-8964-3d7ad7e431a6.png)](https://lbry.io/get)

However, if you mean "people are forced to use LBRY Credits to upload content"

[2018-06-11 09:08] martinvahi commented on #1240
Thank You both for the answers, specially @Invariant-Change,
who's thorough and detailed answer I specially like.
Unfortunately I like the @Invariant-Change answer mainly because
of the nice amount of details and effort made to give ma a really
thorough answer _(I love, if people are thorough and "not so much", if they are superficial)_,
not because it would be able to convince me that I was wrong

[2018-06-11 11:35] Invariant-Change commented on #1240
I agree somewhat. Although my reason will be short as it's late night this side of the planet.

I believe that if the app came with something like 0.005 free LBC's (fuzzy logic in a fluctuating crypto market) using a unique anonymous token, to secure, it would allow a new user to use the application as soon as they download it and totally anonymously.

It would be hard to see a way for that micros

[2018-06-11 12:09] Invariant-Change commented on #1240
And before I drop off into the land of nod @martinvahi I see you are a **StackExchange** user.

You could put some of your questions here:  [LBRY Protocol - Proposal](https://area51.stackexchange.com/proposals/118455/lbry-protocol)

[2018-06-11 12:12] martinvahi commented on #1240
@Invariant-Change
Thank You for yet another excellent answer.
Please do not get me wrong in a sense that I use some irony here,
I really like the way You try to address the problem and the fix that
You proposed also makes sense to me, but the market does not
care, what we 2 think here and by paraphrasing Your statement

I say/write that

    the Titanic also had some technical challenges to overco

[2018-06-11 12:33] Invariant-Change commented on #1240
[Or did it?](https://youtu.be/STgBilaTDto) **Puts tinfoil hat away*.

Again, somewhat/mostly agree. **LBRY** is in **BETA**, so all passenger come fitted with life jacket and it's **feedback** like yours that helps **LBRY** become a better **ship** ready for launch :)

So many **thanks** for the time and effort you have also put in to give this feedback. It is very **important**!

My cabin awaits

[2018-06-11 13:42] tzarebczan commented on #1240
@martinvahi thanks for your comments, suggestions and concerns. I think a bunch of it was already addressed by @Invariant-Change , but I'll leave a few more points:

1) Sure it may be difficult to acquire LBC at the moment, but we hope regulations/laws around cryptocurrencies will make this easier in the future.

2) If you use the manual verification method, we generally understand users' need for

[2018-06-11 14:11] #1196 closed

[2018-06-11 14:12] #1204 closed

[2018-06-11 15:54] martinvahi commented on #1240
@tzarebczan
Thank You for the answer.

Aren't we all at the mercy of the hosts, who host our current WWW pages?

The monetization policy of paying a yearly fee, in €/$, to the web hosting companies
seem to keep the web pages up pretty well. If P2P systems reduce the
network traffic that the current, centralized, supermafia censored, hosting
companies have to deliver, their costs at the network con

[2018-06-11 16:49] lyoshenka commented on #1241
Thanks @martinvahi for your question. You are right that you should not expect LBRY to work exactly the same way 20 years from now as it does today. If that's one of your requirements, then LBRY is not the right choice for you.

Our belief is that its almost impossible to create something new from scratch and get it right the first time. Even today's bitcoin is not compatible with bitcoin from a f

[2018-06-11 16:49] #1241 closed

[2018-06-11 17:49] tzarebczan commented on #1240
Thanks again for your suggestions and thoughts. The data layer of LBRY can be extended to many of these other protocols, even IPFS down the road. Right now we are focusing on the LBRY P2P network and HTTPs, but will look support BitTorrent and others down the road.

[2018-06-11 17:49] #1240 closed

[2018-06-11 20:32] martinvahi commented on #1241
Thank You for the answer.

[2018-06-11 20:34] martinvahi commented on #1240
@tzarebczan
Thank You for the answer.

[2018-06-12 13:53] eukreign opened #1242 "New Wallet: Store Everything in SQLite"
Store everything except for the private key and a small numbers of settings in SQLite and the rest in a "wallet" file (anything that can be re-created from the seed / private key goes in SQLite).

[2018-06-12 13:56] eukreign commented on #1242
torba branch: https://github.com/lbryio/torba/pull/1/files
orchstr8 branch: https://github.com/lbryio/orchstr8/pull/5/files

[2018-06-12 13:59] eukreign commented on #1242
This is done, everything is stored in SQLite.

[2018-06-12 13:59] #1242 closed

[2018-06-12 14:21] tzarebczan commented on #1193
@nikooo777 Closing this as 1195 has been merged. Please monitor and re-open if it's still an issue.

[2018-06-12 14:21] #1193 closed

[2018-06-13 15:41] kauffj opened #1243 "Change documentation build process to support lbry.tech"
- @Krisseck has a modified version of `gen_docs.py` that will work for usage with Slate.
- His script will create `api.md`, a markdown file that lbry.tech will use to generate documentation via Slate
- Script should be run automatically or by hand on all production releases.

[2018-06-13 15:43] kauffj commented on #1243
@Krisseck will update this ticket when he has opened a PR with his modification

[2018-06-13 20:37] tzarebczan commented on #1202
This stopped happening in later builds, closing for now.

[2018-06-13 20:37] #1202 closed

[2018-06-14 14:46] shyba opened #1245 "Header download can lock startup if one server is out"
## The Issue

In order to start the daemon,
as a user,
I want to be able to start even if one of the wallet servers is out.

### Steps to reproduce
1. add `does.godzilla.exists.lbry.io:50001` to the list of lbryum servers (with the working ones)
2. try to start the daemon

### Expected behaviour
It tells this server is bad, but connects to the others and go ahead.

### Actual behaviour
It connects

[2018-06-14 14:57] eukreign commented on #1178
Confirmed that this already works :-D

[2018-06-14 14:57] #1178 closed

[2018-06-14 15:34] tzarebczan commented on #1129
Just happened again:
[code]

Redonwloading right after:
[code]

[2018-06-14 16:05] tzarebczan commented on #1129
Getting it pretty often on the example file above. @jackrobison this might be worth diving into if its reproducible.

Here it is working after a delete, then deleted again and got the error.

[code]

[2018-06-14 16:55] tzarebczan opened #1246 "High CPU usage when running claim_list_by_channel"
## The Issue
Narrowed down some high cpu usage by the daemon to the claim_list_by_channel command. This is run by the app often for subscription purposes and when viewing channels. Usually, there are a few run at a time if a user is subscribed to multiple channels. These take about 30 to 40 seconds to return when run in parallel.

Talking to @shyba , he thinks it's mostly related to signature vali

[2018-06-14 17:36] tzarebczan opened #1247 "error handling request - unsupported operand type(s) for +: 'NoneType' and 'str'"
## The Issue
Both @shyba and I have run into this on daemon startup and while downloading files.  @jackrobison aware of the issue and can comment further if needed.

Startup:
[code]

During announce:
[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-14 17:38] tzarebczan opened #1248 "error handling request - Invalid token"
## The Issue
Both @shyba and I ran into this recently on startup. @jackrobison believes it's related to cache timeout conditions.

[code]

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything E

[2018-06-14 19:13] jackrobison commented on #1248
This error is an actual error and is fixed by https://github.com/lbryio/lbry/commit/e6df378e9e28dff63291f402aa9196dd0ecd5cbf

[code]

This one isn't really an error, it probably shouldn't be logged as a traceback. This one can happen if you've been an active dht node and you restart and nodes who contacted you before the restart attempt to `store` to you using the now invalided cached token.

[cod

[2018-06-14 19:13] #1248 closed

[2018-06-14 21:55] #1129 closed

[2018-06-14 22:35] tzarebczan opened #1251 "Fix your floats"
## The Issue
When publishing with a 0.01 bid, the daemon shows:
`2018-06-14 18:24:20,480 INFO     lbrynet.daemon.Daemon:2152: Publish: {'claim_address': None, 'channel_id': u'', 'name': u'2avzsi111', 'claim_dict': {'version': '_0_0_1', 'claimType': 'streamType', 'stream': {'version': '_0_0_1', 'metadata': {u'license': u'None', u'language': u'en', u'title': u'decimal test', 'version': '_0_1_0', u'n

[2018-06-14 23:48] tzarebczan opened #1252 "Tidy up readme according to repository standards"
## The Issue
Tidy up readme/install to match repository standards: https://lbry.tech/resources/repository-standards.html

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-15 02:07] eukreign commented on #1251
Seems correct to me. The 0.01 is probably being sent as a float and not a decimal in the JSON (then it's turned into a `Decimal` by the new code but by that point it's too late). If you want to have a nice looking '0.01' decimal it would have to be passed as a string and then parsed directly by `Decimal` bypassing any `float` stuff. `floats` are nasty business.

Can you try changing the app to sen

[2018-06-15 02:18] eukreign commented on #1237
We released v20.

[2018-06-15 02:18] #1237 closed

[2018-06-15 02:20] eukreign commented on #1252
This is pending release of the new wallet because that will be a large portion of the documentation.

[2018-06-15 03:48] eukreign commented on #1251
One thing we could do is round the float after converting it into a decimal. But I would rather just depricate floats altogether instead of piling on hacks.

[2018-06-15 13:54] kauffj commented on #1199
I removed "good first issue". I don't think this is solvable without https://github.com/lbryio/lbry/issues/854

[2018-06-15 15:40] tzarebczan commented on #1245
@jackrobison / @shyba We should try to fix this before a 0.20 patch release if possible.

[2018-06-15 17:17] nikooo777 commented on #1192
it wouldn't confirm after waiting for a whole day. though i haven't seen this one resurface while using lbryumx

[2018-06-15 18:15] tzarebczan opened #1254 "Support for channel metadata"
## The Issue
LBRY daemon related changes to support: https://github.com/lbryio/types/blob/a6f2fd6d5f382f0012383b9076d650c1f6791ada/v2/proto/claim.proto#L16

[2018-06-15 18:17] tzarebczan commented on #893
Closing this in favor of: https://github.com/lbryio/lbry/issues/1188

The app now uses channel id, but the protocol should do a better job of not allowing this to begin with or giving the user a better error message.

[2018-06-15 18:17] #893 closed

[2018-06-15 18:17] tzarebczan opened #1255 "Creator Pages"
This epic is to track the development required across the LBRY ecosystem to enable creators to add additional metadata like description and cover photos to their channels.

New publisher metadata API:
[code]

Sample:
[code]

[2018-06-15 18:27] tzarebczan commented on #1198
Working as expected.

[2018-06-15 18:27] #1198 closed

[2018-06-15 18:28] tzarebczan commented on #1165
Fixed in https://github.com/lbryio/lbry/commit/c26816c92d68fad501d92d632c83780821061f90

[2018-06-15 18:28] #1165 closed

[2018-06-15 18:29] tzarebczan commented on #1073
Closing, not relevant anymore

[2018-06-15 18:29] #1073 closed

[2018-06-15 18:31] tzarebczan commented on #836
no longer valid, we use a single sqlite db now.

[2018-06-15 18:31] #836 closed

[2018-06-15 18:49] nikooo777 opened #1256 "Publishing big files times out"
## The Issue
Youtube sync is struggling to publish certain big files due to the RPC call timing out on publish.
Usually the files that are being published are close to 1GB in size.

### Steps to reproduce
1. Find a 1GB file to publish
2. Start publication
3. Fail publication after ~7 minutes (or even more at times)

### Expected behaviour
The file should publish

### Actual behaviour
After a few m

[2018-06-15 19:30] tzarebczan commented on #1245
Related: https://github.com/lbryio/lbry/issues/1084

[2018-06-15 19:30] nikooo777 commented on #1256
perhaps allowing the client to call publish and have it return immediately could solve the issue.

Obviously we would need a method to poll the daemon for publication statuses in order to understand when a video is published. (preferably a pub/sub channel too)

[2018-06-15 19:38] tzarebczan commented on #1256
Sounds like https://github.com/lbryio/lbry/issues/854 is the fix for this too.

Can we isolate this to daemon load while publishing? Can you throttle down the # of concurrent publishes?

[2018-06-15 20:12] nikooo777 commented on #1256
after some more digging we found out that this issue is unrelated to lbrynet. It seems to be a timeout parameter set in lbry.go which were' going to bump up now.

[2018-06-15 20:12] #1256 closed

[2018-06-16 01:17] tzarebczan commented on #1251
We'll give this a try on the app side. The problem worsens when you publish something with a bid like .99:

`2018-06-14 18:37:56,551 INFO     lbrynet.core.Wallet:1187: Send claim: html3 for 0.9899999999999999911182158029987476766109466552734375: 080110011a650801121e080410011a0674657374203322002a0032044e6f6e6538004a0052005a001a41080110011a30bcbef283e927971b2d5150d499574239285dbd4e69840aa19f12d461a6

[2018-06-17 17:39] tzarebczan commented on #1172
Happened again:

[code]

[code]

[2018-06-18 16:16] eukreign commented on #1251
@hackrush01 provides a work around in this pull request (i'm still on the fence if this is the best way but it does the job for now): https://github.com/lbryio/lbry/pull/1257

[2018-06-18 16:16] #1251 closed

[2018-06-18 19:35] #1231 closed

[2018-06-18 20:50] #950 closed

[2018-06-19 01:47] #1245 closed

[2018-06-19 14:21] CurtisLeeBolin opened #1261 "[feature-request] flatpak for wider linux distribution"
Please consider releasing a flatpack package so more linux distros can easily run LBRY.

More info at: https://flatpak.org/

[2018-06-19 15:00] hackrush01 commented on #1131
@eukreign Can this PR be the solution to the things related to float and decimal problems?

[2018-06-19 15:12] CurtisLeeBolin commented on #1261
Both, unless lbrynet-daemon has no dependencies.  I did not know the project was split, old bookmark.  I'll submit the issue on lbry-app too.

[2018-06-19 15:13] finer9 commented on #1261
I have heard this request for a looooong time now

On Tue, Jun 19, 2018 at 11:12 AM, Curtis Lee Bolin <notifications@github.com

--
Josh Finer
Director of Operations and Analytics
LBRY, Inc.

[2018-06-19 15:18] tzarebczan commented on #1261
The daemon has pre-built binaries, no need for a flatpak. I believe we will be working on a docker alternative.

[2018-06-19 15:18] #1261 closed

[2018-06-19 16:50] CurtisLeeBolin commented on #1261
@tzarebczan, a docker image would be great.

[2018-06-19 21:52] akinwale opened #1263 "Show blockchain_headers download progress in startup stage message"
At the moment, when the `blockchain_headers` file is being downloaded from S3, the user has no idea how much of the download is completed because the displayed message is simply `Catching up with the blockchain`. We need a way to display the download progress as a percentage along with this message, since this will make the first run process more user-friendly in terms of setting expectations.

ht

[2018-06-21 05:50] lardnicus opened #1265 "POW is wasted resources that could be used to power the service instead"
The current system is centralised and wide open to being overtaken by a more advanced and decentralised implementation. It also uses wasteful PoW mining instead of allowing users to contribute those same resources to improving the speed and stability of the network.

### Expected behaviour

Content loads faster than YouTube
The app should leverage encrypted, peer to peer bandwidth and hosting and

[2018-06-21 06:11] tzarebczan commented on #1265
Which parts do you think are centralized?

The LBRY P2P network includes anyone who downloaded the file, not only our servers.
The long term plans include data markets / incentivized hosting.

[2018-06-21 06:16] lardnicus commented on #1265
Awesome!

(yes, bitcoin is absolutely a waste of resources, but it's a product of it's age. Newer cryptocurrencies have different proof methods that are less resource intensive)

[2018-06-22 01:08] #1263 closed

[2018-06-23 05:04] tzarebczan opened #1268 "Documentation for Publish API needs extra info"
@42degrees commented on [Fri Jun 22 2018](https://github.com/lbryio/lbry-app/issues/1678)

Looking at the documentation at: https://lbryio.github.io/lbry/ for "publish" API (and CLI, presumably) the 'name' field apparently has limitations on what characters can be in the field, but these are not documented. I have discovered through trial and error that at least spaces and commas are not allowed.

[2018-06-23 23:20] 42degrees commented on #1268
Thanks @tzarebczan for putting this in the right place.  Still learning how things are organized.

Also, to add to the above, even after changing my names to only have simple alpha and dash they wouldn't go through.  Apparently there was a name length issue as well.  Once I shortened them up, they worked.  I didn't take the time to figure out the exact limitation, hoping that whoever updates the d

[2018-06-25 14:28] tzarebczan commented on #1268
@42degrees Can you reproduce the name length issue again? Or post the logs here with a sample publish that fails. Thanks!

[2018-06-25 16:23] hackrush01 commented on #1133
# Details
## Goal
To able to provide a HTTP(S) URL as source while publishing and being able to ddownload that.

## Proposal

### LBRYSCHEMA
The lbryschema will be changed to do the following:
1. accept HTTP(S) URL/URI in the source field
2. add a new field for the hash(SHA-256?) of the content(undetermined: the uploader needs to download the content, hash it himself, and then publish?)

The chang

[2018-06-25 16:29] jackrobison commented on #1133
This is the current schema for a `Source`

[code]

Proposed change:

[code]

[2018-06-25 22:01] kauffj commented on #1133
@jackrobison why is some of that information part of the source?

[2018-06-25 23:38] tzarebczan opened #1270 "latest daemon blob announcement is slower than previous versions"
## The Issue
With iterative find added, announcements on 0.20.0 are much slower compared to previous versions. @jackrobison is aware of this issue, logging on GitHub for traceability.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-26 04:39] 42degrees opened #1271 "file_list returns empty channel information for claim that has a channel"
I have a channel called @OTR which has an audio file in it titled, "The Saint - No Hiding Place".  When I call the get API for that file, there is no indication of a channel in the JSON.

This is what I get (I shortened some of the codes since they aren't important to the discussion):

[code]

The channel_claim_id and the channel_name are empty, but I can see that this item is in the group by call

[2018-06-26 14:19] eukreign commented on #1221
Done.

[2018-06-26 14:19] #1221 closed

[2018-06-26 14:20] eukreign commented on #1223
Done.

[2018-06-26 14:20] #1223 closed

[2018-06-26 14:21] eukreign opened #1272 "New Wallet: Validate Resolve Responses"
Validate lbryumx response to resolve() and similar calls.

[2018-06-26 14:30] #1206 closed

[2018-06-26 14:43] hackrush01 opened #1273 "Port Daemon to Python 3"
Breakdown of steps:
- [x] Check which requirements are not compatible with python 3, and find their replacement libraries (3)
- [x] Illustrate Next Steps (1)

Helpful reference: https://medium.com/@boxed/moving-a-large-and-old-codebase-to-python3-33a5a13f8c99

**Update July 25**
Daemon starts with python 3 now and almost everthing works(dht, curl, wallet)
Things left for completion are
- [ ] check

[2018-06-26 14:43] hackrush01 commented on #880
Closed. Will be tracked in #1273

[2018-06-26 14:43] #880 closed

[2018-06-26 19:45] lyoshenka commented on #1133
we tabled this for now. Documenting my thoughts:

I think we should start with a simpler addition: just a url, filesize, and hash. There was conversation about security tradeoffs around having to download a giant file before you find out that the hash doesn't match, etc. I would prefer to do something simple first. We regularly make the mistake of starting with too much complexity.

[2018-06-26 21:15] eukreign commented on #1222
Done.

[2018-06-26 21:15] #1222 closed

[2018-06-27 00:47] ocornoc opened #1275 ""status" API call to daemon reports error"
## The Issue

Was testing my Lua binding (and later confirmed with curl) with the daemon, and found an issue. The `status` daemon API call will return an error from the daemon when including the parameter `"session_status": true`, but only when it is the first call to the daemon.

### Steps to reproduce

0. Fully quit the daemon if it's running.
1. Start the daemon.
2. Call `status` with the param

[2018-06-27 01:04] ocornoc commented on #1275
https://github.com/lbryio/lbry/pull/1267

This pull request seems to fix it.

[2018-06-27 01:14] tzarebczan commented on #1275
Thanks for logging this! I'll see if I can reproduce tomorrow. Good to know that PR fixes it.

[2018-06-27 15:47] kauffj opened #1276 "Update pydocs to handle new API documentation format and display"
1. New header, `Example Response:` that includes the actual JSON of a real response.
1. New optional header, `Example Request:`, that includes a cURL version of a real request.
1. All descriptions should be audited.
1. All returns should be audited for consistency and actual abstract definitions of the returned data.

[2018-06-28 00:19] tzarebczan opened #1277 "Node should automatically re-connect to DHT network"
## The Issue
For a number of reasons, a lbrynet client may disconnect from the DHT network resulting in these types of log messages:
Line 1973: 2018-06-12 09:13:59,752 WARNING  lbrynet.dht.node:635: This node doesnt know any other nodes

When this occurs, the client should attempt to rebind(if needed) it's UDP/TCP ports and rejoin the network.

## System Configuration

- LBRY Daemon version:
- LBR

[2018-06-28 01:29] 42degrees commented on #1268
@tzarabczan Here is what I see in the log in these cases.  You can see that the name (Saint-The-500618-02-A-Sonata-For-Slayers-32-22-27m57s-6553) doesn't have anything in it that violates the Regular expression above.  The actual call to publish returns 200.  When I republished this with the shorter name "A-Sonata-For-Slayers" it went through just fine.

[code]

[2018-06-28 01:33] 42degrees commented on #1268
The other part of this is that when this happens I get the entry in LBRY showing "Unused" (screen shot attached).

[code]
![image](https://user-images.githubusercontent.com/1676142/42008084-ecf2d4c4-7a40-11e8-9a74-70f1a4efed2b.png)

[2018-06-28 01:35] tzarebczan commented on #1268
@42degrees can you try to see if it's still happening? Can you post what the api call looks like?

I just ran: `{"jsonrpc":"2.0","method":"publish","params":{"name":"Saint-The-500702-04-A-Real-Gone-Guy-32-22-28m06s-6593","channel_id":"","bid":0.00001,"metadata":{"title":"test pub","nsfw":false,"license":"None","licenseUrl":"","language":"en","thumbnail":""},"file_path":"xxxxxx"},"id":1530149530332

[2018-06-28 01:37] tzarebczan commented on #1268
Regarding the screenshot, are those related the ones that originally failed to broadcast due to mempool conflicts? Can you send the output of file_list --claim_name=Saint-The-501224-25-Santa-Claus-Is-No-Saint-32-22-28m14s-6621 (or a new one that still hasn't been resolved)

[2018-06-28 01:41] 42degrees commented on #1268
I can send you the LinqPad application that I wrote to upload these, assuming you can read C#.  But here are the important bits:

This is the JSON that I am sending to the daemon:
[code]

The code that sends it is straightforward:
[code]

[2018-06-28 01:50] 42degrees commented on #1268
@tzarebczan Unfortunately, I have resolved all of the issues and fully uploaded all of the Saint files.  The Unused entries in LBRY are cruft and are not real.  If I click on any one of them it finds the correct item and no longer shows the Unused.

I was planning to wait until I had the graphical version of the bulk uploader complete before sending any more of them (I'm about half done with it).

[2018-06-28 01:55] tzarebczan commented on #1268
Might be encoding related. Can you find that part of the log that shows:
`2018-06-27 21:32:10,346 INFO     lbrynet.daemon.Daemon:2147: Publish: {'claim_address': None, 'channel_id': u'', 'name': u'Saint-The-500702-04-A-Real-Gone-Guy-32-22-28m06s-6593', 'claim_dict': {'version': '_0_0_1', 'claimType': 'streamType', 'stream': {'version': '_0_0_1', 'metadata': {u'license': u'None', u'language': u'en'

[2018-06-28 01:57] tzarebczan opened #1278 "Revisit wallet_prefill_addresses command"
## The Issue
Do we really want this function creating multiple wallet addresses, or should it be sending multiple inputs to the same address? This is effectively the same result, but without the address bloat, right?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-28 01:59] tzarebczan commented on #1268
as far as publishing in high volume, you'll either need to throttle it and wait for a new block/confirmation on a previous publish, or fill up enough addresses using https://lbryio.github.io/lbry/cli/#wallet_prefill_addresses.

The current wallet implementation starts to struggle with many addresses created, so many hold off mass publishing until the new one gets implemented.

[2018-06-28 01:59] 42degrees commented on #1268
@tzarebczan That was several days later.  These errors all happened on 6/22.

[2018-06-28 02:01] tzarebczan commented on #1268
You can check the lbrynet.log1 (and so on) files for that info. Unless those were filled up also.

[2018-06-28 02:11] 42degrees commented on #1268
@tzarebczan This is what the full block looked like as generated by the program at that time (it's since been changed to generate shorter names):
{
  "jsonrpc": "2.0",
  "method":"publish",
  "params": {
                "name": "Saint-The-500702-04-A-Real-Gone-Guy-32-22-28m06s-6593",
                "file_path": "D:\\mp3\\Saint, The\\Publish to LBRY\\Saint,The - 500702 - 04 - A Real Gone Guy  - 32

[2018-06-28 02:17] 42degrees commented on #1268
Here's the longer set of logs you asked for before and after the apparent name failure:

[code]

[2018-06-28 15:21] eukreign commented on #1273
Some motivation on why py3 port is important (other than the fact that py2 is depricated very soon https://pythonclock.org):

https://magic.io/blog/uvloop-blazing-fast-python-networking/

[2018-06-29 00:00] ocornoc opened #1279 "Responding to notification JSON-RPC objects"
## The Issue

The daemon, when sent a notification JSON-RPC object, will still respond, rendering the daemon not strictly compliant with JSON-RPC.

https://www.jsonrpc.org/specification#notification

### Steps to reproduce
1. Send a JSON-RPC notification object (equivalent to a request object with `id = null`).
(as an example, a `status` API call)

### Expected behaviour
The daemon shouldn't respo

[2018-06-29 03:53] tzarebczan commented on #1261
@CurtisLeeBolin the flatpak was just updated to the latest build for the app: https://github.com/flathub/io.lbry.lbry-app

[2018-07-02 04:46] SiamakNemati commented on #1277
Hi , This Works ?

https://github.com/lbryio/lbry/issues/971

[2018-07-02 22:37] tzarebczan commented on #1277
@SiamakNemati that looks unrelated. We're you interested in tackling this issue?

[2018-07-03 01:49] tzarebczan commented on #1172
Reopening, ran into this after the above commit was merged. Will keep an eye out if it happens again. File ended up in stopped status.

[code]

[2018-07-03 18:35] tzarebczan commented on #1275
I am able to reproduce if you call this early on during daemon startup, but I'll have to try again with https://github.com/lbryio/lbry/pull/1164 - this changes the startup of the daemon. If you have some time, can you give it a shot as well?

[2018-07-03 21:54] tzarebczan opened #1284 "DHT timed out while looking for peers - incomplete downloads keep retrying"
## The Issue

If a client has an incomplete download, it will continue searching for peers in the background. Currently, this will log a warning each time this search attemps and times out. In this scenario (or all?), it should probably fail silently.

[code]
## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screen

[2018-07-03 23:14] tzarebczan commented on #1284
The frequency does slow down later on...maybe once per 10/20 minutes, will continue to monitor.

[2018-07-04 16:13] eukreign commented on #1279
I don't believe we have any `Notification` end points in the current API; all endpoints return some JSON response.

The jsonrpc.org v2.0 specification that you linked to presents the `JSON-RPC over HTTP` support "with some limitation" as an afterthought which sounds a bit strange to me. I would argue that single request/response HTTP style communication is the most common way that APIs are exposed

[2018-07-04 16:13] #1279 closed

[2018-07-04 16:41] eukreign commented on #1278
Depends on the use case for this command. What is the use case for this command?

From looking at the code the command does what I'd expect it to do.

I can see this type of command being useful in a high throughput services where you want to be able to handle a lot of new TXs without running out of TXOs.

If you have 1 TXO valued at 10 credits. That means you can only do 1 TX at a given point in

[2018-07-05 15:09] #1252 closed

[2018-07-05 21:10] eukreign commented on #1131
We're going to switch to using dewies/satoshis in the API so this PR is no longer needed.

[2018-07-05 21:10] #1131 closed

[2018-07-06 14:16] tzarebczan opened #1291 ""this node does not know any nodes" / announcement stuck / DHT error"
## The Issue
Running into this on one of my machines, which is on wifi, so it may be related to intermittent connection issues or saturating connection during download/upload. This time it lost connection to other nodes, threw a DHT error: `RuntimeError: maximum recursion depth exceeded in cmp / maximum recursion depth exceeded while calling a Python object` and then got stuck on an announcement:

[2018-07-07 19:37] eukreign opened #1292 "DHT unit tests fail in tox"
When running unit tests with environment variable `PYTHONHASHSEED=612651802` set, a bunch of the DHT unit tests fail. It's very likely there are some fundamental bugs causing these failures because the tests themselves don't use any Python `dict` as part of the assertions, something is failing in the DHT algorithm.

[code]

With `PYTHONHASHSEED=0` the tests pass (this is the default for python ver

[2018-07-09 15:37] tzarebczan opened #1293 "Blocks til expiration / expiration height calculations in claim_list_mine"
## The Issue
Per @kaykurokawa, the blocks til expiration/expiration height that's calculated in claim_list_mine is hard coded in: https://github.com/lbryio/lbryum/blob/master/lbryum/wallet.py#L1034

We should either grab this from lbryumx or handle some other way.

# System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## S

[2018-07-10 14:56] tzarebczan opened #1295 "Reimplement blockchain header download status"
## The Issue
@akinwale will be reimplementing https://github.com/lbryio/lbry/pull/1266 per discussion on Slack.
Believe this relies on https://github.com/lbryio/lbry/pull/1294

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-10 15:00] alyssaoc opened #1296 "Discovery on Android Performance issue"
Meet with Akinwale to document perfomance issue
get logs
determine steps for next steps

[2018-07-10 17:55] alyssaoc commented on #1296
Suggestion for ongoing testing: the daemon team members run their software in the mobile and/or desktop app environments more rather than just as a standalone component. The reasoning here is: 1) A general application of the end-to-end principle and 2) Having the same subjective experience of our users will be beneficial

[2018-07-10 19:04] tzarebczan commented on #1284
So it does stop the warning, but the stuck downloads continue to retry in the background.

[2018-07-10 19:38] tzarebczan opened #1297 "Setting concurrent_announcers = 0 causes error"
## The Issue
This setting is required for Android to disable DHT, see below for error:
Tagging @akinwale for awareness.
[code]

### Steps to reproduce
1. set concurrent_announcers: 0 in daemon_settings.yml file
2. run daemon

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LB

[2018-07-11 00:41] tzarebczan commented on #926
Closing, not happening anymore.

[2018-07-11 00:41] #926 closed

[2018-07-11 14:17] tzarebczan opened #1298 "Fix build issues once and for all!"
## The Issue
Appveyor running into limits so we are not getting builds for all OSes created on our releases pages (soon to be build page?). Need to figure out a path forward to solve this problem once and for all.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-11 16:42] nikooo777 commented on #1298
Alright We'll get rid of all those hosts then once travis works!

[2018-07-12 23:46] tzarebczan commented on #1172
Happened to me again...

[2018-07-13 02:17] tzarebczan commented on #1284
Ran a verbose log to confirm that the daemon does keep trying to find peers. This could be what's causing some of the high cpu usage on some installs.
Log:
https://gist.github.com/tzarebczan/88bb8b2d5511f3fb63150647e1fb8683

[2018-07-13 14:11] alyssaoc commented on #1272
complete and can be closed per stanup 7/13

[2018-07-13 14:11] #1272 closed

[2018-07-13 15:51] eukreign opened #1302 "--conf doesn't error when file doesn't exist"
When passing a custom settings file to `lbrynet-daemon` it should fail if the settings file doesn't exist, instead lbrynet-daemon starts anyways without any messages telling you that your config file isn't being used. On the other hand if the file (whether it exists or doesn't) does not end in `.yaml` then `lbrynet-daemon` does crash fast:

In the below examples the files `monkey` or `monkey.yml`

[2018-07-14 21:49] eukreign commented on #1179
This has been added in torba.

[2018-07-14 21:49] #1179 closed

[2018-07-17 18:49] alyssaoc commented on #1296
Discovery completed opening new issues for troubleshooting issues

[2018-07-17 18:49] #1296 closed

[2018-07-17 19:37] alyssaoc opened #1304 "Android Performance issue"
As a mobile app user, I would like the delay for the video player to be shorter. Currently, the delay is long enough to think that the system is hung or that the player is broken.

### Steps to reproduce
1. Jack is setting up a testing environment for Android
2. Android tests will be incorporated in the daemon testing
3. Jack will investigate and try to replicate performance issues

### Expected b

[2018-07-17 21:21] tzarebczan opened #1306 "Add outpoint to claim information"
## The Issue
Currently, [outpoint](https://lbry.tech/glossary.html#outpoint) is an available field in [file info](https://lbryio.github.io/lbry/cli/#file_list). It should also be added to [claim information](https://lbryio.github.io/lbry/cli/#resolve) (including all API commands that include claim data).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
-

[2018-07-18 19:01] skhameneh opened #1307 "Some daemon error responses do not contain any failure information (e.g. `wallet_encrypt` with an empty password returns `false`)"
## The Issue

Some error messages do not contain any helpful information.

### Steps to reproduce
1. Call `wallet_encrypt` with an empty password

### Expected behaviour
1. TBD - Responses should ideally contain some categorization of error responses.

### Actual behaviour
`false` is returned, applications and/or user must guess/assume what caused the failure.

## System Configuration

App | 0.22.

[2018-07-18 23:00] nikooo777 opened #1308 "file_delete breaks"
## The Issue

Trying to mass delete all blobs fails

### Steps to reproduce
1. Have several GB of blobs
2. run `./lbrynet-cli file_delete --delete_all`
3. get the error

### Expected behaviour
All blobs should be deleted from the db and the disk

### Actual behaviour
The process is interrupted with this result:

[code]

## System Configuration

[code]

## Anything Else
logs:

[code]

[2018-07-19 01:40] andrenogj commented on #1306
Is anyone else assigned to this? Can I take it?

[2018-07-19 13:36] tzarebczan commented on #1306
@andrenogj I don't believe so, she's all yours! Let us know if you have any questions.

[2018-07-19 14:33] alyssaoc commented on #385
@tzarebczan confirm fix and close

[2018-07-19 14:35] alyssaoc commented on #447
@eukreign Could you please confirm if the remaining issues are still valid and open issues as necessary? Then close this issue.

[2018-07-19 14:36] alyssaoc commented on #515
no longer an issue per Tom

[2018-07-19 14:36] #515 closed

[2018-07-19 14:38] alyssaoc commented on #496
fixed by https://github.com/lbryio/lbry/commit/c6e614ebec109f7fcdb061f5e44a4fd8c897417b

[2018-07-19 14:38] #496 closed

[2018-07-19 14:40] alyssaoc commented on #504
fixed by #507

[2018-07-19 14:40] #504 closed

[2018-07-19 14:42] alyssaoc commented on #547
part of LBRY proposal process

[2018-07-19 14:53] alyssaoc commented on #552
@lyoshenka Should this go to the icebox and/or closed?

[2018-07-19 14:55] alyssaoc commented on #611
@eukreign Does the new wallet fix this issue? If so please close.

[2018-07-19 14:58] alyssaoc commented on #626
@tzarebczan Is this still an issue?

[2018-07-19 14:59] alyssaoc commented on #683
closed by #109

[2018-07-19 14:59] #683 closed

[2018-07-19 15:19] eukreign commented on #447
@shyba are you working on any of these things as part of porting the p2p stuff to python 3?

[2018-07-19 15:23] eukreign commented on #611
New wallet reserves UTXO that are about to be spent. Closing this issue.

[2018-07-19 15:23] #611 closed

[2018-07-19 16:32] alyssaoc commented on #701
will watch with the new app

[2018-07-19 16:32] #701 closed

[2018-07-19 16:33] alyssaoc commented on #719
will be addressed in new wallet

[2018-07-19 16:33] #719 closed

[2018-07-19 16:35] alyssaoc commented on #720
@eukreign Could you test this with the new wallet and close as necessary?

[2018-07-19 16:45] eukreign commented on #720
The entire `lbryum` package no longer exists in new wallet, closing.

[2018-07-19 16:45] #720 closed

[2018-07-19 16:51] alyssaoc commented on #744
this is currently part of proposals

[2018-07-19 16:53] alyssaoc commented on #752
@eukreign @nikooo777 Can you make sure these work as expected on the new CI solution?

[2018-07-19 16:56] alyssaoc commented on #768
@eukreign Please see findings https://github.com/lbryio/lbrycrd/issues/98#issuecomment-374082302
and determine path forward

[2018-07-19 16:58] alyssaoc commented on #770
does not apply with the new wallet, closing

[2018-07-19 16:58] #770 closed

[2018-07-19 17:30] eukreign commented on #752
This is actually referring to integration tests that were deleted (since the ticket is old), the new stuff will have this working. I don't think we need a separate issue for this, #1298 will address this.

[2018-07-19 17:30] #752 closed

[2018-07-19 17:47] kauffj commented on #701
I'm fairly confident this is still a real issue.

[2018-07-19 17:57] tzarebczan commented on #701
We'll open an app side issue to check on the behavior. It would be part of the electron updater process for Win/Mac.

[2018-07-19 18:26] alyssaoc commented on #773
@eukreign was this addressed in the new wallet?

[2018-07-19 18:28] alyssaoc commented on #787
@jackrobison the other issue ref here #786 is closed. Can we close this or are we still seeing this failure?

[2018-07-19 18:45] eukreign commented on #773
Needs to be implemented in new wallet.

[2018-07-19 18:46] alyssaoc commented on #811
@eukreign Is this still an open and relevant issue? If yes we need a description and done criteria

[2018-07-19 18:49] eukreign commented on #811
This is sub-task of the build process I'm currently working on, #1298 .

[2018-07-19 21:44] alyssaoc commented on #847
@eukreign Is this resolved with the new wallet?

[2018-07-20 04:01] shyba commented on #447
no, I'm just porting for now. Feel free to create them and if I start a refactor I will self-assign the one that fits.

[2018-07-20 19:20] kauffj opened #1311 "Disk space management"
As a user, particularly a mobile user, I want to be able to allocate a maximum amount of disk space used by the daemon.

The daemon should automatically manage my files and blobs to not exceed using this much space.

#1311 is related.

- [ ] abstract blob and stream types

- [ ] hooks for writing files and check to delete
available space available, setting max size,

[2018-07-20 20:21] tzarebczan commented on #1311
https://github.com/lbryio/lbry/issues/1171 is also related.

[2018-07-23 06:18] sayplastic commented on #1311
@kauffj, the way I understand this task, the simplest working solution for now would be:

- add max space usage config setting
- check disk space usage in `get` API request handler, returning API error if requested file download will exceed the space allowed

I'm planning on working off `lbryum-refactor` branch, as per @eukreign suggestion.

Please let me know if this works for you or if anything

[2018-07-23 06:56] NetOperatorWibby commented on #1276
Depends on
https://github.com/lbryio/lbry.tech/issues/42

[2018-07-23 12:59] kauffj commented on #1276
@eukreign I believe this is on you to update `gen_docs` to output the documentation in a JSON-schema matching what is described [here](https://github.com/lbryio/lbry.tech/issues/42#issuecomment-404944746).

[2018-07-23 13:11] kauffj commented on #1311
@eukreign should set specification here.

However, the intention of this setting is not to error if there is not enough space, but instead to keep space usage below this figure and only error if it cannot figure out how to do so.

I suspect the code for handling this will end up in the blob and/or file manager.

[2018-07-23 13:42] eukreign commented on #1276
@NetOperatorWibby this should get you started, let me know if you have any issues with it:
https://github.com/lbryio/lbry/blob/html_gen_docs/docs/api.json

[2018-07-23 14:53] eukreign commented on #1311
@kauffj I discussed this with @jackrobison at the standup today; there isn't an obvious way to determine which files/blobs can be deleted (too many edge cases to consider). Sounds like the ultimate solution is to generate blobs on the fly, this alone will cut storage in half across the board for everyone (but I'm not sure it's fair to assign something like this as first trial task for @sayplastic,

[2018-07-23 14:56] kauffj commented on #1311
@eukreign then I would suggest not pursuing this and instead focusing on fixing whatever underlying architecture issues prevent this from being a reality. Please open those and mark this as blocked.

I don't really see much of the point in pursuing alternatives that only offer a small portion of the benefit compared to this, especially when this feature will clearly be required eventually anyway.

[2018-07-23 15:39] alyssaoc opened #1312 "Update failure rate metrics"
Failure metrics on http://traction.lbry.io/dashboards are not representative and new metrics need to be identified
## The Issue

In order to achieve better insight into the performance of the daemon,
as a LBRY team member,
I want metrics that show failures per user, failures overall, unique failures and are representative of the user experience.

### Steps to reproduce
1. The failure metric can be

[2018-07-23 15:57] tzarebczan commented on #1312
@shyba briefly looked into metabase/segment data and we do have the failure reason, so we can separate the data into true DHT related issues via other get failures (not being able to write file to disk/etc). The latter would most likely go into a separate card to track for support purposes.

[2018-07-24 00:13] djose1512 commented on #984
hello, the same error using mule esb or java.

[2018-07-24 14:52] jackrobison opened #1313 "peer_ping fails if the peer cannot be found by iterative find"
`peer_ping` only accepts a `node_id` argument. Considering that the ip and port may already be known, the command should allow providing them so one can directly ping the given peer without first needing to iterative find the ip/port.

[2018-07-24 20:17] tzarebczan commented on #811
To work around this on the app side, the daemon will be signed during the app packaging process. Not sure what would happen if the daemon is already signed, guess we'll wait and see. We should still sign it for the binaries on lbry repo.

[2018-07-25 14:05] #1121 closed

[2018-07-26 16:49] BrannonKing commented on #1276
@eukreign , that html_gen_docs link doesn't work for me.

[2018-07-27 10:45] MasterJames opened #1316 "Account Deletion"
The site does not have a clear way to delete a users account and all information.
This will be in violation of that new UK act for sure. It needs to be a BIG RED Button labelled "Delete".

Please explain how it is currently possible as well I can not find it anywhere?

[2018-07-27 12:59] eukreign opened #1317 "Unified CLI"
Make the new unified CLI in `lbryum-refactor` branch work really well:

- [x] better error handling
  - [x] commands other than `start`: if RPC call fails provide message suggesting daemon may not be running
  - [x] expected errors should be properly displayed
  - [x] unexpected errors in daemon, from running command, should also get displayed as output on cli
- [x] authentication should work the

[2018-07-27 13:00] eukreign commented on #1273
This has been split into smaller issues.

[2018-07-27 13:00] #1273 closed

[2018-07-27 13:02] eukreign commented on #1298
This has been completed in `lbryum-refactor` branch, we can now build windows, linux and mac daemon binaries on travis.

[2018-07-27 13:02] #1298 closed

[2018-07-27 13:06] eukreign opened #1318 "0.30.0 Release"
This release will include a port to Python 3 and the new `torba` based wallet.

[2018-07-27 13:20] eukreign opened #1319 "Permanently Deploy 0.30 Daemon to Spee.ch Staging"
Setup the new wallet (unreleased v0.30.0 daemon) on spee.ch staging in a more permanent setup.

[2018-07-27 13:52] nikooo777 opened #1320 "Reflected content is incorrectly written to sqlite database"
## The Issue

If I publish something, the daemon starts sending the blobs to reflector, it writes to the database that those streams are reflected without waiting for them to finish reflecting,
In the case of an interruption or a daemon restart, the daemon believes that those blobs are reflected when in reality they're not.

### Steps to reproduce
1. Publish something
2. Immediately restart the da

[2018-07-27 14:03] eukreign opened #1321 "Python 3 port of DHT"
Porting the DHT to Python3.

[2018-07-27 14:07] kauffj commented on #1316
1) LBRY is United States based company and not subject to European law.
2) Fortunately we don't need a law to tell us to be respectful of your data - granting users more control and freedom is the premise of what we do.
3) I'm not sure what you mean by "account". If you mean an identity/channel created via the protocol, you can retract your claim, but there is no way to remove data that was writte

[2018-07-27 14:07] #1316 closed

[2018-07-27 14:09] eukreign commented on #1321
@shyba is currently blocked in getting the tests to pass, needs @jackrobison to look at it.

[2018-07-27 14:42] shyba commented on #1321
Functional tests are flaky under Python 3, more specifically `test_store` and `test_contact_expiration` are the worse. While removing and adding back a peer, as orchestrated by the test suite, it takes longer than one hour (of events) for all other peers to consider the removed node a bad peer and also more than one hour for it to come back. When the test checks for the 8 storing nodes, some has 3

[2018-07-27 15:05] kauffj commented on #1041
I saw this looking for another issue. @eukreign can this be closed with components refactor?

[2018-07-27 15:32] DrAlta opened #1322 "pooled Claims"
It should be easy to pool your LBC on a community claim with the same ease of withdrawal of deposit as  a single person claim.
'
I think the easiest way to implement this is to sum all that claims that share the same name and destination. Not only should this be easy to code. it would be intuitive and wouldn't require much coordination a upon contributors to a pooled claim. Anybody could contribut

[2018-07-27 15:42] eukreign commented on #1041
The components help with this but it hasn't been tested so we shouldn't close this.

[2018-07-27 15:52] eukreign opened #1323 "Twisted UPnP"
Alternative to `miniupnpc` that does not require compiling on windows and optionally is faster, better and more extensible for our purposes.

- [x] discover routers
- [x] fetch and process available functions
- [x] use functions to setup connection
- [x] make test script available for people to run with different routers / network and process feedback
- [ ] test as part of normal LBRY app usage, w

[2018-07-27 15:55] tzarebczan commented on #1041
Previously we were doing it via this method, but it's broken.
https://github.com/lbryio/lbry/issues/1297

But yes, in the long term this should be done via components (don't think the current release supports turning components on/off)

[2018-07-27 15:58] eukreign opened #1324 "Refactor Session Component"
Split Session component into distinct parts and add a way for components to report their status / progress.

- [x] split Sessions
- [x] add component progress reporting
- [ ] automated tests
- [x] manual tests
- [x] verify it meets the spirit of this PR: https://github.com/lbryio/lbry/pull/1314
- [x] update https://github.com/lbryio/lbry/wiki/Component-Dependencies-Table

Branch: https://github.co

[2018-07-27 16:13] eukreign commented on #1041
`master` does support turning components on and off, you add a new setting value called `components_to_skip` with list of components to skip, also turning off relfector is still supported with independent settings option:

https://github.com/lbryio/lbry/blob/88b8ca8a49922bd7f9b6fa90fa093bd5d0232dec/lbrynet/daemon/Daemon.py#L199-L201

[2018-07-27 16:21] tzarebczan commented on #1041
The reflector setting is different, it doesn't mean turning off file hosting.

The question is, can you disable just the sharing/announcing side of the dht without disabling the entire dht component?

[2018-07-27 16:59] eukreign commented on #1041
You are correct @tzarebczan , it's not possible with current `master`.

@shyba has a branch related to this though: https://github.com/lbryio/lbry/tree/disable_dht

[2018-07-27 23:01] tzarebczan commented on #1322
@DrAlta thanks for opening this and the discussion on Discord. Based on what you were looking for, I don't think this fits in with how the LBRY protocol/bidding system was designed to work. Claim supports are possible using the https://lbryio.github.io/lbry/cli/#Claim_new_support call, but they are specific to a claim ID, and not just a name.

Names are intended not to be unique, giving users the

[2018-07-27 23:01] #1322 closed

[2018-07-30 00:54] tzarebczan opened #1327 ""UNIQUE constraint failed: file.stream_hash if database locked" after deleting file / db lock"
## The Issue
Deleted a few files which lead to some DB locks - never saw a deleted file log statement for the one with an error. When trying to re-download, run into the
`UNIQUE constraint failed: file.stream_hash if database locked` error.

Delete:
[code]

Download:
[code]

File list:
[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating s

[2018-07-30 01:19] eukreign commented on #1134
Work in progress here: https://github.com/lbryio/lbry/wiki/Error-Codes

[2018-07-30 01:19] eukreign commented on #1118
Work in progress here: https://github.com/lbryio/lbry/wiki/Error-Codes

[2018-07-30 14:15] tzarebczan commented on #1321
Seeing this on my node when connecting to spee.ch staging:
[code]

[2018-07-30 14:20] #1319 closed

[2018-07-30 18:17] alyssaoc commented on #958
@lyoshenka Could you please groom and clean up this issue so we can move forward?

[2018-07-30 18:19] alyssaoc commented on #1158
closed with new wallet

[2018-07-30 18:19] #1158 closed

[2018-07-30 18:31] alyssaoc commented on #1187
verify this fix with the new wallet

[2018-07-30 22:03] kauffj commented on #958
Can this be done in a performant manner now? Presumably grooming here means creating several issues and an epic, because I think this starts with a modification to the wallet server.

[2018-08-01 02:06] tzarebczan commented on #1320
@nikooo777 per our discussion today, it should try to reflect them again at this interval, unless disabled: https://github.com/lbryio/lbry/blob/09f637496cc2e7cf7e73c47dbf3ffe994f87e1d2/lbrynet/conf.py#L292

[2018-08-01 02:06] tzarebczan commented on #1313
Closed via https://github.com/lbryio/lbry/pull/1299

[2018-08-01 02:06] #1313 closed

[2018-08-01 11:56] nikooo777 commented on #1192
This issue has just resurfaced yesterday. I really don't know what's wrong.

[2018-08-01 14:04] #1212 closed

[2018-08-01 19:18] hackrush01 opened #1329 "Make console work in python 3 with asyncio"
Related to #1317

[2018-08-01 23:58] tzarebczan opened #1331 "OperationalError: too many SQL variables on daemon startup"
## The Issue
After deleting and redownloading lbry://getbitcoincashoutofelectrumin60seconds a few times, I ran into blob hash error. I then killed the daemon and tried to restart, resulting in a "OperationalError: too many SQL variables" error. Tried a few things to clean up the SQL related to that stream, but it's not helping.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App ve

[2018-08-02 13:26] alyssaoc commented on #803
see also https://github.com/lbryio/lbrycrd/issues/184
@tzarebczan is checking with @jackrobison to see if this can be done without blockchain changes

[2018-08-02 13:27] alyssaoc commented on #808
@eukreign and @jackrobison do we want to proceed with this or can we close?

[2018-08-02 13:32] alyssaoc commented on #812
review again after wallet

[2018-08-02 13:36] alyssaoc commented on #817
@tzarebczan and @billbitt can you check how many open connections spee.ch still has? Is this an open/closed issue?

[2018-08-02 13:37] alyssaoc commented on #832
no longer an issue

[2018-08-02 13:37] #832 closed

[2018-08-02 13:40] alyssaoc commented on #847
@tzarebczan can you confirm this is handled correctly

[2018-08-02 13:43] alyssaoc commented on #851
this is being discussed as an internal proposal/improvement, needs priority assignment

[2018-08-02 13:47] alyssaoc commented on #859
@lyoshenka any updates on this?

[2018-08-02 13:48] alyssaoc commented on #860
@eukreign can you confirm this is fixed with new wallet implementation?

[2018-08-02 13:50] alyssaoc commented on #866
@tzarebczan can you check for this on loggly?

[2018-08-02 13:51] alyssaoc commented on #871
closing as a duplicate of #812

[2018-08-02 13:51] #871 closed

[2018-08-02 13:55] kauffj commented on #798
not a priority

[2018-08-02 13:56] alyssaoc commented on #900
@tzarebczan can you confirm on loggly?

[2018-08-02 14:00] alyssaoc commented on #907
@eukreign Can you confirm this is still an issue? Will the new wallet fix it?

[2018-08-02 14:13] alyssaoc commented on #942
@jackrobison can we revisit this after the network has stabilized?

[2018-08-02 14:16] alyssaoc commented on #953
@alyssaoc needs a priority

[2018-08-02 14:26] alyssaoc commented on #974
@jackrobison please confirm new UPnP solution fixes this?

[2018-08-02 14:28] alyssaoc commented on #980
@hackrush01 Do the components updates fix this?

[2018-08-02 14:32] alyssaoc commented on #985
@tzarebczan can you check loggly for this?

[2018-08-02 14:34] alyssaoc commented on #991
@eukreign and @shyba Can you confirm this is no longer and issue?

[2018-08-02 14:35] alyssaoc commented on #994
closing as a duplicate of #1311

[2018-08-02 14:48] tzarebczan commented on #1024
Looks like this is now resolved: C:\Users\SoloDolo\Desktop\latest daemon>lbrynet-cli resolve mindblown#02da15270141483a76a7b8372d69653b735fb0b9 one
[code]

[2018-08-02 14:49] tzarebczan commented on #1024
```{  "mindblown#02da15270141483a76a7b8372d69653b735fb0b9": {    "error": "URI lbry://mindblown#02da15270141483a76a7b8372d69653b735fb0b9 cannot be resolved"  },  "one": {    "claim": {      "address": "bQANoB96HYDNhQXCGQEWVkTYt6C4JGrP6N",      "amount": 50000.0,      "claim_id": "008401a48cecef2a13cf5376b696169bb36b18c6",      "claim_sequence": 9,      "decoded_claim": true,      "depth": 62822,

[2018-08-02 14:49] #1024 closed

[2018-08-02 14:50] alyssaoc commented on #1027
@tzarebczan can you check loggly for frequency?

[2018-08-02 14:52] #1028 closed

[2018-08-02 14:58] alyssaoc commented on #1036
needs a priority

[2018-08-02 20:58] whatbatman commented on #1302
Hello, I have a potential fix for this, but am having issues making a pull request. If you have a minute can you lend a hand?

[2018-08-02 22:02] tzarebczan commented on #1302
hey @whatbatman, thanks for taking a look at this! See https://gist.github.com/Chaser324/ce0505fbed06b947d962 on how to make a PR from a forked repo. Let us know if you have any questions.

[2018-08-03 01:51] alyssaoc opened #1332 "Standardize common LBRY types"
An epic and multiple issues have been proposed for this. There is also a repo lbryio/types that was created for this work.
This epic serves as a meant to tie them all together for completion and prioritization. The issues may need to be updated and refined

The Problem
Some types/objects/classes in LBRY are used across many repos/langauges/apps, and they need to be the same in all these places. Th

[2018-08-03 14:46] daovist commented on #1306
A claim's outpoint is just [txid]:[nout] or `${claim.txid}:${claim.nout}` in JavaScript so the necessary info is already there

[2018-08-03 14:53] tzarebczan commented on #1306
Yep, we know that, but others may not :)

[2018-08-03 17:42] eukreign opened #1334 "add examples to api.json"
add examples to the generated api.json file

[2018-08-03 17:43] eukreign commented on #1276
This is done: https://lbry.tech/api

I created another issue to track creating actual examples of API use: https://github.com/lbryio/lbry/issues/1334

[2018-08-03 17:43] #1276 closed

[2018-08-03 17:52] eukreign commented on #1321
The issue regarding `bytearray` was uncovered and fixed.

[2018-08-03 17:52] #1321 closed

[2018-08-03 17:57] jackrobison commented on #1295
https://github.com/lbryio/lbry/pull/1328

[2018-08-03 17:57] #1295 closed

[2018-08-03 18:49] tzarebczan opened #1335 "Ability to recover from database loss / corruption"
## The Issue
Currently, if your local sqlite database is corrupted or lost, the daemon loses visibility over your blob and file data. It would be nice to have some type of auto recover mode that the daemon would scan blobs and downloads folder in order to repopulate it's database. This would ensure that you can continue announcing blobs and that the file manager is aware of what's already been dow

[2018-08-03 21:20] #1324 closed

[2018-08-04 21:27] eukreign opened #1336 "cli auth integration test"
Add an integration test verifying that the CLI can successfuly negotiate the authentication protocol with daemon and execute a command.
1. start daemon with authentication enabled
2. successfully connect and authenticate with it

[2018-08-04 21:27] eukreign commented on #1317
This is done and merged, integration tests related to this are in a new issue: https://github.com/lbryio/lbry/issues/1336

[2018-08-04 21:27] #1317 closed

[2018-08-05 16:01] tzarebczan opened #1337 "use_keyring setting not working as expected"
## The Issue
The `use_keyring` setting is intended to allow users to save their wallet encryption password into the system keyring so it doesn't need to be entered on each startup.

On Windows, a keyring is never created and the setting doesn't do much.

On Linux, looks like it gets a bit further but the daemon fails to load with the below error:

[code]

https://github.com/lbryio/lbryum/blob/07bb

[2018-08-05 17:51] tzarebczan opened #1338 "UPnP sets and reports incorrect internal IP daemon/dht port mapping (node not accessible)"
## The Issue
If you have LBRY running on PC1 set to the default ports and PC2 is started on the same network (also with default ports), PC2 will report and set incorrect mappings on startup.

Mapping/daemon port showing 3333:
[code]

UPnP values on router:
https://www.screencast.com/t/WoLVRkrk5v

This means that PC2 won't be accessible because the port is mapped to the incorrect internal IP. Canyo

[2018-08-05 18:04] alyssaoc commented on #977
@jackrobison does the new UPnP solve this?

[2018-08-05 18:09] alyssaoc commented on #1062
@tzarebczan does this still need to be addressed?

[2018-08-05 18:42] alyssaoc commented on #1040
@lyoshenka Is this still an open issue? Priority?

[2018-08-05 18:46] alyssaoc commented on #1044
@eukreign Does the new wallet implement this?

[2018-08-05 18:48] alyssaoc commented on #1047
@eukreign does the new wallet address this?

[2018-08-05 18:50] alyssaoc commented on #1065
@lyoshenka Is this still something you want to do or modify? Priority?

[2018-08-05 19:00] eukreign commented on #768
This is fixed in new wallet, here is the relevant unit tests that allows spending a UTXO where it costs more to spend it than you get from spending it:
https://github.com/lbryio/torba/blob/f5515e5e77c599a86817d5b34384b7e4670ee27f/tests/unit/test_transaction.py#L277-L285

[2018-08-05 19:00] #768 closed

[2018-08-05 19:04] eukreign commented on #991
I have not experienced this issue in the new wallet. It defaults to downloading 2000 headers at a time, so most of the time when you sync it'll do so in a single request/response and the message is pretty clear of how many was downloaded and the new height.

[2018-08-05 19:04] #991 closed

[2018-08-05 19:45] eukreign commented on #907
I think this is fixed by the components.

[2018-08-05 19:45] #907 closed

[2018-08-05 19:56] hackrush01 commented on #980
The publish commands still requires file manager component to be started. So it probably needs all the streams to be resumed. But I'm not sure if @jackrobison made some recent change to it which affects this.

[2018-08-05 20:14] tzarebczan commented on #1062
This was fixed with lbryumx, just confirmed earlier with an updated claim.

[2018-08-05 20:14] #1062 closed

[2018-08-05 20:18] tzarebczan commented on #768
@eukreign we still had an edge case with https://github.com/lbryio/lbry/issues/768#issuecomment-367110131 - can you try that exact amount (9.6e-05)? Maybe we should just open this on lbrycrd?

[2018-08-05 20:24] eukreign commented on #768
@tzarebczan jack posted the deserialized version of the transaction you were trying to send, it has just the one input and an output, both very low (0). in the unit tests I linked to, an additional input is added and thus there is substantial change as well, this should allow the TX to pass through the dust detector. if it still doesn't then there is nothing we can do on the wallet side to make it

[2018-08-06 11:32] jackrobison commented on #974
@alyssaoc I don't think this can happen now without running a custom dht node, intentionally choosing a LAN address (the upnp changes didn't effect this in either direction). Additionally, blocking or warning on LAN ips would complicate testing.

[2018-08-06 11:32] #974 closed

[2018-08-06 13:25] tzarebczan opened #1340 "0.21 errors + not setting UPnP redirects"
## The Issue
See below for log. I don't see the UPnP mappings being created, and the TCP port is not open according to canyouseeme.org. Also don't see anything trying to to tear them down on shutdown.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-06 13:26] tzarebczan opened #1341 "0.21RC4 errors + not setting UPnP redirects"
## The Issue
See below for log. I don't see the UPnP mappings being created, and the TCP port is not open according to canyouseeme.org. Also don't see anything trying to to tear them down on shutdown.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-06 15:56] tzarebczan commented on #1340
Not sure how that happened, this is a duplicate of: https://github.com/lbryio/lbry/issues/1341

[2018-08-06 15:56] #1340 closed

[2018-08-06 15:57] nikooo777 commented on #1341
mine:

[code]

[2018-08-06 15:59] tzarebczan commented on #1341
@nikooo777 can you see if 0.21 rc4 reverts to miniupnpc for you and that upnp ports are mapped?

[2018-08-06 18:24] tzarebczan opened #1342 "Ensure first blob is written to output file first (MP4 streaming issues)"
## The Issue
Per discussion with @jackrobison, it's possible that the 2nd (or others) blob is written to the output file before the first one, relevant code: https://github.com/lbryio/lbry/blob/e50ac69358bda507a7acd298ebe767cf7cba438e/lbrynet/daemon/Downloader.py#L64

This causes intermediate issues when streaming MP4s which have metadata required to start the stream in the first few bytes. If the

[2018-08-06 18:32] tzarebczan opened #1343 "transaction_show api fails with decode error"
## The Issue
2 examples:
C:\Users\xxxx\Desktop\latest daemon>lbrynet-cli transaction_show 43a0691e46986fd375007221f42c98e24e11e856c1708ac13ed5533c1f5f58f3
ERROR: 'utf8' codec can't decode byte 0x93 in position 5: invalid start byte

C:\Users\xxxx\Desktop\latest daemon>lbrynet-cli transaction_show 315a43c974e16d2c6849692c0362d76b6adb7cbb12180ecc707c05e1a12687ea
ERROR: 'utf8' codec can't decode byte

[2018-08-06 21:20] nikooo777 commented on #1341
I can only test this next weekend as I'm no longer under my home AP :/

[2018-08-06 22:30] nikooo777 opened #1344 "Publishing fails on the latest head"
## The Issue

Publishing is broken

### Steps to reproduce
1. checkout the master branch
2. publish something
3. ???
4. profit (not)

### Expected behaviour
The daemon publishes to lbry

### Actual behaviour
[code]

## System Configuration

[code]

[2018-08-07 12:09] tzarebczan commented on #1344
Discussion from Slack: something to do with claim_address / change_address being blank
Publish params:
[code]

[2018-08-07 14:03] tzarebczan commented on #1312
First take is completed on http://traction.lbry.io/question/114

This makes sure only to take into account DHT related failures and uses correct denominator for attempts (only those we knew failed/succeeded).

Next step is to limit the impact a single user can have on the metrics.

[2018-08-07 14:37] nikooo777 commented on #1344
confirmed. The bug comes from me passing an empty string to claim_address and change_address. The daemon fails to detect/handle this case and also throws the wrong error.

[2018-08-07 14:43] eukreign opened #1345 "Python 3 port of P2P"
Make P2P work on Python 3 and new wallet.

[2018-08-07 16:46] shyba opened #1346 "Mirroring doesnt work on master"
## The Issue

In order to download without peers,
as a badly connected user on `master`,
I want mirroring to work.

### Steps to reproduce
1. Start a download without peers or with DHT disabled/broken/blocked.
2. Mirroring doesn't trigger for data blobs
3.

### Expected behaviour
Mirroring triggers for data blobs

### Actual behaviour
Mirroring doesn't trigger and download fails

[2018-08-07 20:36] skhameneh commented on #1342
Repeat of partial notes from lbrio/lbry-desktop :

[2018-08-07 23:27] #1344 closed

[2018-08-07 23:27] #1338 closed

[2018-08-07 23:27] #1346 closed

[2018-08-08 03:00] hackrush01 commented on #860
I think this is might be an authentication bug, I will post more details if I find something.

[2018-08-08 16:25] lyoshenka commented on #1065
this is up to @eukreign. i think they're doing some refactoring already. idk if this is still useful, or can be closed

[2018-08-08 16:26] lyoshenka commented on #859
jack refactored a lot of the dht code, and some of this is wrong, so it can be closed. there's one part that's real. ill file a separate issue for it

[2018-08-08 16:26] #859 closed

[2018-08-08 16:30] lyoshenka opened #1351 "DHT wire format: switch from integer keys to bytestring keys."
The DHT is already compatible with both integer and bytestring keys. We should switch to using string keys when sending. Then after a few months, we can drop BC completely.

Before merging this, ensure that the Go version of the DHT will work correctly. I believe it will, but it needs to be tested. Also Go needs to switch to bytestrings as well (please file that when starting work on this).

### A

[2018-08-08 16:31] #552 closed

[2018-08-08 21:01] tzarebczan commented on #1297
This no longer fails, but you still get the error below. Tried announcing a blob and it doesn't, which is good.
[code]

[2018-08-08 22:28] tzarebczan opened #1352 "0.21RC - errors when UPnP disabled on router + ports forwarded(or not)"
## The Issue
Scenario (very common in various setups I've seen):
use_upnp: true (default setting)
UPnP turned off on router
Ports may or may not be mapped via port forwarding.

If you set `use_upnp: false`, it works fine. Works fine in 0.20.4 also with default config.

Results in announcement and find value errors.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY

[2018-08-09 12:43] #1352 closed

[2018-08-09 13:09] tzarebczan commented on #1341
Fixed in 1349

[2018-08-09 13:09] #1341 closed

[2018-08-09 13:29] alyssaoc commented on #1042
@tzarebczan please confirm that claim take over use original claim height

[2018-08-09 13:33] alyssaoc commented on #1045
@eukreign will the new wallet include this?

[2018-08-09 13:35] alyssaoc commented on #1047
Closing will watch for this in the new wallet

[2018-08-09 13:35] #1047 closed

[2018-08-09 13:37] tzarebczan commented on #1049
@eukreign does the new wallet support sweeping? We'll need to expose that through the daemon as well.

[2018-08-09 13:42] alyssaoc commented on #1054
comment left on 962, closing epic

[2018-08-09 13:42] #1054 closed

[2018-08-09 13:43] alyssaoc commented on #1055
will re-visit after new wallet

[2018-08-09 13:43] #1055 closed

[2018-08-09 13:44] alyssaoc commented on #1064
completed as part of #1080

[2018-08-09 13:44] #1064 closed

[2018-08-09 13:49] alyssaoc commented on #1070
@lyoshenka Is this still a valid epic? What is the priority? They will need additional grooming. On-hold, icebox?

[2018-08-09 13:52] tzarebczan commented on #1072
We should at a minimum list the files that are incomplete/pending on startup.

[2018-08-09 13:55] alyssaoc commented on #1074
@lyoshenka Is it worth keeping this issue open? Can I close it in the icebox?

[2018-08-09 13:58] tzarebczan commented on #1075
I've seen this during other heavy operations with the daemon. @eukreign / @jackrobison / @shyba should we open a new issue for a more generic "optimize database operations" issue?

[2018-08-09 14:01] alyssaoc commented on #1084
@tzarebczan Could you verify if this still happening? @eukreign Is the timeout different between lbryum and lbrymx?

[2018-08-09 14:02] tzarebczan commented on #1090
Fixed in https://github.com/lbryio/lbry/issues/768#issuecomment-410540424 , closing

[2018-08-09 14:02] #1090 closed

[2018-08-09 14:04] tzarebczan commented on #1094
@hackrush01 - is this different from the authentication mechanism you have been looking into?

[2018-08-09 14:06] tzarebczan commented on #1102
Closing in favor of #1045 , ,added a comment there.

[2018-08-09 14:06] #1102 closed

[2018-08-09 14:11] alyssaoc commented on #1106
@eukreign Do we want to add any of the above to the install instructions?

[2018-08-09 14:17] alyssaoc commented on #1119
@eukreign Is this still valid or has the new travis build solved this?

[2018-08-09 14:20] alyssaoc commented on #1120
@eukreign Do you want to keep this open or have someone do a live video recording for Brink @Feanor78

[2018-08-09 14:22] alyssaoc commented on #1122
@lyoshenka Is this still valid? Need additional information

[2018-08-09 14:25] alyssaoc commented on #1123
@hackrush01 Can you look into this, is it a quick change?

[2018-08-09 14:29] alyssaoc commented on #1130
@lyoshenka Is this something we want to do?

[2018-08-09 14:35] alyssaoc commented on #1140
this is fixed in 0.21 with components

[2018-08-09 14:36] alyssaoc commented on #1141
this has been fixed

[2018-08-09 14:36] #1141 closed

[2018-08-09 14:50] alyssaoc commented on #1150
@tzarebczan will see if the output is valid, this no longer errors

[2018-08-09 14:50] #1150 closed

[2018-08-09 15:00] lyoshenka commented on #1130
yes. i forgot about this when we were talking about lbry.tech docs. it shouldn't block getting the docs up because we're still pre 1.0, but it will become more important as the project matures. @eukreign @NetOperatorWibby keep this in mind when designing the docs system, but don't worry about it too much yet.

[2018-08-09 15:54] tzarebczan commented on #1291
Closing, no longer an issue. We also won't try to announce if there are no peers in 0.21

[2018-08-09 15:54] #1291 closed

[2018-08-09 15:55] tzarebczan commented on #1284
This was fixed in 0.20.4

[2018-08-09 15:55] #1284 closed

[2018-08-09 16:48] tzarebczan opened #1353 "Blob mirror downloads don't announce blobs"
## The Issue
If an sd/head blob was downloaded via blob mirror, it's status is not set to announce.  @jackrobison working on a fix

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-09 17:42] tzarebczan commented on #1353
Fixed in https://github.com/lbryio/lbry/commit/fe43764bcb64e759b22a4e9e6547d58ea22374a3

[2018-08-09 17:42] #1353 closed

[2018-08-09 20:02] tzarebczan opened #1354 "Wallet locked/unlocked status missing"
## The Issue
Apps that use the new component startup process need to know if the wallet is in a locked or unlocked state. Previously, it was blocked on startup. Currently we only see `is_encrypted`.  We'd need another status to tell if the wallet needs to be unlocked in order to prompt the user for a password
## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation I

[2018-08-09 20:07] tzarebczan opened #1355 "download_progress incorrect when resuming from s3"
## The Issue
Under blockchain_headers, download_progress is set to 100% when resuming headers from s3. See below for a screenshot while it was still downloading.  If you need an older blockchain headers file, please DM me.

To test this, I limited my bandwidth during a resume and was able to capture this screenshot:
![image](https://user-images.githubusercontent.com/8120721/43922938-3e125ed2-9bee-

[2018-08-09 20:36] hackrush01 commented on #1336
This is a bit more involved than I originally thought. After many different permutations and combinations of trial and error, it seems like there might be some other things that need to be changed in order to make this work. One such thing seems to be AuthAPIClient. I will update this thread if something else is discovered.

[2018-08-09 22:22] tzarebczan opened #1356 "Change floats to decimals on api inputs"
## The Issue
Similar to what we did for Publish in https://github.com/lbryio/lbry/pull/1238 / https://github.com/lbryio/lbry/pull/1257/files, we should also change for anywhere we are using floats (i.e. wallet_send). lbry.tech is running into problems trying to pass a number otherwise.

The current error is:
[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Install

[2018-08-10 04:05] hackrush01 opened #1358 "Make the Authenticated API Client async."
The current Auth API Client uses, requests. It should use something async such as treq or aiohttp ot twisted.web.client.Agent

[2018-08-10 14:30] lyoshenka opened #1359 "add flag or config to disable s3 mirroring"
i want to be able to run franklin tests with and without mirroring

[2018-08-10 14:31] shyba commented on #1359
Doesn't `download_mirrors: []` work already?

[2018-08-10 14:35] lyoshenka commented on #1359
:man_facepalming:

[2018-08-10 14:35] #1359 closed

[2018-08-13 13:47] hackrush01 commented on #1094
@tzarebczan Yes, this is different.

[2018-08-13 13:48] hackrush01 commented on #1123
@alyssaoc Sure, I will look into it.

[2018-08-13 13:51] jackrobison commented on #942
@alyssaoc :+1:

[2018-08-13 13:56] jackrobison commented on #977
@alyssaoc no, but I'm not sure that this issue will actually happen anyway. The case that I imagine is broken is where a node is behind multiple layers of UPnP gateways, but that's an edge case probably not worrying about immediately. I'll test if the incoming ip of a node in our lan sending us a `store` is the external or lan ip when in mht this week.

[2018-08-13 14:20] eukreign opened #1362 "Test New Wallet Daemon w/ Desktop App"
Wallet Specific
- [ ] `transaction_list` returns empty result I'm sure I have some transactions (lex0
- [x] `wallet_send` raises `Daemon' object has no attribute 'jsonrpc_send_amount_to_address`
- [ ] `claim_list_mine` returns empty result (lex)
- [ ] `lbrynet wallet_is_address_mine "sdgasg"` returned true, it's not my address + it's not a valid address (lex)
- [x] `resolve` and `resolve_name` not

[2018-08-13 15:00] #1122 closed

[2018-08-13 15:01] #1074 closed

[2018-08-13 15:01] #1070 closed

[2018-08-13 15:02] lyoshenka commented on #1070
we'll get to this eventually. ill reopen when we have more concrete plans

[2018-08-13 15:42] lyoshenka commented on #1105
i suggest that blocked content:
- does not resolve
- does not download
- does not appear in lists of non-local content (e.g. channel_list)
- is not announced???

the daemon should NOT do any of this:
- delete content off the user's machine
- hide it from lists of local content (e.g. file_list)

most of this can be done at the lbryumx level, so maybe doing it there is enough. blocking announcement

[2018-08-13 16:14] eukreign commented on #808
I think if we're going to change defaults we should do some more research. I expect such a change could be distruptive to the network until everyone updates. So if we're going to do such a disruption hopefuly it's only needed once and actually has the intended benefit.

1. Which ISPs block <10k ports?
1. Do any major / popular ones do this?
1. What do other P2P apps do to resolve this?
1. BitTorre

[2018-08-13 16:19] eukreign commented on #1044
New wallet can restore a wallet (account) from a seed:

`lbrynet account "name of your account" --create --seed="provide the seed you used previously"`

[2018-08-13 16:19] #1044 closed

[2018-08-13 16:26] eukreign commented on #1045
This is available in new wallet by creating TXs and showing them but not broadcasting them, the JSON response includes the fees.

[2018-08-13 16:26] #1045 closed

[2018-08-13 16:28] eukreign commented on #1049
New wallet supports unlimited accounts. You could import the paperwallet (by using seed or private key) and then spend all UTXOs in the paper wallet to another wallet or just use the paper wallet as your main account.

[2018-08-13 16:53] eukreign commented on #1065
I think this is more of a goal / direction than an actionable issue. We should keep this and refer to it but doesn't make sense to keep issue open.

[2018-08-13 16:53] #1065 closed

[2018-08-13 16:57] eukreign commented on #1084
The new wallet times out much quicker and tries the next lbryumx server in the list.

[2018-08-13 16:57] #1084 closed

[2018-08-13 17:04] eukreign commented on #1106
I don't think end-users should be using `pip` and `virtualenvs` to install `lbrynet`; especially now that we have on-push builds for all three platforms hosted at http://build.lbry.io/

We should add instructions and sample configs for how to run lbrynet in headless mode on at least Debian/Ubuntu (or common flavor there of).

[2018-08-13 17:08] eukreign commented on #1119
This is still valid, someone needs to tackle this one.

The new build system is using multiple parallel travis build containers, so I think what @kauffj is suggesting is very doable, we could have a separate build process that uses a Ruby container (thus everything is already pre-installed) and does the changelog check only but in parallel to other checks.

[2018-08-13 19:46] tzarebczan opened #1363 "Blob mirror traceback when canceled"
## The Issue
This traceback doesn't happen every time during a canceled blob, but noticed it on spee.ch recently. @jackrobison asked me to file it.

[code]

Another, not sure if related:
[code]

another:
[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-13 19:54] tzarebczan opened #1364 "error requesting remote height from lbryumx2.lbry.io:50001 - Not connected"
## The Issue
I was having some connection issues while starting the daemon without a headers file in place. It would fail to get it from lbryumx2 (I onl had lbryumx2 specificed in daemon_settings) and then have to download the headers from scratch. I think it should retry this step a couple times before giving up and trying to sync from scratch, which is a long process at this time. That might be

[2018-08-13 21:02] tzarebczan opened #1365 "handle blob mirror timeouts better"
## The Issue
Noticed the below timeout when Franklin was downloading a file. It looks like the last blob took 3 minutes to fail/timeout and then it re-tried successfully.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-13 21:21] tzarebczan opened #1366 "Optimize database calls to local db"
## The Issue
While watching spee.ch logs, noticed lots fo database locked/re-running of queries to the sqlite. I understand we can make optimizations on how we execute these queries so it happens less often. I've seen this myself on local servers when running a few downloads or actions at the same time. See below for a sample output.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY

[2018-08-14 15:37] tzarebczan commented on #1342
Here's an example of this in action with blob mirroring below. Blobl  05a5c9bc781c5310  (blob 3) is downloaded before blobs 1 and 2. Not sure if it was written to the output file before hand, but based on the anaylsis @jackrobison did before, it's possible.

blob data:
`"blobs": [{"length": 2097152, "blob_num": 0, "blob_hash": "db03b8161a1aecd4d04b730891bd44ec4b56897f8add5d7409b8da2cb6ec758e56b21c

[2018-08-14 16:05] #1345 closed

[2018-08-14 17:34] kauffj commented on #1342
The proper resolution to this may simply be to expose in the API whether or not the first blob is written (or maybe just make daemon responsible for metadata being available?), rather than actually forcing blobs to be written in order.

[2018-08-14 19:46] jackrobison commented on #1354
fixed in 0.21.1

[2018-08-14 19:46] #1354 closed

[2018-08-14 19:46] jackrobison commented on #1355
fixed in 0.21.1

[2018-08-14 19:46] #1355 closed

[2018-08-14 19:46] jackrobison commented on #1356
fixed in 0.21.1

[2018-08-14 19:46] #1356 closed

[2018-08-14 21:32] tzarebczan commented on #385
Can confirm this is fixed. Created a test scenario with a file already created for one I was about to download. It added the _1.
[code]

[2018-08-14 21:32] #385 closed

[2018-08-14 21:45] tzarebczan commented on #626
I think this may have been fixed by the components refactor. I tried a few times by stopping with ctrl-c at various points, and it aborted cleanly.

@lyoshenka (or anyone else) if you run across this on 0.21+, please reopen.
[code]

[2018-08-14 21:45] #626 closed

[2018-08-14 22:28] tzarebczan commented on #803
The first step of this (identifying the purchase) is currently being worked in https://github.com/lbryio/lbry/commit/6e2622448e6080f656d1bee595201b357efd50a4

[2018-08-14 22:31] tiger5226 commented on #803
Nice!

[2018-08-15 13:57] hackrush01 commented on #1362
Commands not working(needed by app)
`transaction_list` returns empty result I'm sure I have some transactions
`wallet_send` raises `Daemon' object has no attribute 'jsonrpc_send_amount_to_address`
`claim_list_mine` returns empty result
`lbrynet wallet_is_address_mine "sdgasg"` returned true, it's not my address + it's not a valid address

[2018-08-15 14:04] #1358 closed

[2018-08-15 14:04] #1336 closed

[2018-08-15 21:26] lyoshenka opened #1369 "Add checkpoints for spv header downloads"
The goal is to reduce startup time by not downloading headers we don't need.

Instead of downloading all the headers back to block 0, add a checkpoint in the code and only download back to that checkpoint.

Lex pointed out that we'd need older headers to validate older transactions, so this may not be possible or useful for us to do.

[2018-08-16 13:46] tzarebczan commented on #1187
This was filed before the resolve enhancements, so the experience now is much improved. If I continue to see this, will open a new issue related to multithreading/performance overall.

[2018-08-16 13:46] #1187 closed

[2018-08-16 13:50] alyssaoc commented on #1188
@tzarebczan please check behavior with the new wallet

[2018-08-16 13:51] tzarebczan commented on #1192
@nikooo777 is this still happening on Victor's lbryumx server? Still not sure if it's lbryum or lbryumx related.

[2018-08-16 13:54] nikooo777 commented on #1192
it appeared to be still happening, though i moved away from using utxo_list to check utxos, instead I just wait for a block and spend.

[2018-08-16 13:57] tzarebczan commented on #1199
The behavior is much improved in the latest versions as the file_delete call will stop the download pretty quickly.

This should be taken into account when solving #854 , leaving issue open.

[2018-08-16 13:58] alyssaoc commented on #1205
@jackrobison Is this issue still valid?

[2018-08-16 14:00] tzarebczan commented on #1210
This is what I'm seeing for this api call on an invalid URI - the message could be better:
[code]

[2018-08-16 14:10] tzarebczan commented on #1229
This is no longer an issue on 0.21 - the UDP port will still bind if the TCP port fails or is bound already.

[2018-08-16 14:10] #1229 closed

[2018-08-16 14:13] tzarebczan commented on #1232
According to a convo with Lex, he will be importing wallet public keys along with channels, so this issue should be solved with the new wallet. Will confirm with @eukreign

@eukreign does channel_import / export already take this into account?

[2018-08-16 14:18] tzarebczan commented on #1235
Even though a user may have an incorrect configuration setting, the daemon should handle this scenario better.

[2018-08-16 14:28] tzarebczan commented on #1265
We have no plans to move away from PoW at the moment. If PoS tech improves in the future, we will consider it for the LBRY blockchain.

[2018-08-16 14:28] #1265 closed

[2018-08-16 14:32] alyssaoc commented on #1268
@hackrush01 Can you update the api documentation with the valid characters?

[2018-08-16 14:34] eukreign commented on #1243
We have a script now to generate a JSON formatted API that feeds into lbry.tech.

[2018-08-16 14:34] #1243 closed

[2018-08-16 14:35] alyssaoc commented on #1270
@jackrobison What are the next steps to improve this?

[2018-08-16 14:39] tzarebczan commented on #1275
Session status has been removed as a parameter in 0.21 (components refactor). We are now able to successfully call a status early in the daemon startup process.

[2018-08-16 14:39] #1275 closed

[2018-08-16 14:45] tzarebczan commented on #1278
@nikooo777 we should confirm that the new `fund` command works for your YT sync scenario when we test the wallet.

[2018-08-16 14:47] alyssaoc commented on #1292
@shyba Is this related to the work you are doing?

[2018-08-16 14:49] alyssaoc commented on #1293
@eukreign How is this being handled in the new wallet?

[2018-08-16 14:52] tzarebczan commented on #1302
@whatbatman any updates? Looking forward to see a contribution from you :)

Let us know if we can help any further.

[2018-08-16 14:53] alyssaoc commented on #1304
@akinwale Is this still an issue or did the new daemon fix it?

[2018-08-16 14:58] tzarebczan commented on #1306
@andrenogj were you still planning to work on this? Looking forward to your contribution :)

[2018-08-16 15:13] eukreign commented on #1293
Figuring out when a claim expires still needs to be done in new wallet.

[2018-08-16 18:26] alyssaoc commented on #1220
duplicate of #1362

[2018-08-16 18:26] #1220 closed

[2018-08-17 04:42] hackrush01 commented on #1362
This is a comment with more detailed errors:
---------
Error while running `get`
[code]
Calling it again worked
-----------

[2018-08-17 14:51] akinwale commented on #1304
@alyssaoc Daemon 0.21 is performing a whole better than previous versions. One more thing I'd like to test is being able to disable DHT completely, so that downloads are done using only HTTP blob mirrors, but the daemon doesn't have the option to do that yet.

[2018-08-17 19:35] alyssaoc commented on #1329
@hackrush01 if #1317 is closed, is this also done? or still open

[2018-08-18 14:05] hackrush01 commented on #1329
This is still open, planning to do it soon

[2018-08-19 22:30] eukreign commented on #1105
If we want to support customized block lists then doing this at lbryumx layer probably would be much harder (since then we'd have to implement blocking both in lbryumx for the official block list maintained by LBRY Inc and in daemon/desktop app for user customizeable block lists)? I think we should do this solely in the daemon/client?

On the other hand, if we start adding more daemon implementati

[2018-08-20 00:43] shyba commented on #1292
I think this can be closed. As far as I know, they are fine on
lbryum-refactor+py3, although the functional tests aren't. Jack is taking a
look on this other case.

Em qui, 16 de ago de 2018 11:49, Alyssa Callahan <notifications@github.com>
escreveu:

[2018-08-20 13:37] hackrush01 commented on #1268
@alyssaoc I will update them and make a PR soon to lbryum-refactor branch.

[2018-08-20 13:48] jackrobison opened #1374 "settings_get and settings_set do not break out all of the adjustable settings"
There are many more settings configurable from the config file. Presently the settings commands provide access to a limited subset of the settings - all of those in `ADJUSTABLE_SETTINGS` should be configurable.

[2018-08-20 13:50] jackrobison commented on #808
@eukreign @alyssaoc closing this issue

I don't think we need to change defaults, just make them more accessible: https://github.com/lbryio/lbry/issues/1374

This will also require the app be updated to provide access to these settings.

[2018-08-20 13:50] #808 closed

[2018-08-20 16:45] tzarebczan opened #1375 "daemon_settings.yml and data_dir configuration"
## The Issue
If a user configures a data_dir setting in daemon_settings.yml, you end up with two daemon_settings.yml files - the one in the original location where the daemon looks by default and the one in the data_dir. The main location supersedes the data_dir one which might be confusing if other settings, like download_directory are configured in the main daemon_settings.yml because the daemon

[2018-08-20 17:00] tzarebczan opened #1376 "Blob mirror download does not resume after all blobs sent to reflector"
## The Issue
I've seen this scenario happen twice on spee.ch over the weekend and was able to confirm locally. The other scenario where this will happen is with YouTube Sync - we may not be done with mirroring all blobs before users try to download them (via subscriptions).

Scenario: I publish a 1GB file to LBRY, it confirms on the blockchain, and continues to upload to reflector in the backgroun

[2018-08-20 19:35] tzarebczan opened #1377 "Blob will timeout if not sent to reflector in 3 minutes, process stops. Should retry sending blobs"
## The Issue
The current timeout for sending blobs to the reflector is 30 seconds. If a user has an upload speed lower than ~67 KB\s, the reflection process will stop and will not retry until the re-reflection interval (12 hours?). If this occurs, the daemon should retry reflecting the file again. Not sure this would help if the user's upload is consistently slower than that...unless reflector is

[2018-08-21 15:36] tzarebczan opened #1378 "written bytes does not match total bytes when file completed"
## The Issue
This issue stems from discussion in from https://github.com/lbryio/lbry-desktop/issues/1894
The total bytes written does not equal the total bytes in certain cases. I understand this may be due to padding, but as Jeremy suggested one should exclude/include the padding bytes to be consistent.

[code]
## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installatio

[2018-08-21 16:32] #1292 closed

[2018-08-21 16:37] #1304 closed

[2018-08-21 16:40] alyssaoc opened #1379 "Option to disable DHT"
As a developer I would like to test being able to disable DHT completely, so that downloads are done using only HTTP blob mirrors to see if android performance is improved.

the daemon doesn't have the option to do that yet.

[2018-08-21 18:34] tzarebczan commented on #1105
Would like @kauffj to chime in here - I think he was originally against blocking any URIs at the wallet / protocol level. But I've also heard mentions of a stream blacklist for nodes.

[2018-08-21 21:05] tzarebczan commented on #1376
I mentioned to @jackrobison that this would be good to get into a patch release, with any other smaller fixes we may have. The app team is planning to get a release out on Thursday, so we'd need to ready by Wednesday afternoon the latest.

[2018-08-21 22:30] tzarebczan opened #1380 "Daemon fails to rebuild file if original upload location not available"
## The Issue
If you publish a file, the daemon records the path to the published file. If this path is no longer valid, the daemon tries to rebuild it in the same location and fails. As a fallback/potential solution, it should rebuild it in the downloads directory.

[code]

### Steps to reproduce
1. Publish a file from a folder that can be delete
2. Delete folder after publishing
3. Try to view th

[2018-08-21 23:56] Derek2020 commented on #1292
Not so much

On Tue, Aug 21, 2018, 9:32 AM Alyssa Callahan <notifications@github.com>
wrote:

[2018-08-22 16:31] lyoshenka commented on #1312
looks like Tom did work on this, so im reassigning to him. also @jackrobison owns metrics, so the two of you should work together on this. i'm happy to help with sql stuff or anything else.

[2018-08-22 19:28] tzarebczan commented on #817
@jackrobison / @lyoshenka  - do we feel that the changes to reflection (doing it only once per 12 hours, having ability to turn off) solve this ticket or should we be digging in more. The issues on spee.ch with multiple files being open have not re-surfaced.

[2018-08-22 19:49] tzarebczan commented on #847
This is currently handled better in the sense that the publish call fails with a ```Claiming of name testlongdesc failed: error: the transaction was rejected by network rules. 16: bad-txns-claimscriptsize-toolarge ``` (that's what the user also sees in an error box) but I think we can still do a better job at estimating the claim size before even submitting the publish.

@eukreign , will the publi

[2018-08-22 20:09] alyssaoc commented on #1312
@lyoshenka Jack does need help with the sql. Tom and Jack have gone as far as they can without significant sql help from you. Apologies, I forgot to add that note in Github.

[2018-08-22 20:17] tzarebczan commented on #1027
Only happened twice in the last month, both times on lbrynet-0.18.2. Closing.

[2018-08-22 20:17] #1027 closed

[2018-08-22 21:52] tzarebczan commented on #900
Going to close this - have not seen any reports of it and loggly does not come up with anything.  Suspect it was mostly related to https://github.com/lbryio/lbry-desktop/issues/624

[2018-08-22 21:52] #900 closed

[2018-08-22 22:01] tzarebczan commented on #985
hey @stevenmos , can you check if this is still happening on the latest version of LBRY for you (https://lbry.io/get)

I see similar errors on Loggly, but more related to the DHT side -
```DHT RECV REMOTE EXCEPTION FROM 19x.21x.5x.5x:46492: invalid literal for int() with base 10: ''```
or
```Unexpected response: invalid literal for int() with base 10: ''```

Any idea what that could be @jackrobiso

[2018-08-22 22:59] shyba commented on #985
Not immediately from me, but I will reply if I stumble on that error or if I see something on the code. For now it looks like it got moved/rewritten. Maybe @jackrobison will have a better idea if something got fixed in there between 0.17 and 0.21

[2018-08-23 03:56] tzarebczan opened #1386 "get may fail if sdblob is blank - No JSON object could be decoded"
## The Issue
spee.ch ran into this on 2018-08-20:
[code]

Looks like the server at least has the sdblob: dce7025c49ea04336fcdd40423ae523baf07e9da4dc1358e59f3417edb63dfdedeb7f0ea914667f95a86c1a1d09f6bc4v and it's 0 KB. I was able to pull one of the first blobs too, looked correct.

Not sure how it got into this scenario but should be able to recover by deleting the sdblob and redownloading it.

rem

[2018-08-23 14:41] lyoshenka commented on #1312
What is needed from me? @tzarebczan please add details here or set a time to meet with me/jack

[2018-08-23 21:57] tzarebczan commented on #1042
@lyoshenka I did confirm that claim updates don't reset the takeover period.

However, I'm still skeptical why we need the root height. Isn't it invalid once the claim is taken over? Any takeovers at the vanity URL are then based on the new vanity takeover height. If that's abandoned and it goes back to the original claim, the root_height would no longer be used in the calculation, it would be the

[2018-08-23 22:31] tzarebczan opened #1387 "revisit stream_availability command"
## The Issue
After checking out https://github.com/lbryio/lbry/issues/1150, noticed that the stream_availability command isn't returning the right results.  It should also probably take into account blob mirrors?

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-23 22:48] kauffj commented on #1105
My understanding is that we do not have a legal obligation to perform blocking at this level, just as someone writing an HTTP daemon or BitTorrent daemon would not have an obligation.

I support adding this as a _feature_ to support users who may not want to host certain types of content.

Whatever happens here, if adding to the daemon layer it ought to be done in a configurable way. The blacklist

[2018-08-24 03:44] #1376 closed

[2018-08-24 14:16] #1312 closed

[2018-08-24 20:17] shyba commented on #1362
`blob_get` works. The issue with network/availability is unrelated to the command itself. Unless we want to add mirroring to `blob_get`, which I would say is another issue.

[2018-08-24 20:26] shyba commented on #1362
`blob_list` after getting `ethos` (20 blobs + some leftovers I had before):
[code]

[2018-08-24 20:27] shyba commented on #1362
`file_list` is giving me weird results on some fields:
[code]
I think fully checking this one will be harder since it has a lot of edge cases.

[2018-08-24 22:49] shyba commented on #1362
`claim_list_by_channel` also works. The above stack trace of `block not found` was caused by issues on the wallet servers.

[2018-08-26 22:01] shyba opened #1592 "Update the claim signatures scheme"
New scheme defined here: https://hackmd.io/s/S1TlVP6xX

Blocks #44

Related #39

Steps:
- [ ] - Restructure code in a way that doesn't break current but allow for a different way of decoding, signing and checking signatures
- [ ] - Add flags, as described in the document
- [ ] - Separate the binary from the signature and add decode support for that, also supporting current schema
- [ ] - Add tests

[2018-08-26 22:10] shyba commented on #1075
Yes, I sent @jackrobison a diff with some options we can change. I've been using them in "production" (the EU node) for quite a long time now and believe it to be safe. At least for large x86 nodes like mine.
I can open a PR with them as well instead, but I prefer @jackrobison to take a look first.

[2018-08-27 15:59] eukreign commented on #847
Adding a `--broadcast` flag to publish command is doable. In fact, I think all commands that deal with TXs should have a `--broadcast` flag with default being do not broadcast and then if you want to broadcast you must pass the flag?

Closing this since the original issue (of no error to user) has been resolved.

A new issue should be created to add a `--broadcast` flag to `publish` so that it is

[2018-08-27 15:59] #847 closed

[2018-08-27 16:07] finer9 commented on #1105
My current understanding is that our obligation is to block in a way that will restrict the content from the majority of users.  For now, that is the app.  If someone had the ability to get to blocked content programatically through their own effort using the daemon, their own actions speak to the intent, and they are bypassing our good-enough-for-most method of blocking.  Clearly something like H

[2018-08-27 16:07] #1105 closed

[2018-08-27 16:47] lyoshenka commented on #1042
The goal was to be able to show (e.g. in the app) how long it will be before a claim you just made will become the winning claim. So if there's a longstanding claim with multiple updates to it, there's no way to tell how long the takeover process will take.

[2018-08-27 16:55] lyoshenka commented on #817
For reflection, the real fix is to put a reasonable limit there - either max simultaneous uploads, max connections per server, max upload bandwidth, or some combo of these. But its not high on the list right now.

For speech, the fix has to be on speech's end. Either serving static content directly without hitting the node server, or a cache in front of speech, a CDN, etc. I'm guessing part of the

[2018-08-27 16:55] lyoshenka commented on #817
In summary, I'm closing this. Please reopen if I'm mistaken and it's still an issue.

[2018-08-27 16:55] #817 closed

[2018-08-27 18:16] shyba opened #1392 "Fail graceful when a "get" command hits an abandoned/unresolved claim"
## The Issue

In order to download abandoned content,
as a user,
I want to know it failed because it was abandoned.

### Steps to reproduce
1. Try to download `testreflector002` (abandoned)
2.
3.

### Expected behaviour
Some message like (0.21): `ERROR: Failed to resolve stream at lbry://testreflector002`

### Actual behaviour
[code]

## System Configuration

{
  "build": "dev",
  "desktop": "i3",

[2018-08-28 03:00] tzarebczan commented on #847
I agree, but I think the default should be to broadcast (which matches current functionality) and a flag to not broadcast (I could be convinced otherwise if other team members agree with your approach!).

[2018-08-28 04:11] tzarebczan opened #1394 "Creating channel + publishing quickly results in failed publish"
## The Issue
Tried creating a channel and publishing right after on spee.ch, ran into the below error. @eukreign says this is because the channel tx hasn't hit the mempool when the publish was created. I'm curious what would happen if only the channel id were used, and not channel name. Although this won't happen often, it's a use case that should be supported or handled better.
[code]

## System

[2018-08-28 13:18] eukreign commented on #1394
There are two ways to approach this:

1. Have `publish` create the channel at the same time as it creates the claim and then you can broadcast them both in rapid succession. There is an integration test that shows exactly how to do that: https://github.com/lbryio/lbry/blob/master/tests/integration/wallet/test_transactions.py#L59-L66

2. Another approach is to save TXs into the database while broad

[2018-08-28 13:41] tzarebczan commented on #1394
The trouble with approach #1 is that you don't know if someone is just creating a channel or if they are creating a channel + publishing right after. Both are valid scenarios. Would you delay the channel broadcast and wait for a publish to come in? Sounds like you can still run into the same problem...

[2018-08-28 14:14] alyssaoc opened #1396 "transaction_list returns empty result"
 transaction_list returns empty result I'm sure I have some transactions

[2018-08-28 14:15] alyssaoc opened #1397 "claim_list_mine returns empty result"
claim_list_mine returns empty result

[2018-08-28 14:16] alyssaoc opened #1398 "lbrynet wallet_is_address_mine "sdgasg" returned true"
lbrynet wallet_is_address_mine "sdgasg" returned true, it's not my address + it's not a valid address

[2018-08-28 15:27] alyssaoc opened #1399 "claim_new_support returns LbryWalletManager' object has no attribute 'support_claim'"

[2018-08-28 15:29] alyssaoc opened #1400 "claim_list returns 'LbryWalletManager' object has no attribute 'get_claims_for_name'"

[2018-08-28 15:31] alyssaoc opened #1401 "transaction_show returns 'LbryWalletManager' object has no attribute 'get_transaction'"

[2018-08-28 15:34] alyssaoc opened #1402 "wallet_public_key returns 'LbryWalletManager' object has no attribute 'get_pub_keys'"

[2018-08-28 15:35] alyssaoc opened #1403 "wallet_send(with claim_id) returns 'LbryWalletManager' object has no attribute 'tip_claim'"

[2018-08-28 15:37] alyssaoc opened #1404 "utxo_list returns 'LbryWalletManager' object has no attribute 'list_unspent'"

[2018-08-28 15:39] alyssaoc opened #1405 "wallet's unlock, encrypt, decrypt"

[2018-08-28 15:41] alyssaoc opened #1406 "report_bug"
Maybe dropping and moving to app, but there is no issue for it there.

[2018-08-28 15:41] alyssaoc opened #1407 "report_bug"
Maybe dropping and moving to app, but there is no issue for it there.

[2018-08-28 15:41] #1407 closed

[2018-08-28 15:43] alyssaoc opened #1408 "channel_list"

[2018-08-28 15:44] jackrobison commented on #985
These are two different (although related) bugs

The first one was when the ip was incorrectly set to the string `Could not determine IP` and then this was used to try to announce blobs (the nodes receiving these requests then fail to decode the datagram). This one should be fixed.

The second bug is when a field that is not supposed to be blank is blank - `''`. I'm not sure where that's coming fr

[2018-08-28 15:45] jackrobison commented on #1270
@tzarebczan is this still an issue on 0.21.2?

[2018-08-28 15:45] alyssaoc opened #1409 "channel_export/channel_import"

[2018-08-28 15:50] alyssaoc opened #1410 "claim_abandon"

[2018-08-28 15:52] alyssaoc opened #1411 "claim_renew"

[2018-08-28 15:54] alyssaoc opened #1412 "claim_send_to_address"

[2018-08-28 15:58] alyssaoc opened #1413 "stream_cost_estimate"

[2018-08-28 15:59] alyssaoc opened #1414 "blob_availability fails to give proper results"

[2018-08-28 16:01] alyssaoc opened #1415 "stream_availability errs"

[2018-08-28 16:02] alyssaoc opened #1416 "file_reflect"

[2018-08-28 16:04] alyssaoc opened #1417 "blob_reflect"
<!--

[2018-08-28 16:05] alyssaoc opened #1418 "blob_reflect_all"

[2018-08-28 16:07] alyssaoc opened #1419 "file list -turn on full status"

[2018-08-28 23:02] tzarebczan commented on #985
Yes, that's the same node producing both messages. It's someone on Win 7 and the latest version. Found another user in a similar boat on Linux (no email) and a 3rd also on Win 7. Reached out to 2 of the Win 7 users.

[2018-08-29 14:48] tzarebczan commented on #1278
Tested on new wallet (on spee.ch), doesn't look right:
lbrynet-cli wallet_prefill_addresses 50 .04

and this was the result (I was expecting 50 UTXOs with 0.04):
https://explorer.lbry.io/tx/cb08b32de15b003e7930ced91e7226a02f6e8fab53ddabd3709947bee6b950fe

[2018-08-29 17:46] tzarebczan opened #1420 "Startup analytics missing since component refactor (0.21.x) release"
## The Issue
Looks like we lost startup analytics based on http://traction.lbry.io/question/19 when we refactored components. @shyba took a quick look and we are storing successes but not startups/failures.

See:
select * from segment.server_startup order by received_at desc limit 20;
select * from segment.server_startup_success order by received_at desc limit 20;
select * from segment.server_star

[2018-08-29 17:51] shyba commented on #1420
startup isnt being sent at all and I tried raising an error to check the event for errors and it failed badly instead. Analytics is started after the startup even is sent, so its not sent. Then something isnt so good with exception handling for the error case.
Try adding `log.hahaha()` here: https://github.com/lbryio/lbry/blob/v0.21.2/lbrynet/daemon/auth/server.py#L246
It fails and hangs.
But afte

[2018-08-30 18:21] kauffj opened #1423 "Claim updates via publish require superfluous paramaters"
When performing a claim update via `publish`, only the parameters changing (plus a value to identify the claim), should be required.

Currently, `publish` requires many parameters even if they are not changing. This results in extra engineering effort at the application level.

As an example, spee.ch currently requests data from the daemon simply to pass it back to the daemon. This is rather absur

[2018-08-30 18:49] daovist commented on #1423
spee.ch could/should be storing this data when it saves a claim but it would be nice to avoid having to pass `source` data when updating existing claims, if possible

the code in question is still getting cleaned up but it gets used as follows:

`publishParams['sources'] = fullClaim.claim.value.stream.source;`

where `publishParams` is what will be sent in the request and `fullClaim` is the result

[2018-08-30 21:00] shyba commented on #1417
tested, this one works fine.

[2018-08-30 21:00] #1417 closed

[2018-08-30 21:05] shyba commented on #1418
tested, it works. closing.

[2018-08-30 21:05] #1418 closed

[2018-08-30 22:29] tzarebczan commented on #1406
This is the app side issue:  https://github.com/lbryio/lbry-desktop/issues/1078

Getting this error when making the call:
[code]

[2018-09-03 14:03] #1278 closed

[2018-09-03 16:48] #1392 closed

[2018-09-04 18:44] alyssaoc commented on #1042
@lyoshenka Can this issue be closed or defined into an actionable issue?

[2018-09-04 19:29] lyoshenka commented on #1042
The real issue is what I said above:

We can either turn this into that, or open it as a new issue. Up to you.

[2018-09-05 18:33] hackrush01 commented on #1123
When calling a deprecated command using API(curl etc) it prints out the deprecation message in the log as warning, like so: `2018-09-05 23:55:41,856 WARNING  lbrynet.daemon.auth.server:521: API function "daemon_stop" is deprecated, please update to use "stop"`
To change this behaviour to return the deprecation message in the API response will require some changes. Which I don't think should be don

[2018-09-05 19:43] hackrush01 commented on #1268
Added a PR #1428.
There seems to be no(practical) limitation on the length of the name of the claim
All these names resolve
`PcjV6wu83Bmtu56aXDj5kO7dMtT1q8dCHObjlGlL1wR8v1hlVv8bvfgTWlNtMxIhjTzgkQ9n2d9N5YWiD1DP3qGKgFQfG8RRrcZE`

`PcjV6wu83Bmtu56aXDj5kO7dMtT1q8dCHObjlGlL1wR8v1hlVv8bvfgTWlNtMxIhjTzgkQ9n2d9N5YWiD1DP3qGKgFQfG8RRrcZEPcjV6wu83Bmtu56aXDj5kO7dMtT1q8dCHObjlGlL1wR8v1hlVv8bvfgTWlNtMxIhjTzgkQ9

[2018-09-05 20:19] alyssaoc opened #1429 "Difference in price of the video and price to be paid"
@LavRadis commented on [Tue Nov 14 2017](https://github.com/lbryio/lbry-desktop/issues/742)

## The Issue
There is a different price on the video and when you want to download it and buy it. Not sure if it affects multiple videos, it probably does but I couldn't check due to my balance. It is probably some kind of a rounding issue.

### Steps to reproduce
1. Open a video with price 0.58 LBC
2. Whe

[2018-09-05 21:34] kaykurokawa opened #1430 "Torba wallet fails to load on fresh install (missing files/directory)"
## The Issue

Torba wallet fails to load on a fresh run through binary  (no previous installation)

### Steps to reproduce
1. Downloaded binary from latest master (http://build.lbry.io/daemon/build-7013_commit-ee5be5a_branch-master/linux/). Used a machine with no previous lbry installation

### Expected behaviour
Wallet should load

### Actual behaviour
Wallet does not load (startup_status for wal

[2018-09-09 00:41] tzarebczan commented on #1342
This get call resulted in the "waiting for metadata scenario". Notice blobs completed is 1 but the written bytes are 0.
[code]

Following file_list call (2 blobs completed, but only 2 MB written. hmm):
[code]

[2018-09-10 01:10] #1419 closed

[2018-09-11 15:39] tzarebczan commented on #1415
Related: https://github.com/lbryio/lbry/issues/1387

[2018-09-11 16:49] tzarebczan opened #1433 "Deterministic channel certificates"
## The Issue
Current state:
When a user creates a channel, a channel signing key is generated which matches up with a new public key specific to a channel. These keys are generated randomly outside of any wallet other wallet data/seeds. If a user creates a channel but forgets to back up their wallet, the channel signing key is lost - no new claims can be signed. A new key can be created, but this

[2018-09-11 17:10] tzarebczan opened #1434 "Proper unlock wallet error/notification when using a wallet related commands"
## The Issue
Currently, if you call a command that requires the wallet to be unlocked, you get the below feedback from the daemon (and the command stops).  On the desktop app, we force users to unlock the wallet on startup, but it would be nice to provide an option or allow unlocking only when wallet related commands are run.

App developers will need a way to consistently tell when a wallet needs

[2018-09-12 18:27] asddsaz opened #1435 "[Feature] Built in I2p Support"
**Feature**: The ability for users to access LBRY with I2p

**Why**? To help evade censorship in countries like China.

[2018-09-13 13:10] alyssaoc opened #1437 "add unit tests for BlobAnnouncer"
@jackrobison commented on [Mon Jan 29 2018](https://github.com/lbryio/internal-issues/issues/106)
Add unit test for hash announcer concurrency
---

@kauffj commented on [Wed May 09 2018](https://github.com/lbryio/internal-issues/issues/106#issuecomment-387804911)

Can this be moved out of internal-issues?

---

@nikooo777 commented on [Wed May 09 2018](https://github.com/lbryio/internal-issues/iss

[2018-09-13 13:19] alyssaoc commented on #811
@eukreign #1298 is closed, can this be closed?

[2018-09-13 14:39] eukreign commented on #811
Signing for the daemon has not been added yet so this is a valid issue.

[2018-09-13 16:09] #787 closed

[2018-09-13 16:10] #980 closed

[2018-09-13 16:20] alyssaoc commented on #1270
@jackrobison assess the speed of this

[2018-09-14 14:33] tzarebczan commented on #1435
@asddsaz thanks for opening this issue! I don't think we'll be tackling this anytime soon as the goal of LBRY is to build upon current/popular internet infrastructure, but if there are any community members that would like to take this one, we'll leave this issue open.

[2018-09-17 13:46] tzarebczan commented on #1377
A community member recently ran into this issue on a few files he was trying to upload.

[code]

[2018-09-17 14:42] tzarebczan opened #1439 "lbrynet crashed: Cannot recover from stack overflow."
## The Issue
Not sure if the below will help, but wanted to log it in case others run into the same problem. I'll be logging the DHT issues under a separate issue if they continue to happen on the latest master. The below is from an 8/28/2018 executable.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Sc

[2018-09-17 15:00] shyba commented on #1413
[code]

I think this can be closed, unless there is another edge case I'm missing to reproduce.