[2017-06-30 17:42] kauffj commented on #740
The real solution to this is [community tagging](https://github.com/lbryio/lbry/issues/744).

I'd like to avoid an interim solution, but if we do it would be centralized and a lbry-app based solution.

[2017-06-30 17:42] #740 closed

[2017-06-30 17:46] kauffj commented on #737
I labeled this P2 since it seemed like it wasn't blocking @billbitt. If this is affecting more typical usage, this should be P1.

[2017-06-30 17:49] kauffj commented on #719
This previously had next release and Kay thinks this is important, so I marked P1.

[2017-06-30 17:54] kauffj commented on #666
The auth part specifically is fixed.

The ability to keep the same view/content across applications is a large project across a mix of repos, that won't be looked at until several sub-components are tackled on their own (like wallet import).

[2017-06-30 17:54] #666 closed

[2017-06-30 18:00] #679 closed

[2017-06-30 18:01] #661 closed

[2017-06-30 18:10] kauffj commented on #660
I'm not seeing this in my current wallet, will re-open if I see it again. Possibly related to old data.

[2017-06-30 18:11] kauffj commented on #649
@iateadonut still seeing this? please re-open if so

[2017-06-30 18:11] #649 closed

[2017-06-30 18:11] kauffj commented on #655
This was dropped from the UI.

[2017-06-30 18:13] #660 closed

[2017-06-30 18:14] tzarebczan commented on #706
@kimihiro64 can you see if this is still happening on 0.13? Personally I still have trouble with the download/published  list showing, but I don't get the 'string indices must be integers'. Instead, I have a Unicode issue which should be fixed soon (not in any build)

Please try again on 0.13 and repost log.

[2017-06-30 18:19] kauffj commented on #633
I believe this is identical to #719, which has a more useful description for a developer to work on. Thanks for reporting though! This will change.

[2017-06-30 18:21] kauffj commented on #640
Is this happening for you reliably? We haven't been receiving regular reports of this, and there's little a developer can do from this description.

This is an issue we'd take very seriously if it's happening for you still, please let us know if it is.

[2017-06-30 18:21] #640 closed

[2017-06-30 18:21] #633 closed

[2017-06-30 18:23] kauffj commented on #630
These should just be separate issues. I believe 1 is open, and making a separate one for #2.

[2017-06-30 18:24] #630 closed

[2017-06-30 18:25] kauffj opened #745 "resolve API call should indicate claim type"
Content and channel claims have different signatures, but a claim entry does not contain a first-class field specifying the claim type. For example, if I resolve by claim ID, I have to make inferences based on the data structure to determine what type of claim I have.

Instead, we should set a `type` or `claim_type` property when returning claim data.

[2017-06-30 18:29] kauffj commented on #591
Wrong repo?

[2017-06-30 18:29] #591 closed

[2017-06-30 18:29] billbitt commented on #737
@kauffj correct no longer blocking.  I will re-raise the issue if I see it again.  Still a long term issue for use cases like Speech (and I imagine the Berkely videos), but agreed not urgent.

[2017-06-30 18:30] #208 closed

[2017-06-30 18:30] #235 closed

[2017-06-30 18:31] #255 closed

[2017-06-30 18:34] #533 closed

[2017-06-30 18:39] kauffj commented on #502
I'd like to retain this setting in other currencies. We can switch to api.lbry.io if it improves or simplifies things (possibly this should be a setting?).

I think it's fine to block downloads when it can't determine an exchange rate, though for max key fee I think using the last known value would also be fine.

[2017-06-30 18:39] #429 closed

[2017-06-30 18:44] kauffj commented on #706
It sounds like @kimihiro64 already rescued his credits and reset his install from other messages. I am fairly confident that these issues were from old data that wasn't properly migrated, so looking into these issues will be low priority compared to issues affecting all users.

I'm going to close this, but please re-open if there is an issue we think still currently affecting anyone.

[2017-06-30 18:44] #706 closed

[2017-06-30 19:01] billbitt commented on #737
@kauffj ...and just on cue after it not appearing for the last day it came back.  Multiple users in slack are reporting the same error when trying to publish just now.  According to the data, the first publish that failed had an error of `error: transaction already in block chain` which might have created the bug for the rest of them.  See screenshot below.

![screenshot 2017-06-30 11 58 11](https

[2017-06-30 20:02] kaykurokawa commented on #719
started on it here https://github.com/lbryio/lbry/pull/747

[2017-06-30 20:39] kauffj opened #748 "Cannot update claims larger than wallet balance"
Originally lbry-app [#117](https://github.com/lbryio/lbry-app/issues/117)

[2017-06-30 20:46] tzarebczan commented on #748
An option for the user during claim update would make sense if it's technically possible.

[2017-06-30 21:13] kauffj commented on #748
An option would exist at the app/UI level, not the API level.

[2017-07-01 11:07] hackrush01 commented on #729
This API call is working perfectly in the lbry-daemon, which is cloned from lbryio/lbry. This issue has to be tackled at the lbry-app level. (Check the attached calls)
[code]

[2017-07-01 19:04] kauffj commented on #729
I still don't fully understand why the daemon is rejecting what appears to be valid data submitted by the app.

[2017-07-01 20:23] kaykurokawa commented on #710
Ports to bind to should never automatically change to some other random port. This is poor practice because people need to write firewall rules which requires fixed port numbers. It also makes testing the service on the port impossible because it could be bound to some random port that the client has no knowledge of.

It definitely should give proper feedback if it failed to bind to a port, and pr

[2017-07-01 21:37] arainflake opened #750 "download tab and published tab fails to recognize previous content(download/upload)"
## The Issue
The download and published pages wont actually display what i have downloaded or published unless i have done it withing the current session, and so, after closing lbry and then restarting the files are no longer displayed, but are still in their respective folders on my computer, as in they have not been deleted, its just that they are no longer recognized as files i have downloaded.

[2017-07-02 18:56] hackrush01 commented on #729
Can this be closed now?

[2017-07-03 02:06] kaykurokawa opened #752 "Fix running of integration tests on appveyor Windows build"
Integration tests in tests/integration folder fails (lbrynet does not seem to startup) on appveyor which does the Windows build.

[2017-07-03 04:50] finer9 commented on #734
@akinwale please post your benchmark findings.  Thank you

[2017-07-03 14:39] lyoshenka commented on #737
related to #747

[2017-07-03 14:49] lyoshenka commented on #719
Next step: figure out the proper way to fix this, so we know what to do next

[2017-07-03 14:53] lyoshenka commented on #59
related to #719

[2017-07-03 14:56] hackrush01 commented on #719
I was checking out some stuff on my local regtest server, and I found out that the transaction only begins when a new block is created. I think that's why it takes doesn't send the transaction right away as it waits for the announce of a new block being found. I think this may have to do with the way the blockchain works. Can you please try this out and see if you can replicate?

[2017-07-03 14:57] tzarebczan commented on #745
@kauffj will add more information, along with an example.

[2017-07-03 14:59] lyoshenka commented on #734
Next step: profile encryption algo, figure out where the actual bottleneck is

[2017-07-03 15:08] tzarebczan commented on #710
@hackrush01 It should alert the user that the port is already bound and explain how to change the port.

@kaykurokawa  / @jackrobison How would this port change be done with the app?

[2017-07-03 16:11] kauffj commented on #710
It doesn't even need to explain how to change the port at this point. I suppose it could spit out a link to a FAQ page or similar.

At this time, I'm not concerned with getting port changing inside of the app. All I'd like to see for now is a clean exit and user feedback alerting about the issue.

[2017-07-03 16:14] kauffj commented on #745
I'm wrong about this, we have `value.claimType` already in the claim info.

[2017-07-03 16:14] #745 closed

[2017-07-03 17:45] akinwale commented on #734
@finer9 I was able to benchmark using the functional test at https://github.com/lbryio/lbry/blob/master/tests/functional/test_streamify.py#L117, particularly the `create_stream` function at https://github.com/lbryio/lbry/blob/master/tests/functional/test_streamify.py#L163

Using the default test value at ~50MB, I get the following results:
[code]

Using a value of 681,574,400 (~650MB) which is the

[2017-07-03 18:18] tzarebczan commented on #750
This is a duplicate of https://github.com/lbryio/lbry/issues/661

It should be fixed in the next version. I'll double check.

[2017-07-03 19:53] sprig commented on #633
@kauffj there seem to be some similarities but I'm not sure it is the same issue.

Specifically, why would the wallet report a negative balance (regardless of having the transaction queued or not not having it queued)?

Moreover, why would sending an amount which is less than my current total fail? If it is due to transaction fees, perhaps there should be some indication of what is an appropriate

[2017-07-03 20:22] tzarebczan commented on #750
@arainflake can you upload your lbrynet.log file (you can strip out your IP if it shows)

Thanks!

[2017-07-04 00:02] arainflake commented on #750
[lbrynet..txt](https://github.com/lbryio/lbry/files/1120729/lbrynet.txt)

[2017-07-04 00:05] arainflake commented on #750
i did read #661 to see if it was the same, and while checking the log file, saw an error that read:
Failed to process file_list: string indices must be integers

so it looks like it might be the same problem

[2017-07-04 09:13] rubenbryon opened #758 "Stuck on "Requesting stream""
## The Issue
When opening any video on the latest LBRY 0.13, I get stuck on "requesting stream... it may sit here....". I have not tried earlier versions.

### Steps to reproduce
1. Open LBRY application
2. Click video
3. Keeps showing "requesting stream"

### Expected behaviour
I would expect the video to start playing after several seconds. Even waiting for 30 minutes makes no difference.

### A

[2017-07-04 10:12] zestyr commented on #758
To anyone looking at this, the relevant parts of the log looks like this:
[code]
After timing out, it just keeps counting up. In the log he tries a few times, and in one of them it times out, waits a bit, and tries to download another blob which also times out.

[2017-07-04 12:43] tzarebczan commented on #758
Is there anything else using up port 3333 in port forwarding or upnp? Is it possible for you to connect directly to modem and try (I know you tried 4g)?

[2017-07-04 13:32] rubenbryon commented on #758
I have to disconnect my mining operation in order to connect straight to modem so that's not an option. None of my network devices are using 3333 as far as I know but I'm not sure how I can make sure. (I checked all devices via netstat -a)

When i check netstat -a on the device that is trying to stream a video this appears in the list:
![capture](https://user-images.githubusercontent.com/9782903/2

[2017-07-04 13:35] tzarebczan commented on #758
We'll keep looking into it, right now I don't have any suggestions except to double check upnp settings and port forwarding to make sure no other IP because the lbry pc is getting 3333.

[2017-07-04 13:54] rubenbryon commented on #758
Ok, thanks! I'll keep trying and post if I can figure it out.

[2017-07-04 18:32] tzarebczan commented on #750
@arainflake we'll have a new version you can try out soon, but it's supposed to fix the windows issue only. We will have you try it again, but this looks like a new valid issue you have here. Will keep you updated.

[2017-07-04 21:06] kaykurokawa commented on #729
@kauffj I can't find anything wrong with setting the max key fee on the daemon level at the current master.

[2017-07-04 21:38] hackrush01 commented on #729
There is no error here, it was in the release v0.13.1.

[2017-07-05 00:19] tzarebczan commented on #750
I'm getting this same error now after testing https://github.com/lbryio/lbry/pull/746 successfully - I guess it was able to bypass the Unicode issue, but now errors on the "list indices must be integers, not str" when my app starts up.  I am now able to see items in my Download/Publishes, but the loading icon right above the first item still shows like it's trying to do more.

After a reboot and t

[2017-07-05 12:32] nicknitewolf commented on #758
I have this issue too with all previous versions (starting from lbry app 0.8 when I first installed lbry) and current version of the lbry app (0.13.0) daemon (0.13.1) and wallet (2.84).

My OS is however Linux Ubuntu 17.04 "zesty" running the kernel version 4.12 (mainline) and hence this is not an OS dependent issue.

Furthermore, through the help of some help of certain LBRY mods on Slack, I have

[2017-07-05 13:26] #692 closed

[2017-07-05 13:47] tzarebczan commented on #692
#750 is being used to track a new issue that surfaced after this was fixed on my main PC.

[2017-07-05 19:54] jackrobison commented on #737
The vin for the rejected tx `eaeec53dc4bb8984e6f731147930b59bd95f1dc05f02f1c28b7af73915c092cb:0` was to the address `bWZQZoaLcfu4CAriT4JhhnBSyh4YtjqrJL`, which is one of the addresses affected by https://github.com/lbryio/lbryum-server/issues/36

[2017-07-05 21:09] #716 closed

[2017-07-06 05:57] tzarebczan commented on #742
[lbrynet-lartera.txt](https://github.com/lbryio/lbry/files/1126855/lbrynet-lartera.txt)
Per conversation with @lyoshenka, asked to upload a user's log file who is having issues with connecting.  I believe he is stuck on "catching up with the blockchain"  but his log shows "Connection refused" to one of our lbryum servers.  User is lartera from Slack.  I'm going to have him try again today since we

[2017-07-06 14:39] kauffj opened #760 "Allow daemon_stop during daemon startup"
I believe one way the daemon gets stuck open currently is `daemon_stop` being called while the daemon is still starting, the stop call failing, and the daemon remaining open.

If called too early, the following line is in the log file:

`Function not allowed during startup daemon_stop: daemon_stop`

[2017-07-06 14:41] kauffj commented on #742
@tzarebczan I believe if the user closes all copies of lbry and lbrynet-daemon, upgrades, and runs it again, that it will connect fine.

[2017-07-06 20:00] kauffj opened #762 "Add updating API documentation to build process"
[lbry.io/api](https://lbry.io/api) is currently manually updated and regularly forgotten during the release process.

[2017-07-07 00:45] #737 closed

[2017-07-07 05:14] 98farhan94 opened #764 "Getting charged for free data"
## The Issue
I am getting charged for data while viewing free items.

### Steps to reproduce
1. Install LBRY, browse content, maybe watch a video.
2. ???
3. See LBC flowing out of your account in transaction history.

### Expected behaviour
I believe I should not be charged for browsing data, I was told it would be free unless I am opening paid content.

### Actual behaviour
I am charged.

## Syst

[2017-07-07 05:23] tzarebczan commented on #764
Do you know which videos you clicked on? Can you send your lbrynet.log file from the lbry folder (might be hidden) https://lbry.io/faq/lbry-directories

[2017-07-07 05:38] 98farhan94 commented on #764
Changed it to TXT to attach here...
[lbrynet.txt](https://github.com/lbryio/lbry/files/1130080/lbrynet.txt)

[2017-07-07 16:55] tzarebczan commented on #764
I don't see anything in the log about paying for downloads. I see you published some files? When this happens, there is a small transaction fee... So maybe those are the charges?

Please confirm and close.

[2017-07-07 17:15] 98farhan94 commented on #764
@tzarebczan Yes I did publish some files! I wasn't aware it costs, thanks for clarifying.

[2017-07-07 17:15] #764 closed

[2017-07-07 20:33] 98farhan94 opened #765 "Unlimited LBC to Spend Locally"
## The Issue
I can get unlimited LBC which can be spent in-store. I cannot withdraw them to an external service, but still I can get unlimited in-store credit.

### Steps to reproduce
Video: https://youtu.be/FjjLt3emEoA

### Expected behaviour
I shouldn't be able to get local LBC this way.

### Actual behaviour
I get LBC that I can spend locally.

## System Configuration

    "build": "release",

[2017-07-07 20:36] 98farhan94 commented on #765
[lbrynet.txt](https://github.com/lbryio/lbry/files/1132242/lbrynet.txt)

[2017-07-07 20:52] #765 closed

[2017-07-08 00:04] tzarebczan commented on #750
After clearing my blockchainname.db file, my Downloads are now showing correctly.  My Publishes page is blank for som reason though...very strange - maybe someway connected to blockchainname.db .

Since https://github.com/lbryio/lbry-app/issues/315 is happening, don't think there is a reason to investigate any further.

[2017-07-08 00:41] tzarebczan opened #767 "blank .lbrynet folder created in Users directory"
## The Issue
Minor and doesn't affect anything, but a blank .lbrynet folder is created in users directory i.e. C:\Users\Tom-LaptopVM\.lbrynet

### Steps to reproduce
1. Install LBRY
2. Go to user folder
3. see blank .lbrynet folder

### Expected behaviour
folder should not be created

### Actual behaviour
blank folder is created

## System Configuration

- LBRY Daemon version:
- LBRY App version:

[2017-07-09 20:56] zestyr commented on #767
Seems like it didn't recognize the OS properly. `~/.lbrynet` would expand to `C:\Users\Tom-LaptopVM\.lbrynet` on Windows. Can you post the version info?

[2017-07-09 20:57] 98farhan94 commented on #758
<img width="553" alt="screen shot 2017-07-10 at 2 21 12 am" src="https://user-images.githubusercontent.com/5463117/27997528-34cc94e6-6517-11e7-9dfc-2b358c09dc20.png">

Same issue. Downloads the blobs to eternity after the initial timeout.

[2017-07-09 21:02] tzarebczan commented on #767
I'm on 0.13 right now, but this happened on all my installs over the last couple of months. It's not a big deal, but more of an annoyance.

[2017-07-10 13:06] kauffj opened #768 "Allow abandoning of publishes even if it loses LBC"
_From @98farhan94 on July 9, 2017 22:15_

## The Issue
When a claim is created with a fractional LBC low enough to be lower than the Tx fee, you cannot abandon the claim.

### Steps to reproduce
1. Create a claim with 0.00001 LBC amount allotted to it.
2. Publish.
3. Try to abandon claim.

### Expected behaviour
Claim should abandon.

### Actual behaviour
"Cannot abandon claim because Tx fee is hi

[2017-07-10 14:34] kaykurokawa commented on #768
This is intentional. The logic is that since you pay more in tx fee than you get back, your net gain is zero, so why bother to abandon.

I could see the argument for this being removed though, and downgraded to a warning or something like that.

[2017-07-10 16:11] kauffj commented on #768
Abandoning is the analog of unpublishing, so IMO it should be allowed even if it had a positive cost.

[2017-07-10 21:04] kauffj opened #769 "Any channel length should be allowed"
`./lbrynet-cli channel_new @a 0.01` will throw an "Invalid channel name" exception. There should be no minimum channel length.

[2017-07-10 21:56] filipnyquist opened #770 "Lbryum does not share config settings promised by lbrynet"
While looking at the config file: https://github.com/lbryio/lbry/blob/master/lbrynet/conf.py#L162 it says that these settings can be changed.

Sadly the lbryum part does not get these configs: https://github.com/lbryio/lbry/blob/master/lbrynet/conf.py#L162.

This means that it´s not possible to change the "lbryum_wallet_dir" settings from ENV.

[2017-07-10 22:44] 98farhan94 opened #771 "Abandoning a channel claim with publishes breaks wallets"
## The Issue
Cannot view/publish claims related to my account. Any attempt to work with claims results in an exception.

### Steps to reproduce
1. Create an identity.
2. Publish something with that identity.
3. claim_abandon the identity.

### Expected behaviour
Identity should be abandoned and claims transferred to anonymous, or the user should be warned that identity cannot be deleted since it h

[2017-07-10 23:27] tzarebczan opened #772 "Error: An attempt was made to access a socket in a way forbidden by its access permissions"
## The Issue
A user has reported an issue on Windows 7 where the daemon fails to connect (gets stuck on daemon unexpectedly shutdown or catching up with the blockchain).  See log attached.

### Steps to reproduce
1. Open LBRY on Windows 7,
2. Connection issues - either daemon stopped unexpectedly or connecting to blockchain
3. try again a couple of times, and works eventually.

### Expected behavi

[2017-07-11 00:05] zedeus opened #773 "Wallet export/import"
Story: As a user I want to be able to backup/export my wallet so I can make sure I don't lose it, or use it on another device instead, but currently this process is confusing.

Currently the only way to backup the wallet is by copying the lbryum wallet files (or just the whole directory), which for the layman can be confusing and quite inconvenient. Having an export/import feature built-in to lbry

[2017-07-11 00:08] tzarebczan commented on #773
If we want to expand this a bit, allow export of content data also, which would follow something like the clean install process (I'll send it to). This would allow users to bring over downloaded content, configuration files, data files and blobs.

[2017-07-11 14:13] #729 closed

[2017-07-11 14:24] lyoshenka opened #774 "Straighten out metabase/loggly logging, then figure out next step in diagnosing download errors"

[2017-07-11 17:01] kaykurokawa commented on #750
We still need to fix this because Downloads still rely on file_list.

I've found that the root issue was that there were malformed supports data entering the claim cache. See final fix : https://github.com/lbryio/lbry/pull/759.

[2017-07-11 17:41] rubenbryon commented on #758
Without changing anything, it suddenly appears to work for the first time.

[lbrynet - log.zip](https://github.com/lbryio/lbry/files/1139760/lbrynet.-.log.zip)

[2017-07-11 20:13] hackrush01 commented on #644
@kauffj, I wanted to clarify point 1. So if a user provides both name and claim id or name and txid + nout then it should check whether the name returned by claim_show matches the name provided by the user, and if not then display some sort of error?

[2017-07-11 20:30] kauffj commented on #644
Correct.

[2017-07-11 20:49] kaykurokawa opened #776 "stream_info_cache.json is no longer being used"
Daemon no longer uses stream_info_cache.json and the related code should be removed from Daemon.py :

https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L273

[2017-07-12 15:52] tzarebczan commented on #774
This is important as it may be filling up users log files.

I was getting the following spammed in mine, possibly after a connection issue:
ConnectionError: HTTPSConnectionPool(host='logs-01.loggly.com', port=443): Max retries exceeded with url: /inputs/adf4e86a-6904-4b36-97f2-0fa837d8dc0b/tag/lbrynet-0.14.0 (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnecti

[2017-07-12 21:53] hackrush01 opened #778 "When setting max_key_fee using API, currency is not getting validated."
Currently any currency can be set such as "INR", "EUR" etc and it will not be validated. However the expected behavior is the currency should be any of LBC, USD or BTC only.

[2017-07-13 21:35] kaykurokawa commented on #767
should be fixed https://github.com/lbryio/lbry/pull/755,
due to the scattered mkdir that should be in conf

[2017-07-14 13:23] hackrush01 commented on #691
@kauffj

[2017-07-14 15:12] tzarebczan commented on #758
@rubenbryon - are you sure nothing changed in your network or pc settings?

[2017-07-14 17:10] rubenbryon commented on #758
yes, and I haven't gotten it to work anymore since.

[2017-07-14 18:42] #774 closed

[2017-07-14 20:41] #750 closed

[2017-07-17 07:47] shyba commented on #734
I took a look at your code and did a similar test as @akinwale with a ~600MB file and a profiler ([plop](https://github.com/bdarnell/plop)). Results can be seen here: http://imgur.com/a/KHkFZ

I used `encrypt_blob.py` script, which I fixed for splitting. Will do a PR if you agree it is broken (it was generating a single blob and stopping, instead of the whole thing).

If you modify `BLOB_SIZE` on

[2017-07-17 08:10] shyba commented on #734
Btw, that's my branch with `encrypt_blob.py` generating all blobs: https://github.com/shyba/lbry/tree/update_scripts

You can use it to profile, like this (supposing you already are in virtualenv):
1. pip install plop
2. cd scripts
3. python -m plop.collector encrypt_blob.py /tmp/test '61616161616161616161616161616161' '69696969696969696969696969696969'
4. python -m plop.viewer

[2017-07-17 08:45] filipnyquist commented on #734
Great comment, well written! @jackrobison and @kauffj prob should comment on this, i think we should keep the blob size small so we easily can get from multiple peers faster ( just my own thought )

[2017-07-17 19:12] lyoshenka commented on #762
talked to @zestyr about this. he wants to tackle it after he's done with the api testing he's doing now

[2017-07-17 19:14] lyoshenka commented on #710
Fixed by https://github.com/lbryio/lbry/pull/749

[2017-07-17 19:14] #710 closed

[2017-07-17 19:26] #767 closed

[2017-07-17 19:26] lyoshenka opened #782 "Investigate and write up comparison of possible solutions to proof-of-purchase problem"
As a developer, I want to understand the possible solutions to the proof-of-purchase issue so I can intelligently compare them and  decide which is  best

[2017-07-17 19:29] kauffj commented on #502
I'm going to close this, as we're not dropping USD-based publishing. This can be re-opened as a ticket just specifying improvements to exchange rate calculation, if desired.

[2017-07-17 19:29] #502 closed

[2017-07-17 19:31] kauffj commented on #538
Fixed soon (or already?) and duplicate of #747

[2017-07-17 19:31] #538 closed

[2017-07-17 19:31] lyoshenka commented on #305
Does this error still happen? Please reproduce in the latest daemon version and reopen if it's still an issue.

[2017-07-17 19:31] #305 closed

[2017-07-17 19:32] kauffj commented on #758
@tzarebczan please re-open if you can work with @rubenbryon to get this issue into a workable state.

[2017-07-17 19:32] #758 closed

[2017-07-17 19:35] kauffj commented on #776
Fixed in #780

[2017-07-17 19:35] #776 closed

[2017-07-17 19:36] lyoshenka commented on #611
@kaykurokawa does #747 fix this?

[2017-07-17 19:40] hackrush01 commented on #644
@kauffj This can be closed now I guess.

Fixed in #730

[2017-07-17 19:41] tzarebczan commented on #758
@rubenbryon - I noticed that in the time it worked, upnp had failed (7-11 19:33:36,197 WARNING  lbrynet.core.Session:243: UPnP failed. Reason: UnknownError) - which is even more strange.  Do you know anything on your end that would have caused this to happen? Can you try disabling UPNP and not forward 3333 - try like this first, and then try forwarding it.

[2017-07-18 13:48] lyoshenka commented on #774
@jackrobison is this done? What are the next steps in diagnosing download errors?

[2017-07-18 13:51] kauffj opened #784 "Continue to investigate download failures"
We're still seeing download failures at too high of a rate. What were the issues detected from the logging changes @jackrobison?

Next steps:

- Look at loggly logs
- Find the top 2 bugs that are causing downloads to fail
- File an issue for each bug
- Assign them to yourself. If they will take longer than a day to fix, talk to Grin about assigning them.
- Fix those issues

[2017-07-18 13:59] #784 closed

[2017-07-18 14:06] #644 closed

[2017-07-18 14:45] lyoshenka commented on #769
May need to rebuild lbryum-server if any short-name claims already exist.

[2017-07-19 07:52] tzarebczan commented on #773
Can we make it more apparent to the user that they should backup their wallet? Unless they read through the FAQ, they may not know.

[2017-07-19 15:38] kauffj commented on #773
We're not going to start on this until encrypt/decrypt is merged as it will affect this process. If you want to create a FAQ article and add a help link in the interim, we can do that. A help link would be added to this file: https://github.com/lbryio/lbry-app/blob/master/ui/js/page/wallet/view.jsx

[2017-07-19 15:50] lyoshenka opened #786 "running blob_delete on the same blob a second time should tell you the blob does not exist. instead it says the blob has been deleted"
## Steps to reproduce
1. Run `blob_delete HASH` using any HASH that you have
2. Run the above command again.

### Expected behaviour
Daemon responds with "dont have this blob" the second time

### Actual behaviour
Daemon responds with "blob deleted" the second time too

## System Configuration

[code]

[2017-07-19 16:10] #760 closed

[2017-07-19 16:17] jackrobison opened #787 "test_delete_open_blob fails occasionally"
Possibly related to https://github.com/lbryio/lbry/issues/786

Here's where it failed:

![screen shot 2017-07-19 at 12 15 56 pm](https://user-images.githubusercontent.com/11979920/28377844-1d4a4a68-6c7c-11e7-8102-1bc7729950e4.png)

However, it didn't fail when run again: https://travis-ci.org/lbryio/lbry/builds/255315646

[2017-07-19 16:36] tzarebczan opened #788 "Download fails - "NoSuchSDHash" on latest daemon/time-out otherwise"
## The Issue
When trying to download one of the featured content (lbry://sl-cIGaEBWcJ5w) on the latest daemon, an error occurs - NoSuchSDHash.  When trying on 0.13.1 daemon, the download just never completes.

### Steps to reproduce
Latest daemon
1. Download lbry://sl-cIGaEBWcJ5w
2. Check lbrynet.log
3.  On latest daemon receive error, on 0.13.1 file just never downloads

### Expected behaviour
Fi

[2017-07-19 16:53] kaykurokawa commented on #788
blobs for lbry://sl-cIGaEBWcJ5w do not exist on any reflector server, and I'm unable to find peers for it.

I think NoSuchSDHash: 8461b45ff7ce15530c9159bff23730b86e501f35805288d5936cf005788af0fa18bf8a15ec3f016ae216408b94d187dd is some problem with the Wallet cache not having what it needs.

Looking back at https://github.com/lbryio/lbry/pull/759, I think it wasn't good that we disabled saves to ca

[2017-07-19 17:21] fasternnet commented on #758
I trying with using port 3333
Success:  I can see your service on 197.246.242.176 on port (3333)
Your ISP is not blocking port 3333 ..
but same problem then I tried to make UPNP disable but still not working !

[2017-07-19 17:30] kauffj commented on #782
@jackrobison and I have a very different understanding of what we're addressing with this ticket. I've asked him to stop working on it until we meet and discuss. @lyoshenka

[2017-07-19 17:50] jackrobison commented on #782
@kauffj @lyoshenka

I think there are three sides to this problem:
1. As a _downloader_, how do I avoid paying multiple times for the same thing, or paying for something I do not receive?

2. As a _publisher_, how do I enforce key payments  by downloaders?

3. As a _host_, how do I enforce the data rates that downloaders agreed to pay me?

I think this issue is really looking at 1, which does have

[2017-07-20 17:40] #713 closed

[2017-07-21 14:59] kaykurokawa opened #792 "Improve blob announcement process"
a) First step : need an API command that will announce specific file/sd_hash so we can debug announcement problems , and force announce of specific files that is being announced for whatever reason ( i.e. server has a large backlog of unannounced blobs)

b) Second step: blob announcement needs to be reworked to minimize the number of blobs being announced. Announcing every single blob for a large

[2017-07-21 16:02] kauffj commented on #792
Can we further explore potential strategies to keep all blobs announced before giving up on it?

[2017-07-21 22:14] tzarebczan opened #794 "Unicode issue in file path (username)/filename - daemon fails to start or downloads fail to work"
## The Issue
If a user directory has unicode characters, the daemon fails to start. This particular user must have such characters in his Windows username, see logs below. The log file shows the username as ������, I'm checking with the user what his Username actually is, will update the issue later.

In some cases, the daemon works but the downloads folder does not. This results in trouble gettin

[2017-07-22 15:42] tzarebczan commented on #788
This no longer happens for lbry://sl-cIGaEBWcJ5w as we fixed the blob availability. @kaykurokawa is there still an action that needs to be taken based on your comments, or can we close?

[2017-07-22 16:24] finer9 commented on #788
I do still get this sometimes, even with the latest daemon .14 rc7

On Sat, Jul 22, 2017 at 11:42 AM, Thomas Zarebczan <notifications@github.com

--
Josh Finer
COO/LBRY

[2017-07-22 16:25] finer9 commented on #788
0.14.2rc7

On Sat, Jul 22, 2017 at 12:24 PM, Josh Finer <josh@lbry.io> wrote:

--
Josh Finer
COO/LBRY

[2017-07-22 16:28] tzarebczan commented on #788
I guess it shouldn't error, but instead handle unavailable blobs properly.

[2017-07-22 16:58] tzarebczan commented on #794
Folder name is Богдан

[2017-07-22 19:18] tzarebczan opened #795 "Better Claim_abandon support, cannot abandon in a couple scenarios"
## The Issue
Added support (claim_new_support via api) to someone else's claim twice and it looks like the claim_id is the same on both entries.
    {
      "address": "bXJjCQxEedecAdrWarfzMbeuX7ZFdDJU4r",
      "amount": 1.0,
      "blocks_to_expiration": 243208,
      "category": "support",
      "claim_id": "b64155f2d44553871dfdb1785aa49d6d3972cd84",
      "confirmations": 19766,
      "expirat

[2017-07-23 03:21] olokos commented on #758
Exact same issue here and another relevent issue is closed, this really makes me wanna sell all my LBRY coins and just give up.

[2017-07-23 03:41] tzarebczan commented on #758
We have thousands of users, but only a handful are reporting download issues. It's likely tied to some local network, port or firewall issues .

We will be working on a troubleshooting guide which will show all ports to check in order to ensure a good connection to lbrynet. Typically you want to check 3333 (tcp)  4444 (UDP) 50001 5279 (local ports)

Sorry for your trouble, we will continue to work

[2017-07-23 04:27] olokos commented on #758
I picked the craziest, most twisted video on the main page just to see if even so weird content is available.
lbry://six
Couldn't care less about the video itself, but I was quite sure there'll be problems if I try to open that and I wasn't wrong.

[2017-07-24 01:39] kaykurokawa commented on #795
This is actually expected behavior when abandoning by claim_id if there is more than one match.

Lbryum has an option to abandon by txid/nout which allows you to specify exactly which claim you want to abandon. However, this option does no exist in lbrynet so needs to be put there.

In addition, a more useful error message should be thrown when abandoning, such as "more than one claim that matches

[2017-07-24 13:50] jackrobison opened #797 "Investigate and write up reflector improvements"
There's too much published data for a single reflector server to host it all, we need to improve the reflector protocol with the introduction of some kind of load balancing.

[2017-07-24 14:50] tzarebczan opened #798 "Introduce Bandwidth Limit Functionality"
## The Issue
When setting a BW limit in App > Settings, it either does not get saved, or if it does, it is not functional (does not limit) as per discussions with @kaykurokawa.  This setting will go away temporarily as the limiting functionality needs to be built into the daemon. This ticket can be used to track the daemon development.

### Steps to reproduce
1. Go to Settings
2. Set BW limit
3. N

[2017-07-24 14:52] lyoshenka commented on #798
There are two issues here
1 - bandwidth limits dont work and should not be in the UI
2 - it would be nice to have bandwidth limits that work

We're not gonna get to 2 for a while, so I'm gonna tag this as a feature request and close it. I'll file an issue for 1 in the app repo.

[2017-07-24 14:55] kauffj commented on #788
@kaykurokawa is there an outstanding issue here that needs to be looked at?

[2017-07-24 14:55] tzarebczan commented on #798
@lyoshenka - yup, I originally opened one on the app side.. feel free to edit or create a new one to remove the limits settings. https://github.com/lbryio/lbry-app/issues/372

[2017-07-24 15:28] tzarebczan commented on #758
@olokos Can you try six or seven again today? I updated them with my uploads. Were you able to stream any other videos on the home page?

[2017-07-24 16:47] lyoshenka opened #799 "Get Franklin to 90% (both started and completed) for 3 days in a row"

[2017-07-24 17:56] lyoshenka opened #800 "Finish release tool"
https://github.com/jackrobison/release-tool

Let's not leave half-finished work lying around.

[2017-07-24 19:24] tzarebczan commented on #771
@lyoshenka recommend that this is added to next sprint if possible.

[2017-07-24 20:24] kauffj commented on #798
They are gone from the UI in master already.

[2017-07-24 20:57] lyoshenka commented on #782
Agreed with your assessment. In fact there are probably even more parties involved. I'll add these to the top-level issue and close this one.

[2017-07-24 20:57] #782 closed

[2017-07-24 20:58] tzarebczan commented on #798
Ah yes, forgot about that! I have to get myself a Linux dev build from
master going...

On Mon, Jul 24, 2017 at 4:24 PM, Jeremy Kauffman <notifications@github.com>
wrote:

[2017-07-24 21:03] lyoshenka commented on #782
Actually... only somewhat agreed. The simple solution only works because there's no reputation or payment tracking system in place yet. But that's where we're at now, so that will be good enough.

[2017-07-24 21:05] lyoshenka commented on #547
Jack wrote up his findings [here](https://github.com/lbryio/lbry/issues/782#issuecomment-316465257)

[2017-07-24 21:07] lyoshenka opened #803 "Track downloads or keys in local db to avoid paying multiple times for the same content"
(This was originally written by Grin but re-written/info added by @tzarebczan - in order to avoid confusion haha )

As a content consumer, I want to avoid paying multiple times for the same thing, or paying for something I do not receive, so I don't spend more credits than necessary.

As both a publisher and consumer of content via the LBRY app, I would like to be able to track what content purcha

[2017-07-24 22:08] tzarebczan commented on #768
@kaykurokawa that's what I originally thought as well, but Jeremy has a point. Can the tx fees be taken from another transaction, or they have to come from that one?  One would still need to have a wallet balance high enough to abandon right?

[2017-07-25 01:40] olokos commented on #758
Those uploads look much better now, lol.

https://pastebin.com/btYuurCb

Seems to get stuck on 51%, could be due to me mining LBRY atm, but it shouldn't matter too much.

[2017-07-25 13:34] kauffj commented on #771
@14bd4bed had this happen to him as well, and he said it prevented interaction from the wallet completely afterwards.

[2017-07-25 14:43] tzarebczan commented on #795
This also occurs if you Publish something yourself and add claim support.

I think it's important for Tipping as well, since the plan was to use supports.

[2017-07-25 15:26] tzarebczan commented on #794
This is occurring more frequently as we onboard additional users. Got a handful of complaints with the same issue via helpdesk and slack.

[2017-07-25 17:14] tzarebczan commented on #758
I reached out to you on Slack :)

[2017-07-25 21:12] tzarebczan commented on #795
Also, the claim which I supported is now gone, but I still should be able to abandon my claim. See info about the claim below:

2017-07-25 17:09:44,260 INFO     lbrynet.core.Wallet:822: Resolving lbry://three#b64155f2d44553871dfdb1785aa49d6d3972cd84
2017-07-25 17:09:44,793 ERROR    lbrynet.daemon.auth.server:353: Failed to process resolve: Certificate claim 512a347c4c7bd8251ac82ef061a94d3396a60e94

[2017-07-25 22:53] tzarebczan opened #804 "Claim_list / Claim_show incorrect amounts / inconsistencies"
## The Issue
Related to https://github.com/lbryio/lbry/issues/713, claim_show and claim_list both may have some issues related to amount/effective amount formatting and retrieval. This started when @6ea86b96 published this claim:
[code]

Claim_list shows 0 as effective amount:
[code]

If starting from a fresh daemon session, claim_show shows 0.0 effective amount:
[code]

If I do a resolve on lbry:

[2017-07-25 22:57] kauffj commented on #788
Closing as duplicate of https://github.com/lbryio/lbry/issues/792

@tzarebczan you can re-open this as a cleanup ticket for improving the behavior when it can find the SD blob but no content blobs (which should probably timeout or give some kind of feedback as to what went wrong), but this is pretty low priority IMO as this should be a corner case.

[2017-07-25 22:57] #788 closed

[2017-07-25 23:04] kaykurokawa commented on #792
Here is a good solution.

The default behavior is for seeders (clients serving blobs) to only announce the first blob of a file, but they can announce blobs individually if they wanted to or if they had blobs without knowing what file they are associated with.

The default behavior for downloaders is to only look for the first blob when downloading a file. If they are unable to download all the bl

[2017-07-25 23:13] kauffj commented on #792
@kaykurokawa in the case you propose, wouldn't it still make sense to look for the blob directly first? And only if we can't find a route to them, look for peers of the first blob and ask them?

[2017-07-25 23:46] 98farhan94 commented on #771
In my case, I am able to send/receive LBC but cannot publish new claims/see existing claims/do anything claim-related.

[2017-07-26 13:00] lyoshenka commented on #792
_I'm splitting reflector work out of this issue. This is for blob work only now._

[2017-07-26 13:07] lyoshenka opened #805 "Reflector Cluster"
## Problem

a single reflector server cannot host all the blobs on its own.

## Solution

reflector will not host blobs anymore. It will just accept them, and then pass them along to a cluster of hosts. As hosts fill up, they will be rotated out, and new hosts rotated in.

## The Pieces

### Ingester
- stripped-down lbrynet node
- sits at reflector.lbry.io
- checks blob db for blob
- accepts blobs

[2017-07-26 14:09] kaykurokawa commented on #792
Its more efficient to look for the head blob first if that's the announcement strategy that a majority of the seeders are using. If the majority of seeders are announcing individual blobs, its more efficient to look at individual blobs first.

Since presumably reflector is going to adopt announce head blob only, it would be more efficient to look at the head blob first.

[2017-07-27 05:24] nicknitewolf opened #808 "Introduce Custom Ports and use higher default ports"
Certain ISPs block ports ranging <10k.
My suggestion is to allow the end user to set their own ports and use higher default ports (>10k) instead of 5555 and 4444.

[2017-07-27 06:44] hackrush01 commented on #808
We have an (Faq entry)[https://lbry.io/faq/how-to-change-port] regarding this. I guess this addresses your issue.

[2017-07-27 08:29] nicknitewolf commented on #808
@hackrush01 I'll change my issue then. There should be a UI function to do so too as it is harder to run it comparatively from cmdline in Windows than Linux.

The current default ports should also be changed to something which is higher too so that more end users do not need to have the hassle of changing the ports themselves

[2017-07-27 10:05] hackrush01 commented on #808
Introducing this feature to UI needs the app to be up and running, which in turn needs to connect through the default ports. From UI you could only change the port for the next run onwards(Although having an option to change this before daemon start up must not be impossible, but I'm unaware of the feasibility). Summoning @kauffj

As for higher default ports by default, I grab the attention of app

[2017-07-27 10:25] okwme commented on #795
I had a claim with a support from myself.
I re-published the claim to lower the initial amount, but my support amount can't be changed or removed at this point?
Are my LBC completely locked up until this bug is fixed?

[2017-07-27 13:54] #778 closed

[2017-07-27 17:20] tzarebczan commented on #804
I think the 0 effective amount issue stems from the fact that the block takeover height has not gone into effect. Confirming on slack.

If that's the case, while doing some additional testing (different claim id than above), we found that claim_show showed an incorrect effective amount at one point, claim_list still showed 0
C:\Users\thoma\Desktop>curl "http://localhost:5279/lbryapi" --data "{\"me

[2017-07-27 17:34] OwenRay opened #809 "Link card and finish: Unresponsive"
## The Issue

### Steps to reproduce
1. Download and install v0.14.2 to macOS Sierra (10.12.5)
2. Fill in an email adres
3. Verify the email adres by pasting the code from the email
4. Click Get welcome credits
5. Click Link card and finish

### Expected behaviour
Going to  screen where you can verify your wallet

### Actual behaviour
Nothing,
The button is non responsive.

## System Configuration

[2017-07-27 17:46] tzarebczan commented on #809
Which button is unresponsive? We are aware of some credit card linking issues, working on them at the moment. Were you able to link successfully and something broke afterwards? Can you enable the developer console in the App and provide any screenshots when this happens?

[2017-07-27 19:20] OwenRay commented on #809
Button that says "Link card and finish" I'll take some screenshots and enable the dev console, once I get the chance (later today)

[2017-07-27 19:25] kauffj commented on #809
Please wait until the next release to further investigate this.

[2017-07-27 20:00] OwenRay commented on #809
Ok, I will, thanks for the heads up.

[2017-07-27 20:16] kauffj commented on #808
It makes the most sense to change the daemon defaults first if we're going to do this, but I'm not sure what the consequences are of switching this.

[2017-07-27 21:01] kauffj commented on #795
There is likely a command line fix for this, please join our Slack for live help if this is urgent. But otherwise, yes.

Sorry :(

[2017-07-27 21:16] okwme commented on #795
There's nothing listed in the documentation for CLI
Slack help/tech channel pointed me here : (

[2017-07-27 21:16] joemarchese commented on #794
First-timer here:
I think this is happening because sqlite3 expects utf-8. Using os.path.abspath() may fix it. I'm not really sure where, though. Maybe in lbry/lbrynet/conf.py

[2017-07-27 21:46] tzarebczan commented on #795
@kaykurokawa are there any lbryum commands we could use? Without breaking the claim?

[2017-07-27 21:51] okwme commented on #795
i'm happy to abandon the claim for what it's worth

On Thu, Jul 27, 2017 at 11:47 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2017-07-27 22:04] tzarebczan commented on #795
I'll let you know if we find a way around it.

[2017-07-28 10:45] OwenRay commented on #809
this is fixed in v0.14.0rc4

[2017-07-28 10:45] #809 closed

[2017-07-28 19:12] billbitt opened #810 "Daemon fails due to too many open file handlers"
## The Issue
I am running the daemon on a linux server (spee.ch).  From time to time, the daemon becomes unresponsive to certain requests, such as 'get' and 'resolve' requests.

### Steps to reproduce
I do not know how to reproduce exactly; it happens intermittently, likely due to large traffic or from being open for a long time.  Once it starts happening, the steps to reproduce these specific err

[2017-07-29 16:07] lyoshenka opened #811 "Daemon exe should be signed on windows"

[2017-07-29 16:16] hackrush01 opened #812 "Error in the working of claim_support."
## The Issue
Claim support works even when the arguments given mismatch.

### Steps to reproduce
1. Do a wrong claim_support by adding jumbled up information about name and claim_id
For e.g:
[code]

Here the claim_id and the name mismatch. The name for the `claim_id` was lbry://holi.

### Expected behaviour
An error message informing user about the mismatch in information

### Actual behaviour
The

[2017-07-29 17:09] hackrush01 opened #813 "Pretty output for `help` API call."
This is how I receive the output for the following API call:

[code]

The OS is Kali Linux(debian).

The output should be properly formatted and readable.

[2017-08-01 13:45] kauffj commented on #797
This happened via discussion, right?

[2017-08-01 14:25] #797 closed

[2017-08-01 14:28] lyoshenka commented on #722
I'm gonna leave this out of the milestone-ing. Lemme know when it's ready for us to look at.

[2017-08-01 14:30] kaykurokawa commented on #810
lsof -p PID (where PID is the process id of the daemon) should be run on a machine where this problem pops up so we can see what file handlers it has open.

[2017-08-01 14:37] zestyr commented on #722
Sure. I've been quite busy recently, but I'm free now so I'll probably get it done by the end of this week.

[2017-08-01 14:44] billbitt commented on #810
these are the results of running `lsof -p` for the lbrynet-daemon processes when the issue occurred yesterday.

[pid9161.docx.txt](https://github.com/lbryio/lbry/files/1190926/pid9161.docx.txt)
[pid9159.docx.txt](https://github.com/lbryio/lbry/files/1190925/pid9159.docx.txt)

[2017-08-01 17:44] billbitt commented on #810
happened again just now.
`lsof -p` results:
[28344.docx.txt](https://github.com/lbryio/lbry/files/1191458/28344.docx.txt)
[28346.docx.txt](https://github.com/lbryio/lbry/files/1191459/28346.docx.txt)

lbrynet logs:
[lbrynet-8-1-17.docx.txt](https://github.com/lbryio/lbry/files/1191457/lbrynet-8-1-17.docx.txt)

[2017-08-01 18:46] kaykurokawa commented on #810
Seems like the majority of it is for port 5279 , which is the API port.

If you are not queueing API requests, than you probably need to increase the limit per process to a number that is more in line with the concurrent users? How many concurrent users do you have?

[2017-08-01 19:44] kauffj commented on #810
I'd guess peak spee.ch traffic has been several hundred per minute.

Yesterday when it was going down it was probably less than 100.

[2017-08-02 02:10] TrompoMax commented on #622
Hey all.  I think I'm having this issue too.  Just stuck in a screen which says "Network loading...catching up with the blockchain..."

Any solution to this yet?

Running on mac os 10.12.5

Thanks

[2017-08-02 02:17] tzarebczan commented on #622
@trumpomax can you send an email to help@lbry.io with your log file please https://lbry.io/faq/how-to-find-lbry-log-file

It could be an issue coming from an older version.

[2017-08-02 04:33] TrompoMax commented on #622
Will do,

Thanks.

On Tue, 1 Aug 2017 at 19:17 Thomas Zarebczan <notifications@github.com>
wrote:

[2017-08-02 13:39] lyoshenka opened #816 "Stopping daemon with systemctl does not work, daemon_stop does work"
@jackrobison commented on [Tue Aug 01 2017](https://github.com/lbryio/internal-apis/issues/42)

This prevents automatically restarting a daemon process.

[2017-08-02 13:59] kaykurokawa commented on #810
depending on if there are multiple API calls being made per user, and considering API calls can take long to finish, it seems plausible to me that @billbitt 's problem can be solved by raising the limit ,

however this doesn't look like the same problem that we saw on reflector as reflector doesn't use API calls.

[2017-08-02 14:13] billbitt commented on #810
(recap from meeting for Grin): it would make sense if the issue has to do with API calls (I am making a lot of them, and currently rewriting spee.ch to minimize that a bit while reorganizing the url structure), however, even after peak usage drops off the daemon still gives the 'too many open' error and will not stop until I at least kill all processes and restart daemon, so that makes me think th

[2017-08-02 14:28] lyoshenka commented on #810
Thanks @billbitt. im looking at this now. there are two major sources of open files: the API and reflector. right now reflector actually has the majority of the connections (468 of 726) while the API has 175. So I don't think its only the API's fault.

[2017-08-02 14:43] lyoshenka opened #817 "Limit max number of simultaneous connections"
As discussed in https://github.com/lbryio/lbry/issues/810, the daemon creates too many connections when downloading content. Often these connections are to the same server. I looked at speech at one point and it had about 468 connections to the same reflector server (not sure if those connections are downloads or uploads). This doesn't scale, and it can hit the max open file limit on some systems.

[2017-08-02 14:43] lyoshenka commented on #810
Short-term solution: raise the limit way up. I did this on reflector and speech.

Long-term limit: daemon needs to manage its connections to reflector better. Probably a limit on how much content it can download at once. New issue filed here: https://github.com/lbryio/lbry/issues/817

[2017-08-02 19:10] kauffj commented on #817
Is it possible this reflects a deeper bug? I think the majority of content accessed on spee.ch should either already be on spee.ch or was submitted directly to spee.ch. Is spee.ch really needing to download such significant amounts of content? Or is this from images submitted to spee.ch getting uploaded elsewhere?

[2017-08-02 22:18] zQueal opened #821 "[Windows] Fuzzy Text"
## The Issue

### Steps to reproduce
1. Hover over any thumbnail content

### Expected behaviour
Text should be clear

### Actual behaviour
Text is fuzzy

## System Configuration

Resolution: 1920x1080

[code]

- LBRY Daemon version: `0.14.2`
- LBRY App version: `0.14.2`
- LBRY Installation ID: `4QzeH1PfDujXvAMqL3RWAyEaek1DB4GTvmBWdMJpgMQNLKZ1GfYR5SrRjqX1zrLctW`
- Operating system: `Windows-10-10.

[2017-08-02 22:22] tzarebczan commented on #821
We are aware of this already, have a PR pending to fix it. Please check with us in slack.lbry.io before submitting an issue if you can! Thanks!

[2017-08-02 22:22] #821 closed

[2017-08-03 17:05] kaykurokawa commented on #794
I think this might be the fix : https://github.com/lbryio/lbry/pull/822

[2017-08-03 17:35] tzarebczan commented on #794
`2017-07-05 21:42:21,788 INFO     lbrynet.lbrynet_daemon.DaemonControl:92: Starting lbrynet-daemon from command line
2017-07-05 21:42:23,823 INFO     lbrynet.lbrynet_daemon.DaemonServer:64: Using non-authenticated API
2017-07-05 21:42:23,826 INFO     lbrynet.lbrynet_daemon.Daemon:254: Starting lbrynet-daemon
2017-07-05 21:42:24,006 INFO     lbrynet.lbrynet_daemon.ExchangeRateManager:174: Starting

[2017-08-03 18:04] tzarebczan commented on #794
Username: ćńóźżł
The new error is now:
`  File "site-packages\twisted\python\context.py", line 118, in callWithContext
  File "site-packages\twisted\python\context.py", line 81, in callWithContext
  File "site-packages\lbrynet\daemon\Daemon.py", line 462, in _setup_data_directory
WindowsError: [Error 3] The system cannot find the path specified: 'C:\\Users\\cn\xf3zzl\\Downloads'

[2017-08-03 18:21] tzarebczan commented on #794
Per @kaykurokawa: the problem i think is not sqlite related, most likely will need to fix up this file https://github.com/lbryio/lbry/blob/master/lbrynet/winhelpers/knownpaths.py

[2017-08-03 18:23] tzarebczan commented on #768
The minimum amount is actually 0.000097. as 0.000096 fails with the below. 0.000096 is the tx fee for publishing.
`2017-08-03 14:20:33,407 ERROR    lbryum:115: adding signature for ff0488b21e000000000000000000b1c759c39f4f70eb4c99e91b5e48d1a1228ea20ec62d0b489f0141d8ba624184030a956c8d0aac626372ed6e26ac48bde116ba7bb1f7e030c895561f862f3f608f00005806

2017-08-03 14:20:33,888 ERROR    lbryum:115: is_com

[2017-08-03 18:48] tzarebczan opened #823 "Daemon should enforce file type"
## The Issue
Per discussion in Slack, daemon should enforce file type.
kauffj [4:57 PM]
I don't think the daemon enforces files are the promised types, which would be the first step
jack
[5:00 PM]
even with that though we cant fix a windows media player or video codec vulnerability
kauffj [5:01 PM]
sure, that's fine, I don't think we have to promise we cover that at this stage
[5:01]
I think we sh

[2017-08-03 19:32] kaykurokawa commented on #817
Upon daemon startup, it tries to reflect all the files it has so for each file, it will create a reflector connection for each one simultaneously, which is not good if there are a lot of files.

It also tries to reflect every hour, and if it takes more than 1 hour to reflect everything you will start to accumulate a backlog of reflect commands.

relevant file: https://github.com/lbryio/lbry/blob/m

[2017-08-03 21:21] billbitt commented on #817
FYI after @lyoshenka raised the limit I got the 'too many files open' error again today. log and file list below
[21745.docx.txt](https://github.com/lbryio/lbry/files/1198644/21745.docx.txt)
[lbrynet-8-3-17.docx.txt](https://github.com/lbryio/lbry/files/1198643/lbrynet-8-3-17.docx.txt)

[2017-08-04 02:47] kaykurokawa commented on #817
Firstly I think there should be an option to turn the scheduled and startup re-reflecting completely off , but keep the initial reflecting on for publishes. I think this will be an easy fix to your problems.

Secondly there should be a fix for how it auto reflects (limit number of files to reflect at a time).

[2017-08-04 14:04] kauffj commented on #810
@billbitt experienced this yesterday. I think there is a deeper bug here.

[2017-08-04 14:28] billbitt commented on #810
Confirmed, yes it happened again yesterday. As discussed on call today, it seems to be a result of cumulative usage rather than total usage at a given moment.

I was under the impression this particular issue was a result of heavy use of the lbrynet api (spee.ch makes a lot of resolve, get, and claim_list calls in its current form), however it sounds like the team is thinking it is related more to

[2017-08-04 17:08] kaykurokawa commented on #817
once this is merged https://github.com/lbryio/lbry/pull/826 , set 'auto_re_reflect' in your config file to False

[2017-08-04 17:29] kaykurokawa commented on #813
this doesn't look like an issue on our end. its just curl isn't printing new lines as a new line.
maybe there is a flag in curl to print out new lines .

[2017-08-04 17:31] kaykurokawa commented on #823
Not really sure what this is trying to say.
You want to check file extensions?

[2017-08-05 16:11] btzr-io commented on #768
I think a prompt / modal would be annoying :upside_down_face:

[2017-08-05 16:12] btzr-io commented on #768
![minimum](https://user-images.githubusercontent.com/14793624/28996917-97b629e6-79c6-11e7-81d0-6133ccb0dc3f.gif)

[2017-08-06 17:18] tzarebczan opened #827 "download_path is incorrect for files uploaded from outside of download directory"
@tzarebczan commented on [Fri Jul 28 2017](https://github.com/lbryio/lbry-app/issues/400)

**Edit by Jeremy**: Tom's description is below. The root issue here is that the `download_path` property returned by `file_list` is incorrect for uploaded content. In fact, `download_path` isn't really a great name for this property, and should probably instead be called something like `file_path`.

## The I

[2017-08-06 18:57] kauffj opened #828 "send_amount_to_address should reject invalid wallet addresses"
## The Issue
It is possible to submit an invalid wallet address to `send_amount_to_address`.

### Steps to reproduce
1. ./lbrynet-cli send_amount_to_address --amount=0.00001 --address=aaa

### Expected behaviour
An error response informing me "aaa" is an invalid address.

### Actual behaviour
It returns true.

[2017-08-07 21:03] tzarebczan commented on #827
This https://github.com/lbryio/lbryum/issues/143 is sort of related because users try to stream their own content and it fails.

[2017-08-08 16:41] kaykurokawa commented on #795
https://github.com/lbryio/lbry/pull/829 should fix this problem

[2017-08-08 17:05] tzarebczan opened #830 "Publish queued, never completes"
## The Issue
User @death916 on slack reported his published item did not show up in the Publises screen after submitting a new publication. By looking at this log files, it seems like the publish starts correctly and then gets added to a queue, but never ends up executing.  What would cause the publish to go into a queue?  There are some DB locking warnings in the logs, not sure if that could affe

[2017-08-08 17:10] hackrush01 opened #831 "Better claim management required for `claim_tip_send` feature."
Upon testing the feature, @jackrobison, @tzarebczan and I talked about this on hangouts as there was some undesirable behaviour, and ultimately, reached the conclusion that it needs some changes in the daemon on a deeper level. The changes would include(might not be an exhaustive list)
1. A "new" wallet specifically for support balance
2. A better claim management system(the point is kind of vague

[2017-08-09 16:12] tzarebczan commented on #758
For those who had issues downloading ANY file from LBRY, I may have figured it out. It's most likely related to the DHT port which is used to share the content. Possibly something else is using it on 4444 or its blocked on your ISP.

Give this a try:
Download this daemon_settings.yml file: https://www.dropbox.com/s/tkqelvkvwqw237k/daemon_settings.yml?dl=0

Steps -
1 - Close LBRY
2 - Copy daemon_se

[2017-08-09 17:29] kaykurokawa commented on #830
Looking at the logs, looks like user shut down the daemon 20 seconds after publishing, which probablly killed the publish while it was in the middle of something.

[2017-08-09 17:58] tzarebczan commented on #830
Thanks, closing for now. I should have caught that :p

[2017-08-09 17:58] #830 closed

[2017-08-09 19:18] tzarebczan opened #832 "Low LBC fee for content creates discrepancies"
## The Issue
If Publishing content with a small LBC fee (I'm not sure what the breakage threshold is yet), the fee does not properly get set exactly to the desired amount. For instance, setting a fee of 0.01 LBC and then later checking the claim, the fee shows as:  0.009999999776482582 in resolve/claim_list_mine/claim_show (claimid = b0f204c4eaaed281be6e0c2f74cc02f719fe6f7b)

Another example was s

[2017-08-09 23:11] #816 closed

[2017-08-10 16:56] kauffj commented on #832
@tzarebczan did you verify this happens via a CLI publish to eliminate any possibility that it is an app issue? (I think it is probably not, but it's good to make sure.)

[2017-08-10 17:14] kaykurokawa commented on #832
I've seen this before in the daemon, yes its a floating point issue.

[2017-08-10 18:43] hackrush01 commented on #832
We could use [`Decimal`](https://docs.python.org/2/library/decimal.html) module to represent those number as it provides accurate floating point arithmetic, just like Java's [`BigDecimal`](https://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html).

[2017-08-10 21:31] kauffj commented on #832
Given there is not arbitrary precision of credit amounts, shouldn't we be using `Decimal` type for all LBC values?

[2017-08-11 02:42] hackrush01 commented on #832
As I am given to understand LBC is divisible to 8 decimal places, and max amount possible in circulation will be 10<sup>9</sup>(not sure, but still I can make my point). So that would mean the max precision should be 17 with scale of 8. So `Decimal` could be(and should be) used for handling all LBC values. Though I might be missing something here :-|

[2017-08-11 11:23] avoloshko opened #834 "Build failed on OSX 10.11.6"
[code]
RESULT:
Making install in src
  CXXLD    libbitcoinconsensus.la
clang: warning: argument unused during compilation: '-pthread'
clang: warning: argument unused during compilation: '-pthread'
Undefined symbols for architecture x86_64:
  "memory_cleanse(void*, unsigned long)", referenced from:
      zero_after_free_allocator<char>::deallocate(char*, unsigned long) in libbitcoinconsensus_la-blo

[2017-08-11 21:23] tzarebczan commented on #832
@kauffj just to be safe, confirmed it with a manual publish, same result.

Publish:
`'{"method":"publish", "params": { "name": "testmanualpublish", "file_path": "C:\\ccsetup532.exe", "bid": 0.0011, "metadata":  { "description": "Some interesting content", "fee": {"currency": "LBC", "amount": 0.01}, "title": "Test manual upload", "language": "en", "license": "test Inc", "nsfw": false }}}'`

Resolve

[2017-08-11 21:24] kauffj commented on #832
Too slow @tzarebczan, @kaykurokawa already opened a PR to fix this :stuck_out_tongue:

[2017-08-11 21:27] tzarebczan commented on #832
Well, at least I got to do my first publish via CLI :)

[2017-08-11 22:27] tzarebczan opened #836 "Deleting blockchainname.db breaks Downloads list on first run"
## The Issue
Sometimes it's necessary to delete cached blockchain/claim data which resides in blockchainname.db.  After deleting it and running LBRY, the Downloads and Purchases section fails to show any Files - says "You haven't downloaded anything".  Reload/Clear the Cache does not help.

If you restart LBRY one more time, things seem to go back to normal.

### Steps to reproduce
1. Close LBRY
2

[2017-08-12 16:33] kauffj commented on #834
Did you mean to file this on `lbrycrd` instead? I'm fairly certain you did, and the issue exists: https://github.com/lbryio/lbrycrd/issues/64

If I'm wrong, please clarify and re-open.

[2017-08-12 16:33] #834 closed

[2017-08-12 18:08] kauffj commented on #758
@jackrobison can we add a startup check for this?

[2017-08-13 13:03] rubenbryon commented on #758
It seems to be resolved on my end without changing anything. I am often switching between pools and algorithms so it might have been related to other services using ports 3333 or 4444.

[2017-08-14 13:01] lyoshenka opened #837 "Write prism server"

[2017-08-14 13:01] #837 closed

[2017-08-14 13:02] lyoshenka opened #838 "Create blob distribution queue"

[2017-08-14 13:02] #838 closed

[2017-08-14 13:04] lyoshenka opened #839 "Create prism instance and host cluster. Point reflector subdomain at prism."

[2017-08-14 13:04] #839 closed

[2017-08-14 13:05] lyoshenka opened #840 "Automatically monitor cluster hosts for disk space"
As a sysadmin, I need to know when a host fills up so I can replace it.

[2017-08-14 13:06] lyoshenka opened #841 "Allow cluster hosts to be replaced without stopping prism server"
We're going to need to replace hosts as they fill up, but we don't want to interrupt blob ingestion.

[2017-08-14 13:08] lyoshenka opened #842 "Stretch goal: automatically rotate hosts in cluster"
Monitor disk space, remove full hosts, create new hosts in AWS, configure them, insert them into rotation.

Detect failed hosts and replace them too.

Notify devs of any activity.

[2017-08-14 13:36] lyoshenka opened #843 "Frequent automatic end-to-end testing of prism/cluster"

[2017-08-14 13:37] lyoshenka opened #844 "Ansible config for prism server"

[2017-08-14 14:41] kauffj opened #845 "Add additional fields to transaction_list to support tipping"
`transaction_list` needs to add additional fields:

- `type` : (`support`, `claim`, `update`, "`unbound`")
- `claim_id` : (claim_id of support/content/channel)
- `is_tip` (true if type=support and sent to address that matches address of claim)

[2017-08-14 14:42] kauffj commented on #845
And drop `label`

[2017-08-14 14:44] kauffj commented on #845
Rename `value` to `amount` (but keep `value` for now)

[2017-08-14 14:44] kauffj commented on #845
Add `fee`

[2017-08-14 15:27] lyoshenka commented on #655
If its dropped, I'm closing it. Reopen if we need to do anything else here.

[2017-08-14 15:27] #655 closed

[2017-08-14 15:32] kauffj opened #846 "Add "include_claimtrie" option to wallet_balance"
`wallet_balance` needs to support an additional flag to indicate whether the balance should be returned including credits bound in the claimtrie.

Required for tipping, and general usefulness.

[2017-08-14 15:33] kauffj commented on #831
Subsumed by #846 and #845

[2017-08-14 15:33] #831 closed

[2017-08-14 15:51] kauffj opened #847 "Publish call reports success with invalid descriptions"
**Edit by Jeremy:** Original ticket is below. The daemon needs to reject `publish` calls with invalid descriptions.

_From @MSFTserver on August 7, 2017 21:37_

## The Issue
when setting a long description inside the app it will say it has published and is pending but looking at the transaction history no trans has been made but the video pop up in published area saying still pending but the daemo

[2017-08-14 16:10] #769 closed

[2017-08-14 16:25] kauffj commented on #588
This appears to be finished?

[2017-08-14 16:25] #588 closed

[2017-08-15 02:51] #795 closed

[2017-08-15 14:15] #792 closed

[2017-08-15 15:18] lyoshenka opened #850 "LBRY on Android"

[2017-08-15 16:59] tzarebczan opened #851 "Feature Request: Commenting and Rating functionality"
## The Issue
For both content creators and consumers, a commenting and rating feature is important for content discovery and collaboration.

I know this was discussed in passing, but I wanted to get it down as an issue for further comments.

## Anything Else

## Screenshots

[2017-08-15 17:02] lyoshenka opened #852 "Uploading content to reflector should not block daemon startup"
If there are a lot of files to reflect, the daemon may take many minutes (hours?) to reflect them all. I should be able to use the daemon during that time.

On speech, after restarting the daemon and waiting 5 min, I get the following error on most commands:

[code]

[2017-08-15 17:03] jsigwart commented on #851
I know the tipping system is another feature request, and it would be nice to have the tip feature integrated with the commenting system.

[2017-08-15 17:05] kaykurokawa opened #853 "Unit & integration tests for Prism"
Prism reflector needs to announce by head blob only ,

Right now it just sends arbitrary blobs to each lbrynet reflector instances it feeds, but it needs to be aware of streams and distribute blobs so that lbrynet reflector instances have complete streams most of the time.

- [x] twisted unit tests (1 day)
- [x] lbry-in-a-box integration tests (2-3 days)

later:

- [ ] set up testing aws cluster t

[2017-08-15 17:16] aayanl commented on #851
One thing to consider is, should comments be pushed to the blockchain or not. Pushing them to the blockchain is decentralized but costs tx fees and is slow. The other option is sending them to lbry servers and they host it but that's centralized

[2017-08-15 17:23] jsigwart commented on #851
I think it would be too expensive to push comments to the blockchain. Yeah, comments would be centralized, but still anybody can build an app on top of LBRY. The LBRY blockchain itself should be analogous to what the card file used to be to big libraries: something that tells you where to find a specific book (piece of content) on the shelves (servers).

[2017-08-15 18:34] tzarebczan commented on #794
While troubleshooting with another user, I ran into yet a different scenario where LBRY daemon cannot even start up to the point where I can alter the data/lbryum/downloads paths via settings - the lbry folder is never created. This happens on Windows 10. On Windows 7, I get the lbry folders created and then can redirect the data/downloads/wallet dirs.

The user path is: C:\Users\Dellé\AppData

Th

[2017-08-15 18:46] tzarebczan opened #854 "Solve/design the general approach for making daemon calls asynchronous"
@tzarebczan commented on [Tue Aug 15 2017](https://github.com/lbryio/lbry-app/issues/475)

## The Issue
As a Publisher, when I upload files to LBRY, the current process is fairly uninformative after the Publish button is clicked. There is no indication that the file is being processed or when it's finished uploading (besides the URI being available).  This is a bigger issue with larger files as th

[2017-08-15 22:01] tzarebczan opened #855 "Internal Error when trying to Publish/Create channel with an insufficient balance"
@tzarebczan commented on [Thu Aug 03 2017](https://github.com/lbryio/lbry-app/issues/427)

## The Issue
When trying to create a channel for more LBC than exists in your wallet, you get an internal error as opposed to a better insufficient funds message.  We should also make a note of TX and Publish fees, because if someone has 10 LBC, they most likely won't be able to claim for 10.

Updated: If th

[2017-08-17 08:07] akinwale opened #857 "Add support for default Android paths in conf.py"
Python currently detects Android as a Linux platform, which causes the paths assigned in https://github.com/lbryio/lbry/blob/master/lbrynet/conf.py#L98-L110 to result in I/O errors.

I plan to create a placeholder class which will contain methods for obtaining the Android base paths. The class methods will be overridden by the Python service in lbry-android to return the actual paths as required.

[2017-08-18 16:20] lyoshenka opened #859 "Improve DHT wire format"
There are several improvements to make. My guess is that we need to roll out a v2 of the DHT message format and make all nodes switch to it. But if we don't want to make BC changes, we can do at least the first two items in a BC way.

## DHT uses integer keys in bencoded messages, while spec requires bytestring keys

See http://www.bittorrent.org/beps/bep_0003.html#bencoding (bullet 4) for spec. T

[2017-08-18 19:11] hackrush01 commented on #845
Right now `value` has to be kept as it is, right?

[2017-08-19 16:13] kauffj opened #860 "Auth error when opening and reclosing app"
Trace:
[code]

This will happen fairly reliably if I close the application and re-run it too quickly.

[2017-08-20 15:27] tzarebczan commented on #691
Gonna re-open the original issue since it broke pagination: https://github.com/lbryio/lbry/pull/801#commitcomment-23706472

[2017-08-20 16:02] kauffj commented on #691
Isn't lbry returning the correct fields? If so, there is no issue in this repo.

[2017-08-20 16:10] tzarebczan commented on #691
I don't think it is, see: https://github.com/lbryio/lbry/pull/801#commitcomment-23706472

lbrynet-cli claim_list_by_channel @IGNonLBRY --page 1 used to return something like this at the end:
[code]

now it just returns:
[code]

[2017-08-20 16:45] tzarebczan commented on #772
Turns out this was due to port 50001 being blocked via Windows Firewall.  Issue solved.

[2017-08-20 16:45] #772 closed

[2017-08-21 03:15] tzarebczan commented on #794
The current workaround (except for this particular case- https://github.com/lbryio/lbry/issues/794#issuecomment-322550730) is to manually set the working directories for LBRY in the default lbrynet directory (https://lbry.io/faq/lbry-directories).

You can manually set these directories in the daemon_settings.yml file. If this file does not exist in your lbrynet folder, you can use this one: https

[2017-08-21 13:33] lyoshenka opened #861 "Handle multiple simultaneous uploads of the same blob"

[2017-08-21 13:37] lyoshenka opened #862 "Handle job timeout properly, don’t requeue failed jobs and make redundant tasks"

[2017-08-21 15:33] lyoshenka commented on #810
Update: Jack has been working on this and he basically has it fixed. I also make a small change to spee.ch daemon that's helping for now, but the real fix won't be in place till Jack's done. He says it will be finished this week.

[2017-08-21 15:36] lyoshenka opened #863 "Turn on referral rewards"
- [ ] import prefinery data
- [ ] limit ppl to rewards for N referrals, or to N total credits in referrals
- [ ] what is the error message if you try to claim more than the limit? we need to let you know that its restricted for now, but will be unrestricted later
- [ ] finally, enable referral rewards

- [ ] find several thousand ppl who we're pretty sure are real
- [ ] check how many of them alre

[2017-08-21 15:42] kauffj commented on #845
Discussed on Slack. Moving back to In Progress.

[2017-08-21 16:15] lyoshenka commented on #863
Issue moved to [lbryio/internal-apis #58](https://github.com/lbryio/internal-apis/issues/58) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-21 16:15] #863 closed

[2017-08-21 16:20] kauffj opened #864 "Content page not refreshed after Download removed from LBRY"
_From @tzarebczan on August 17, 2017 19:22_

## The Issue
Content still shown as "downloaded" after removal from LBRY - the Open button shown.  This does not happen every time, but I've seen it enough times to think there is an issue somewhere. If I reload the content page after removal, then it goes back to an unwatched/undownloaded state where the Download button is shown. Another work around is

[2017-08-21 22:42] tzarebczan opened #866 "HashBlob Invalid Length, download continues infinitely"
## The Issue
Somehow I got into a situation where a LBRY file continued to grow in the downloads directory until it maxed out my VM hard drive (~100 GB).  Going back through my log files, I started downloading
 lbry://theinternetsownboy and then lbry://eight.  eight finished downloading but theinternetsownboy continued.

It looks like I had a hard daemon crash in the middle of a download. On the s

[2017-08-22 02:06] kennethreitz commented on #855
This hit me today.

[2017-08-22 02:11] tzarebczan commented on #855
in @kennethreitz 's case, he was able to see his channel in the dropdown and attempt to publish using it. Entire log is here: https://gist.github.com/kennethreitz/7c8cf7b9540fe45f8991c658e1e21abd

[2017-08-22 14:01] #846 closed

[2017-08-22 15:44] lyoshenka opened #868 "Fix regression in claim_list_by_channel"
PR for https://github.com/lbryio/lbry/issues/691 (https://github.com/lbryio/lbryum/pull/138) contains a regression. See discussion on issuea and at https://github.com/lbryio/lbry/pull/801#commitcomment-23706472

[2017-08-22 15:44] lyoshenka commented on #691
Moved bug convo to https://github.com/lbryio/lbry/issues/868

[2017-08-22 15:44] #691 closed

[2017-08-23 03:02] iateadonut commented on #649
still doesn't work.

i'll have to do some more testing to make sure i can set it up on a server in the States and watch it work.

[2017-08-23 03:24] tzarebczan commented on #649
@iateadonut did you update to the latest version? Lbry.io/get

Please do so and then post the logs files here

[2017-08-23 16:00] kennethreitz commented on #794
This should be relatively simple to solve.

Use Python 3 :D

I jest.

[2017-08-23 16:13] kauffj commented on #794
@kennethreitz humor is the good natured side of a truth

[2017-08-24 02:46] ofek opened #870 "Encryption scheme"
This is in reference to #796 and its origin #734

I am unfamiliar with LBRY. Do we care about the authenticity of the encrypted data? If so, we should instead use Cryptography's high level [Fernet API](https://cryptography.io/en/latest/fernet).

[2017-08-24 08:10] hackrush01 commented on #845
Update(23 Aug, '17): being worked on in lbryio/lbryum#148

[2017-08-24 08:15] hackrush01 commented on #868
If it is caused due to a duplicate name/tuple, could this be solved by just renaming `claims_in_channel` to `no_of_claims_in_channel` or something similar?

[2017-08-24 21:16] kauffj commented on #868
This is fixed in the app, though I'm not in love with the daemon's approach/design here.

[2017-08-24 21:16] #868 closed

[2017-08-25 14:17] lyoshenka opened #871 "`claim_new_support` should not require a name arg"
It already requires claim_id, so it can look up the claim from that

[2017-08-25 16:02] aa-novik commented on #794
I have the same problem. I also had the same issue with Electrum, maybe [this thread](https://github.com/spesmilo/electrum/issues/2261) will help.

[2017-08-26 22:56] kennethreitz opened #874 "Consider Making a GitHub Repo for DMCA Notices"
GitHub does this, and I love the concept:

https://github.com/github/dmca

[2017-08-28 12:35] MSFTserver commented on #871
upon entering a different name for this command it generates a new url and replaces the old one within the publishes section of the app and doesn't know what to so with itself, the name I think should be allocated from the id I would presume?
[.GIF of Issue](https://files.slack.com/files-pri/T0AFFTU95-F6UFHL6Q3/5.gif)

[2017-08-28 13:27] tzarebczan commented on #871
Yea that's a nasty one. I think part of it is fixed by @hackrush01 in master already.

This is also related: https://github.com/lbryio/lbry/issues/812

[2017-08-28 14:20] #857 closed

[2017-08-28 15:35] tzarebczan opened #876 "Add Pagination to Downloads/Publishes/Wallet pages"
## The Issue
As LBRY usage grows, users will accumulate many items in Downloads, Publishes and in their wallet.  The app should have the ability to paginate on these screens.  This should also make the user experience more pleasant as less data needs to be loaded on each refresh.  Sorting/filtering options would be nice in all the areas as well.

### Expected behaviour
Paginate through LBRY areas

[2017-08-28 17:38] wallermadev commented on #744
I like the idea of everyone OTHER than the publisher applying tags.

[2017-08-28 17:59] kauffj commented on #744
@wallermadev they're pretty much equivalent in terms of functionality -- the system wouldn't be able to prevent the author from applying tags in any meaningful way.

[2017-08-28 18:06] wallermadev commented on #744
is_claim_mine.

I realized after my first comment that I need the ability to tag a file
with ue4-asset

On 28 Aug 2017 6:59 pm, "Jeremy Kauffman" <notifications@github.com> wrote:

[2017-08-28 18:06] jsigwart commented on #744
As a publisher, I want to be able to add relevant tags to my video for better results in search engines. I'm worried about others gaming the system. Like a competitor getting a bunch of folks to down vote relevant tags and up vote irrelevant ones.

[2017-08-29 13:11] kauffj opened #877 "Daemon fails to start if it cannot write/access download directory"
### Steps to Reproduce:

- Stop daemon
- Change the permissions on the download directory to 000 (e.g. `chmod 000 ~/Downloads`)
- Start daemon

### Error Trace:

[code]

_Copied from original issue: lbryio/lbry-app#495_

[2017-08-29 13:25] lyoshenka commented on #870
I'd prefer not to switch algorithms for now unless there's a compelling reason. I don't think we care about authenticity.

[2017-08-29 13:25] #870 closed

[2017-08-29 13:50] #862 closed

[2017-08-29 13:52] jackrobison opened #878 "Add a test script to verify redis and the cluster blobs databases are in sync"

[2017-08-29 13:52] jackrobison opened #879 "Handle failed jobs due to client side disconnect"

[2017-08-29 17:48] kennethreitz opened #880 "Port to Python 3"
I might take this on :)

[2017-08-29 20:49] i5heu opened #881 "IPFS integration"
I think IPFS is at the moment the best P2P Protocol for Media.
Its available for Python Golang and JS.
[IPFS](https://github.com/ipfs/ipfs)

Maybe its better to concentrate the Open Source Developer on one P2P library, intend of a dozends.

So does the lbry team want to integrate IPFS?
Are there Plans?

[2017-08-29 22:36] tzarebczan commented on #881
This is the current analysis of ipfs vs lbry protocol https://lbry.io/faq/different-ipfs

[2017-08-29 23:30] rfyiamcool opened #882 "Why raise Uncaught Exception ENOENT"
See title, thank u

[2017-08-29 23:30] rfyiamcool commented on #882
Yes, I know

[2017-08-29 23:30] #882 closed

[2017-08-29 23:32] tzarebczan commented on #882
Please see https://lbry.io/faq/startup-troubleshooting /
https://github.com/lbryio/lbry-app/issues/353

Just need a reinstall.

[2017-08-30 20:18] tzarebczan opened #883 "Download timeout prompt to should show title instead of sdhash"
## The Issue
When a download times out, the current message shows the sdhash of the failed file. This is non-descriptive to users and thus should be replaced with the title of the content they tried to download.

For instance, a failed download shows the sdhash
`Error message: Failed to download 8a455fb52ac158ec8bb80737dd9dc1e70c25dcd7b6966bc358cc466b78fdcc22c646616ba3decdba906d27f06730ac49 within

[2017-08-30 23:20] tzarebczan opened #884 "Add purchase and received payment information to wallet / separate area?"
## The Issue
As both a publisher and consumer of content via the LBRY app, I would like to be able to track what content purchase was associated with my wallet transactions and also what incoming payments are associated with my published items when they are downloaded.

Currently, when you download something that has a key fee, the only trace of it is the fact that it appears in your downloads dir

[2017-08-31 15:19] tzarebczan opened #885 "Blank error associated with initial sd blob failure when downloading"
## The Issue
This issue was first reported by @nikooo in #mods chat and then it happened to me on my main PC.  You get a blank pop

Looks like it happens when the daemon fails to download the sd blob with the first attempt (which happens as soon as you enter the claim).  As soon as you click download, that's when you get the blank warning pop-up. The get json returns fine when download is clicked.

[2017-08-31 16:25] nikooo777 commented on #885
Yes, what i experienced was I clicked on a video I had never watched, the player loaded for around 30 seconds but in the network there were no calls being made.

After about 30 seconds, the error popup came up and at the same time the app started flooding the daemon with `full_status` requests without delays.

The video started playing behind the error popup, the error popup was empty as shown in

[2017-09-01 14:04] #845 closed

[2017-09-01 14:05] lyoshenka commented on #810
Will be fixed by #796

[2017-09-01 14:05] #810 closed

[2017-09-02 15:54] DOnTheRiverC commented on #885
Seeing nearly identical behavior all of today (02/09/17). LBRY was working fine for me yesterday and today it wont load a single video, no LBRY source would load. I clicked on a link and it would appear that a video was loading and then I would get the error message -

https://pasteboard.co/GIwhLhC.jpg

![lbry-error](https://user-images.githubusercontent.com/4481895/29996901-ca4e6e70-9039-11e7-942

[2017-09-03 00:14] zestyr commented on #883
This error comes from here:
https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L643

A few lines above it logs that it failed, then the error message, which looks like this ```lbrynet.daemon.Daemon:640: Failed to get <URI>: Failed to download <blob> within timeout```

The error message returned comes from the timeout error here.
https://github.com/lbryio/lbry/blob/master/lbrynet/c

[2017-09-03 00:22] MSFTserver commented on #883
we could possibly get the name by making a function to run file_list with sd hash then parse out name
![image](https://user-images.githubusercontent.com/18357967/29999584-41674af4-9003-11e7-9ac6-ca3f0ced54b1.png)

[2017-09-03 06:24] DOnTheRiverC commented on #885
Followed the guide below and added the port but made no difference

https://lbry.io/faq/unable-to-stream

[2017-09-03 14:15] DOnTheRiverC commented on #885
Sorry for the late addition but log file now attached

[lbrynet.log.zip](https://github.com/lbryio/lbry/files/1272967/lbrynet.log.zip)

[2017-09-03 19:26] tzarebczan commented on #885
@DOnTheRiverC that's a completely separate issue, in this case the error pops up but the video streams. Send your log file to help@lbry.io and we can take a closer look.

[2017-09-04 15:32] kadinparker commented on #877
Can someone confirm that this is still an issue? Currently cannot reproduce

[2017-09-05 12:52] kauffj commented on #885
@tzarebczan there should also be a console message when this happens. Can you attach output of that?

[2017-09-05 12:58] kauffj commented on #884
I think this is basically #803 - we don't have this information right now, it's not a matter of adding it.

You (or someone) could update #803 to specify the additional API changes required to the `transaction_XXX` methods.

[2017-09-05 12:58] #884 closed

[2017-09-05 13:03] kauffj commented on #880
@kennethreitz I'm inclined to icebox this unless you (or someone) let us know you want to take it on.

[2017-09-05 13:09] lyoshenka commented on #880
I talked to @kennethreitz last week. He said he's interested in doing this, but he's not making any promises about timelines or finishing. Some of our code may be tricky to convert. That said, I'd love to hear updates on how it's going.

[2017-09-05 13:25] #840 closed

[2017-09-05 13:28] lyoshenka commented on #840
Currently, this happens via the same bash script as every other server. In the future we'll have an autoscaling system

[2017-09-05 13:40] kauffj commented on #762
@zestyr still want to tackle this?

[2017-09-05 13:54] lyoshenka commented on #762
At the very least we can have builds fail when the API docs are out of date. Have travis run the api  build script and error if there are any changes.

[2017-09-05 14:48] lyoshenka opened #887 "Integrate blob announce changes into prism"
From https://github.com/lbryio/lbry/issues/853

- [ ] set up testing aws cluster to make sure everything is working, and to measure how much better availability is (2-3 days)
- [ ] enable head blob announce in prism (? days)
- [ ] make sure the hosts know about head blobs, which blobs to announce (? days)

[2017-09-05 14:49] lyoshenka commented on #853
Part 2 in https://github.com/lbryio/lbry/issues/887

[2017-09-05 14:49] #853 closed

[2017-09-05 17:26] tzarebczan commented on #885
@kauffj I think this is what you are looking for, hopefully explains why it's happening.  Something related to the transaction_ID, probably related to Rewards.
[code]

[2017-09-05 18:15] zestyr commented on #762
Sure, didn't @jackrobison add this to the release tool though?

[2017-09-06 04:05] codingisforyou commented on #771
I have this same issue also... after using the API to publish and release claims.

{
    "error": {
        "code": -32500,
        "data": {
            "traceback": [
                "Traceback (most recent call last):",
                "  File \"site-packages\\twisted\\web\\server.py\", line 190, in process",
                "    ",
                "  File \"site-packages\\twisted\\web\\server.

[2017-09-06 14:52] tzarebczan opened #888 "Add better user feedback to Youtube verification process"
## The Issue
Currently, the Youtube Verification page allows any Youtube account to be sent the LBRY and the response is "Thanks for Syncing".

This message should be shown if the user meets our Youtube sync qualifications along with an additional comment to tell the user they will be verified for rewards.  If a user does not qualify, they need to get a different message stating the fact that thei

[2017-09-06 16:04] reillysmith commented on #888
I'm going to add to this: YouTube "verification" should not be associated with ID verification at all. This needs to be a totally separate feature in the app for publishers. The criteria being passed for verification is not, "is this a real person?" It's "do you meet the threshold for being in the YouTube sync pipeline." Less than 1% of users of LBRY will need to use this button.

[2017-09-06 17:31] tzarebczan commented on #888
Or separate out Youtube verification and YouTube Sync.  Maybe give those with X amount of videos/views a link to Youtube Sync after they verify if they want to get their content synced on LBRY automatically (has to be explicit)

[2017-09-06 19:25] lyoshenka commented on #844
done

[2017-09-06 19:25] #844 closed

[2017-09-06 21:55] tzarebczan commented on #888
Issue moved to [lbryio/internal-issues #26](https://github.com/lbryio/internal-issues/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-06 21:55] #888 closed

[2017-09-06 23:58] kaykurokawa commented on #887
Going to add some more details

- [ ]  Need finished review from Jack on https://github.com/lbryio/lbry/pull/872, https://github.com/lbryio/reflector-cluster/pull/3, https://github.com/lbryio/reflector-cluster/pull/5 , merge required

- [ ] Ansible reflector cluster setup , Need host setup.  Need to import the redis database from old reflecter cluster (I think we want to do this to prevent old fil

[2017-09-07 16:00] tzarebczan opened #890 "Google BTC to USD feed failing"
## The Issue
The Google BTC to USD feed is failing because http://finance.google.com/finance/info?q=CURRENCY:BTC doesn't work anymore.  https://www.google.com/finance?q=CURRENCY:BTC does. In the short term, this link needs to be fixed. In the long term, we need to have redundant APIs for all conversion calls.

Daemon throws: `2017-09-07 11:46:05,375 WARNING  lbrynet.daemon.ExchangeRateManager:69:

[2017-09-07 16:52] tzarebczan opened #892 "Redundant API servers for currency conversion"
## The Issue
Earlier, we ran into this issue: https://github.com/lbryio/lbry/issues/890 and in the past, we also had some currency conversion problems with the Bittrex API.  If LBRY cannot properly convert currencies, the app may not allow paid content to be purchased or it may lead to using cached conversions.  LBRY should support failover API servers in case the primary is not working properly i

[2017-09-07 18:15] jackrobison commented on #890
A patch release for 0.15.1 (broken latest release) is [here](https://github.com/lbryio/lbry/tree/v0.15.2)

The fix on master is [here](https://github.com/lbryio/lbry/commit/1f4dfe1f933e5da2b677c26e9e81c04eb4ee187a)

[2017-09-07 18:15] #890 closed

[2017-09-08 18:30] tzarebczan opened #893 "Publishing right after channel creation results in publish failure"
## The Issue
Update: see https://github.com/lbryio/lbry/issues/893#issuecomment-367131981 for latest error when publishing to a newly created channel before its confirmed.

Original issue:
If a user tries to publish something on a channel they just created, the Publishes screen hangs up and daemon throws a `Certificate claim d779aa006befe9a9eb12d6f8f7755b127d6e56bf not found`. The console also rec

[2017-09-08 19:33] d4amenace opened #894 "US ips being denied connection...."
## The Issue

I can only get LBRY to load up when I am on a vpn outside of the US.  You should look into integrating it with something like kovri so the app itself can provide users with anonymous ips that allow ALL users to utilize the service.  The developers over at monero are working on kovri style ip over onion connections for their coin and might be of further assistance.

### Steps to repro

[2017-09-08 19:36] tzarebczan commented on #894
I saw your bug report come in. US ips are definitely not being blocked, how did you come to this conclusion? We are not blocking any types of ips from connecting.  Can you provide your log file when trying to start from a US IP?

https://lbry.io/faq/how-to-find-lbry-log-file

[2017-09-08 20:39] tzarebczan opened #895 "API call to blob_list with --uri paramater fails"
## The Issue
When calling `blob_list` with `--uri=claimname` you get an ERROR: 'stream' response. See full stack below:

[code]
### Steps to reproduce
1. call `./lbrynet-cli blob_list --uri=one`

### Expected behavior
Should return a list of blobs

### Actual behavior
Error

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything

[2017-09-09 01:24] d4amenace commented on #894
It is attached.

⁣Sent from BlueMail ​

On Sep 8, 2017, 2:36 PM, at 2:36 PM, Thomas Zarebczan <notifications@github.com> wrote:

2017-09-02 17:06:44,910 INFO     lbrynet.daemon.DaemonControl:70: Starting lbrynet-daemon from command line
2017-09-02 17:06:46,855 INFO     lbrynet.daemon.DaemonServer:67: Using non-authenticated API
2017-09-02 17:06:46,859 INFO     lbrynet.daemon.Daemon:244: Starting l

[2017-09-09 01:30] tzarebczan commented on #894
2017-09-03 11:46:25,529 ERROR lbrynet.daemon.Daemon:309: Couldn't bind to port 3333. Visit lbry.io/faq/how-to-change-port for more details.

Are you running mining software? That's the most common problem. Or upnp being disabled / something blocking port 3333. The vpn seems to help bypass it. Lbry is a p2p platform so network availability is critical to its operation.

Other common startup issues:

[2017-09-11 13:11] tzarebczan commented on #894
@d4amenace can I close this?

[2017-09-11 14:46] d4amenace commented on #894
Yes thx

⁣Sent from BlueMail ​

On Sep 11, 2017, 8:18 AM, at 8:18 AM, Thomas Zarebczan <notifications@github.com> wrote:

[2017-09-11 14:52] tzarebczan commented on #894
Thanks!

[2017-09-11 14:52] #894 closed

[2017-09-14 23:47] kauffj opened #900 ""get" can fail on invalid structure of max key fee"
**Per discussion with Jack, he suspects this is due to lack of validaiton of the `max_key_fee` setting.**

Calling "get" on lbry://coherence fails with an uncaught error:

[code]

From the logs:
[code]

0.16.0rc8

Let me know if you need my wallet, etc.

[2017-09-15 15:30] tzarebczan commented on #892
Periodically I am seeing `2017-09-15 11:26:14,750 WARNING  lbrynet.daemon.ExchangeRateManager:69: There was a problem updating USDBTC exchange rate information from lbry.io` in my daemon, but don't think its breaking anything.

[2017-09-15 17:44] tzarebczan commented on #900
Tried to reproduce with 0.16.0rc8 and could not:

[code]

It does fail to start download though. 47.20.145.202:3333 is my node. If I go into the claim and then try to stream, it starts downloading.
[code]

[2017-09-15 19:00] lyoshenka opened #901 "`publish` returns useless error"
Run `lbrynet-cli publish stuff 1`. The daemon responds with `ERROR: 'source'`. That's it. What does that mean? What am I supposed to do about that?

[2017-09-18 13:06] tzarebczan commented on #885
Linked to https://github.com/lbryio/lbry/issues/883

[2017-09-18 21:32] kauffj opened #902 "claim_list_mine fails immediately after a publish on a new channel"
## The Issue

Calling `claim_list_mine` immediately after a new publish to a new channel results in an error.

I'm not sure if this happens 100% of the time.

### Steps to reproduce
1. Make a new channel and new publish on that channel.
2. Call `claim_list_mine.
3.

### Expected behaviour
Standard response.

### Actual behaviour
Received error with following trace:
[code]

## System Configuration

[2017-09-18 21:35] tzarebczan commented on #902
Have the same error logged here: https://github.com/lbryio/lbry/issues/893 - pretty sure its because the block with the certificate claim hasn't been mined yet. This could possibly be fixed by the certificate caching @jackrobison mentioned on the call today.

[2017-09-18 21:40] kauffj commented on #902
Yes, this goes away once a block is confirmed, but it's a clear bug that this errors in the interim.

[2017-09-18 21:41] kauffj commented on #902
Feel free to consolidate tickets.

[2017-09-18 21:46] tzarebczan commented on #893
Jeremy noticed this also occurs right when you call claim_list_mine after creating the channel:
https://github.com/lbryio/lbry/issues/902

[2017-09-18 21:47] tzarebczan commented on #902
Will close this one and track under 893.

[2017-09-18 21:47] #902 closed

[2017-09-19 13:55] tzarebczan opened #903 "Reflector connection failed on daemon startup"
## The Issue
When starting up LBRY with lots of blobs, things seem to go well until you get a bunch of reflector connection errors. We have seen this happen on content servers previously, wanted to log it officially as an issue.  I do have some file startup errors / blob errors early on, not sure if that's related.

Log is attached below.

### Steps to reproduce
1. Find LBRY server with lots of bl

[2017-09-19 14:06] kauffj opened #904 "transaction_list is very slow"
@kauffj commented on [Tue Sep 19 2017](https://github.com/lbryio/lbry-app/issues/589)

Especially with `include_tip_info=true`.

[2017-09-19 16:28] tzarebczan opened #905 "v16: KeyError: 0 in get_head_blob_hash for old failed downloads"
## The Issue
Noticed this issue while starting up the latest version of the daemon. I have an older install, so it looks like it tries to start some previously uncomplete/failed downloads while iterating through my claims. This could be part of a bigger issue, I'll see if I can get it to reproduce in other ways.  Couple examples where this happens are in the logs at the end.

### Steps to reproduc

[2017-09-19 19:31] tzarebczan commented on #804
This is still occurring in the latest version (0.16):
claim list mine:
[code]
]

[2017-09-20 13:31] lyoshenka opened #907 "AttributeError: 'NoneType' object has no attribute 'get_balance'"
daemon version v0.16.0

Cloudflare DNS was struggling this morning, so this could be related.

[code]

[2017-09-20 13:32] lyoshenka commented on #391
@tzarebczan does this still happen?

[2017-09-20 13:43] lyoshenka opened #908 "Daemon refuses to start if DNS cannot resolve lbry.io domain"
The error message says it cannot connect to the internet, but the truth is that it cannot connect to lbry.io because the DNS resolve failed. Internet connectivity check needs to be more robust.

[code]

[2017-09-20 15:08] lyoshenka opened #909 "Consider raising store expiration time"
We don't have that many hosts right now. Connecting to hosts that go offline is less of an issue than DHT entries expiring because some hosts have a lot of content. As long as DHT can intelligently remove hosts that don't respond, raising announce expiration to a week or more will help with availability from large stable hosts (e.g. reflector cluster).

[2017-09-20 18:35] temandroid opened #911 "Crash at start in Windows 10"
## The Issue
Can't start LBRY after first install/reinstall

### Steps to reproduce
1. Run LBRY
2. Daemon crashed...
3.

### Expected behaviour
On another PC working perfectly

### Actual behaviour
`C:\Program Files (x86)\LBRY\resources\app\dist>lbrynet-daemon.exe
Traceback (most recent call last):
  File "site-packages\PyInstaller\loader\rthooks\pyi_rth_twisted.py", line 23, in <module>
  File "c

[2017-09-20 18:38] tzarebczan commented on #911
We mention this issue on: https://lbry.io/faq/startup-troubleshooting

And have it logged here: https://github.com/lbryio/lbry/issues/794

We don't have a workaround for the scenario your case at this time. Can you tell me what your users directory is in c:\users\xxxx?

The only recommendation we can make is to create a separate Windows user without any special characters.

[2017-09-20 18:38] #911 closed

[2017-09-20 18:49] temandroid commented on #911
User folder in with cyryllic symbols, i think this is why i han an error... thank u

[2017-09-20 19:01] jackrobison commented on #904
https://github.com/lbryio/lbryum/pull/156

Fixed in 0.16.1

[2017-09-20 19:01] #904 closed

[2017-09-20 19:06] MSFTserver commented on #794
i think this file needs a looking at maybe at a function to get language encoding user has and set encoding to that?
https://github.com/lbryio/lbry/blob/cb45d7cf8a1c7a2e9df4409729609a905f0a376b/lbrynet/conf.py

[2017-09-20 19:13] MSFTserver commented on #794
[code]

[2017-09-21 00:30] mirgee commented on #901
It seems that this call should make stream type name claim which is required to contain 'source' in its metadata at several places. Can anyone please explain the difference between certificate and stream type name claims?

[2017-09-21 02:18] jackrobison commented on #907
Yes, this was the same issue as https://github.com/lbryio/lbry/issues/908

[2017-09-21 02:50] jackrobison commented on #901
@mirgee

https://github.com/lbryio/lbryschema/blob/master/docs/schema.md

https://github.com/lbryio/lbryschema/blob/master/docs/signing.md

[2017-09-21 18:23] chrishobcroft opened #914 "Incorrect Total LBC Balance Showing in LBC Browser on Ubuntu"
The balance in my LBC Browser on Ubuntu is showing the incorrect amount, based on the sum of my transaction history.

The browser shows that I have 8 LBC, but the transactions show a total of around 1278.

See attached for screenshot...

Understandably I'm confused about why it's not showing the full balance!

Incidentally, this occurred after restoring the wallet from another installation (LBRY o

[2017-09-21 18:32] tzarebczan commented on #914
@chrishobcroft sorry you are having trouble. Can you try this:
1) Close LBRY
2) Delete blockchain_headers from lbryum folder ( https://lbry.io/faq/lbry-directories)
3) Start LBRY again.

[2017-09-21 18:56] chrishobcroft commented on #914
Thanks @tzarebczan but the same behaviour persists :(

[2017-09-21 19:27] tzarebczan commented on #914
@chrishobcroft I reached out to you on Slack, maybe we can do a remote session to figure this out.

[2017-09-21 20:13] tzarebczan commented on #909
The re-announce time should be changed accordingly as well.

[2017-09-21 20:20] tzarebczan commented on #914
Chris used an older wallet backup which didn't have newly generated addresses.  He's attempting to generate new addresses with the hopes of recreating addresses that have the remainder of his balance.

Will try to reproduce the same on my side.

[2017-09-22 07:20] mirgee commented on #877
This doesn't seem to be an issue anymore. On
{
  "build": "dev",
  "installation_id": "6QapiUUrkTfiks6jiQnecv8pXixxm1LncbgGB32x6nXpQ1aipjikPboVJM4UxsXruR",
  "lbrynet_version": "0.16.1-4-g4a04018",
  "lbryschema_version": "0.0.11rc1",
  "lbryum_version": "3.1.7rc5",
  "os_release": "4.10.0-35-generic",
  "os_system": "Linux",
  "platform": "Linux-4.10.0-35-generic-x86_64-with-Ubuntu-16.04-xenial",

[2017-09-22 08:08] mirgee commented on #284
Unable to reproduce, can anyone verify this is still an issue?

[2017-09-22 08:15] mirgee commented on #377
What are steps to reproduce?

[2017-09-22 08:36] mirgee commented on #391
Any more details about the issue? Not sure how to reproduce

[2017-09-22 12:11] Makgolli commented on #877
It is still an issue in version 16.0.

The app tries to create the download directory specified in the settings.

If there is no write permission in that directory for the current user,
then the Daemon shuts down.

On 22 September 2017 at 08:20, Miroslav Kovar <notifications@github.com>
wrote:

[2017-09-22 13:15] #914 closed

[2017-09-22 13:33] mirgee opened #916 "Failed to process transaction_list"
## The Issue
Calling transaction_list or clicking on wallet ballance in the app results in the following error:

2017-09-22 15:13:36,791 ERROR    lbrynet.daemon.auth.server:398: Failed to process transaction_list: 'tiphistory'
Traceback (most recent call last):
  File "/home/miroslav/Source/lbry/lbry-venv/local/lib/python2.7/site-packages/twisted/internet/defer.py", line 150, in maybeDeferred

[2017-09-22 13:40] tzarebczan commented on #916
Is this happening in the v16 release or just on the source?

[2017-09-22 13:49] mirgee commented on #916
@tzarebczan This does not happen on v16 release.

[2017-09-22 14:05] #916 closed

[2017-09-22 14:28] tzarebczan opened #917 ""Closing the connection" spam"
## The Issue
Noticed this sometime on V16 daemon - I'm not doing anything in particular besides downloading home page content and sharing it.  At one point this was also happening between some local PCs on my network.  Doesn't seem like this should be happening, but I could be wrong. Posting part of the log below, let me know if you need more.

### Expected behaviour
Not try to close the same conn

[2017-09-22 16:03] tzarebczan commented on #391
It's a really old issue and claim - probably the user never opened their ports to correctly share the file.  I'm closing it.

[2017-09-22 16:03] #391 closed

[2017-09-22 16:05] tzarebczan commented on #377
@mirgee  - I think once you download more content from LBRY, this starts to creep on you when you restart the daemon - it tries to find blobs to share, but can't open them for whatever reason. It could be old bad downloads/uploads, could be corrupted blob files, etc.

Maybe a way to reproduce it would be to forcefully corrupt some blob files in  blobs directory withint lbrynet folder ( https://lbr

[2017-09-22 16:06] tzarebczan commented on #284
I haven't seen this one creep up lately and it would most likely be related to some local network issues with ports/UPNP.  Not sure how to reproduce.

[2017-09-22 16:08] tzarebczan commented on #877
@mirgee I think you were referencing a rebuild of a particular LBRY download that's deleted, where-as this issue pertains to the entire downloads directory. So let's say the whole directory moved or is inaccessible (shared drive that's disconnected)

[2017-09-22 16:08] tzarebczan commented on #877
@alexliebowitz - were you going to take a stab at this?

[2017-09-22 16:21] mirgee commented on #877
@tzarebczan The app indeed tries to recreate the whole directory; when it has no permissions (or is inaccessible) the daemon crashes:

2017-09-22 18:18:58,200 INFO     lbrynet.daemon.Daemon:471: Loading databases
2017-09-22 18:18:58,205 ERROR    lbrynet.daemon.DaemonControl:100: Failed to start lbrynet-daemon
Traceback (most recent call last):
  File "site-packages/lbrynet/daemon/DaemonControl.py"

[2017-09-22 20:29] tzarebczan opened #918 "Extract and add length attribute to uploaded media"
## The Issue
Related to https://github.com/lbryio/lbry-app/issues/597

I'm sure we will have more of these types of requests to add content metadata once we get a functional search working.  This particular one is to add a length attribute which is automatically determined from content metadata. This would apply to both video and audio content.

We would need to find a consistent way to extract th

[2017-09-22 20:45] tzarebczan opened #919 "Add type to supports data"
## The Issue
Currently, when you list claim information (claim_list_mine/claim_show/resolve/claim_list) that shows supports, you can't tell if it's a classical support or a tip.  We should add a type attribute to each support. If someone sends a tip to themselves, it's treated the same way as a classical support, so not sure which way it needs to be captured.

This will be an important field to re

[2017-09-22 21:04] MSFTserver opened #920 "Publish deposit to low no error ouput"
## The Issue
Publish page doesnt throw error if deposit amount to low just selects the deposit div but doesnt tell em anything lowest possible in app deposit is now .01
### Steps to reproduce
1. go to publish page
2. publish something but put deposit as .001
3. pressing publish just highlights the div but no error for to low

### Expected behaviour

to tell me my deposit amount is to low, or incre

[2017-09-22 21:09] MSFTserver commented on #920
haha wrong area im an idiot sometimes

[2017-09-22 21:09] #920 closed

[2017-09-22 21:09] tzarebczan commented on #920
Similar to https://github.com/lbryio/lbry-app/issues/604 - this was inadvertently introduced in the current version. Alerting the user about minimums would be a must.  Probably relies on this discussion too: https://github.com/lbryio/lbry/issues/768

Also relevant: https://github.com/lbryio/lbry-app/issues/214

[2017-09-22 21:23] tzarebczan opened #921 "Add "Release Date" attribute to content"
## The Issue
The need to have a release date tag arose during LBRY YouTube sync discussions with @reillysmith .  Oftentimes users will want the need to display videos on a channel according to their release date. Right now, all videos are sorted by publish date, which equates to the block they were published or updated on - this may not always be the desired sort order.

The requirement would be t

[2017-09-22 21:28] MSFTserver commented on #768
app now only allows a minimum of .01 lbc deposit upon publishing it doesnt tell me i need to put a higher deposit just highlights the div

[2017-09-22 22:22] tzarebczan commented on #748
This is a pretty big UX issue at the moment, maybe we can bump the priority @kauffj

We would need @kaykurokawa 's fixes from #747 which would allow the daemon to realize that it can use the original deposit amount during an update. So really only any difference in LBC (in case they are increasing the bid) needs to be in your balance (plus tx fees obviously).

[2017-09-24 13:57] tzarebczan commented on #917
Here's another one - this IP shows closing connection out of nowhere (meaning I didn't connect to that IP recently based on my logs) and it goes on for hours.

[code]

[2017-09-24 14:12] tzarebczan commented on #794
Come across 2 users who also had this issue, but it prevented from downloading/streaming content because it affected their Downloads directory - somehow the app started fine though.

The error:
1. 'utf8' codec can't decode byte 0xc2 in position 9: invalid continuation byte

[2017-09-25 16:26] kauffj commented on #921
This issue was moved to lbryio/lbryschema#19

[2017-09-25 16:26] #921 closed

[2017-09-26 12:06] lyoshenka opened #923 "`ConnectBindError: Too many open files` on daemon startup"
`ERROR    lbrynet.reflector.client.client:365: Reflector connection failed: [Failure instance: Traceback (failure with no frames): <class 'twisted.internet.error.ConnectBindError'>: Couldn't bind: 24: Too many open files.`

Kay says its due to reflector/client.py not closing blob files once it finishes sending it

[2017-09-26 12:22] #734 closed

[2017-09-26 12:22] lyoshenka commented on #734
Merged in https://github.com/lbryio/lbry/pull/898

[2017-09-26 13:12] lyoshenka commented on #626
Still happens. Here's the new error message:

[code]

[2017-09-26 13:15] lyoshenka commented on #284
Closing this. Reopen if you see it again.

[2017-09-26 13:15] #284 closed

[2017-09-26 13:18] lyoshenka commented on #552
I'm seeing the same error when publishing multiple files using my version of youtube sync

[2017-09-26 13:20] lyoshenka commented on #907
Looks like the same error as the latest comment in #626

[2017-09-26 13:26] lyoshenka commented on #876
Issue moved to [lbryio/lbry-app #626](https://github.com/lbryio/lbry-app/issues/626) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-26 13:30] nikooo777 commented on #552
you'll have to generate wallets using the script jack provided me with.

I can brief you later tonight my time if you're available (that'd be in 4 hours)

[2017-09-26 14:03] #887 closed

[2017-09-26 18:48] kauffj commented on #876
This is likely an issue at the daemon level as well. It needs to provide an API that supports paging.

[2017-09-26 20:57] jackrobison commented on #771
fixed in https://github.com/lbryio/lbryum/pull/157

[2017-09-26 20:57] #771 closed

[2017-09-28 02:06] KamilPiekutowski commented on #918
How does one work on these issues?
What do I do if I want to help?

[2017-09-28 02:09] MSFTserver commented on #918
@KamilPiekutowski just fork this repo or work directly from it by editing files and submitting Pull Requests to the repo

[2017-09-28 04:46] KamilPiekutowski commented on #918
I did that. And I cloned the repo. I followed instructions and successfully built the app. I am a little confused what length attribute is missing.

[2017-09-28 04:54] MSFTserver commented on #918
i think they are referring to video length as user want to see the videos length before downloading and storing this in claim metadata would allow seeing it before downloading

[2017-09-28 05:22] KamilPiekutowski commented on #918
Ok I will look into that tomorrow.

[2017-09-28 12:22] tzarebczan commented on #918
So the goal would be to extract the video length while it is processed during upload and store in a metadata field (there's a separate ticket for this in the lbryschema repo)

[2017-09-28 12:52] kauffj commented on #918
This is a lbryschema issue only, AFAIK

On Thu, Sep 28, 2017 at 8:22 AM, Thomas Zarebczan <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-09-28 15:05] stevenmos opened #926 "LBRY forgets specified destination filenames when daemon restarted"
## The Issue
If a file has been downloaded with a specified filename, after stopping and starting the daemon lbrynet-cli file_list shows the "suggested filename" in the "filename", and "download path" fields.  The name of the actual file in the download directory is unchanged.

### Steps to reproduce
1.  Download a file and specify a filename:
      lbrynet-cli get [name] --file_name="myname"
2.

[2017-09-28 16:32] akinwale opened #927 "Move tests package into lbrynet package"
At the moment, the `tests` package excluded in `setup.py` which makes it impossible to run the tests making use of the Twisted test runner on Android. The `tests` package needs to be moved into `lbrynet` so that it can be imported for testing on Android.

[2017-09-28 17:55] akinwale commented on #927
Successfully moved, but need to fix the numerous pylint errors before creating a pull request.

[2017-09-28 19:55] tzarebczan commented on #926
Can confirm this is occurring:
[code]

After restart:

[code]

[2017-09-28 19:59] tzarebczan commented on #926
@stevenmos thanks for the report, please check out https://lbry.io/faq/tips

[2017-09-28 20:16] stevenmos commented on #926
Thanks.  I found a workaround for myself but I didn't think it should work like that.

[2017-09-28 20:21] tzarebczan commented on #926
Want to try looking into it and submitting a pr here?

[2017-09-28 20:28] stevenmos commented on #926
I didn't do anything sophisticated.  In my script I already force the downloaded file name to come from the "name" field, rather than the "suggested_file_name".
I just made sure that when I list the files I still use "name" rather than "file_name", which changes.

[2017-09-29 16:45] #923 closed

[2017-09-29 19:38] kauffj opened #929 "Drop disable_max_key_fee"
If `max_key_fee` is set, I have a max key fee. If it's not, I don't.

There's no need to use two values for this.

[2017-09-29 19:49] kauffj opened #930 "Improper CLI parsing of settings_set"
Calling `./lbrynet-cli settings_set max_key_fee="zzz"` instead set my `download_directory` to `max_key_fee="zzz"`

[code]

[2017-09-29 19:49] kauffj commented on #930
(I understand this is the incorrect syntax and that it interpreted my first argument as a single value rather than a named parameter.)

[2017-09-29 20:06] kauffj commented on #900
Settings should be getting validated at time of submit. I suspect they are not.

[2017-10-02 16:29] kauffj commented on #919
It would be excellent if `type` could be returned in a way similar to here:

https://github.com/lbryio/lbry-app/blob/master/ui/js/selectors/wallet.js#L15

[2017-10-02 19:45] lyoshenka commented on #552
Generating wallets solves a different issue. The problem here probably has to do with the coinchooser not being concurrent-safe. Here's what happens when I try to publish two items simultaneously. Notice how coinchooser chooses the same address to use for both publishes.

[code]

[2017-10-02 21:41] tzarebczan commented on #919
See below for an example, you can't tell which is a support vs which is a tip - think this would be good information to have, especially for tracking tips and explorer related functions.
[code]

[2017-10-03 12:48] lyoshenka commented on #623
New error says
[code]

[2017-10-03 12:48] lyoshenka commented on #623
Also, documentation tells me this should be possible:
[code]

`lbry://@alex` is a uri

[2017-10-03 12:51] lyoshenka commented on #683
@jackrobison is this fixed? or will this be fixed by https://github.com/lbryio/lbryum/issues/109 ?

[2017-10-04 19:28] tzarebczan opened #934 "LBRY daemon and DHT network status checks"
## The Issue
This is the daemon side issue for: https://github.com/lbryio/lbry-app/issues/603 - the discussion was to have these checks performed on the daemon and added to the [lbrynet status](https://lbryio.github.io/lbry/cli/#status) results.

As a LBRY user, I want to make sure that my PC and network configuration allows for the sharing and consuming content. We should have some type of indica

[2017-10-09 18:27] kaykurokawa commented on #927
closing because fix has been merged https://github.com/lbryio/lbry/commit/33a95abeacf8e22e58610a862b57c62aec518c0c

[2017-10-09 18:27] #927 closed

[2017-10-10 06:26] alexliebowitz commented on #855
@kauffj: Well, technically most of the "clean" error responses from the daemon are still exceptions. You just include a human friendly message when you throw the error and it gets passed along in the `message` field in the response. So to fix the daemon side of this, I would think that we just need to add a message here: https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L1735 Alt

[2017-10-10 12:53] lyoshenka commented on #934
Both ports are necessary for publishing and for download. Reflector makes it so upload works without 4444, but we should not rely on that.

[2017-10-10 13:44] tzarebczan opened #941 "Add support to abandon multiple claims/txid+nouts at once"
## The Issue
The [claim abandon](https://lbryio.github.io/lbry/cli/#claim_abandon) command only takes a single claim or txid/nout currently.  Going forward, it may be beneficial in some cases to abandon multiple claims in a single transaction.  One such use case would be where a user is deleting their channel and all associated claims. This ticket is to add batch support to abandoning claims or ch

[2017-10-10 13:58] tzarebczan opened #942 "Re-visit get_availability command functionality / accuracy"
## The Issue
We used to utilize the [get availability](https://lbryio.github.io/lbry/cli/#get_availability) call on claim pages before allowing users to download content. We noticed that the results were very inconsistent and it was removed from the app.  This could have been due to the DHT/content availability issues, so we should revisit this function to see if it needs any changes and then dete

[2017-10-10 14:10] billbitt opened #943 "Updating channel claim zeroes the effective_amount"
## The Issue
I tried to update my channel's claim amount.  I made a claim of 10, and it resulted in the effective_amount going to 0.

### Steps to reproduce
1. use curl to create a channel claim
2. use curl to create another claim to that channel.
see below:
[code]

### Expected behaviour
The effective amount should be updated.

### Actual behaviour
the effective amount became 0.0

## System Confi

[2017-10-10 14:18] kauffj commented on #942
I'd advise a PyDoc change here in the interim, to indicate this function is experimental or not supported.

[2017-10-10 14:24] tzarebczan commented on #943
I think the effective amount takes 6 confirmations to show correctly - can you check it again in a couple? Same thing happens on claims or when adding supports.

[2017-10-10 14:28] billbitt commented on #943
I made the update yesterday and it still had not updated this morning.  by contrast, the update I made to @lbrycom worked fine and the effective_amount was increased after only a couple confirmations:
[code]

[2017-10-10 14:34] tzarebczan commented on #943
You are right. Let's see if https://lbryio.github.io/lbry/cli/#claim_new_support works now and I'll try to reproduce the issue. I can see the tx has the 10 LBC, so something is definitely wonky.

[2017-10-10 14:39] billbitt commented on #943
cool.  here is my claim_new_spport tx...
[code]

[2017-10-10 14:43] tzarebczan commented on #900
There are some old installs with an incorrect key fee setting which causes purchases to fail. This validation process should take into account that scenario as well.

The setting is:
max_key_fee:
  USD: {address: '', amount: 25.0}

[2017-10-10 15:25] tzarebczan commented on #943
Resolve still showing 0 after adding your support. Claim_list shows 5.1 effective amount haha (taking original claim amount + supports).
[code]

[2017-10-10 15:54] tzarebczan commented on #943
Another issue with effective amount when resolving a claim under that channel - looks like its showing the original claim amount and not the effective amount.
{
  "lbry://Iwilltauntyouasecondtime#e859fb441c9fc0d77d8d641b91e369cc0789e980": {
    "certificate": {
      "address": "bTUr1eijJFNqYT4WsJMsdXLrYTTPLHvzXi",
      "amount": 0.1,
      "claim_id": "3fda836a92faaceedfe398225fb9b2ee2ed1f01a",

[2017-10-10 17:00] tzarebczan commented on #943
So the problem is that the original claim owner on @lbry has held it for a while, so there is a waiting period for you to overtake it.  Current content bot shows: lbry://@lbry
Takes effect on approx. *October 16th at 13:04 UTC* (block 256845)
Block 253685 • Claim ID 3fda836a92faaceedfe398225fb9b2ee2ed1f01a

I think we should show the effective amount immediately to avoid confusion and help with cl

[2017-10-10 21:42] tzarebczan commented on #943
Bill - thanks for exposing this. I knew that it happened, but didn't realize it was a bug that it showed 0.  Opened https://github.com/lbryio/lbryum/issues/158 to fix the underlying issue

[2017-10-10 21:42] #943 closed

[2017-10-11 02:57] tzarebczan opened #944 "file_list not updated after claim update"
## The Issue
This issue stems from https://github.com/lbryio/lbry-app/issues/600

After a claim is edited, the updated file information does not make it into file list.  So once the transaction is confirmed, the app can't find the file based on the new outpoint since the txid has been updated.

Need to do some research about how/when the file information is updated in file_list, but this looks lik

[2017-10-11 17:48] #917 closed

[2017-10-11 20:05] tzarebczan opened #946 "Transaction List - categorize and fix amount for abandon transactions"
@tzarebczan commented on [Fri Sep 22 2017](https://github.com/lbryio/lbry-app/issues/608)

## The Issue
Currently, a claim or channel abandoning transaction shows as a "Spend" and only displays the fee (twice).  It should be possible to determine when a transaction is an abandon and show the reclaimed LBC (positive) as the Amount.  The claim name should also be shown (even though it's abandoned -

[2017-10-11 20:08] tzarebczan commented on #946
per @hackrush01, this would require some work on the daemon side. We need the correct amount on the tx list along with some indication that it's an abandon along with claim information.

[2017-10-11 20:31] tzarebczan opened #947 "Transaction List - Claim update amounts incorrect"
@tzarebczan commented on [Sun Sep 24 2017](https://github.com/lbryio/lbry-app/issues/611)

## The Issue
Currently, an update claim transaction shows the bid amount as the amount of the transaction. Since an update tx takes the previous bid input, funds are moved from the previous claim to the new one, so they aren't really spent during a transaction where the bid is not changed. In this case, it w

[2017-10-12 17:59] jackrobison opened #950 "ValueError: There is already a blob download request active"
With 0.17.0

[code]

[2017-10-12 18:02] jackrobison commented on #950
It appears there is a related uncaught exception:

[code]

[2017-10-12 21:30] tzarebczan opened #951 "Cannot stream/download content that was updated (if it was previously downloaded)"
## The Issue
Today I noticed I'm having trouble streaming lbry://one - the app didn't recognize it as a previously downloaded file, but I know I had it in the past and it shows up in my Downloads section. If I try to stream it, it also fails - just get's stuck on the loading icon after geting a completed notification and the daemon shows - `lbrynet.daemon.Daemon:1571: Already have a file for one`.

[2017-10-13 09:00] liuxun1977 opened #952 "What is the error and how to solve it?"
2017-10-13 16:56:50,320 INFO     lbrynet.daemon.DaemonControl:70: Starting lbrynet-daemon from command line
2017-10-13 16:56:50,351 INFO     lbrynet.core.utils:108: Failed to connect to lbry.io:80. Maybe the internet connection is not working
Traceback (most recent call last):
  File "/home/lbccoin/lbry/lbrynet/core/utils.py", line 101, in check_connection
    host = socket.gethostbyname(server)
g

[2017-10-13 11:44] tzarebczan commented on #952
Are you behind a firewall? Check if anything is any of the ports listed in https://lbry.io/faq/startup-troubleshooting

Also, please use our slack channel at slack.lbry.io for these types of issues in the future.

[2017-10-14 07:11] KamilPiekutowski commented on #832
I have changed floating point to be represented with string here:
`https://github.com/lbryio/lbryschema/pull/26`

[2017-10-14 07:27] KamilPiekutowski commented on #828
When you say valid, do you mean if it exists or if the format is valid?

[2017-10-14 13:26] tzarebczan commented on #828
This was fixed in https://github.com/lbryio/lbry-app/pull/522

There's another ticket for general input validations somewhere...

[2017-10-14 13:26] #828 closed

[2017-10-14 13:28] tzarebczan commented on #832
I believe there was already some work on this, was just never merged/finished. https://github.com/lbryio/lbry/pull/835

[2017-10-14 15:47] KamilPiekutowski commented on #832
@tzarebczan You are right and @kaykurokawa requested a change in the lbryschema. I just wanted to point out that it is done, but I am not sure if it works.

[2017-10-15 13:03] kauffj commented on #828
@tzarebczan this ticket was for a fix daemon side, but it appears that it has been fixed there as well:

[code]

[2017-10-15 13:10] kauffj opened #953 "Allow multiple claims to the same name"
Currently, the daemon treats any publish to an existing name as an edit. Instead, the daemon should support multiple publishes to the same claim name.

spee.ch is severely hindered by this limitation, as it means each URL can only be used once.

[2017-10-15 13:11] kauffj commented on #953
(I also thought this was already filed, but could not find it)

[2017-10-16 13:19] tzarebczan commented on #952
@liuxun1977 I'm going to close this, please follow up at help@lbry.io

[2017-10-16 13:19] #952 closed

[2017-10-16 14:27] lyoshenka opened #954 "Channel import/export"
## Story

As a content creator who had their content uploaded by LBRY, I want to get access to my channel in an easy way. I almost certainly don't want to republish/rekey the hundreds of videos that were published for me.

## Proposed Solution

Add two RPC calls: `channel_export` and `channel_import`:

- `channel_export` takes a channel name. it creates a single file that contains everything you n

[2017-10-16 16:53] kauffj commented on #954
If this did not move any credits, but simply gave authorization to publish under an identity, could this be reduced to a single value?

[2017-10-16 16:57] tzarebczan commented on #954
Also, depending on how the content was published (to a single address or multiple different addresses), those addresses would need to be available in the wallet for the user to see/edit them in their published area. Giving authorization is only part of the problem... I'm sure they want to see the published items as well.

[2017-10-16 17:14] kauffj commented on #954
Good point. But if we imagine multiple channels being used inside of the same wallet, is it even possible to cleanly separate these via an export without also issuing blockchain transactions?

[2017-10-16 17:30] tzarebczan opened #955 ""Invalid or missing token" dht related error"
## The Issue
Not sure why its happening but I've seen this on my logs and on srv25. Looks like its only happening to a single IP - 45.32.149.146. It does happen repeatedly in my logs and at different intervals.

[code]

srv25:
[code]

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App vers

[2017-10-16 17:53] tzarebczan opened #956 "Speed up claim resolution"
## The Issue
I know we've had some discussions on how to speed up the claim resolution process and now seems like a good time to tackle this since implementing multi-resolve.  With multi-resolve, the claim resolutions on the home page are batched, so when someone completely refreshes the cache or runs LBRY for the first time, it may look like nothing is happening for an extended period of time bef

[2017-10-16 18:33] lyoshenka commented on #954
What do you mean by "could this be reduced to a single value"?

Good point about the content. I believe that's gonna be part of importing the private key for the addresses involved. When you import the key, its like you made the transactions, and therefore the content should show up as if you published it.

If a single address was used to publish multiple channels, then you're right that we would

[2017-10-17 13:16] lyoshenka opened #958 "Add "canonical_url" as a property of a claim"
_Canonical URL_ is defined as the _shortest possible permanent URL that includes the channel name and claim name_.

A canonical URL is calculated as follows:

- If a claim is published to a channel, include the channel name.
- If a channel name is included, include the shortest possible claim id necessary to differentiate it uniquely. Partial claim ID matches are always resolved in a favor of the

[2017-10-17 13:28] lyoshenka commented on #955
@jackrobison says this is probably related to old clients (from before we fixed the lbry id issue)

[2017-10-17 13:28] #955 closed

[2017-10-17 13:42] lyoshenka opened #959 "Measure DHT churn, and whether it affects availability"
We have a theory that node IDs are being evicted from DHT buckets too quickly, and this is causing content that should be available to become unavailable.

[2017-10-17 14:30] #852 closed

[2017-10-17 19:07] kauffj commented on #954
By reduced to a single value I meant that could we reduce all that is needed to transfer a channel down to a single key. If so, this would mean it can be entered via a UI rather than requiring moving files.

[2017-10-17 19:17] lyoshenka commented on #954
It may be possible, but it would be a long string.

On Tue, Oct 17, 2017 at 3:07 PM, Jeremy Kauffman <notifications@github.com>
wrote:

[2017-10-18 21:54] jackrobison commented on #954
`channel_export(<claim_id>)` could return the signing key as PEM encoded text, and `channel_import(<claim_id>, <private_key>)` could load it into the wallet.

To sign and make claims to the channel only the channel private key is needed, the channel claim does not have to be in the wallet.

[2017-10-20 19:03] kaykurokawa commented on #944
The correct behavior of file_list should be that it is never affected by any claim state (updating and abandons should have zero effect on what file_list produces). Files are just files, and they can and do exist without being attached to a claim (i.e., when reflector obtains it from clients)

If you need to look for a specific file attached to a claim. You should look up the claim's sd_hash and t

[2017-10-20 19:18] tzarebczan commented on #944
I think I agree with what you are saying, as that's not what is happening now. We do need to take into account the scenarios where a claim may receive an updated source file - how would that look like to a user who already had downloaded content from that claim? Or maybe we need to force a new claim Id if the content is updated, dunno.

But the behavior of file_list is definitely breaking core fun

[2017-10-20 19:37] kaykurokawa commented on #944
You have to use "resolve" in order to know if a name has been updated.

You "resolve" the claim, and check if you have the source file by using "file_list" with sd hash.

I think the app is just using the "name" field in the file_list to check if it already has the file for a name. It needs to stop doing that, because that's wrong.

[2017-10-23 07:25] rkrp commented on #908
I would like to take this up! Would appreciate any pointers.

[2017-10-23 17:28] tzarebczan commented on #903
This startup timeout issue was fixed by batching through reflections.

[2017-10-23 17:28] #903 closed

[2017-10-23 18:01] kaykurokawa commented on #951
https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L1564
Is checking if it already has the file by looking up the file by claim ID.
This is wrong, as updates preserve claim ID and could change the stream.

[2017-10-23 18:44] tzarebczan commented on #951
I'll rename this issue to be more generic related to the download / file list issues.

[2017-10-23 19:44] kauffj commented on #951
When a claim is updated but the claim id does not change, this is the publisher indicating that it is the same content that was there previously. Therefore the data should be re-downloaded, but there should be no subsequent charge for the download.

An update without a claim id change should be the equivalent of a fixing a typo (or, if you stretch it, making Greedo shoot first).

Right now more su

[2017-10-23 20:06] tzarebczan commented on #951
The main problem right now is that any edit to the claim changes the outpoint (since its a new tx), so we have these various downstream issues on the download and publishing side.  I agree that a new claim ID should be generated in certain instances -  sounds difficult to do automatically so will need to be a clearly explained user option.

Would the re-download functionality be an app side issue

[2017-10-23 22:18] tzarebczan opened #964 "Enhance blob_announce to use head blob only based on config setting"
## The Issue
Currently, clients are configured with the head blob announce setting which is used during automated announcements.  The blob_announce command was not updated to utilize this setting, which is especially important if using stream_hash / sd_hash. It should default to the client setting and possibly allow a -headblobonly (Y-default/N) parameter.

## Screenshots

[2017-10-24 15:59] tzarebczan opened #967 "DHT error : Failed to contact"
## The Issue
Discussed this with @jackrobison, he said he would look at it this morning and is aware of the issue.

[code]

## System Configuration

- LBRY Daemon version: 0.17.0RC1
- LBRY App version: 0.17.0
- LBRY Installation ID:
- Operating system: Windows

## Anything Else

## Screenshots

[2017-10-25 16:29] tzarebczan opened #970 "peer_list inconsistent results"
## The Issue
We've noticed some peer_list inconsistencies in the past so I wanted to open an issue to track progress.  Earlier this morning I was downloading lbry://loose-cannons-episode2#460b7154ab504f73cd449257dcba703320bcf260 and it looked like it was only downloading from 1 peer (71.198.137.230) and thus going slowly. Ran some peer lists on blob 0 and these were the results.

First attempted w

[2017-10-25 18:20] ordex opened #971 "Network connectivity broken on dual-stack hosts"
## The Issue
On a dual-stack host lbrynet-daemon may pick up the local IPv6 as address to listen on. When this happens it will try to use upnp to create a mapping between the external IPv4 and the internal IPv6. Obviously this can't work. The result is that lbrynet-daemon won't be able to connect to any other peer.

When it happens, it is possible to see something similar in the console log:

Subs

[2017-10-26 02:42] jackrobison commented on #967
fixed in https://github.com/lbryio/lbry/commit/0b771c16ba058d3919b2bac482f4d725473a72fa

[2017-10-26 02:42] #967 closed

[2017-10-26 14:58] tzarebczan commented on #908
@rkrp looks like we already have a PR for this, but it wasn't merged yet.

[2017-10-28 02:38] KamilPiekutowski commented on #919
I can work on it if no one started it.

[2017-10-30 15:22] ordex opened #974 "Don't store private IPs in the DHT"
IPs belonging to private classes should not be stored in the DHT as they won't be usable by other peers on the Internet.

Private classes are:
- 127.0.0.0/8
- 10.0.0.0/8
- 172.16.0.0/12
- 192.168.0.0/16

A warning informing the user about this misbehaviour should be printed if the node tries to store any of those IPs.

[2017-10-31 03:48] ordex opened #977 "store RPC call should save the external IP instead of the packet sender IP"
When receiving a `store` RCP call, a node currently uses the datagram sender IP address to compute the data to append to the peer list for the given hash.
This means that if a peer receives a `store` from another node in the same LAN, it will save the LAN IP in the DHT. This is not correct as this IP won't be usable by other nodes in the DHT that are not in the same LAN.

A node handling a `store`

[2017-10-31 03:48] ordex commented on #977
This issue is related to #974 as this is the logic for storing IPs in the DHT.

[2017-10-31 11:00] #971 closed

[2017-10-31 11:34] lyoshenka commented on #970
I believe some of @jackrobison 's recent work will take care of this

[2017-10-31 13:24] lyoshenka commented on #622
Jack says this is fixed

[2017-10-31 13:24] #622 closed

[2017-10-31 13:49] scarint commented on #622
I have not been able to replicate the situation in the original post; either enough people have what I shared so it doesn't use my bandwidth, or it is fixed, I cannot confirm one way or another. But I can say that LBRY doesn't use nearly as much bandwidth as it used to.

[2017-10-31 14:28] #959 closed

[2017-10-31 16:38] jackrobison commented on #908
Merged #912 [here](https://github.com/lbryio/lbry/commit/b9e03a7f134bcc1704052a525426da28550a92d3)

[2017-10-31 16:38] #908 closed

[2017-10-31 19:36] #892 closed

[2017-11-02 18:17] jackrobison opened #980 "publish() does not execute until after all streams have been resumed"
The spee.ch `lbrynet-daemon` instance starts up quickly and starts accepting `publish` calls as expected. However, they do not execute until all of the streams in the file manager have been resumed - this adds considerable delay to publishes made to spee.ch shortly after a restart.

[2017-11-02 18:28] MSFTserver commented on #980
also i uploaded to of the same images at different times to the same name during this process and after they bot they showed the same url, not sure if this will be an issue if 2 people try to post the same claim during this process with different images as mine were the same

[2017-11-02 19:21] kaykurokawa opened #981 "Do not associate claim information with files"
When calling API command file_list , various claim information is attached onto the file from the wallet

see Daemon._get_lbry_file_dict() : https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Daemon.py#L863

and ManagedEncryptedFileDownloader.load_file_attributes()
https://github.com/lbryio/lbry/blob/master/lbrynet/file_manager/EncryptedFileDownloader.py#L111

This is wrong, because the cla

[2017-11-02 19:33] tzarebczan opened #982 "Dynamic blob sizing?"
## The Issue
We should start thinking about a better way of splitting up blob files - dynamically and possibly based on file type (was thinking streamable videos would be handled differently if we ever think the in-app player would support seeking).  Currently, LBRY splits up all files into 2MB blobs.

One recent case that came up which prompted me to open this issue was the 1080p uploads of Cop C

[2017-11-02 20:17] kauffj commented on #981
:+1: from me. This will be relatively trivial to adjust app-side.

[2017-11-03 19:45] tzarebczan opened #984 "Cryptonator market feed throwing errors"
## The Issue
See below for error from cryptonator feed added recently:

[code]

## System Configuration

- LBRY Daemon version: 0.17.2rc7
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-11-03 22:14] stevenmos opened #985 "ValueError: invalid literal for int() with base 10: 'Could not determine IP'"
## The Issue
On attempting to download a file via the command line, I get the following error:

     Unhandled error in Deferred:
     2017-11-03 21:57:30,435 CRITICAL twisted:154: Unhandled error in Deferred:

     2017-11-03 21:57:30,435 CRITICAL twisted:154:
     Traceback (most recent call last):
       File "site-packages/twisted/internet/defer.py", line 651, in _runCallbacks
       File "sit

[2017-11-03 22:19] stevenmos opened #986 "Issue template comment still refers to slack, rather than discord"
## The Issue

The issue template comment still refers to slack, rather than discord:
[code]

c.f. https://github.com/lbryio/lbry/pull/978

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything E

[2017-11-03 22:51] #986 closed

[2017-11-03 22:51] lyoshenka commented on #986
:+1:

[2017-11-06 14:41] tzarebczan commented on #985
Thanks for logging this @stevenmos! I did mention this to the devs last week and they weren't sure why it was happening. I'm guessing its something to do with the OS you are running or do you have IPV6 possibly?

Please check out https://lbry.io/faq/tips

[2017-11-07 13:43] stevenmos commented on #985
Thank you.  I disable IPv6 to increase the security of the VPN I use.  I did, briefly, try lbry without it but there was no difference.

[2017-11-07 14:08] kauffj opened #991 "Issues catching up with blockchain and negative blocks behind"
When starting the app this morning, I noticed some weird behavior while downloading block headers, with blocks behind briefly flashing to `None`.

Daemon output:

[code]

When behind was briefly `None`, the `status` call returned a negative block height:
[code]

[2017-11-07 14:23] lyoshenka commented on #982
@tzarebczan good idea for the future, but we're not gonna be able to get to this for a while

[2017-11-07 19:19] tzarebczan commented on #947
Sounds like an app side change still needed based on the way it was implemented on the daemon. Reopening.

@hackrush01 is aware

[2017-11-07 19:22] #947 closed

[2017-11-09 02:01] tzarebczan commented on #786
Fixed by https://github.com/lbryio/lbry/pull/989

[2017-11-09 02:01] #786 closed

[2017-11-09 02:02] tzarebczan commented on #511
Fixed by https://github.com/lbryio/lbry/pull/987

[2017-11-09 02:02] #511 closed

[2017-11-09 02:30] kaykurokawa opened #992 "When using lbrynet as reflector host, stream are not added to file manager"
When using lbrynet as reflector, streams are immediately added to the stream_info_manager , but not the file_manager. If they are not added to the file manager, file list does not work so we can't know what streams are on the reflector host.

[2017-11-10 14:53] lyoshenka commented on #901
Fixed in https://github.com/lbryio/lbry/issues/913

[2017-11-10 14:53] #901 closed

[2017-11-10 15:47] kauffj opened #994 "No error for out of disk space"
_From @oakey22 on November 10, 2017 10:48_

Download a video and run out of disk space as it is downloading, there is no error to indicate you ran out of disk space.

this is on the 0.18.0 app.

_Copied from original issue: lbryio/lbry-app#727_

[2017-11-10 15:57] finer9 commented on #994
be nice to warn when close vs out

On Fri, Nov 10, 2017 at 10:48 AM, Jeremy Kauffman <notifications@github.com>
wrote:

--
Josh Finer
COO/LBRY

[2017-11-10 22:03] tzarebczan opened #995 "Timeout missing on downloads that start, but don't complete due to missing blobs"
## The Issue
Downloads that start streaming but cannot complete due to missing blobs (or possibly other reasons?) never produce a timeout.  This causes the app to continually keep checking for additonal data which bogs it down (separate issue).  Also, I'd consider this a failure, but it's not logged as such in our statistics.

One good example right now is:

lbry://cultural-appropriation-on-hallow

[2017-11-13 21:56] liamcardenas opened #996 "Content shown as free at overtaken claim, users charged for downloads"
@tzarebczan commented on [Thu Nov 09 2017](https://github.com/lbryio/lbry-app/issues/723)

## The Issue
When content is overtaken at a vanity URL that was previously cached, the new claim information is shown but the content price is not updated. There's a possibility that the content price is now 10 LBC but the app will still show 0. When the content is streamed or downloaded, the user is charged

[2017-11-13 22:21] jackrobison commented on #909
The `DHTHashAnnouncer.ANNOUNCE_CHECK_INTERVAL` and `DHTHashAnnouncer.CONCURRENT_ANNOUNCERS` constants also need to be updated for https://github.com/lbryio/lbry/pull/961

[2017-11-14 20:30] Serkan-devel opened #997 "Rewrite lbry in Rust"
Rewriting in Rust would give lbry the speed of C/C++ combined with the safety of an expressive type system like Java.

[2017-11-15 13:49] lyoshenka commented on #997
@Serkan-devel are you interested in tackling this? Type safety would be great to have, and we've been thinking about it too. We would prefer Go instead of Rust, but we're open-minded. This is not a priority for us for the foreseeable future, but if you do it, we're happy to pay a bounty for the work.

[2017-11-17 13:43] kaykurokawa opened #1001 "Batch claim update command for soon to expire claim"
We will create a batch claim update API command for soon to expire claims ,

Something like this:

Update a claim without changing the content of the claim value , or creating a stream. (Might get tricky if certificates are involved .. ).

update( days_till_expiration_threshold  )

days_till_expiration_threshold - only update claims that are expiring within X number of days (assuming 2.5 min per b

[2017-11-17 14:59] kaykurokawa commented on #1001
Proposed API function by jack/jeremy

claim_renew(claim_ids,  expiration_threshold_days)

claim_ids - a list or a single claim id to renew, if None, renew all claims
expiration_threshold_days - only update claims that are within this many days of expiring.

Returns:
(list) List of dictionary containing result of the updated claims
{
'name': (str) name of claim (note that this field is not returned

[2017-11-17 15:04] kauffj commented on #1001
My original proposal was `claim_renew(claim_ids)` and `claim_renew_all(expiration_threshold_date)` (or `claim_renew_all(height_delta)`.

If `claim_renew` has a dual signature as proposed above (which I'm ambivalent about), it ought to be considered what the interaction is when both values are provided, particularly when a claim_id is provided that is not within the specified date window.

[2017-11-17 16:42] kaykurokawa opened #1602 "Have to make sure that python-protobuf and protobuf versions are the same"
python-protobuf and protobuf versions must be the same ( https://github.com/google/protobuf/tree/master/python )

Following the lbryschema instructions on Ubuntu can cause you to have protobuf version 2.4 and python-protobuf 3.2 (from the requrirements.txt) .

I'm seeing these exceptions on lbry-in-a-box testing , which may or may not be related to this problem:

  File "/code/lbryum-server/lbryum

[2017-11-17 21:45] tzarebczan opened #1002 "SOCKS5 proxy support"
@aayanl commented on [Fri Nov 17 2017](https://github.com/lbryio/lbry-app/issues/757)

I know a lot of people who would appreciate this option and using a proxy system wide is less than ideal

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without err

[2017-11-17 21:51] tzarebczan commented on #1002
@aayanl - moved this over to the daemon side as most of the work would be on the protocol level. Since LBRY is a P2P network, some of the port/connectivity related functions, this change won't be trivial and will most likely end up on the lower spectrum of the priority list for the dev team. I see other torrent applications have similar settings, so it should be doable - want to take a shot yourse

[2017-11-18 01:30] aayanl commented on #1002
sure

[2017-11-21 04:05] tzarebczan commented on #855
@alexliebowitz any progress on this? We want to get the app side patched up to fix this asap... It's an ugly error that's causing confusion.

[2017-11-21 04:18] tzarebczan commented on #748
@lyoshenka anyway we can bump this up the queue? Sounds like it would need some lbryum changes too.

[2017-11-21 04:27] tzarebczan commented on #803
@lyoshenka with all the transaction list enhancements we've had, this is a glaring hole right now. Would be great if we can start tracking this info or figure out a lbryum solution. Please bump up in priorty if you agree.

[2017-11-21 05:03] tzarebczan commented on #956
@lyoshenka we should bump this up in priority - it affects first run experience. It stays on the validating screen for all tiles for at least 1 minute (on a fast machine). On Paul's desktop in Manchester, it took like 3 minutes.

[2017-11-21 05:10] tzarebczan commented on #883
@lyoshenka can we get this bumped up in priority? Would be nice for users to see the title of the failed content downloads instead of the sdhash which means nothing to them.  Not sure if there's anything we can do on the app side in the meantime (see discussion above)

[2017-11-21 14:48] tzarebczan commented on #885
Closing this in favor of #883

[2017-11-21 14:48] #885 closed

[2017-11-21 14:50] tzarebczan commented on #768
@kaykurokawa  / @jackrobison  - do you think we should allow users to abandon claims by using inputs from another UTXO?

[2017-11-21 15:30] lyoshenka commented on #996
duplicate of #803

[2017-11-21 15:43] tzarebczan commented on #996
@lyoshenka I don't think it's a duplicate.. I was going to mention that on the call but didn't want to prolong the conversation anymore.

This issue is more of a pricing update problem... Someone can overtake a claim and set a high lbc price and the person going to that claim will see the old price (or free).

There's a bit of timing involved, but this has happened in the past and I'm able to repr

[2017-11-21 16:47] lyoshenka commented on #996
@tzarebczan can you reproduce this issue using only lbrynet? I suspect this is a lbry-app issue involving caching, but if you can reproduce it in lbrynet, then this is the appropriate repo.

If you can ever call `resolve` on a name and get it to show you the wrong price, then we'll need to fix it here. Otherwise the solution may be for the app to call `resolve` before any credits are spent, just t

[2017-11-22 12:59] IGassmann opened #1004 "No error message for zero amount on wallet_send"
## The Issue
When calling `wallet_send` with an `amount` set to `0`, the API doesn't return a complete error.

### Steps to reproduce
1. Use API call `wallet_send` with `amount`set to `0`and a valid `claim_id`or `address`.

### Expected behavior
A verbose error should be thrown noticing that an amount set to zero is invalid.

### Actual behavior
The returned error message is only `ERROR:`.

## Sys

[2017-11-22 19:13] jackrobison commented on #954
added in lbryio/lbry#1003

[2017-11-22 19:13] #954 closed

[2017-11-23 16:52] reillysmith opened #1005 "list claim type"
## The Issue
Channels cannot host content from other channels in playlists or on their own channel to share/curate/support fellow channels.
### Steps to reproduce
1.
2.
3.

### Expected behaviour
A support-type claim that enables a channel to "own" channel claims or content claims that already exist, but the key fee still pays to the original claimant.

AKA playlists at blockchain level.

### Actu

[2017-11-26 18:28] kauffj opened #1006 "claim_list should return uniform data structure"
`claim_list` currently returns a different data signature based on what type of claim it is (channel vs. stream).

`claim_xxx` API functions promise that they return claims. Claims must have a singular, uniform definition. Fields that are not shared across claim types should either be returned as null or these values should be in a sub-property (e.g. claims could contain `stream` and `channel` sub

[2017-11-28 00:11] kauffj opened #1008 "Resolve, claim_show, and claim_list_mine return different claim signatures"
Specifically, the `category` field is missing from resolve, but there may be other differences.

#### resolve (missing category sub-field)
[code]

#### claim_show (also omits category)
[code]

#### claim_list_mine (includes category)
[code]

[2017-11-28 13:59] #1005 closed

[2017-11-28 13:59] jackrobison commented on #1005
Issue moved to [lbryio/lbryschema #35](https://github.com/lbryio/lbryschema/issues/35) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-28 15:17] jackrobison commented on #1001
The proposed pattern for these commands is `claim_renew(outpoint=None, height=None)` where either `height` is given to renew all claims expiring before the given height, or `outpoint` is given to renew a specific claim.

[2017-11-28 15:23] jackrobison commented on #1001
Additionally, we'll need a new setting in `conf.py` to support auto-renewal on startup and after (with a looping call). I propose a `AUTO_RENEW_CLAIM_HEIGHT_DELTA` field with an int value (0 to disable).

[2017-11-28 15:50] kauffj commented on #1001
@jackrobison I'm for keeping startup as light as possible. Can some of these checks be deferred to some time after launch? (IMO reflector should be deferred as well).

[2017-11-28 15:52] jackrobison commented on #1001
@kauffj

Yes, by "on startup" I mean start the looping call at that time - it shouldn't block.

[2017-11-28 17:49] jackrobison opened #1010 "Add protobuf-rpc support for lbrynet-daemon"
We should add support for serialized protobuf api requests and responses. This would allow the api functions to have their parameters, responses, and docs be well defined and re-usable between projects.

Proposal:

- Make a new `lbryschema.proto` repo, move [lbryschema/lbryschema/proto](https://github.com/lbryio/lbryschema/tree/master/lbryschema/proto) to `lbryschema.proto/claim`, and add the new

[2017-11-28 17:52] jackrobison commented on #1010
Related issues:

https://github.com/lbryio/lbry/issues/1006
https://github.com/lbryio/lbry/issues/1008

[2017-11-28 17:59] #951 closed

[2017-11-28 18:09] jackrobison commented on #981
merged here https://github.com/lbryio/lbry/commit/188822ef201d38b511472d01a1a7e370029e070a

[2017-11-28 18:09] #981 closed

[2017-11-28 21:40] kauffj commented on #1010
I'm open to supporting returning Protobuf responses, but I'm not sure this addresses the root issue, which is the desire to have one definition for a type (say a `Claim` or a `File`) and have that definition be portable to as many languages as possible.

Having applications use Protobuf directly may solve the data checking side of things, but it does nothing to actually provide shared type definit

[2017-11-29 15:04] tzarebczan commented on #996
@lyoshenka - no, the resolve command shows the correct price, but the app does not. @liamcardenas originally moved it from app to the daemon - maybe they also misunderstood the issue.

It's happening to me right now on lbry://seven - someone put the price at 550 LBC but shows free in app.
![price](https://user-images.githubusercontent.com/8120721/33380896-7ef9d68a-d4ea-11e7-907d-0a86a3045792.JPG)

[2017-11-29 15:09] tzarebczan commented on #996
Issue moved to [lbryio/lbry-app #797](https://github.com/lbryio/lbry-app/issues/797) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-29 15:09] #996 closed

[2017-11-29 17:07] kaykurokawa commented on #1010
I agree with jeremy. #1006 and #1008 should be fixed first before this, not the other way around.

Protobuf is overkill to fix the root issue, which is that we have ambiguous and unenforced return values from functions, most problematically in lbryum and lbryum-server functions. This can be mitigated in Python by using pre-defined classes or namedtuples (https://docs.python.org/2/library/collectio

[2017-12-02 18:03] tzarebczan commented on #883
Looks like something was fixed recently and the daemon now reports the LBRY URL as well as the sdhash (this is an example after getting the sdblob, but it also shows it for sdblob timeouts too)

2017-12-02 12:59:26,348 WARNING  lbrynet.daemon.Daemon:686: Failed to get two (Failed to download data blobs for sd hash 837eb8651c9b7755fb2972b77933435ed6c9d217e41782d31ab10401f5b59219988a68ec1f10fb16c6a9

[2017-12-02 18:53] tzarebczan opened #1013 "Error binding parameter 0 - probably unsupported type / need more than 0 values to unpack"
## The Issue
Not sure how to reproduce this one, but I was re-downloading cop-chronicles episode 5 and ran into this.  I'm running 0.18.1rc10 daemon.  I was also downloading another file at the time.

After deleting the file via file_delete and retying, I was able to download. Maybe some sort of race condition?

[code]

## System Configuration

- LBRY Daemon version: 0.18.1rc10
- LBRY App version:

[2017-12-04 15:03] yookoala opened #1014 "lbry crashed with sigsegv in __start_google_malloc()"
## The Issue

### Steps to reproduce
1. Install [LBRY_0.18.2_amd64.deb](https://github.com/lbryio/lbry-app/releases/download/v0.18.2/LBRY_0.18.2_amd64.deb) on Ubuntu 17.10.
2. Start it by dash or by command "lbry"

### Expected behaviour
The GUI show up.

### Actual behaviour
LBRY crashed immediately.

## System Configuration
Ubuntu 17.10 (Desktop, amd64) with GNOME on Xorg.

## Related informatio

[2017-12-04 15:21] jackrobison opened #1015 "A peer failed to send a valid public key response"
There is a bug in `lbrynet.core.Wallet.LBRYcrdAddressRequester` which causes this warning in the log.

Additionally, `LBRYcrdAddressQueryHandler` is a substantial source of wallet address bloat.

[2017-12-04 17:00] tzarebczan commented on #1014
@yookoala thanks for submitting this. I'll get to get this version of Ubuntu loaded up on a VM to try.

Do you have selinux or apparmor installed? Sometimes these can cause unexpected issues with the app / protocol.

[2017-12-04 17:05] yookoala commented on #1014
I'm using the desktop variant. AppArmor is enabled by default.

[2017-12-04 17:06] tzarebczan commented on #1014
Can you give it a try with it disabled temporarily?

[2017-12-04 17:15] yookoala commented on #1014
I tried to run `/etc/init.d/apparmor stop` and `systemctl stop apparmor`. Both commands run without error. And either of them should have stopped apparmor according to [man page](http://manpages.ubuntu.com/manpages/artful/en/man7/apparmor.7.html). then I tried to run `lbry` command. It still crashes in the same manner.

[2017-12-04 17:22] tzarebczan commented on #1014
Thanks for checking @yookoala !

Take a look at lbry.io/faq/tips :)

[2017-12-04 17:58] tzarebczan opened #1016 "Don't announce blobs unless daemon has peers and those peers can download blobs"
## The Issue
Running a peer list on a particular blob will return a peer that's not able to share blobs with the network.

This could cause some downstream DHT/availability issues.

Here is one example (I know this user has not forwarded their ports):

brynet-cli peer_list 393cc3374036224b6fbc9507d359138cfdf5cbc947fa6afdf932bc9f0d586e34acd103c0390bd295f49bf46f64865c21
[
  [
    "201.17.16.114",

[2017-12-04 21:56] kaykurokawa commented on #991
This is actually normal behavior but somewhat confusing output so should be documented (maybe blocks_behind should be set to None in this case). It happens because below reason:

local height is whatever it was when you last started
sever height is zero because lbryum has not yet recieved this information yet
blocks behind is negative local height because it is calculated as server height - local

[2017-12-04 22:00] kauffj commented on #991
@kaykurokawa I would argue if it hasn't received server height yet then server height isn't zero, it's null/undefined. And null/undefined minus zero should also be null/undefined (if not an error outright).

[2017-12-05 00:46] kaykurokawa opened #1017 "Pile ups in hash announce queue"
There was a plie up in the announce queue on prism hosts , i.e,

host 11 -  48838 blobs in queue, 13847 blobs to announce
host 10 - 55145 blobs in queue, 12833 blobs to announce
host 9  - 41396 blobs in queue, 12430 blobs to announce
host 4 -  43300 blobs in queue, 12177 blobs to announce

Restarted the hosts for now,  need to adjust the announce time parameter for now while this PR https://github

[2017-12-05 14:34] #1013 closed

[2017-12-05 14:51] jackrobison commented on #1001
merged https://github.com/lbryio/lbry/pull/1009

[2017-12-05 14:51] #1001 closed

[2017-12-05 16:57] kaykurokawa commented on #1017
This is a temporary fix : https://github.com/lbryio/lbry/pull/1018

[2017-12-05 20:42] kaykurokawa opened #1020 "Refactor file_manager, stream_info_manager"
a)
The file objects managed by file_manager ( EncryptedFileManager ) is hard to understand because it has some layers of unnecessary inheritance
( ManagedEncryptedFileDownloader -> EncryptedFileSaver -> EncryptedFiledDownloader -> CryptStreamDownloader )

b)
Currently, the tasks that stream_info_manager (DBEncryptedFileMetadataManager) and file_manager (EncryptedFileManager) is supposed to perform

[2017-12-06 00:04] kauffj opened #1021 "claim_abandon API docs incorrect"
https://lbryio.github.io/lbry/#claim_abandon specifies you can only pass a `claim_id`, but the app has been passing `txid` and `nout`.

(The app was recently updated to use `claim_id`)

[2017-12-06 00:19] tzarebczan commented on #1021
Don't think @jackrobison ever fixed the issue with api docs updating. Cli docs are updated though.

[2017-12-06 03:10] tzarebczan commented on #1014
@yookoala - I just loaded up a fresh VM of Ubuntu 17.10 with XORG option and was able to install/run LBRY without any issues. I did notice that it doesn't minimize to tray, but it does run in the background - could be related to https://github.com/lbryio/lbry-app/issues/740

[2017-12-06 12:17] yookoala commented on #1014
I tried to re-install my system without the Nvidia driver. It seems fine.

Probably a driver specific issue. Close for now.

[2017-12-06 12:17] #1014 closed

[2017-12-06 18:33] jackrobison commented on #1004
https://github.com/lbryio/lbry/pull/1019 fixes error responses to follow http://www.jsonrpc.org/specification#error_object

[2017-12-06 18:33] #1004 closed

[2017-12-11 02:33] tzarebczan opened #1024 "Batch resolve should return null or an appropriate error for unclaimed, abandoned, or expired URLs."
## The Issue
In a batched resolution, the entire resolve command fails if one of the URLs errors out. This is happening on the homepage at the moment because of an expired claim in the resolve call.

### Steps to reproduce
1. batch a URI resolution with a known bad URL
2. observe failure

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## Syste

[2017-12-11 16:30] jackrobison commented on #1024
`resolve` in lbrynet handles these cases, this error must be in the app handling of the response.

[2017-12-11 16:31] jackrobison commented on #1024
Issue moved to [lbryio/lbry-app #841](https://github.com/lbryio/lbry-app/issues/841) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-11 16:31] jackrobison commented on #1024
Issue moved to [lbryio/lbry-app #840](https://github.com/lbryio/lbry-app/issues/840) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-11 21:15] kauffj commented on #1024
This will be fixed app side when you return null for unclaimed, abandoned, or expired URLs.

[2017-12-12 14:21] tzarebczan commented on #855
Although a band-aid was made on the app side to check for user balance, the daemon should really be returning this information. Probably needs to be fixed in conjunction with https://github.com/lbryio/lbry/issues/748

[2017-12-12 15:38] hackrush01 opened #1026 "Daemon should error properly on an invalid type."
## Issue

The daemon should error properly if invalid datatype is passed on as an argument. For e.g. I passed `nout` as a string here, whereas it shouuld be an integer. But the daemon returns "Claim not found", instead it should state that nout is expected as integer.

## Logs

[code]

[2017-12-12 17:09] tzarebczan opened #1027 ""Response is too large" when downloading blobs"
## The Issue
This occurred while downloading lbry://youtubeweek-jaclynglenn#6c2a342e1d65a944ee98284ff6f71c7e2fb2f5c3 but I was unable to replicate after trying again. Also had downloaded the same blob previously from same host without issue on another machine.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

[2017-12-12 19:34] lyoshenka commented on #794
Here's what electrum did to solve this (or a similar) issue: https://github.com/spesmilo/electrum/commit/6318bda54d55c381d40057a76cdac843ac918936

[2017-12-12 22:15] kauffj opened #1028 "Improve content-type detection/description"
_From @LavRadis on December 12, 2017 18:5_

## The Issue
For some file types, the "Content-Type" description is not shown correctly. I've noticed that for .odt (open office files) and .stl (3d printing files) the description is "application". It could be confusing for users and discourage downloads.
Some other users have also mentioned the issue in Discord.

### Steps to reproduce
1. Open: lbry://

[2017-12-12 22:15] kauffj commented on #1028
_From @tzarebczan on December 12, 2017 18:57_

Thanks for opening this @LavRadis, sent you a tip on Discord!

[2017-12-13 15:30] kaykurokawa commented on #1027
We saw this happen on content hosted on cluster host 8 and cluster host 10

[2017-12-13 18:33] lyoshenka opened #1029 "Useless error message on publish"
To reproduce, run `lbrynet-cli publish x 0.01`

[2017-12-13 18:36] tzarebczan commented on #1029
Same as https://github.com/lbryio/lbry/issues/901? It was fixed(apparently), but it's not in v18.

[2017-12-13 18:39] lyoshenka commented on #1029
i don't think that's the same thing. here's the error:

[code]

[2017-12-13 18:40] lyoshenka commented on #1029
hmm... maybe it is the same?

[2017-12-13 18:56] #1029 closed

[2017-12-14 23:24] tzarebczan opened #1031 "Add takeover time to claim resolution"
## The Issue
To support the app in showing users how long they need to wait for their vanity claim resolution (https://github.com/lbryio/lbry-app/issues/633#issuecomment-345821486), the daemon should return this information with the resolve call.

Grin's old code for takeover time:
[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating syste

[2017-12-15 13:56] lyoshenka commented on #1031
keep in mind, this is an approximate takeover time,  and should be presented as such

[2017-12-16 19:03] RedbHawk opened #1032 "This browser is running with an incompatible version of the LBRY protocol and your install must be repaired."
First of all thank you for this great idea! It's really **awesome** !

## This browser is running with an incompatible version of the LBRY protocol and your install must be repaired.

### How I installed & run
1. Downloaded deb package from [here](https://lbry.io/)
2. `sudo apt-get install libgmp3-dev build-essential python2.7 python2.7-dev python-pip git python-virtualenv libssl-dev libffi-dev py

[2017-12-16 19:09] tzarebczan commented on #1032
The v0.19 version of the daemon(lbry/lbrynet) is not supported in the lbry app yet.

When you install the lbry app, it comes shipped with a compatible daemon, so no need to download/install  lbry separately.

[2017-12-16 19:09] #1032 closed

[2017-12-16 19:13] RedbHawk commented on #1032
So to try reinstall or wait 0.19 version of app?

[2017-12-16 19:25] tzarebczan commented on #1032
Just install the latest app (0.19.1) from https://github.com/lbryio/lbry-app/releases or https://github.com/lbryio/lbry-app/blob/master/README.md

The app will start up the daemon, so make sure it's not running from your lbry install.

[2017-12-16 20:58] RedbHawk commented on #1032
2017-12-17 XX:XX:29,954 INFO     lbrynet.daemon.DaemonControl:70: Starting lbrynet-daemon from command line
2017-12-17 XX:XX:33,876 INFO     lbrynet.daemon.DaemonServer:66: Using non-authenticated API
2017-12-17 XX:XX:33,882 INFO     lbrynet.daemon.Daemon:243: Starting lbrynet-daemon
2017-12-17 XX:XX:35,268 INFO     lbrynet.daemon.ExchangeRateManager:210: Starting exchange rate manager
2017-12-17

[2017-12-17 00:06] tzarebczan commented on #1032
Ah, it's because of a database upgrade from the other version you can. Delete the entire lbrynet folder and try again https://lbry.io/faq/lbry-directories

[2017-12-17 05:48] akinwale opened #1033 "Allow settings_set to be able to change the use_keyring configuration option"
Implement enhancement as described in https://github.com/lbryio/lbry/pull/783/#issuecomment-350945932

[2017-12-17 13:46] lyoshenka commented on #708
closed by #783

[2017-12-17 13:46] #708 closed

[2017-12-19 07:23] akinwale opened #1035 "Add new startup stage to indicate that an encrypted wallet is waiting for a password"
With wallet encryption implemented, if a wallet is encrypted, the wallet needs to be unlocked before daemon startup completes.

Currently, when the daemon is waiting for the wallet password, the `startup_status` value returned for the  `status` command goes like so.
[code]

I believe we should add a new code and a more meaningful message to indicate that the wallet is actually waiting for a passwo

[2017-12-19 13:34] tzarebczan commented on #1035
With other encrypted wallets I've used, you didn't actually need a password unless you were performing a function that required a transaction/signing. How/why is this different for us? Can't we still read the wallet txs and channel certificates without unlocking the wallet?

[2017-12-19 14:50] kaykurokawa commented on #1035
@tzarebczn,
Its because during downloading, the client may need to pay multiple servers data fee(this functionality does not exist yet however) . Unfinished downloads start on startup and there is also auto-renew feature which depends on the password.  Overall, we just make the assumption in lbrynet that the wallet is always unlocked so there might be other issues I'm forgetting about.

@akinwale,

[2017-12-19 14:59] tzarebczan opened #1036 "Cleanup blob files/file data after claim update with new file"
## The Issue
When a claim is updated with a new source file, the daemon currently keeps both copies of the data in the blobfiles folder and in the file_list.  This causes bloat in the blobfiles folder since those files will never be accessed.  It also causes errors on startup in the lbrynet.file_manager.EncryptedFileManager for the invalid streamhash as well as reflector checks referencing lbry://

[2017-12-21 07:31] #850 closed

[2017-12-21 16:45] billbitt opened #1037 "'is_mine': 'False' error"
## The Issue
I am getting the following error when publishing from spee.ch's daemon:

```{"error":{"code":-32500,"data":["  File \"site-packages/twisted/internet/defer.py\", line 1299, in _inlineCallbacks","    ","  File \"site-packages/lbrynet/core/Wallet.py\", line 800, in _handle_claim_result","    ","exceptions.AssertionError: result in unexpected format:{'is_mine': False}"],"message":"result

[2017-12-21 16:49] billbitt commented on #1037
I believe this issue is happening when publishing to a channel, although I cannot confirm that at the moment

[2017-12-21 17:56] blckchnprncss commented on #1037
This issue has happened for me two or three times. Each time attempting to publish to channel "@CampusEngagement" - could not reproduce on any other channel. File was a 3.5MB JPEG.

[2017-12-22 18:59] hackrush01 commented on #748
I am assigning it to myself currently, as I think I can solve it.

[2017-12-22 19:22] tzarebczan commented on #748
Thanks @hackrush01 . This might be related, or at least part of the same code, please keep it in mind: https://github.com/lbryio/lbry/issues/855

[2017-12-23 12:21] nikooo777 opened #1038 "Installation ID points to the wrong email"
## The Issue
I've been using LBRY on Ubuntu on this specific computer for at least 7 months and thus was verified long time ago.
I don't remember if at any point i had to add my email inside the app, however I received my code by email, however I now notice that if i go to settings->help->about I find my installation id, my token and an email that isn't mine.
Can you please verify why that is happ

[2017-12-26 20:39] kauffj commented on #1038
This is very strange. I see that user, but nothing else matches (not even the `app_id`).

The most likely explanation would be a merge I thought, but that hasn't happened here either.

@tzarebczan you heard any other reports of this one?

[2017-12-26 20:50] tzarebczan commented on #1038
Nope haven't seen it before, that's a really strange one.  Maybe @grin would have a better idea.

[2017-12-26 21:04] kauffj commented on #1038
@lyoshenka I already went down the rabbit hole a bit on this since it's just so damn weird! I cannot think of an explanation other than the merge logic.

[2017-12-26 21:05] kauffj commented on #1038
@tzarebczan @grin is not the Grin that works for this company (that's @lyoshenka).

Sorry for the spurious mentions, @grin, but you should also come check out our sweet project :stuck_out_tongue:

[2017-12-28 15:10] lyoshenka opened #1039 "Add --conf_file flag to allow using other configuration files besides the default"
This will also permit running multiple daemons on the same machine.

Some refactoring will also be required. The CLI arg defaults should not depend on conf file values. The default for everything should be None, since we're using a tiered conf system.

[2017-12-28 15:14] lyoshenka opened #1040 "Unify daemon, cli, and console into a single executable"
There is no reason to  have 3 executables that share 99% of the code with each other. We need one executable called `lbrynet` that has the following behavior.

- `lbrynet daemon_start` has the same effect as calling `lbrynet-daemon` now, and accepts all the same flags
- `lbrynet console` has the same effect as calling `lbrynet-console` now, and accepts all the same flags
- all other commands are a

[2017-12-28 15:39] kauffj commented on #1040
Hmm, would it perhaps make sense for the plain `lbrynet` command to just be start/stop?

Is there other software to draw best practices from here?

To me, CLI/console based interactions are the special case.

[2017-12-28 17:35] tzarebczan opened #1041 "Ability to turn off file hosting"
## The Issue
As a user, especially on mobile and bandwidth/cap limited network connections, I'd want the ability to turn off file hosting features. Currently, this is enabled by default and users cannot turn it off unless they block ports.

This might be related to https://github.com/lbryio/lbry/issues/798

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:

[2017-12-28 17:37] lyoshenka commented on #1039
Related to #1040

[2017-12-28 17:42] lyoshenka commented on #1040
I don't think so. Running just `lbrynet` should show help info on how to use the command (should be the same thing as `lbrynet help`).

I like how Keybase does their cli. They do it like this.

[2017-12-28 18:04] billbitt commented on #1037
@jackrobison we are seeing this error again but with different traceback:
``` {"error":{"code":-32500,"data":["  File \"/home/lbry/.virtualenvs/jack/local/lib/python2.7/site-packages/twisted/internet/defer.py\", line 1299, in _inlineCallbacks","    result = g.send(result)","  File \"/home/lbry/jack/lbry/lbrynet/core/Wallet.py\", line 803, in _handle_claim_result","    assert False, msg","exception

[2017-12-28 20:48] lyoshenka opened #1042 "Claims returned by jsonrpc responses should include the height of the original claim"
Resolving a name returns the height of the latest update to the winning claim for that name, not the height of the original claim. But takeover calculations are based on the height of the original claim. That information needs to be made available by the daemon.

Example:
[code]

This should be amended to include two additional return fields:

- `root_height` : The block height of the original cla

[2017-12-28 20:50] lyoshenka commented on #1042
Alternatively, lbrynet should return takeover height information for claims.

[2017-12-28 23:47] kauffj commented on #1040
@lyoshenka link is missing for keybase - is it this one? https://keybase.io/docs/command_line

[2017-12-29 00:04] lyoshenka commented on #1040
Yes. Looks like its changed a bit. They used to have commands like `keybase kbfs start` which starts the kbfs daemon.

[2017-12-29 17:32] tzarebczan opened #1044 "Add ability to import/export wallet through passphrase"
## The Issue
As a user of LBRY (especially on mobile), I'd want the ability to backup and restore LBC wallets through the use of a passphrase.  There should be a way to password secure the passphrase as an additional layer of security (BIP 38/39?).

This functionality should already be available at the lbryum layer, but needs to be exposed on the daemon.

It should also be fully compatible with ot

[2017-12-29 17:38] tzarebczan commented on #1042
For your 2nd comment, would https://github.com/lbryio/lbry/issues/1031 be enough?

[2017-12-29 18:03] tzarebczan opened #1045 "Daemon should provide tx fee estimates for all transactions"
## The Issue
Currently, there is no way to estimate what the transaction fees are when sending LBC, creating channels or publishing files.  This is a cause of friction from the user experience for two main reasons: 1) they try to send (or publish with) their entire LBC balance withtout taking into account fees, so the transaction does not go through (https://github.com/lbryio/lbry-app/issues/903 /

[2017-12-29 23:17] RedbHawk opened #1046 "The following error occurred when attempting to publish your file: Cannot read property 'error' of undefined"
When I try to upload the video

App | 0.19.2
Daemon (lbrynet) | 0.18.0

[2017-12-29 23:36] tzarebczan commented on #1046
@RedbHawk we have this filed under the app https://github.com/lbryio/lbry-app/issues/874

Please try lowering your bid amount, see lbry.io/faq/how-to-publish for more info.

[2017-12-29 23:36] #1046 closed

[2018-01-02 00:10] tzarebczan opened #1047 ""Block not found" error / wallet write error"
## The Issue
Not sure how this happened to this particular user, but decided to create an issue in case someone else runs into something. I could not tell why this happened from the log, but maybe another set of eyes will help. Looks like his wallet was lost and then a new one was generated upon restart. The user did make a backup and was able to recover (not sure when the backup was made).

Inter

[2018-01-03 16:55] tzarebczan opened #1049 "Add ability to sweep private keys"
## The Issue
In order to support the [LBRY paper wallet](https://github.com/lbryio/lbc-paper-wallet), the daemon must allow sweeping/importing of LBC addresses.  I'm not sure importing is possible because that collide with being able to import/export passphrases as a backup/restore function.

I'd say this is different from https://github.com/lbryio/lbry/issues/1044, but I could be convinced otherw

[2018-01-05 02:39] #905 closed

[2018-01-05 15:17] #1039 closed

[2018-01-05 15:48] lyoshenka opened #1051 "Prevent multiple daemons from running using the same wallet/db/conf"
When the daemon starts, it will check to see if there's another daemon process running, and refuse to start if this is the case. That check should be made more robust. Right now it only checks to see if it can call the `status` json-rpc command on a daemon running on the same host and port as itself (https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/DaemonControl.py#L73). It should also ch

[2018-01-05 21:30] lyoshenka commented on #1038
No idea what happened here. Cant really do much with this info. Niko, lemme know if you want me to fix your account manually.

[2018-01-05 21:30] #1038 closed

[2018-01-07 05:45] #1035 closed

[2018-01-09 02:36] hellbeast222 commented on #1045
https://github.com/lbryio/lbry/labels/enhancement

[2018-01-09 14:26] lyoshenka commented on #992
Does #998 fix this?

[2018-01-09 14:30] #992 closed

[2018-01-09 14:34] lyoshenka commented on #1016
The solution here is to for the daemon to detect whether it's externally connectable, and not announce its blobs if it isnt.

[2018-01-09 14:42] lyoshenka opened #1054 "Merge DHT PRs"
Merge the outstanding DHT PRs

[2018-01-09 14:55] lyoshenka commented on #1044
related: #773

[2018-01-09 14:57] lyoshenka commented on #59
fixed

[2018-01-09 14:57] #59 closed

[2018-01-09 15:36] jackrobison opened #1055 "Publishing is slow and sometimes times out on large nodes"

[2018-01-09 15:38] kauffj commented on #958
After some discussion, returning the shortest claim id is likely to involve additional look ups. We may want to just include a permanent_url field that includes the full claim id, since this is more performant.

[2018-01-09 19:51] lyoshenka commented on #506
we're leaning toward integrating lbryum into lbrynet

[2018-01-09 19:51] #506 closed

[2018-01-09 19:52] lyoshenka commented on #400
dont think this happens anymore

[2018-01-09 19:52] #400 closed

[2018-01-09 20:00] #419 closed

[2018-01-09 20:11] lyoshenka commented on #385
the fix to paying for content twice is in #547. but we should still allow downloading two files with the same name (e.g. by appending `_1` to the filename)

[2018-01-09 20:20] lyoshenka commented on #515
potentially related to #496

[2018-01-09 20:35] lyoshenka opened #1056 "Merge lbrynet and lbryum"
lbryum is a fairly separate entity living inside lbrynet. It does not use twisted, has its own API, etc. It should be integrated as a core part of the daemon.

Considerations:

- it may be nice to interact with lbryum directly. for example, we may want to make invalid claims or touch the blockchain directly in a way that lbrynet does not permit
  - mitigation: expose those commands, but require a

[2018-01-09 20:36] lyoshenka commented on #770
related to #1056

[2018-01-09 20:46] lyoshenka commented on #800
Issue moved to [lbryio/internal-issues #82](https://github.com/lbryio/internal-issues/issues/82) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 20:46] #800 closed

[2018-01-09 20:50] lyoshenka commented on #823
gonna close this. not sure what this is asking for

[2018-01-09 20:50] #823 closed

[2018-01-09 20:52] #813 closed

[2018-01-09 20:59] lyoshenka commented on #843
Issue moved to [lbryio/reflector-cluster #29](https://github.com/lbryio/reflector-cluster/issues/29) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 20:59] #843 closed

[2018-01-09 20:59] lyoshenka commented on #841
Issue moved to [lbryio/reflector-cluster #30](https://github.com/lbryio/reflector-cluster/issues/30) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 20:59] #841 closed

[2018-01-09 21:00] #842 closed

[2018-01-09 21:00] lyoshenka commented on #842
Issue moved to [lbryio/reflector-cluster #31](https://github.com/lbryio/reflector-cluster/issues/31) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 21:06] lyoshenka commented on #859
most of this may be invalid, since I thought our implementation was closer to Bittorrent when it's actually closer to the original Kademlia paper

[2018-01-09 21:09] lyoshenka commented on #812
@hackrush01 did you ever fix this? tom's comment in #871 makes me think you were working on it

[2018-01-09 21:10] lyoshenka commented on #874
will reopen when we get one :-)

[2018-01-09 21:10] #874 closed

[2018-01-09 21:11] #876 closed

[2018-01-09 21:12] lyoshenka commented on #880
gonna close this. I think we're more likely to switch to Go than Python3 at this point

[2018-01-09 21:16] lyoshenka commented on #861
Issue moved to [lbryio/reflector-cluster #34](https://github.com/lbryio/reflector-cluster/issues/34) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 21:16] #861 closed

[2018-01-09 21:17] lyoshenka commented on #878
Issue moved to [lbryio/reflector-cluster #35](https://github.com/lbryio/reflector-cluster/issues/35) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 21:17] #878 closed

[2018-01-09 21:17] lyoshenka commented on #879
Issue moved to [lbryio/reflector-cluster #36](https://github.com/lbryio/reflector-cluster/issues/36) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-09 21:17] #879 closed

[2018-01-09 21:17] lyoshenka commented on #805
moved to lbryio/reflector-cluster#33

[2018-01-09 21:17] #805 closed

[2018-01-09 21:21] lyoshenka commented on #883
closed in https://github.com/lbryio/lbry-app/pull/822

[2018-01-09 21:21] #883 closed

[2018-01-09 21:24] lyoshenka commented on #918
https://github.com/lbryio/lbryschema/issues/20

[2018-01-09 21:24] #918 closed

[2018-01-09 21:25] lyoshenka commented on #919
The proper solution here is related to standardizing type definitions across the various lbry repos.

[2018-01-09 21:27] lyoshenka commented on #893
possibly the same error as #1037

[2018-01-09 21:30] #997 closed

[2018-01-09 21:37] lyoshenka commented on #1006
part of https://github.com/orgs/lbryio/projects/5

[2018-01-09 21:42] lyoshenka commented on #944
related to #1025

[2018-01-09 21:45] lyoshenka commented on #934
related: https://github.com/lbryio/lbry/issues/808

[2018-01-09 21:46] lyoshenka commented on #934
related: https://github.com/lbryio/lbry/pull/965

[2018-01-09 21:47] lyoshenka commented on #974
@ordex there's a PR out to fix this, right?

[2018-01-09 21:48] lyoshenka commented on #974
is it #1007 ?

[2018-01-09 21:48] lyoshenka commented on #977
does #1007 fix this?

[2018-01-09 23:33] lyoshenka commented on #625
duplicate of #991

[2018-01-09 23:33] #625 closed

[2018-01-09 23:43] lyoshenka commented on #1021
related: #762

[2018-01-09 23:49] lyoshenka commented on #934
related: #1016

[2018-01-10 00:13] lyoshenka commented on #1017
Issue moved to [lbryio/reflector-cluster #37](https://github.com/lbryio/reflector-cluster/issues/37) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-10 00:13] #1017 closed

[2018-01-10 00:14] lyoshenka commented on #1026
proper solution: #1010

[2018-01-10 00:15] lyoshenka commented on #1051
if it does break things, fix it or file the appropriate issues

[2018-01-10 00:16] lyoshenka commented on #1008
proper solution: https://github.com/orgs/lbryio/projects/5

[2018-01-10 12:28] lyoshenka opened #1057 "this is a test"

[2018-01-10 12:28] #1057 closed

[2018-01-10 13:37] RedbHawk opened #1058 "How long is Starting LBRY Upgrade ?"
Clicked "Upgrade LBRY" & after downloading - this upgrading stuck.

[2018-01-10 13:41] tzarebczan commented on #1058
@RedbHawk please see lbry.io/faq/support on how to get help, that would make more sense vs a github issue.

What OS are you on? Can you try starting lbry again to see if it works a 2nd time?  If you are on windows, you'll receive a security prompt to allow the upgrade to continue.

[2018-01-10 15:27] #1058 closed

[2018-01-10 22:40] hellbeast222 commented on #1058
how do I get rid of this monster?

[2018-01-10 22:52] hellbeast222 commented on #974
please help me get this thing off of my os

[2018-01-10 22:55] tzarebczan commented on #1058
@hellbeast222 please stop commenting randomly. If you don't want to be notified, unfollow the repo.

[2018-01-11 00:43] ordex commented on #974
@lyoshenka correct, it's #1007

[2018-01-11 01:03] ordex commented on #977
@lyoshenka yes

[2018-01-16 16:45] lyoshenka commented on #377
@tzarebczan does this still happen? its hard to debug this because its not clear how to reproduce the issue.

[2018-01-17 01:19] tzarebczan commented on #877
@mirgee we can't reproduce this...were you ever able to? Closing it for now.

[2018-01-17 15:48] eukreign commented on #827
There are a couple of possible solutions to this:

1. **Only allow publishing from Downloads directory.** This would have the added benefit that we could automatically present the user with the list of newly added files that are not yet published (instead of having them go through file manager every time). Also, one could make the argument that keeping lbry isolated to one directory is better for

[2018-01-17 19:07] kauffj commented on #930
Two proposed changes:

1. Drop support for positional arguments on the CLI for `settings_set`.
2. Ensure the `download_directory` argument provided to `settings_set` exists before accepting the setting. If it doesn't exist, error rather than accepting the value.

[2018-01-18 18:44] #946 closed

[2018-01-19 13:50] tzarebczan commented on #377
At least one way to reproduce this is to remove an sd blob (main blob file, named sd hash / lbry sd hash from the resolve command) from the blobs folder.  What should happen in this case? This means the user downloaded the file, its still in their downloads folder, but the blobs went missing. Should it try to re-download the blobs?

[2018-01-19 17:30] billbitt opened #1061 "Publishing takes too long on wallet with many claims and/or channels"
## The Issue
When publishing via the daemon with many addresses in a wallet, the daemon takes too long to respond.  Sometimes over two minutes.

### Steps to reproduce
1. Create many claims and channels (see e.g. spee.ch's wallet)
2. publish without a channel (takes ~40 seconds on spee.ch)
3. publish from a channel (takes from 1.5 minutes on spee.ch)

### Expected behaviour
`publish` should return

[2018-01-20 14:10] hackrush01 opened #1062 "Incorrect name resolution and `effective_amount` calculation"
On resolving nine
[code]

On using `claim_list` call
[code]

[2018-01-20 14:17] hackrush01 commented on #1062
The winning claim should be the one with the name "cat picture" as it has the highest `amount` but that is not the case. Also effective amount calculation is wrong in many cases.

This should be the winning claim(also present in `claim_list` output above)
[code]

[2018-01-20 15:59] hackrush01 commented on #958
Probably also related to or should be a part of #1008.

[2018-01-22 20:59] lyoshenka commented on #827
this will be fixed by #505

[2018-01-22 21:02] lyoshenka commented on #926
i believe this may be fixed by #505

[2018-01-22 21:16] lyoshenka commented on #827
i meant #1025

[2018-01-22 21:16] lyoshenka commented on #926
i meant #1025

[2018-01-23 15:10] lyoshenka commented on #958
Issue moved to [lbryio/lbryum #199](https://github.com/lbryio/lbryum/issues/199) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-23 15:36] tzarebczan commented on #1062
@hackrush01 - took a quick look at this and I believe it's returning the correct claim, but the amount value is the item that needs to be discussed.  I'll run a quick test soon, but I believe amount shows what the original claim amount was and doesn't get updated after the claim is updated. The effective amount is actually what the claimtrie goes by - which is the current bid + any supports.

[2018-01-23 16:49] lyoshenka opened #1064 "Write test for updating a claim larger than wallet balance"
Test for #748

[2018-01-23 20:33] lyoshenka opened #1065 "Daemon Refactor"
Work so far: started designing how an ideal daemon should be organized.

One way to think about it is a set of protocols and data types. Here are the protocols the daemon uses now:

### Stratum
- for talking to lbryum-server
- ideally should be just the list of functions, params, and return types
- should not care about data transport
- if we do this, we can do stratum over WebSockets for subscrip

[2018-01-23 23:19] lyoshenka opened #1066 "Abstract away blob storage from the rest of the daemon"

[2018-01-23 23:19] lyoshenka opened #1067 "Incorporate a bittorrent DHT node into daemon"

[2018-01-23 23:19] lyoshenka opened #1068 "Determine how bittorrent interacts with reflector"

[2018-01-23 23:20] lyoshenka opened #1069 "Test publishing, downloading, streaming, availability, everything"

[2018-01-23 23:20] lyoshenka opened #1070 "BitTorrent Support"
Allow publishing to and downloading from the bittorrent DHT

[2018-01-23 23:20] lyoshenka commented on #1070
Related: #881

[2018-01-24 14:48] tzarebczan opened #1071 "V0.19 - Add URL to reflector logs"
## The Issue
@jackrobison we discussed this on Slack:
In v0.18, reflector server logging would show both the sd-hash and URL but in 0.19, they only show the sd-hash. The URL is useful for debugging purposes and should be added back if possible.

Before:
`Reflector has all blobs for lbry://ericsabstractartwork (f5e01063b0043ad4)`

After:
`Reflector has all blobs for f5e01063b0043ad4`

## System Con

[2018-01-24 14:58] tzarebczan opened #1072 "Add file startup status to dameon logs (removed in 0.19+)"
## The Issue
@jackrobison we discussed this on Slack:
In v0.18, the file startup procedure would show the status of the file (stopped/finished/running), but in v19, it only tells you that it initialized the file - so you don't know the current status. Jack's comment:
"only log those where the download isn't finished or isn’t fully reflected". This would definitely help with debugging.

Also, would

[2018-01-24 22:04] tzarebczan opened #1073 "V0.19 - "0 blobs in manager" when upgrading from 0.18"
## The Issue
After updating a 0.18 install that has at least 2 files downloaded, the v0.19 daemon reports "0 blobs in manager" even though the blobs exist. If only a single file is downloaded before upgrading, the blob manager shows the correct number of blobs.

If v0.19 is used to download files on a clean install, it reports the correct # of blobs.

### Steps to reproduce
1. Start with a v0.18 i

[2018-01-25 04:58] KamilPiekutowski commented on #623
Is there an IDE anyone would recommend for debugging this code?

[2018-01-25 18:19] eukreign commented on #1056
One major problem I've just realized for this issue is that lbry is MIT license and lbryum is GPL license. These are not compatible licenses (at least from GPL perspective). MIT is very permissive and GPL is very restrictive.

[2018-01-25 18:27] lyoshenka opened #1074 "Stop using Reflector"
Reflector is a crutch.

Scenarios that reflector solves for now:

- uploading and shutting off your daemon right away
- uploading when not reachable by others (behind firewall, behind router, etc)
- not wanting to seed all the time

[2018-01-26 03:12] lyoshenka opened #1075 "Error: lbrynet.core.sqlite_helpers:14: database was locked"
I'm not sure how to reproduce this. It may be relevant that I got this while syncing a large channel, and I  had 61 addresses in wallet, 8187 files, and 546069 blobs on a single daemon.

Error example:

`2018-01-26 00:33:47,134 WARNING  lbrynet.core.sqlite_helpers:14: database was locked. rerunning <function _add_completed_blob at 0x7fb319c2b8c0> with args (<lbrynet.core.BlobManager.DiskBlobManage

[2018-01-26 15:19] lyoshenka opened #1077 "review #1025"
#1025

[2018-01-26 15:19] hackrush01 opened #1078 "Determine if a publish call is an update or claim for #748"

[2018-01-26 15:23] hackrush01 opened #1079 "Check for bid value in lbry depending upon publish type, or offload bidding related things to lbryum completely"
For #748

[2018-01-26 15:24] hackrush01 opened #1080 "Test using regtest"
for #748

[2018-01-26 15:25] hackrush01 opened #1081 "Make a PR for #748"

[2018-01-26 15:25] hackrush01 opened #1082 "finish and merge PR for #748"
Review #1108

[2018-01-26 15:31] lyoshenka opened #1083 "reproduce lbry#1027"
lbryio/lbry#1027

[2018-01-26 16:18] eukreign commented on #623
@KamilPiekutowski the IDE most of us use at lbry is [PyCharm](https://www.jetbrains.com/pycharm/). The free community edition of the IDE may do what you want but I'd recommend the paid Professional version and if you don't want to pay for it you can try the Early Release Program which are free [alpha versions of the professional edition](https://confluence.jetbrains.com/pages/viewpage.action?pageI

[2018-01-26 16:28] KamilPiekutowski commented on #623
@eukreign Thank you very much for your insight. I already started using PyCharm community version just to test things out. I will probably go with paid version depending where the things go.